/* (주)한신정보기술 권정현 - 2018.11.11 */

/* 비주얼 */
#container .visual {position:relative; z-index:10; height:940px;}
#container .visual .visual_control {position:absolute; top:0; left:0; z-index:20; width:100%; height:0;}
#container .visual .visual_control .wrap {height:0;}
#container .visual .visual_control .visual_prev, #container .visual .visual_control .visual_next {display:block; position:absolute; top:424px; width:49px; height:95px; background-image:url('/common/images/main/festival/main_sprite.png'); background-repeat:no-repeat; font-size:0;}
#container .visual .visual_control .visual_prev {left:-229px; background-position:left top;}
#container .visual .visual_control .visual_next {right:-229px; background-position:left -105px;}
#container .visual .visual_control .visual_dot {position:absolute; top:577px; left:50%; font-size:0; transform:translateX(-50%);}
#container .visual .visual_control .visual_dot li {display:inline-block; margin-left:5px;}
#container .visual .visual_control .visual_dot li:first-child {margin-left:0;}
#container .visual .visual_control .visual_dot li button {display:block; width:37px; height:13px; border:1px solid rgba(255, 255, 255, 0.5); border-radius:5px; transition-property:width, border-color, border-radius, background-color; transition-duration:0.25s; transition-timing-function:cubic-bezier(1, 0, 0, 1);}
#container .visual .visual_control .visual_dot li.slick-active button {width:13px; border-color:#fff; border-radius:50%; background-color:#fff;}
#container .visual .visual_list {position:relative; z-index:10; height:100%;}
#container .visual .visual_list .slick-list {height:100%;}
#container .visual .visual_list .slick-list .slick-track {height:100%;}
#container .visual .visual_list .slick-list .slick-track .slick-slide {height:100%;}
#container .visual .visual_list .slick-list .slick-track .slick-slide > div {height:100%;}
#container .visual .visual_list .visual_slide {height:100%;}
#container .visual .visual_list .visual_slide .visual_content {height:100%; background-repeat:no-repeat; background-position:center top; background-size:cover; color:#fff; text-align:center;}
#container .visual .visual_list .visual_slide .visual_content .visual_video {position:absolute; top:0; left:0; width:100%; height:100%;}
#container .visual .visual_list .visual_slide .visual_content .visual_video video {object-fit:cover;}
#container .visual .visual_list .visual_slide .visual_content .wrap {padding-top:344px;}
#container .visual .visual_list .visual_slide .visual_content .visual_title {display:inline-block; margin-bottom:25px; padding:15px 40px; border:10px solid rgba(255, 255, 255, 0.2); border-radius:75px;}
#container .visual .visual_list .visual_slide .visual_content .visual_title em {display:block; margin-bottom:18px; font-size:24px; line-height:26px; text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);}
#container .visual .visual_list .visual_slide .visual_content .visual_title strong {display:block; font-size:0; line-height:0;}
#container .visual .visual_list .visual_slide .visual_content p {overflow:hidden; position:relative; height:44px; font-size:18px; line-height:22px; text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);}
@media screen and (max-width:1240px) {
	#container .visual .visual_control .visual_prev {left:-49px;}
	#container .visual .visual_control .visual_next {right:-49px;}
}
@media screen and (max-width:1000px) {
	#container .visual {height:560px;}
	#container .visual .visual_control .visual_prev, #container .visual .visual_control .visual_next {top:164px;}
	#container .visual .visual_control .visual_prev {left:2%;}
	#container .visual .visual_control .visual_next {right:2%;}
	#container .visual .visual_control .visual_dot {top:300px;}
	#container .visual .visual_list .visual_slide .visual_content .wrap {padding-top:106px;}
	#container .visual .visual_list .visual_slide .visual_content .visual_title {margin-bottom:16px;}
	#container .visual .visual_list .visual_slide .visual_content .visual_title em {margin-bottom:10px;}
	#container .visual .visual_list .visual_slide .visual_content .visual_title strong {height:44px;}
}
@media screen and (max-width:640px) {
	#container .visual {height:385px;}
	#container .visual .visual_control .visual_prev, #container .visual .visual_control .visual_next {display:none !important;}
	#container .visual .visual_control .visual_dot {top:193px;}
	#container .visual .visual_list .visual_slide .visual_content .wrap {padding-top:76px;}
	#container .visual .visual_list .visual_slide .visual_content .visual_title {padding:0; border-width:0;}
	#container .visual .visual_list .visual_slide .visual_content .visual_title em {font-size:15px; line-height:17px;}
	#container .visual .visual_list .visual_slide .visual_content .visual_title strong {height:36px;}
	#container .visual .visual_list .visual_slide .visual_content p {height:30px; font-size:11px; line-height:15px;}
}

/* 퀵메뉴 */
#container .quick {position:absolute; top:0; left:0; z-index:20; width:100%; height:0;}
#container .quick .wrap {height:0;}
#container .quick ul {position:absolute; top:314px; right:20px;}
#container .quick ul li {margin-top:15px; text-align:right;}
#container .quick ul li:first-child {margin-top:0;}
#container .quick ul li.counter {padding-right:10px;}
#container .quick ul li.counter .inner_wrap {display:inline-block; overflow:hidden; position:relative; width:64px; height:64px; border-radius:50%; background-color:#fff; font-size:24px; line-height:26px; text-align:center;}
#container .quick ul li.counter .inner_wrap strong {display:block; padding-top:13px; font-size:12px; line-height:14px; font-weight:400;}
#container .quick ul li a {display:inline-block; padding-right:10px; transition:padding-right 0.25s linear;}
#container .quick ul li a:hover {padding-right:0; text-decoration:none;}
#container .quick ul li a .quick_content {display:block; overflow:hidden; position:relative; width:65px; height:65px; border-radius:50%; background-color:#fff; transition-property:width, border-radius, background-color; transition-duration:0.25s; transition-timing-function:linear;}
#container .quick ul li a:hover .quick_content {border-radius:30px;}
#container .quick ul li a .quick_content .inner_wrap {display:inline-block; position:relative; width:65px; height:65px;}
#container .quick ul li a .quick_content .inner_wrap:before, #container .quick ul li a .quick_content .inner_wrap:after {display:block; position:absolute; top:0; bottom:0; right:0; left:0; margin:auto; background-repeat:no-repeat; transition-property:visibility, opacity; transition-duration:0.25s; transition-timing-function:linear;}
#container .quick ul li a:hover .quick_content .inner_wrap:before, #container .quick ul li a .quick_content .inner_wrap:after {visibility:hidden; opacity:0;}
#container .quick ul li a:hover .quick_content .inner_wrap:after {visibility:visible; opacity:1;}
#container .quick ul li a .quick_content .inner_wrap .quick_text {display:block; opacity:0; position:absolute; top:22px; right:70px; color:#fff; font-size:17px; line-height:19px; white-space:nowrap; transition:opacity 0.25s linear;}
#container .quick ul li a:hover .quick_content .inner_wrap .quick_text {opacity:1;}
@media screen and (max-width:1000px) {
	#container .quick ul {top:339px; right:0; width:100%; font-size:0; text-align:center;}
	#container .quick ul li {display:inline-block; margin-top:0; margin-left:15px; vertical-align:middle;}
	#container .quick ul li:first-child {margin-left:0;}
	#container .quick ul li.counter {padding-right:0;}
	#container .quick ul li a {padding-right:0;}
	#container .quick ul li a:hover .quick_content {border-radius:50%;}
}
@media screen and (max-width:640px) {
	#container .quick ul {top:241px;}
	#container .quick ul li {margin-left:10px;}
	#container .quick ul li.counter .inner_wrap {width:52px; height:52px; font-size:19px; line-height:21px;}
	#container .quick ul li.counter .inner_wrap strong {padding-top:10px; font-size:10px; line-height:12px;}
	#container .quick ul li a .quick_content {width:52px; height:52px;}
	#container .quick ul li a .quick_content .inner_wrap {width:52px; height:52px;}
}

#container .rowgroup {position:relative; z-index:30; margin-top:-205px;}
#container .rowgroup .wrap {padding-right:82px; padding-left:82px; box-sizing:border-box;}
#container .rowgroup .wrap:before {display:block; position:absolute; top:0; left:0; width:100%; height:205px; border-top-left-radius:10px; border-top-right-radius:10px; background-color:rgba(0, 0, 0, 0.5);}
@media screen and (max-width:1240px) {
	#container .rowgroup .wrap {padding-right:0; padding-left:0;}
	#container .rowgroup .wrap:before {left:-38px; padding-right:38px; padding-left:38px;}
}
@media screen and (max-width:1000px) {
	#container .rowgroup {margin-top:-113px;}
	#container .rowgroup .wrap {padding-right:64px; padding-left:64px;}
	#container .rowgroup .wrap:before {left:0; height:113px; padding-right:0; padding-left:0;}
}
@media screen and (max-width:640px) {
	#container .rowgroup {margin-top:-57px;}
	#container .rowgroup .wrap {padding-right:2%; padding-left:2%;}
	#container .rowgroup .wrap:before {left:2%; width:96%; height:57px;}
}

/* 팝업 */
#container .rowgroup .popup {position:relative; margin-bottom:15px; padding:25px 132px 19px 135px; background:url('/common/images/main/festival/popup_pattern.png') repeat-x left bottom; line-height:0;}
#container .rowgroup .popup h2 {position:absolute; top:28px; left:0; padding-right:27px; color:#fff799; font-size:18px; line-height:20px;}
#container .rowgroup .popup h2:before {display:block; position:absolute; top:8px; right:0; width:5px; height:5px; border-radius:50%; background-color:#fff;}
#container .rowgroup .popup .popup_control {position:absolute; top:26px; right:0; z-index:20; height:27px; padding-right:12px; padding-left:21px; font-size:0;}
#container .rowgroup .popup .popup_control:before {display:block; position:absolute; top:0; left:0; width:1px; height:100%; background-color:#67666c;}
#container .rowgroup .popup .popup_control:after {display:inline-block; width:0; height:100%; vertical-align:middle;}
#container .rowgroup .popup .popup_control button {width:11px; height:18px; margin-right:15px; background-image:url('/common/images/main/festival/main_sprite.png'); background-repeat:no-repeat; font-size:0;}
#container .rowgroup .popup .popup_control .popup_prev {background-position:left -210px;}
#container .rowgroup .popup .popup_control .popup_next {background-position:left -238px;}
#container .rowgroup .popup .popup_control .popup_more {display:inline-block; width:17px; height:17px; background:url('/common/images/main/festival/main_sprite.png') no-repeat left -266px; vertical-align:middle;}
#container .rowgroup .popup .popup_list {overflow:hidden; position:relative; z-index:10;}
#container .rowgroup .popup .popup_list .slick-list {margin-left:-60px;}
#container .rowgroup .popup .popup_list .slick-list .slick-slide {position:relative; margin-left:30px; padding-left:30px;}
#container .rowgroup .popup .popup_list .slick-list .slick-slide:before {display:block; position:absolute; top:0; left:0; width:1px; height:27px; background-color:#67666c;}
#container .rowgroup .popup .popup_list .popup_slide {position:relative; padding-top:4px; padding-bottom:4px;}
#container .rowgroup .popup .popup_list .popup_slide a {display:block; overflow:hidden; position:relative; padding-right:100px; color:#fff; font-size:15px; line-height:19px; white-space:nowrap; text-overflow:ellipsis;}
#container .rowgroup .popup .popup_list .popup_slide time {display:block; position:absolute; top:4px; right:0; color:#fff; font-size:15px; line-height:19px;}
@media screen and (max-width:1000px) {
	#container .rowgroup .popup {margin-bottom:25px; padding-top:21px; padding-bottom:21px; padding-right:0;}
	#container .rowgroup .popup h2 {top:19px;}
	#container .rowgroup .popup .popup_list .slick-list {margin-left:0;}
	#container .rowgroup .popup .popup_list .slick-list .slick-slide {margin-left:0; padding-left:0;}
	#container .rowgroup .popup .popup_list .slick-list .slick-slide:before {display:none;}
	#container .rowgroup .popup .popup_list .popup_slide {padding-top:0; padding-bottom:0;}
	#container .rowgroup .popup .popup_list .popup_slide time {top:0;}
	#container .rowgroup .popup .popup_control {display:none;}
}
@media screen and (max-width:640px) {
	#container .rowgroup .popup {margin-bottom:20px; padding:19px 20px 19px 60px; background-image:none;}
	#container .rowgroup .popup h2 {top:19px; padding-right:14px; padding-left:12px; font-size:0; line-height:0;}
	#container .rowgroup .popup h2:after {display:block; width:22px; height:22px; background:url('/common/images/main/festival/main_sprite.png') no-repeat left -823px;}
	#container .rowgroup .popup .popup_list .popup_slide a {padding-right:0;}
	#container .rowgroup .popup .popup_list .popup_slide time {display:none;}
}

/* 링크 */
#container .rowgroup .link {position:relative; padding-bottom:65px; line-height:0;}
#container .rowgroup .link ul li {float:left; width:23.5%; margin-left:2%;}
#container .rowgroup .link ul li:first-child {margin-left:0;}
#container .rowgroup .link ul li a {display:block; height:269px; padding-top:29px; box-sizing:border-box; transition:padding-top 0.25s linear;}
#container .rowgroup .link ul li a:hover {padding-top:0; text-decoration:none;}
#container .rowgroup .link ul li a .link_content {display:block; overflow:hidden; position:relative; height:240px; padding-top:103px; padding-right:20px; padding-left:20px; border-radius:10px; box-sizing:border-box; background-color:#fff; text-align:center; transition-property:padding-top, background-color; transition-duration:0.25s; transition-timing-function:linear;}
#container .rowgroup .link ul li a:hover .link_content {padding-top:152px;}
#container .rowgroup .link ul li a .link_content:before, #container .rowgroup .link ul li a .link_content:after {display:block; position:absolute; width:123px; height:123px; background:url('/common/images/main/festival/main_sprite.png') no-repeat left -315px;}
#container .rowgroup .link ul li a .link_content:before {top:-83px; left:-47px;}
#container .rowgroup .link ul li a .link_content:after {right:-37px; bottom:-12px;}
#container .rowgroup .link ul li a .link_content .inner_wrap {display:block;}
#container .rowgroup .link ul li a .link_content .inner_wrap:before {display:block; visibility:hidden; opacity:0; transform:scale(0); position:absolute; top:22px; right:0; left:0; width:116px; height:117px; margin-right:auto; margin-left:auto; background:url('/common/images/main/festival/main_sprite.png') no-repeat left -448px; transition-property:visibility, opacity, transform; transition-duration:0.25s; transition-timing-function:linear;}
#container .rowgroup .link ul li a:hover .link_content .inner_wrap:before {visibility:visible; opacity:1; transform:scale(1);}
#container .rowgroup .link ul li a .link_content .inner_wrap:after {display:block; position:absolute; right:0; left:0; margin-right:auto; margin-left:auto; background-repeat:no-repeat; transition-property:top; transition-duration:0.25s; transition-timing-function:linear;}
#container .rowgroup .link ul li a .link_content .inner_wrap strong {display:block; overflow:hidden; position:relative; margin-bottom:10px; padding-bottom:35px; font-size:18px; line-height:22px; font-weight:400; white-space:nowrap; text-overflow:ellipsis; transition-property:margin-bottom, padding-bottom, color; transition-duration:0.25s; transition-timing-function:linear;}
#container .rowgroup .link ul li a:hover .link_content .inner_wrap strong {margin-bottom:15px; padding-bottom:0; color:#fff568;}
#container .rowgroup .link ul li a .link_content .inner_wrap strong:before {display:block; position:absolute; bottom:5px; left:0; width:100%; height:1px; background-color:#ededed;}
#container .rowgroup .link ul li a .link_content .inner_wrap strong:after {display:block; position:absolute; bottom:0; left:50%; width:12px; height:12px; margin-left:-6px; background:url('/common/images/main/festival/main_sprite.png') no-repeat left -293px;}
#container .rowgroup .link ul li a .link_content .inner_wrap strong:before, #container .rowgroup .link ul li a .link_content .inner_wrap strong:after {transition-property:visibility, opacity, transform; transition-duration:0.25s; transition-timing-function:linear;}
#container .rowgroup .link ul li a:hover .link_content .inner_wrap strong:before, #container .rowgroup .link ul li a:hover .link_content .inner_wrap strong:after {visibility:hidden; opacity:0; transform:scale(0);}
#container .rowgroup .link ul li a .link_content .inner_wrap em {display:block; overflow:hidden; position:relative; height:42px; color:#9e9fa1; font-size:13px; line-height:21px; transition-property:padding-top, height; transition-duration:0.25s; transition-timing-function:linear;}
#container .rowgroup .link ul li a:hover .link_content .inner_wrap em {height:0; color:#fff;}
#container .rowgroup .link ul li a .link_content .inner_wrap .link_more {display:inline-block; opacity:0; padding:5px 15px; border-top:1px dotted rgba(255, 255, 255, 0.5); border-bottom:1px dotted rgba(255, 255, 255, 0.5); color:#fff; font-size:14px; line-height:16px; transition:opacity 0.25s linear;}
#container .rowgroup .link ul li a:hover .link_content .inner_wrap .link_more {opacity:1;}
@media screen and (max-width:1000px) {
	#container .rowgroup .link ul li {width:49%; margin-top:2%; margin-left:2%;}
	#container .rowgroup .link ul li:nth-child(odd) {margin-left:0;}
	#container .rowgroup .link ul li:nth-child(-n + 2) {margin-top:0;}
	#container .rowgroup .link ul li a {height:111px; padding-top:0;}
	#container .rowgroup .link ul li a .link_content {height:100%; padding-top:0; padding-right:29px; padding-left:115px; box-shadow:0 0 15px rgba(0, 0, 0, 0.25);}
	#container .rowgroup .link ul li a:hover .link_content {padding-top:0;}
	#container .rowgroup .link ul li a .link_content:before, #container .rowgroup .link ul li a .link_content:after {display:none;}
	#container .rowgroup .link ul li a .link_content .inner_wrap:before {display:none;}
	#container .rowgroup .link ul li a .link_content .inner_wrap:after {position:absolute; right:auto; bottom:0; margin:auto 0;}
	#container .rowgroup .link ul li a .link_content .inner_wrap strong {margin-bottom:0; padding-top:38px; padding-right:12px; padding-bottom:24px; text-align:left;}
	#container .rowgroup .link ul li a:hover .link_content .inner_wrap strong {margin-bottom:0; padding-bottom:24px;}
	#container .rowgroup .link ul li a .link_content .inner_wrap strong:before {left:-10px; bottom:6px;}
	#container .rowgroup .link ul li a .link_content .inner_wrap strong:after {right:0; bottom:0; left:auto; margin-left:0;}
	#container .rowgroup .link ul li a:hover .link_content .inner_wrap strong:before, #container .rowgroup .link ul li a:hover .link_content .inner_wrap strong:after {visibility:inherit; opacity:1; transform:scale(1);}
	#container .rowgroup .link ul li a .link_content .inner_wrap em {display:none;}
	#container .rowgroup .link ul li a .link_content .inner_wrap .link_more {display:none;}
}
@media screen and (max-width:640px) {
	#container .rowgroup .link {padding-bottom:40px;}
	#container .rowgroup .link ul li {float:none; width:auto; margin-top:7px; margin-left:0;}
	#container .rowgroup .link ul li:nth-child(-n + 2) {margin-top:7px;}
	#container .rowgroup .link ul li:first-child {margin-top:0;}
	#container .rowgroup .link ul li a {height:75px;}
	#container .rowgroup .link ul li a .link_content {padding-right:26px; padding-left:90px; border-top:1px dashed #bfbfbf; border-right:1px solid #bfbfbf; border-bottom:1px dashed #bfbfbf; border-left:1px solid #bfbfbf; border-radius:10px; box-shadow:none; transition-property:border-color, background-color;}
	#container .rowgroup .link ul li a:hover .link_content {border-color:transparent;}
	#container .rowgroup .link ul li a .link_content .inner_wrap strong {padding-top:28px; padding-right:15px; padding-bottom:3px; font-size:16px; line-height:18px;}
	#container .rowgroup .link ul li a:hover .link_content .inner_wrap strong {padding-bottom:3px;}
	#container .rowgroup .link ul li a .link_content .inner_wrap strong:before {display:none;}
	#container .rowgroup .link ul li a .link_content .inner_wrap strong:after {top:24px; width:15px; height:25px;}
}

/* 포토 갤러리 */
#container .photo {padding-bottom:70px; line-height:0;}
#container .photo .wrap {padding-bottom:30px; padding-left:330px; box-sizing:border-box;}
#container .photo .wrap:before {display:block; position:absolute; bottom:0; left:-379px; width:865px; height:226px; background:url('/common/images/main/festival/photo_pattern.png') repeat left top;}
#container .photo .photo_title {position:absolute; top:0; left:0; z-index:20; padding-top:40px; padding-left:20px;}
#container .photo .photo_title h2 {position:relative; margin-bottom:26px; padding-left:105px;}
#container .photo .photo_title h2:before {display:block; position:absolute; top:8px; left:0; width:100px; height:106px; background:url('/common/images/main/festival/main_sprite.png') no-repeat left -575px;}
#container .photo .photo_title h2 img {display:block;}
#container .photo .photo_title h2 .photo_word2 {margin-top:5px; padding-left:32px;}
#container .photo .photo_title .photo_control {padding-right:5px; font-size:0; text-align:right;}
#container .photo .photo_title .photo_control button {width:44px; height:44px; margin-left:10px; border:3px solid #a8aeba; border-radius:50%; background-color:#fff; font-size:0; line-height:0;}
#container .photo .photo_title .photo_control button:first-child {margin-left:0;}
#container .photo .photo_title .photo_control button:before {display:inline-block; width:22px; height:20px; background-image:url('/common/images/main/festival/main_sprite.png'); background-repeat:no-repeat;}
#container .photo .photo_title .photo_control .photo_prev:before {background-position:left -691px;}
#container .photo .photo_title .photo_control .photo_next:before {background-position:left -721px;}
#container .photo .photo_list {position:relative; z-index:10; min-height:217px; padding:49px 112px 49px 68px; border-top-left-radius:10px; border-bottom-left-radius:10px;}
#container .photo .photo_list:before {display:block; position:absolute; top:0; left:100%; width:381px; height:100%;}
#container .photo .photo_list .inner_wrap {overflow:hidden; position:relative;}
#container .photo .photo_list .slick-list .slick-slide {margin-left:32px;}
#container .photo .photo_list .photo_slide .photo_image {position:relative; width:210px; height:150px; margin-bottom:17px; padding-right:12px; padding-bottom:12px;}
#container .photo .photo_list .photo_slide .photo_image:before {display:block; position:absolute; bottom:0; right:0; width:calc(100% - 12px); height:calc(100% - 12px); border:1px dotted rgba(255, 255, 255, 0.5); box-sizing:border-box;}
#container .photo .photo_list .photo_slide .photo_image img {position:relative;}
#container .photo .photo_list .photo_slide a {display:block; overflow:hidden; position:relative; margin-bottom:4px; padding-left:12px; color:#fff; font-size:15px; line-height:19px; white-space:nowrap; text-overflow:ellipsis;}
#container .photo .photo_list .photo_slide time {display:block; padding-left:12px; color:rgba(255, 255, 255, 0.5); font-size:13px; line-height:15px;}
#container .photo .photo_more {display:block; position:absolute; top:136px; right:20px; z-index:30; width:38px; height:38px; border:3px solid #fff; border-radius:50%; font-size:0; line-height:0; text-align:center;}
#container .photo .photo_more:before {display:inline-block; width:26px; height:26px; background:url('/common/images/main/festival/main_sprite.png') no-repeat left -751px; vertical-align:middle;}
#container .photo .photo_more:after {display:inline-block; width:0; height:100%; vertical-align:middle;}
@media screen and (max-width:1240px) {
	#container .photo .wrap {padding-left:218px;}
	#container .photo .photo_title {left:-30px; padding-left:0;}
	#container .photo .photo_title h2 {padding-left:91px;}
	#container .photo .photo_title h2:before {top:0; width:83px; height:89px; background-position:left 77.8%; background-size:123% 797.16%;}
	#container .photo .photo_list {padding-right:66px; padding-left:53px;}
	#container .photo .photo_more {right:0;}
}
@media screen and (max-width:1000px) {
	#container .photo .wrap {padding-bottom:26px; padding-left:2%;}
	#container .photo .wrap:before {width:276px; height:226px; left:-102px;}
	#container .photo .photo_title {position:relative; left:0; margin-bottom:15px; padding-top:0; padding-right:194px; padding-left:43px;}
	#container .photo .photo_title h2 {margin-bottom:0; padding-top:12px; padding-left:95px;}
	#container .photo .photo_title h2:before {width:87px; height:90px;}
	#container .photo .photo_title h2 img {display:inline-block;}
	#container .photo .photo_title h2 .photo_word1 {height:28px;}
	#container .photo .photo_title h2 .photo_word2 {height:27px; margin-top:0; padding-left:13px; vertical-align:-8px;}
	#container .photo .photo_title .photo_control {position:absolute; top:0; right:97px; padding-right:0;}
	#container .photo .photo_list {padding-right:43px; padding-left:43px;}
	#container .photo .photo_list .slick-list .slick-slide {margin-left:26px;}
	#container .photo .photo_more {top:0; right:2%; margin-right:43px; border-color:#a8aeba;}
	#container .photo .photo_more:before {background-position:left -787px;}
}
@media screen and (max-width:640px) {
	#container .photo .wrap {padding-left:0;}
	#container .photo .photo_title {margin-bottom:5px; padding-right:0; padding-left:2%;}
	#container .photo .photo_title h2 {padding-top:0; padding-left:72px;}
	#container .photo .photo_title h2:before {top:12px; left:7px; width:59px; height:61px;}
	#container .photo .photo_title h2 img {display:block;}
	#container .photo .photo_title h2 .photo_word1 {height:22px;}
	#container .photo .photo_title h2 .photo_word2 {margin-top:5px; height:20px;}
	#container .photo .photo_title .photo_control {top:8px; right:35px;}
	#container .photo .photo_title .photo_control button {width:27px; height:27px; margin-left:7px; border-width:2px;}
	#container .photo .photo_title .photo_control button:before {width:14px; height:12px; background-size:559.09% 4225%;}
	#container .photo .photo_title .photo_control .photo_prev:before {background-position:left 83.75%;}
	#container .photo .photo_title .photo_control .photo_next:before {background-position:left 87.39%;}
	#container .photo .photo_list {padding-top:37px; padding-right:0; padding-bottom:37px;}
	#container .photo .photo_more {top:8px; width:23px; height:23px; border-width:2px; margin-right:0;}
	#container .photo .photo_more:before {width:16px; height:16px; background-position:left 96.09%; background-size:473.07% 3250%;}
}