/*성동소식 > 성동소식지*/
.sd_newsletter .top_box{position:relative; padding:20px 58px 56px;}
.sd_newsletter .btn_box {position:absolute; right:0; top:50px; z-index:10;}
.sd_newsletter .top_box .img_area{float:left; position:relative; z-index:10; padding-top:6px; padding-right:6px;}
.sd_newsletter .top_box .img_area:before{display:block; position:absolute; top:0; left:1px; width:225px; height:6px; background:url('../images/program/newsletter_deco.png') no-repeat;}
.sd_newsletter .top_box .img_area .cover_img{position:relative; width:227px; height:320px; margin-bottom:30px; border:1px solid #cbced3;}
.sd_newsletter .top_box .img_area .cover_img:before{display:block; position:absolute; top:8px; left:6px; width:100%; height:100%; background:rgba(0, 0, 0, 0.07);}
.sd_newsletter .top_box .img_area .btn.small {padding: 3px 6px;}
.sd_newsletter .top_box .img_area .cover_img img{position:relative;}
.sd_newsletter .top_box .text_area{float:left; width:calc(100% - 233px); padding-top:29px; padding-left:54px;}
.sd_newsletter .top_box .text_area:before{display:block; position:absolute; bottom:0; left:0; width:100%; height:calc(100% - 100px); background-color:#eef4ff;}
.sd_newsletter .top_box .text_area .newsletter_title{position:relative; margin-left:-2px; margin-bottom:20px;}
.sd_newsletter .top_box .text_area .newsletter_title .tit{width:87px; height:16px; font-size:0; line-height:0; background:url('../images/program/newsletter_text.png') no-repeat; vertical-align:bottom;}
.sd_newsletter .top_box .text_area .newsletter_title .date{margin-left:11px; font-size:30px; line-height:32px; font-weight:600; letter-spacing:-0.025em; color:#222; vertical-align:bottom;}
.sd_newsletter .top_box .text_area .info_box{padding-top:37px;}
.sd_newsletter .top_box .text_area .info_box .bu{margin:0;}
.sd_newsletter .top_box .text_area .info_box .dl > li .title{width:90px;}
.sd_newsletter .top_box .text_area .info_box .dl > li .text ul > li{padding-left:17px; font-size:15px; line-height:22px; color:#666; letter-spacing:-0.025em;}
.sd_newsletter .top_box .text_area .info_box .dl > li .text ul > li:before{display:inline-block; position:absolute; top:9px; left:0; width:7px; height:2px; background-color:#97a8be;}
.sd_newsletter .top_box .text_area .info_box .dl > li .text ul > li:before{display:inline-block; position:absolute; top:9px; left:0; width:7px; height:2px; background-color:#97a8be;}
.sd_newsletter .top_box .text_area .info_box .btn_box{margin-top:29px;}
.sd_newsletter .top_box .text_area .info_box .btn_box .btn{min-width:auto; padding-left:20px; padding-right:20px;}

.sd_newsletter .list_box{margin-top:61px;}
.sd_newsletter .list_box .gallery_list{margin-left:-23px; margin-bottom:43px;}
.sd_newsletter .list_box .gallery_item{float:left; width:25%; padding-left:23px;}
.sd_newsletter .list_box .gallery_item:nth-child(n + 5){margin-top:20px;}
.sd_newsletter .list_box .gallery_item .inner{padding:20px 0 22px; border-radius:30px; background-color:#eef1f7; text-align:center;}
.sd_newsletter .list_box .gallery_item .img_area{display:inline-block; position:relative; width:198px; height:286px;}
.sd_newsletter .list_box .gallery_item .img_area a,
.sd_newsletter .list_box .gallery_item .img_area a img {width:100%; height:100%;}
.sd_newsletter .list_box .gallery_item .img_area a.news_adm_btn{position:absolute; top:27px; right:0; width:60px !important; height:30px !important;}
.sd_newsletter .list_box .gallery_item .img_area .issue{position:absolute; bottom:-17px; left:0; width:130px; background-color:#03a0af; font-size:16px; line-height:36px; color:#fff; letter-spacing:-0.025em;}
.sd_newsletter .list_box .gallery_item .btn_area{margin-top:31px; font-size:0; line-height:0;}
.sd_newsletter .list_box .gallery_item .down_btn{padding:0 15px; border:1px solid #aaa; border-radius:3px; background-color:#f9f9f9; font-size:12px; line-height:27px; color:#094078; transition:0.1s;}
.sd_newsletter .list_box .gallery_item .down_btn + .down_btn{margin-left:4px;}
.sd_newsletter .list_box .gallery_item .down_btn:hover{border-color:#094078; background-color:#094078; color:#fff;}

@media all and (max-width:1300px){
    .sd_newsletter .top_box{padding-left:30px; padding-right:30px;}
    .sd_newsletter .btn_box {top:0}
    .sd_newsletter .top_box .text_area{padding-left:35px;}

    .sd_newsletter .list_box .gallery_item{width:33.33%;}
    .sd_newsletter .list_box .gallery_item:nth-child(n + 4){margin-top:20px;}
}
@media all and (max-width:800px){
    .sd_newsletter .top_box .text_area{padding-left:30px;}
    .sd_newsletter .top_box .text_area .info_box .dl > li{display:block;}
    .sd_newsletter .top_box .text_area .info_box .dl > li .title{display:block; width:auto; padding-right:0;}
    .sd_newsletter .top_box .text_area .info_box .dl > li .title:before{display:none;}
    .sd_newsletter .top_box .text_area .info_box .dl > li .text{display:block;}

    .sd_newsletter .list_box .gallery_list{margin-left:-30px;}
    .sd_newsletter .list_box .gallery_item{width:50%; padding-left:30px;}
    .sd_newsletter .list_box .gallery_item:nth-child(n + 3){margin-top:20px;}
}
@media all and (max-width:700px){
    .sd_newsletter .top_box{padding-left:0; padding-right:0; padding-bottom:0; text-align:center;}
    .sd_newsletter .btn_box {position:relative; right:auto; top:auto;}
    .sd_newsletter .top_box .img_area{display:inline-block; float:none;}
    .sd_newsletter .top_box .text_area{float:none; position:relative; width:100%; padding:30px;}
    .sd_newsletter .top_box .text_area:before{height:calc(100% - 110px);}
    .sd_newsletter .top_box .text_area .newsletter_title{margin-bottom:50px;}
    .sd_newsletter .top_box .text_area .newsletter_title .date{display:block; margin-top:10px; margin-left:0; font-size:28px; line-height:28px;}
    .sd_newsletter .top_box .text_area .info_box{padding-top:0;}
}
@media all and (max-width:640px){
    .sd_newsletter .top_box .text_area .info_box .dl > li .text ul > li{font-size:14px;}

    .sd_newsletter .list_box .gallery_list{margin-left:-20px;}
    .sd_newsletter .list_box .gallery_item{width:50%; padding-left:20px;}
    .sd_newsletter .list_box .gallery_item .img_area .issue{bottom:-16px; width:110px; font-size:14px; line-height:34px;}
}
@media all and (max-width:480px){
    .sd_newsletter .top_box .text_area .newsletter_title .date{margin-top:8px; font-size:25px; line-height:27px;}
    .sd_newsletter .top_box .text_area .info_box .btn_box .btn{width:100%; margin-left:0;}
    .sd_newsletter .top_box .text_area .info_box .btn_box .btn + .btn{margin-top:10px;}

    .sd_newsletter .list_box{margin-top:40px;}
    .sd_newsletter .list_box .gallery_list{margin-left:0;}
    .sd_newsletter .list_box .gallery_item{width:100%; padding-left:0;}
    .sd_newsletter .list_box .gallery_item:nth-child(n + 2){margin-top:15px;}
}
