@charset "UTF-8";

/**온라인접수**/
/* 목록 */
.online_receptionist .list{ text-align:center;}
.online_receptionist .list .top_btn_cts {display:inline-block;position:relative; margin-bottom:35px;}
.online_receptionist .list .top_btn_cts a {position:relative; width:39px; height:39px; margin-top:-17px; border:2px solid #000; border-radius:50%; background-repeat:no-repeat; background-position:center; font-size:0; vertical-align:middle;}
.online_receptionist .list .top_btn_cts a.prev {margin-right:30px;background-image:url('/site/reserve/images/program/online_receptionist_prev.png');}
.online_receptionist .list .top_btn_cts a.next {margin-left:30px; background-image:url('/site/reserve/images/program/online_receptionist_next.png');}
#contents .online_receptionist .list .top_btn_cts h3 {display:inline-block;font-size:35px; line-height:39px;  font-weight:600; color:#000; letter-spacing:-0.03em; text-align:center;}
.online_receptionist .list .p-table td{color:#737373;}
.online_receptionist .list  .p-table td.p-subject a {color:#737373;}
.online_receptionist .list  .p-table td .state {width:80px; box-sizing:border-box; font-size:15px; line-height:30px; text-align:center;}
.online_receptionist .list  .p-table td em {color:#000;}
.online_receptionist .list  .p-table td .state.ing {background-color:#5193e9; color:#fff;}
.online_receptionist .list  .p-table td .state.end {border:1px solid #8a8a8a; background-color:#fff; color:#656565;}
/* 상세보기 */
.online_receptionist .view .p-table .p-table__subject td {padding:20px; text-align:center;}
.online_receptionist .view .p-table td .p-table__subject_text {font-size:22px;}
/* 작성 */
.online_receptionist .write .p-table tbody th.birth_day{width:11%;}
.online_receptionist .write .p-table tbody th.sex_head{width:8%;}
/* 예약완료 */
.online_receptionist .complete .complete_box {position:relative; margin-bottom:25px; padding-top:39px; border:1px solid #4f6380; font-size:20px; color:#000; line-height:30px; text-align:center;}
.online_receptionist .complete .complete_box:before {display:block; position:absolute; top:51px; left:33px; z-index:2; width:85px; height:174px; background:url('/site/reserve/images/program/online_receptionist_bg.png') no-repeat;}
.online_receptionist .complete .complete_box:after {display:block; position:absolute; top:47px; right:38px;  z-index:2; width:31px; height:180px; background:url('/site/reserve/images/program/online_receptionist_bg2.png') no-repeat;}
.online_receptionist .complete .complete_box .title {position:relative; z-index:3; margin-bottom:34px; padding:0 3%;}
.online_receptionist .complete .complete_box .title:before {display:block; width:100%; margin-bottom:14px; height:61px; background:url('/site/reserve/images/program/online_receptionist_check_icon.png') no-repeat center;}
.online_receptionist .complete .complete_box .gray_text {position:relative; z-index:1; padding:29px 3% 30px; background-color:#f5f6f8;}
/* 나의 온라인접수 */
.online_receptionist .receptionist {position:relative;}
.online_receptionist .receptionist .p-table td{color:#737373;}
.online_receptionist .receptionist .p-table td .state {font-size:15px;}
.online_receptionist .receptionist .p-table td .state.receipt {color:#1856b5;}
.online_receptionist .receptionist .p-table td .state.approval {color:#000;}
.online_receptionist .receptionist .p-table td .state.unapproved {color:#b61100;}
.online_receptionist .receptionist .p-table td em {color:#000;}
.online_receptionist .receptionist .p-table td .reserv_btn {width:80px; border:1px solid #df5959; font-size:15px; line-height:28px; text-align:center;}
.online_receptionist .receptionist .p-table td .reserv_btn.edit {margin-bottom:5px; background-color:#df5959; color:#fff;}
.online_receptionist .receptionist .p-table td .reserv_btn.cancel {background-color:#fff; color:#df5959;}

.online_receptionist .receptionist .popup {display:none;}
.online_receptionist .receptionist .popup.active {display:block;}
.online_receptionist .receptionist .popup .overlay {position:fixed; top:0; left:0; z-index:110; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.6);}
.online_receptionist .receptionist .popup .layer {position:absolute; top:50%; left:50%; z-index:120; width:470px; height:357px; margin-top:-179px; margin-left:-235px; padding-bottom:10px; background-color:#fff;}
.online_receptionist .receptionist .popup .layer .close {position:absolute; top:0; right:0; width:65px; height:60px; border-left:1px solid #435571; background:url('/site/reserve/images/program/online_receptionist_close.png') no-repeat center; font-size:0;}
.online_receptionist .receptionist .popup .layer .title {margin-bottom:40px; padding:18px 24px 17px; background-color:#142b4e;}
.online_receptionist .receptionist .popup .layer .title h3 {font-size:18px; color:#fff; letter-spacing:-0.03em;}
.online_receptionist .receptionist .popup .layer .text {height:182px; line-height:22px; text-align:center;}
.online_receptionist .receptionist .popup .layer .text:before {display:block; width:100%; height:61px; margin-bottom:13px; background-repeat:no-repeat; background-position:center;}
.online_receptionist .receptionist .popup .layer .text .main_text {margin-top:7px; margin-bottom:12px; font-size:20px; font-weight:600; line-height:25px;}
.online_receptionist .receptionist .popup .layer .btn_cts {text-align:center;}
.online_receptionist .receptionist .popup .layer .btn_cts a {width:80px; border:1px solid #252d6f; font-size:15px; line-height:33px;}
.online_receptionist .receptionist .popup .layer .btn_cts a.yes {background-color:#252d6f; color:#fff;}
.online_receptionist .receptionist .popup .layer .btn_cts a.no {color:#252d6f;}
.online_receptionist .receptionist .cancel_confirm .layer .text:before {background-image:url('/site/reserve/images/program/online_receptionist_warning.png');}
.online_receptionist .receptionist .cancel_complete .layer .text:before {background-image:url('/site/reserve/images/program/online_receptionist_ok.png');}
@media screen and (max-width: 765px){
    .online_receptionist .receptionist  .p-table td button.edit {margin-bottom:0;}
}
@media screen and (max-width: 500px){
    .online_receptionist .receptionist .popup .layer {left:0; width:100%; margin-left:0;}
}
/* 수정 */
.online_receptionist .edit .p-table tbody th.birth_day{width:11%;}
.online_receptionist .edit .p-table tbody th.sex_head{width:8%;}

/*완료화면*/
.edu .complete .complete_box {position:relative; margin-bottom:25px; padding-top:39px; border:1px solid #4f6380; font-size:20px; color:#000; line-height:30px; text-align:center;}
.edu .complete .complete_box:before {display:block; position:absolute; top:51px; left:33px; z-index:2; width:85px; height:174px; background:url('/site/reserve/images/program/online_receptionist_bg.png') no-repeat;}
.edu .complete .complete_box:after {display:block; position:absolute; top:47px; right:38px;  z-index:2; width:31px; height:180px; background:url('/site/reserve/images/program/online_receptionist_bg2.png') no-repeat;}
.edu .complete .complete_box .title {position:relative; z-index:3; margin-bottom:34px; padding:0 3%;}
.edu .complete .complete_box .title:before {display:block; width:100%; margin-bottom:14px; height:61px; background:url('/site/reserve/images/program/online_receptionist_check_icon.png') no-repeat center;}
.edu .complete .complete_box .gray_text {position:relative; z-index:1; padding:29px 3% 30px; background-color:#f5f6f8;}
.edu .complete ul > li {font-size:0;line-height:30px;;margin-bottom:2px;text-align:center;}
.edu .complete .con_title {display:inline-block;position:relative;width:85px;font-size:16px;font-weight:bold;color:#000;letter-spacing:-0.025em;text-align:left;vertical-align:top;}
.edu .complete .con_title:before {display:block;position:absolute;top:13px;right:0;border-right:1px solid #c9c9c9;width:1px;height:17px;}
.edu .complete .con_text {display:inline-block;width:206px;margin-left:30px;font-size:16px;letter-spacing:-0.025em;text-align:left;vertical-align:top;}

@media all and (max-width: 640px) {
    .edu .complete ul{text-align:center;}
    .edu .complete ul > li {display:inline-block;text-align:left;}
    .edu .complete .con_title {}
    .edu .complete .con_text {}

}

/*제안하기 목록화면*/
.blueborderbox{padding:16px; border:6px solid #c8d8ec; text-align:center;}

/*제안하기 글쓰기화면 상단*/
.sinmungo .write .agree_text {padding:35px 38px 40px; border:1px solid #cfcfcf;}
.sinmungo .write .agree_text ul.bu {padding-bottom:30px; margin-bottom:20px; border-bottom:1px solid #e4e4e4;}
.sinmungo .write .agree_text h3 {margin-bottom:20px; font-size:20px; font-weight:600; color:#1d1d1d;}
@media all and (max-width:640px){
    .sinmungo .write .agree_text {padding:20px;}
}

/* 민원신문고 list */

.sinmungo .p-button{height:45px; line-height:35px}
.sinmungo .bbs .p-button.write{padding:3px 30px;}

.inner_btn a.btn {position:relative;top:-3px;}
.sinmungo .tab_menu.type1 ul li a span {height:50px;}

.sinmungo .title_cheongwon{padding-bottom:24px; border-bottom:2px solid #000;}
.sinmungo .title_cheongwon .text{font-size:30px; color:#000; line-height:40px; letter-spacing:-0.025em; font-weight:600;}
.sinmungo .list .p-wrap .p-table-wrap {padding:10px 35px;border:1px solid #d1d1d1;}
.sinmungo .list .p-wrap .p-table tr {padding:25px 0;}
.sinmungo .list .p-wrap .p-table tr:last-child td {border-bottom:0;}
.sinmungo .list .p-wrap .p-table td {padding:30px 5px;}
.sinmungo .list .p-wrap .p-table td:nth-child(2) {text-align:center;font-size:0;}
.sinmungo .list .p-wrap .p-table td:nth-child(3) {text-align:center;}
.sinmungo .list .p-wrap .p-table td:last-child {border-right:0;text-align:right;}
.sinmungo .list .p-wrap .p-table colgroup + tbody tr:first-child td {border-top:0;}
.sinmungo .list .p-wrap .p-table td:nth-child(3) {font-size:16px;color:#737373;letter-spacing:-0.025em;}
.sinmungo .list .p-wrap .p-table td .date {display:inline-block;position:relative;margin-bottom:10px;color:#717171;}
.sinmungo .list .p-wrap .p-table td .date:before {display:block;position:absolute;bottom:-3px;left:-5px;width:calc(100% + 10px);height:12px;border-radius:30px;background-color:#f7f7f7;z-index:-1;}
.sinmungo .list .p-wrap .p-table td .title a {color:#000;font-size:18px;}
.sinmungo .list .p-wrap .p-table td .recommend {display:inline-block;position:relative;width:39px;height:39px;margin-right:10px;cursor:pointer;vertical-align:middle;}
.sinmungo .list .p-wrap .p-table td .recommend:before {display:block;position:absolute;width:39px;height:39px;background-color:#fef2f2;border-radius:39px;}
.sinmungo .list .p-wrap .p-table td .recommend:after {display:block;position:absolute;width:39px;height:39px;background:url('/site/lab/images/program/sinmungo_img1.png') no-repeat center center;}
.sinmungo .list .p-wrap .p-table td .recommend_count {display:inline-block;position:relative;top:6px;height:35px;padding:0 20px;border:1px solid #f26069;border-radius:30px;font-size:16px;color:#f26069;line-height:32px;}
.sinmungo .list .p-wrap .p-table td .state {display:inline-block;width:100px;height:30px;margin:3px 0;line-height:28px;text-align:center;box-sizing:border-box;}
.sinmungo .list .p-wrap .p-table td .state1 {border:1px solid #df5959;font-size:15px;color:#df5959;}
.sinmungo .list .p-wrap .p-table td .state2 {background-color:#122e67;color:#fff;}
.sinmungo .list .p-wrap .p-table td .state3 {background-color:#df5959;color:#fff;}
.sinmungo .list .p-wrap .p-table td .state4 {background-color:#019799;color:#fff;}
.sinmungo .list .p-wrap .p-table td .state5 {border:1px solid #5193e9;color:#5193e9;}

@media screen and (max-width:765px) {
.sinmungo .list .p-wrap .p-table.simple tbody {display:block;}
.sinmungo .list .p-wrap .p-table.simple {border-top:0;}
.sinmungo .list .p-wrap .p-table tr {display:block;width:100%;padding:25px 10px;}
.sinmungo .list .p-wrap .p-table colgroup + tbody tr td:first-child {display:block;}
.sinmungo .list .p-wrap .p-table colgroup + tbody tr td {display:inline-block;margin-right:10px;text-align:left;}
.sinmungo .list .p-wrap .p-table td {padding:3px 0;}
}

@media screen and (max-width:640px) {
.sinmungo .list .p-wrap .p-table-wrap {padding:10px 25px}
.sinmungo .list .p-wrap .p-table td .date {font-size:14px;letter-spacing:-0.05em;}
}

/* 민원신문고 view */

.sinmungo .view .p-wrap .p-title {margin-bottom:20px;padding-bottom:20px;border-bottom:2px solid #000;font-size:30px;color:#000;font-weight:bold;letter-spacing:-0.025em;text-align:center;}
.sinmungo .view .p-wrap .content .con_title {margin-bottom:25px;font-size:22px;color:#000;letter-spacing:-0.025em;text-align:center;}
.sinmungo .view .p-wrap .content .con_date_wrap {height:50px;padding:0 10px;background-color:#f6f6f6;}
.sinmungo .view .p-wrap .content .con_date {display:inline-block;float:left;margin-left:30px;font-size:16px;color:#717171;letter-spacing:-0.025em;line-height:50px;}
.sinmungo .view .p-wrap .content .con_writer {display:inline-block;float:right;margin-right:30px;font-size:16px;color:#737373;letter-spacing:-0.025em;line-height:50px;text-align:right;}
.sinmungo .view .p-wrap .content .con_step ul {display:block;position:relative;width:100%;margin:50px 0 60px 0;}
.sinmungo .view .p-wrap .content .con_step ul > li {float:left;position:relative;width:calc(100% / 5);text-align:center;}
.sinmungo .view .p-wrap .content .con_step ul > li:first-child span:after {display:block;position:absolute;top:-24px;left:50%;width:500px;height:7px;background-color:#f1f1f1;z-index:-1;}
.sinmungo .view .p-wrap .content .con_step ul > li:last-child span:after {display:block;position:absolute;top:-24px;right:50%;width:500px;height:7px;background-color:#f1f1f1;z-index:-1;}
.sinmungo .view .p-wrap .content .con_step ul > li span {position:relative;margin-top:25px;font-size:16px;letter-spacing:-0.025em;}
.sinmungo .view .p-wrap .content .con_step ul > li span:before {display:block;position:absolute;top:-31px;left:50%;width:19px;height:19px;border-radius:50%;background-color:#9a9a9a;transform:translateX(-50%)}
.sinmungo .view .p-wrap .content .con_step ul > li.process span {color:#2259b1}
.sinmungo .view .p-wrap .content .con_step ul > li.process span:before {width:5px;height:5px;border:7px solid #2259b1;border-radius:50%;background-color:#fff;box-shadow:0 0 13px 3px rgba(149,149,149,0.35);}
.sinmungo .view .p-wrap .content .con_step ul > li.process:before {display:block;position:absolute;top:-17px;left:0;right:0;width:40px;height:40px;margin:0 auto;border-radius:50%;background-color:#2259b1;animation:ani1 2.5s 0s ease-in-out infinite;}
.sinmungo .view .p-wrap .content .con_step ul > li.process:after {display:block;position:absolute;top:-17px;left:0;right:0;width:40px;height:40px;margin:0 auto;border-radius:50%;background-color:#2259b1;animation:ani1 2.5s 0.3s ease-in-out infinite;}
.sinmungo .view .p-wrap .content .con_step ul > li.process_red:before {display:block;position:absolute;top:-17px;left:0;right:0;width:40px;height:40px;margin:0 auto;border-radius:50%;background-color:#d45a5a;animation:ani1 2.5s 0s ease-in-out infinite;}
.sinmungo .view .p-wrap .content .con_step ul > li.process_red:after {display:block;position:absolute;top:-17px;left:0;right:0;width:40px;height:40px;margin:0 auto;border-radius:50%;background-color:#d45a5a;animation:ani1 2.5s 0.3s ease-in-out infinite;}
.sinmungo .view .p-wrap .content .con_step ul > li.process_red span {color:#ce3838;}
.sinmungo .view .p-wrap .content .con_step ul > li.process_red span:before {border:7px solid #d45a5a;}
.sinmungo .view .p-wrap .content .con_body {display:block;margin-bottom:50px;padding:0 40px 50px;border-bottom:1px solid #d9d9d9;letter-spacing:-0.025em;}
@keyframes ani1 {
	0%{transform:scale(1, 1);opacity:0}
	25%{transform:scale(0.5, 0.5);opacity:0.5}
	50%{transform:scale(1, 1);opacity:0;}
	51%{transform:scale(0.5, 0.5);opacity:0;}
	100%{transform:scale(1, 1);opacity:0;}
}

.sinmungo .view .p-wrap .comment_form .comment_title_wrap {margin-bottom:10px;}
.sinmungo .view .p-wrap .comment_form .comment_title {float:left;font-size:24px;color:#4c4c4c;font-weight:bold;}
.sinmungo .view .p-wrap .comment_form .comment_title span {font-size:inherit;color:#1856b5;font-weight:bold;}
.sinmungo .view .p-wrap .comment_form .comment_sns {float:right;}
.sinmungo .view .p-wrap .comment_form .comment_sns .comment_sns_title {display:inline-block;float:left;position:relative;top:10px;margin-right:10px;font-size:15px;}
.sinmungo .view .p-wrap .comment_form .comment_sns ul {display:inline-block;float:left;position:relative;top:-12px;}
.sinmungo .view .p-wrap .comment_form .comment_sns ul > li {display:inline-block;margin-right:10px;}
.sinmungo .view .p-wrap .comment_form .comment_sns ul > li:last-child {margin-right:0;}
.sinmungo .view .p-wrap .comment_form .comment_sns ul > li a {display:block;position:relative;width:30px;height:30px;font-size:0;}
.sinmungo .view .p-wrap .comment_form .comment_sns ul > li a:before {display:block;position:absolute;width:30px;height:30px;border-radius:50%;background:#bbb;z-index:-1;}
.sinmungo .view .p-wrap .comment_form .comment_sns ul > li.sns_naver a {background:url('/site/www/images/program/sinmungo_sns1.png') no-repeat center center;}
.sinmungo .view .p-wrap .comment_form .comment_sns ul > li.sns_kakao a {background:url('/site/www/images/program/sinmungo_sns2.png') no-repeat 5px 6px;}
.sinmungo .view .p-wrap .comment_form .comment_sns ul > li.sns_twitter a {background:url('/site/www/images/program/sinmungo_sns3.png') no-repeat center center;}
.sinmungo .view .p-wrap .comment_form .comment_sns ul > li.sns_facebook a {background:url('/site/www/images/program/sinmungo_sns4.png') no-repeat center center;}
.sinmungo .view .p-wrap .comment_form .comment_sns ul > li.sns_kakao:hover a {background:url('/site/www/images/program/sinmungo_sns5.png') no-repeat 5px 6px;}
.sinmungo .view .p-wrap .comment_form .comment_sns ul > li.sns_naver:hover a:before {background-color:#41b51f}
.sinmungo .view .p-wrap .comment_form .comment_sns ul > li.sns_kakao:hover a:before {background-color:#fbea20}
.sinmungo .view .p-wrap .comment_form .comment_sns ul > li.sns_twitter:hover a:before {background-color:#40a0f1}
.sinmungo .view .p-wrap .comment_form .comment_sns ul > li.sns_facebook:hover a:before {background-color:#1d539e}
.sinmungo .view .p-wrap .comment_form .text_area {padding:40px 40px 40px 30px;border:1px solid #cfcfcf;background-color:#f6f6f6;}
.sinmungo .view .p-wrap .comment_form .text_area textarea {display:inline-block;width:calc(100% - 122px);height:100px;margin-right:10px;padding:13px 17px;border:none;font-size:15px;resize:none;}
.sinmungo .view .p-wrap .comment_form .text_area button {display:inline-block;width:100px;height:100px;background-color:#4176c5;color:#fff;}

.sinmungo .view .sympathy_btn{position:relative; min-width:132px; padding:12px 12px 12px 65px; border-radius:7px; border:1px solid #ed545a;font-weight:500; font-size:24px; line-height:26px; color:#ed545a; text-align:left;}
.sinmungo .view .sympathy_btn:before{display:inline-block; position:absolute; left:31px; top:0; bottom:0; width:26px; height:22px; margin:auto; background-repeat:no-repeat; background-position:left top; background-image:url('/site/lab/images/program/proposition_sympathy_btn.png');}
.sinmungo .view .sympathy_btn.check:before{background-position:left -32px;}
.sinmungo .view .sympathy_btn.small{min-width:auto; padding:5px 10px 5px 45px;font-size:18px; line-height:22px;}
.sinmungo .view .sympathy_btn.small:before{left:12px;}

@media screen and (max-width:800px){
.sinmungo .view .p-wrap .content .con_step ul > li:first-child span::after {width:300px;}
.sinmungo .view .p-wrap .content .con_step ul > li:last-child span::after {width:300px;}
.sinmungo .view .p-wrap .content .con_step ul {margin:40px 0 30px 0;}
.sinmungo .view .p-wrap .content .con_body {margin-bottom:30px;padding:0 30px 30px;}
.sinmungo .view .p-wrap .comment_form .comment_title_wrap {margin-bottom:0;}
.sinmungo .view .p-wrap .comment_form .comment_title {display:block;float:none;}
.sinmungo .view .p-wrap .comment_form .comment_sns {display:block;float:none;}
.sinmungo .view .p-wrap .comment_form .comment_sns .comment_sns_title {display:block;float:none;margin-bottom:9px;}
.sinmungo .view .p-wrap .comment_form .comment_sns ul > li {margin-right:0;}
.sinmungo .view .p-wrap .comment_form .text_area {padding:13px;}
}

@media screen and (max-width:640px){
.sinmungo .view .p-wrap .content .con_body {padding:0 10px 30px;}
.sinmungo .view .p-wrap .content .con_step ul > li:first-child span::after {width:200px;}
.sinmungo .view .p-wrap .content .con_step ul > li:last-child span::after {width:200px;}
.sinmungo .view .p-wrap .content .con_date_wrap {height:auto;padding:15px;}
.sinmungo .view .p-wrap .content .con_date {display:block;float:none;margin-left:0;line-height:1.5;}
.sinmungo .view .p-wrap .content .con_writer {display:block;float:none;margin-left:0;margin-right:0;line-height:1.5;text-align:left;}
}

/* 민원신문고 log-in */
.sinmungo .p-login > ul > li {display:inline-block;float:left;overflow:hidden;width:calc((100% - 30px) / 3);height:360px;margin-right:15px;padding:50px 28px 50px 38px;border:1px solid #000;text-align:center;box-sizing:border-box;}
.sinmungo .p-login > ul > li .login_title {margin-bottom:40px;font-size:26px;color:#000;letter-spacing:-0.035em;font-weight:bold;}
.sinmungo .p-login > ul > li p {line-height:20px;}
.sinmungo .p-login > ul > li.login_member {}
.sinmungo .p-login > ul > li.login_member .login_typing {display:inline-block;float:left;width:calc(100% - 120px);margin-right:10px;}
.sinmungo .p-login > ul > li.login_member .login_typing > span {display:block;}
.sinmungo .p-login > ul > li.login_member .login_typing > span:first-child {margin-bottom:10px;}
.sinmungo .p-login > ul > li.login_member .login_typing label {display:block;visibility:hidden;width:0;height:0;opacity:0;}
.sinmungo .p-login > ul > li.login_member .login_typing input {display:block;width:100%;height:45px;padding:10px;border:0;border-radius:5px;background:#f4f4f4;color:#5d5d5d;box-sizing:border-box;}
.sinmungo .p-login > ul > li.login_member input[type=submit] {display:inline-block;float:left;width:110px;height:100px;background-color:#18344e;color:#fff}
.sinmungo .p-login > ul > li.login_member .login_join {margin-top:40px;padding:0 20px;}
.sinmungo .p-login > ul > li.login_member .login_join li {display:inline-block;float:left;width:calc((100% - 2px) / 3);border-right:1px solid #d0d0d0;box-sizing:border-box;}
.sinmungo .p-login > ul > li.login_member .login_join li:last-child {border:0;}
.sinmungo .p-login > ul > li.login_member .login_join li a {color:#000;}

.sinmungo .p-login > ul > li.login_guest {}
.sinmungo .p-login > ul > li.login_guest ul {font-size:0;}
.sinmungo .p-login > ul > li.login_guest ul > li {display:inline-block;width:120px;height:110px;margin-top:35px;text-align:center;vertical-align:top;}
.sinmungo .p-login > ul > li.login_guest ul > li.login_phone {margin-right:10px;}
.sinmungo .p-login > ul > li.login_guest ul > li.login_ipin {}
.sinmungo .p-login > ul > li.login_guest ul > li a {display:block;position:relative;width:120px;height:110px;}
.sinmungo .p-login > ul > li.login_guest ul > li a:before {display:block;position:absolute;margin:0 auto;background:url('/site/www/images/program/sinmungo_sprite2.png') no-repeat;}
.sinmungo .p-login > ul > li.login_guest ul > li.login_phone a {background:#4176c5;}
.sinmungo .p-login > ul > li.login_guest ul > li.login_phone a:before {top:15px;left:0;right:0;width:34px;height:48px;background-position:0 0;}
.sinmungo .p-login > ul > li.login_guest ul > li.login_ipin a {background:#0996ab;}
.sinmungo .p-login > ul > li.login_guest ul > li.login_ipin a:before {top:20px;left:0;right:0;width:51px;height:32px;background-position:0 -70px;}
.sinmungo .p-login > ul > li.login_guest ul > li a span {display:block;position:absolute;bottom:16px;width:100%;font-size:16px;color:#fff;letter-spacing:-0.035em;text-align:center;}

.sinmungo .p-login > ul > li.login_social {margin-right:0;padding-left:60px;padding-right:60px;}
.sinmungo .p-login > ul > li.login_social .login_title {margin-bottom:30px;}
.sinmungo .p-login > ul > li.login_social ul > li {height:45px;margin-bottom:10px;border:1px solid #d6d6d6;box-sizing:border-box;}
.sinmungo .p-login > ul > li.login_social ul > li a {display:block;position:relative;height:43px;padding-left:60px;line-height:43px;text-align:left;}
.sinmungo .p-login > ul > li.login_social ul > li a:before {display:block;position:absolute;background:url('/site/www/images/program/sinmungo_sprite2.png') no-repeat}
.sinmungo .p-login > ul > li.login_social ul > li.sns_naver a:before {top:calc(50% - 7px);left:18px;width:16px;height:15px;background-position:-3px -121px;}
.sinmungo .p-login > ul > li.login_social ul > li.sns_kakao a:before {top:calc(50% - 11px);left:14px;width:23px;height:23px;background-position:-32px -119px;}
.sinmungo .p-login > ul > li.login_social ul > li.sns_facebook a:before {top:calc(50% - 11px);left:14px;width:23px;height:23px;background-position:-2px -159px;}
.sinmungo .p-login > ul > li.login_social p {margin-top:5px;}

@media screen and (max-width:1200px) {
.sinmungo .p-login > ul > li {height:340px;}
.sinmungo .p-login > ul > li p {font-size:14px;letter-spacing:-0.1em;}
.sinmungo .p-login > ul > li.login_member .login_join {padding:0;}
.sinmungo .p-login > ul > li.login_member .login_join li a {font-size:14px;}
.sinmungo .p-login > ul > li.login_guest .login_title {margin-bottom:25px;}
.sinmungo .p-login > ul > li.login_guest ul > li {margin-top:20px;}
.sinmungo .p-login > ul > li.login_social .login_title {margin-bottom:25px;}
.sinmungo .p-login > ul > li.login_social ul > li {margin-bottom:6px;}
.sinmungo .p-login > ul > li.login_social ul > li a {padding-left:50px;font-size:14px;}
.sinmungo .p-login > ul > li.login_social p {font-size:14px;}
}

@media screen and (max-width:1000px) {
.sinmungo .p-login > ul > li {width:100%;height:360px;margin-bottom:10px;}
.sinmungo .p-login > ul > li p {font-size:16px;letter-spacing:0;}
.sinmungo .p-login > ul > li.login_member .login_join {padding:0 20%;}
.sinmungo .p-login > ul > li.login_member .login_join li a {font-size:16px;}
.sinmungo .p-login > ul > li.login_guest .login_title {margin-bottom:35px;}
.sinmungo .p-login > ul > li.login_guest ul > li {margin-top:35px;}
.sinmungo .p-login > ul > li.login_social .login_title {margin-bottom:30px;}
.sinmungo .p-login > ul > li.login_social ul > li {width:300px;margin:0 auto 10px auto;}
.sinmungo .p-login > ul > li.login_social ul > li a {padding-left:60px;font-size:16px;}
.sinmungo .p-login > ul > li.login_social p {font-size:16px;}
}
@media screen and (max-width:640px) {
.sinmungo .p-login > ul > li.login_member .login_join {padding:0;}
.sinmungo .p-login > ul > li.login_social ul > li {width:100%;}
}
@media screen and (max-width:480px) {
.sinmungo .p-login > ul > li {height:auto;}
.sinmungo .p-login > ul > li p {font-size:14px;}
.sinmungo .p-login > ul > li.login_member .login_typing {display:block;width:100%;}
.sinmungo .p-login > ul > li.login_member .login_typing > span {margin-bottom:10px;}
.sinmungo .p-login > ul > li.login_member input[type=submit] {width:100%;height:45px;border-radius:5px;}
.sinmungo .p-login > ul > li.login_member .login_join {margin-top:20px;}
.sinmungo .p-login > ul > li.login_member .login_join li a {font-size:14px;}
.sinmungo .p-login > ul > li.login_social p {font-size:14px;}
.sinmungo .p-login > ul > li.login_social ul > li a {font-size:14px;}
}


/* 상세페이지 view+answer */
.sinmungo .view .p-wrap .video_wrap {position:relative;height:0;margin-bottom:30px;padding-bottom:56.25%;}
.sinmungo .view .p-wrap .video_wrap iframe {position:absolute;width:100%;height:100%;}

.sinmungo .view .p-wrap .comment {margin-bottom:50px;}
.sinmungo .view .p-wrap .comment .comment_title {margin-bottom:20px;font-size:30px;color:#2259b1;font-weight:bold;letter-spacing:-0.025em;text-align:center;}
.sinmungo .view .p-wrap .comment .comment_view {padding:40px;border:1px solid #cfcfcf;}
.sinmungo .view .p-wrap .comment .comment_view .comment_text {font-size:16px;letter-spacing:-0.025em;}

.sinmungo .view .p-wrap .comment_mayor {}
.sinmungo .view .p-wrap .comment_mayor .comment_title {color:#2259b1;}
.sinmungo .view .p-wrap .comment_mayor .comment_view {border-top:2px solid #2259b1;}
.sinmungo .view .p-wrap .comment_mayor .comment_view .comment_text {}

.sinmungo .view .p-wrap .comment_part {}
.sinmungo .view .p-wrap .comment_part .comment_title {color:#01a0a2;}
.sinmungo .view .p-wrap .comment_part .comment_view {border-top:2px solid #01a0a2;}
.sinmungo .view .p-wrap .comment_part .comment_view .comment_text {}

.sinmungo .view .p-wrap .comment_more {}
.sinmungo .view .p-wrap .comment_more .comment_title {color:#d45a5a;}
.sinmungo .view .p-wrap .comment_more .comment_view {border-top:2px solid #d45a5a;}
.sinmungo .view .p-wrap .comment_more .comment_view .comment_text {}

.sinmungo .view .p-wrap .attach {}
.sinmungo .view .p-wrap .attach .attach_view {padding:40px;border:1px solid #cfcfcf;border-top:1px solid #000;}
.sinmungo .view .p-wrap .attach .attach_title {margin-bottom:15px;font-size:22px;color:#000;letter-spacing:-0.025em;font-weight:bold;text-align:center;}
.sinmungo .view .p-wrap .attach .attach_view .attach_text {}
.sinmungo .view .p-wrap .attach .attach_view .attach_text > ul > li {}
.sinmungo .view .p-wrap .attach .attach_view .attach_text > ul > li a {color:#1856b5;}
.sinmungo .view .p-wrap .attach .attach_view .attach_text > ul > li a:hover {color:#000;}

.sinmungo .view .p-wrap .user_comment li:first-child {display:block;border-top:1px solid #e4e4e4;}
.sinmungo .view .p-wrap .user_comment li {position:relative; padding:25px 40px; border-bottom:1px solid #e4e4e4;}
.sinmungo .view .p-wrap .user_comment .user {margin-bottom:5px; font-size:15px;font-weight:bold;}
.sinmungo .view .p-wrap .user_comment .user_comment_text {margin-right:100px; font-size:16px;line-height:28px;}
.sinmungo .view .p-wrap .user_comment .comment_btnbox{display:inline-block; position:absolute; right:40px; top:25px; text-align:center;}
.sinmungo .view .p-wrap .user_comment .comment_btnbox .sympathy_name{display:block;}


@media screen and (max-width:800px){
.sinmungo .view .p-wrap .comment .comment_view {padding:25px;}
.sinmungo .view .p-wrap .comment {margin-bottom:30px;}
.sinmungo .view .p-wrap .user_comment li {padding:20px;}
.sinmungo .view .p-wrap .comment_part .comment_title {font-size:25px;}
}


.sinmungo .write .agree_text {padding:35px 38px 40px; border:1px solid #cfcfcf;}
.sinmungo .write .agree_text ul.bu {padding-bottom:30px; margin-bottom:20px; border-bottom:1px solid #e4e4e4;}
.sinmungo .write .agree_text h3 {margin-bottom:20px; font-size:20px; font-weight:600; color:#1d1d1d;}
@media all and (max-width:640px){
    .sinmungo .write .agree_text {padding:20px;}
    .sinmungo .view .p-wrap .user_comment .user_comment_text {margin-right:0;}
    .sinmungo .view .p-wrap .user_comment .comment_btnbox{display:block; position:relative; right:auto; top:auto; text-align:right;}
    .sinmungo .view .p-wrap .user_comment .comment_btnbox .sympathy_name{display:inline-block; margin-right:15px;}
}

/* 탭메뉴 */
 .sinmungo .tab_menu.type1 ul li{float:left; width:33.33%;}
 .sinmungo .tab_menu.type1.divide4 ul li{width:25%;}
 .sinmungo .tab_menu.type1.divide5 ul li{width:20%;}
 .sinmungo .tab_menu.type1 ul li a{display:table; table-layout:fixed; width:100%; border-width:0 1px 1px 0; border-style:solid; border-color:#d3d3d3; background-color:#fbfbfb; color:#4c4c4c; transition-property:border-color, background-color, color; transition-duration:200ms; transition-timing-function:ease-in-out;}
 .sinmungo .tab_menu.type1 ul li.active a,  .sinmungo .tab_menu.type1 ul li a:hover{border-color:#2f65e0; background-color:#2f65e0; color:#FFF;}
 .sinmungo .tab_menu.type1 ul li a span{display:table-cell; width:100%; height:58px; padding:0 2% 2px; text-align:center; vertical-align:middle; line-height:22px; font-size:17px; letter-spacing:-0.05em;}
 .sinmungo .tab_menu.type1 ul li a[target="_blank"] span:after{display:inline-block; width:11px; height:11px; margin-left:5px; background-repeat:no-repeat; background-position:left top; background-image:url(/common/images/common_sub/blank.png); content:''; transition-property:background-position; transition-duration:200ms; transition-timing-function:ease-in-out;}
 .sinmungo .tab_menu.type1 ul li.active a[target="_blank"] span:after,
 .sinmungo .tab_menu.type1 ul li a[target="_blank"]:hover span:after{background-position:left -11px;}

 .sinmungo .tab_menu.type1 ul li:nth-child(-n+3) a{border-top-width:1px;}
 .sinmungo .tab_menu.type1 ul li:nth-child(3n+1) a{border-left-width:1px;}
 .sinmungo .tab_menu.type1.divide4 ul li:nth-child(-n+4) a{border-top-width:1px;}
 .sinmungo .tab_menu.type1.divide4 ul li:nth-child(4n+1) a{border-left-width:1px;}
 .sinmungo .tab_menu.type1.divide5 ul li:nth-child(5) a{border-top-width:1px;}
 .sinmungo .tab_menu.type1.divide5 ul li:nth-child(4n+1) a{border-left-width:0;}
 .sinmungo .tab_menu.type1.divide5 ul li:nth-child(5n+1) a{border-left-width:1px;}

 .sinmungo .tab_menu.type2{border:1px solid #000; padding:0 23px;}
 .sinmungo .tab_menu.type2 ul{background-repeat:repeat-y; background-image:url(/common/images/common_sub/tab_menu_dotline.png); padding-left:10px;}
 .sinmungo .tab_menu.type2 ul li{float:left; min-width:15.66%; margin-right:1%;}
 .sinmungo .tab_menu.type2 ul li a{display:block; padding-bottom:5px; line-height:63px; color:#4c4c4c;}
 .sinmungo .tab_menu.type2 ul li a span{display:inline-block; position:relative; padding-left:16px; line-height:22px; vertical-align:middle; font-size:17px; letter-spacing:-0.05em;}
 .sinmungo .tab_menu.type2 ul li a span:before{display:block; position:absolute; top:10px; left:1px; width:6px; height:6px; background-color:#afbcd0; border-radius:6px; overflow:hidden; content:'';}
 .sinmungo .tab_menu.type2 ul li.active a span{padding-left:27px;}
 .sinmungo .tab_menu.type2 ul li.active a span:before{top:3px; left:0; width:19px; height:19px; border-radius:0; background-color:transparent; background-repeat:no-repeat; background-position:left top; background-image:url(/common/images/common_sub/tab_menu_icon.png);}
 .sinmungo .tab_menu.type2 ul li a:hover span{text-decoration:underline;}


/* tablet */
@media screen and (max-width:1000px){
 .sinmungo .tab_menu.type1.divide4 ul li{width:auto;}
 .sinmungo .tab_menu.type1.divide5 ul li{width:auto;}
 .sinmungo .tab_menu.type1 ul li a{display:block; border-width:1px !important; padding:10px 22px 11px;}
 .sinmungo .tab_menu.type1 ul li a span{display:block; width:auto; height:auto; padding:0; white-space:nowrap; line-height:21px; font-size:15px;}

 .sinmungo .tab_menu.type2 ul li{margin-right:6%;}
}


/*2484_제안하기 목록*/
.proposition .page_list{position: relative;}
.proposition .page_list .bbs_top{position:relative; margin-bottom:31px; padding:35px 40px; background-color:#e7f3ff;}
.proposition .page_list .bbs_top:before{display:inline-block; position:absolute; right:0; top:19px; width:329px; height:232px; background-repeat:no-repeat; background-image:url('/site/lab/images/program/proposition_bbs_top.png');}
.proposition .page_list .bbs_top p {margin-right:260px; font-weight:500; font-size:22px; line-height:36px; letter-spacing:-0.035em; color:#000;}
.proposition .page_list .bbs_top p .accent{color:#1175e0;}
.proposition .page_list .bbs_top .btn{margin:22px 0 9px;}

.proposition .page_list .proposition_tab{margin-top:60px;}
.proposition .page_list .proposition_tab .tab_list{font-size:0; line-height:0; text-align: center;}
.proposition .page_list .proposition_tab .tab_item{display:inline-block; width:calc(33.3% - 4px); margin-right:6px; border:3px solid #eceff3; background-color:#eceff3;}
.proposition .page_list .proposition_tab .tab_item:last-child{margin-right:0;}
.proposition .page_list .proposition_tab .tab_anchor{display:block; width:100%; height:100%; padding:18px 5px;}
.proposition .page_list .proposition_tab .tab_anchor span{font-size:16px; line-height:24px; letter-spacing:-0.03em; color:#3c4046;}

.proposition .page_list .proposition_tab .tab_item.active{border-color:#015acd; background-color:#fff;}
.proposition .page_list .proposition_tab .tab_item.active .tab_anchor span{font-weight:500; color:#015acd;}

.proposition .proposition_list{margin-top:35px; font-size:0; line-height:0;}
.proposition .proposition_anchor{display:block;}
.proposition .proposition_item{display:inline-block; width:33.33%; position:relative; margin-bottom:35px; vertical-align:top;}
.proposition .proposition_inner{position:relative; margin-top:31px; margin-left:46px; padding:48px 20px 35px 27px; border:1px solid #b6b6b6;}
.proposition .proposition_inner:before{display:block; position:absolute; left:-19px; top:0; width:19px; height: 98px; background-image:url('/site/lab/images/main/suggestion_point.png');}
.proposition .proposition_sort{display:inline-block; position:absolute; left:30px; top:-12px; width:54px; height:27px; background-color:#296bf2; font-size:15px; line-height:27px; color:#fff; text-align:center;}
.proposition .proposition_subject{overflow:hidden; height:56px; font-size:22px; line-height:28px; font-weight:600; letter-spacing:-0.035em; color:#000; word-break: keep-all;}
.proposition .proposition_desc{overflow:hidden; height:72px; margin-top:18px; font-weight:300; font-size:16px; line-height:24px; letter-spacing:-0.04em; color:#555;}
.proposition .proposition_state{margin-top:33px;}
.proposition .proposition_state span{position:relative; width:50%; padding-left:29px; font-size:15px; line-height:17px; letter-spacing:-0.03em; color:#444; text-align:left;}
.proposition .proposition_state span:before{display:block; position:absolute; left:0; background-image:url('/site/lab/images/main/suggestion_sprite.png'); background-repeat:no-repeat;}
.proposition .proposition_comment:before{top:-4px; width:20px; height:20px; background-position:left 27.27%; background-size:114.99% 705%;}
.proposition .proposition_sympathy:before{top:-2px; width:22px; height:19px; background-position:left 76.22%; background-size:104.54% 742.1%;}
.proposition .proposition_more{display:inline-block; position:absolute; right:0; top:55px; width:50px; height:50px; border-radius:50%; background-color:#000; font-size:0; line-height:0; }
.proposition .proposition_more:before{display:inline-block; position:absolute; top:0; right:0; bottom:0; left:0; width:23px; height:23px; margin:auto; background-image:url('/site/lab/images/main/suggestion_sprite.png'); background-repeat:no-repeat; background-size:100% 613.04%;}

.proposition .focus.proposition_item{left:-10px; top:-20px;}
.proposition .focus .proposition_anchor{text-decoration:none;}
.proposition .focus .proposition_inner{border:none; background:rgb(245,92,164); background:-moz-linear-gradient(top, rgb(245,92,164) 0%, rgb(103,141,237) 100%); background: -webkit-linear-gradient(top, rgb(245,92,164) 0%,rgb(103,141,237) 100%); background: linear-gradient(to bottom, rgb(245,92,164) 0%,rgb(103,141,237) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f55ca4', endColorstr='#678ded',GradientType=0 ); box-shadow: 6px 10px 13px 0px rgba(0, 0, 0, 0.22);}
.proposition .focus .proposition_sort{background-color:#000;}
.proposition .focus .proposition_subject{color:#fff;}
.proposition .focus .proposition_desc{color:#fff;}
.proposition .focus .proposition_state span{color:#fff;}
.proposition .focus .proposition_comment:before{background-position:left 52.06%; background-size:114.99% 705%;}
.proposition .focus .proposition_sympathy:before{background-position:left 100%; background-size:104.54% 742.1%;}

.proposition .p-pagination{margin-top:60px;}
.proposition .p-button.write{position:absolute; right:0; bottom:0;background-color:#202e70;}

@media all and (max-width:1300px) {
    .proposition .proposition_item{width:50%;}
    .proposition .p-button.write{position:relative; right:auto; bottom:auto;}
}

@media all and (max-width:800px) {
    .proposition .page_list .bbs_top{position:relative; margin-bottom:31px; padding:35px 40px; background-color:#e7f3ff; text-align:center;}
    .proposition .page_list .bbs_top:before{position:relative; left:0; width:200px; height:141px; margin:auto;background-size:cover;}
    .proposition .page_list .bbs_top p {margin-top:20px; margin-right:0;}
    .proposition .page_list .bbs_top p .accent{color:#1175e0;}
    .proposition .page_list .bbs_top .btn{margin:22px 0 9px;}
}

@media all and (max-width:640px) {
    .proposition .proposition_item{width:100%;}
    .proposition .page_list .bbs_top p{font-size:18px; line-height:28px;}
    .proposition .page_list .proposition_tab .tab_anchor{padding:10px 5px;}
    .proposition .p-pagination{margin-top:0;}
}

/*4대중심 발건계획 의견 제안하기 */
.cts4762 .proposition .page_list .bbs_top:before {background-size: 70%; top: 13px; right: -40px;}
.cts4762 .p-empty {border-bottom: none;}


/*생활연구단 목록*/
.p-study{position:relative; z-index:40;}
.p-study .study_list{margin-top:48px; margin-left:-17px; font-size:0; line-height:0;}
.p-study .study_item{display:inline-block; width:33.33%; margin-bottom:38px; vertical-align:top;}
.p-study .study_anchor{display:block; margin:2px;}
.p-study .study_backline{margin-left:38px; margin-right:3px; padding:1px; background:rgb(244,74,74); background: -moz-linear-gradient(-45deg,  rgb(244,74,74) 0%, rgb(255,186,23) 50%, rgb(31,157,248) 100%); background: -webkit-linear-gradient(-45deg,  rgb(244,74,74) 0%,rgb(255,186,23) 50%,rgb(31,157,248) 100%); background: linear-gradient(135deg,  rgb(244,74,74) 0%,rgb(255,186,23) 50%,rgb(31,157,248) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f44a4a', endColorstr='#1f9df8',GradientType=1 );}
.p-study .study_inner{position:relative; width:100%; padding-top:19px; padding-bottom:19px; background-color:#fff;}
.p-study .study_inner img{width:100%; height:221px; margin-left:-20px;}
.p-study .study_name{display:inline-block; position:absolute; left:0; bottom:0; width:100%; padding:12px 18px; background-color:#fff; font-weight:300; font-size:16px; line-height:24px; color:#333; }
.p-study .study_man{display:inline-block; position:absolute; right:30px; top:30px; width:50px; height:50px; padding-left:16px; border-radius:50%; background-color:rgba(0,0,0,0.8); font-size:15px; line-height:50px; color:#fff; text-align:center;}
.p-study .study_man .icon{display:inline-block; position:absolute; left:8px; top:calc(50% - 7px); width:14px; height:14px; background-image:url('/site/lab/images/main/study_manicon.png'); background-repeat:no-repeat; background-size:cover; font-size:0; line-height:0; vertical-align:middle;}
.p-study .study_more{display:inline-block; position:absolute; right:0; top:-1px; width:116px; height:37px; padding-left:27px; background-image:url('/site/lab/images/main/study_more.png'); background-size:cover; font-size:16px; line-height:37px; color:#313131;}

/* 생활연구단 포커스 시*/
.study .focus .study_name{text-decoration: underline; text-underline-position: under;}

@media all and (max-width:1300px){
    .p-study .study_inner img{width:100%; height:147px;}
}

@media all and (max-width:1000px){
    .p-study .study_list{margin-top:27px; }
    .p-study .study_inner{padding-top:17px; padding-bottom:17px;}
    .p-study .study_inner img{width:100%; height:221px; margin-left:-17px;}
    .p-study .study_name{font-size:15px;}
    .p-study .study_man{right:26px; top:26px; width:45px; height:45px; padding-left:16px; font-size:14px; line-height:45px;}
    .p-study .study_more{top:3px; width:93px; height:30px; padding-left:21px; font-size:13px; line-height:29px;}
}

@media all and (max-width:800px){
    .p-study .study_item{width:50%;}
}
@media all and (max-width:640px){
    .p-study .study_list{margin-top:18px; margin-left:-13px;}
    .p-study .study_backline{margin-left:31px}
    .p-study .study_inner{padding-top:13px; padding-bottom:13px;}
    .p-study .study_name{padding: 9px 12px; font-size:12px;line-height:19px;}
    .p-study .study_man{right:20px; top:20px; width:37px; height:37px; padding-left:13px; font-size:12px; line-height:37px;}
    .p-study .study_man .icon{left:6px; top:calc(50% - 5px); width:11px; height:11px;}
    .p-study .study_more{top:0; width:75px; height:24px; padding-left:15px; font-size:11px; line-height:23px;}
}

@media all and (max-width:500px){
    .p-study .study_item{width:100%;}
}

/*온라인 신청 신청 페이지*/
