/*현진명*/

/*구민청 소개 > 성동구민청 소개*/
.cts2494 .top_box{overflow:hidden; position:relative; padding-left:48px; padding-bottom:50px; border-radius:30px; background-color:#e6faec;}
.cts2494 .top_box:before{display:block; position:absolute; bottom:-12px; right:33px; width:407px; height:340px; background:url('../images/contents/cts2494_img02.png') no-repeat;}
.cts2494 .top_box img{margin-top:46px;}
.cts2494 .top_box p{position:relative; margin-top:40px; color:#00816e; letter-spacing:-0.025em;}

.cts2494 .mid_list{margin-top:48px; margin-bottom:73px;}
.cts2494 .mid_list ul{margin-left:-30px;}
.cts2494 .mid_list ul li{float:left; width:33.33%; padding-left:30px;}
.cts2494 .mid_list ul li .img_box{height:246px; border-radius:30px 30px 0 0; background-repeat:no-repeat;}
.cts2494 .mid_list ul li:nth-child(1) .img_box{background-image:url('../images/contents/cts2494_img03.jpg');}
.cts2494 .mid_list ul li:nth-child(2) .img_box{background-image:url('../images/contents/cts2494_img04.jpg');}
.cts2494 .mid_list ul li:nth-child(3) .img_box{background-image:url('../images/contents/cts2494_img05.jpg');}
.cts2494 .mid_list ul li .text_box{min-height:224px; padding:30px 18px 0 25px; border-radius:0 0 30px 30px; background-color:#f4f4f4;}
.cts2494 .mid_list ul li .text_box .title{margin-bottom:14px; font-size:24px; line-height:26px; font-weight:600; letter-spacing:-0.025em; color:#283047;}
.cts2494 .mid_list ul li .text_box .text{color:#3c4046; letter-spacing:-0.025em; word-break:keep-all;}
.cts2494 .mid_list ul li:last-child .text_box .text{word-break:break-all;}
.cts2494 .mid_list ul li:last-child .text_box .warning{margin-top:8px; letter-spacing:-0.05em;}

.cts2494 .cts2494_step{margin-left:-70px;}
.cts2494 .cts2494_step > li{float:left; position:relative; width:25%; padding-left:70px; text-align:center;}
.cts2494 .cts2494_step .inner_box{position:relative; min-height:167px; padding:0 20px; border:1px solid #c0c6cd;}
.cts2494 .cts2494_step > li:last-child .inner_box{border-color:#93b2df; background-color:#eef5ff;}
.cts2494 .cts2494_step .inner_box:before{display:block; position:absolute; bottom:0; right:0; background-repeat:no-repeat;}
.cts2494 .cts2494_step > li:nth-child(1) .inner_box:before{width:69px; height:73px; background-image:url('../images/contents/cts2494_icon01.png');}
.cts2494 .cts2494_step > li:nth-child(2) .inner_box:before{right:4px; width:64px; height:56px; background-image:url('../images/contents/cts2494_icon02.png');}
.cts2494 .cts2494_step > li:nth-child(3) .inner_box:before{width:86px; height:56px; background-image:url('../images/contents/cts2494_icon03.png');}
.cts2494 .cts2494_step > li:nth-child(4) .inner_box:before{width:64px; height:61px; background-image:url('../images/contents/cts2494_icon04.png');}
.cts2494 .cts2494_step > li + li .inner_box:after{display:block; position:absolute; top:50%; left:-41px; width:12px; height:20px; margin-top:-10px; background:url('/site/public/images/template/step_arrow.png') no-repeat center;}
.cts2494 .cts2494_step .inner_box .title{width:90px; margin-top:-1px; background-color:#6792cc; line-height:40px; color:#fff; letter-spacing:-0.025em;}
.cts2494 .cts2494_step > li:last-child .title{background-color:#061a4f;}
.cts2494 .cts2494_step .inner_box .text{margin-top:15px; text-align:left;}
.cts2494 .cts2494_step .inner_box .text .blt{display:inline-block; font-size:15px; word-break:keep-all; letter-spacing:-0.025em;}
.cts2494 .cts2494_step .info_box{margin-top:10px; text-align:left;}
.cts2494 .cts2494_step .color_box{background: rgb(251,232,253); background: -moz-linear-gradient(left,  rgba(251,232,253,1) 0%, rgba(220,246,255,1) 100%); background: -webkit-linear-gradient(left,  rgba(251,232,253,1) 0%,rgba(220,246,255,1) 100%); background: linear-gradient(to right,  rgba(251,232,253,1) 0%,rgba(220,246,255,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8fd', endColorstr='#dcf6ff',GradientType=1 ); text-align:center; font-size:15px; line-height:34px; letter-spacing:-0.035em; color:#4c4c4c;}
.cts2494 .cts2494_step .info_box .warning{margin-top:4px;}
.cts2494 .cts2494_step .plus_text{position:absolute; top:47px; right:-45px; font-size:14px; line-height:16px; color:#6792cc; letter-spacing:-0.025em;}

@media all and (max-width:1300px) and (min-width:1001px){
    .cts2494 .top_box{padding-right:270px;}
    .cts2494 .top_box:before{right:12px; width:247px; height:210px; background-size:contain;}
    .cts2494 .top_box img{width:110px;}
    .cts2494 .top_box p{margin-top:30px;}
    .cts2494 .mid_list ul li .text_box{min-height:275px;}
    .cts2494 .cts2494_step > li{width:50%;}
    .cts2494 .cts2494_step > li:nth-child(n + 3){margin-top:20px;}
}
@media all and (max-width:1300px){
    .cts2494 .mid_list{margin-top:35px; margin-bottom:50px;}
}
@media all and (max-width:1000px){
    .cts2494 .top_box{padding-left:35px; padding-bottom:40px;}
    .cts2494 .top_box:before{right:4%; width:257px; height:228px; background-size:contain;}
    .cts2494 .top_box img{width:100px; margin-top:40px;}
    .cts2494 .top_box p{margin-top:20px;}
    .cts2494 .mid_list ul{margin-left:-10px;}
    .cts2494 .mid_list ul li{padding-left:10px;}
    .cts2494 .mid_list ul li .img_box{height:215px;}
    .cts2494 .mid_list ul li .text_box{min-height:245px; padding:20px 15px 0 15px;}
    .cts2494 .mid_list ul li .text_box .title{margin-bottom:10px; font-size:22px; line-height:24px;}
    .cts2494 .mid_list ul li .text_box .text{font-size:15px;}
    .cts2494 .cts2494_step{margin-left:-40px;}
    .cts2494 .cts2494_step > li{padding-left:40px;}
    .cts2494 .cts2494_step .inner_box{padding:0 15px;}
    .cts2494 .cts2494_step .inner_box:before{background-size:contain;}
    .cts2494 .cts2494_step > li:nth-child(1) .inner_box:before{width:55px; height:59px;}
    .cts2494 .cts2494_step > li:nth-child(2) .inner_box:before{width:50px; height:44px;}
    .cts2494 .cts2494_step > li:nth-child(3) .inner_box:before{width:72px; height:47px;}
    .cts2494 .cts2494_step > li:nth-child(4) .inner_box:before{width:50px; height:48px;}
    .cts2494 .cts2494_step > li + li .inner_box:after{left:-25px;}
    .cts2494 .cts2494_step .plus_text{right:-33px}
}
@media all and (max-width:800px){
    .cts2494 .top_box:before{width:157px; height:140px;}
    .cts2494 .top_box img{width:70px;}
    .cts2494 .top_box p{font-size:15px;}
    .cts2494 .mid_list{margin-top:30px;}
    .cts2494 .cts2494_step > li:nth-child(3) .info_box .warning br{display:none;}
}
@media all and (max-width:700px){
    .cts2494 .top_box:before{width:117px; height:110px;}
}
@media all and (max-width:640px){
    .cts2494 .top_box{padding:20px; text-align:center;}
    .cts2494 .top_box:before{display:none;}
    .cts2494 .top_box img{width:50px; margin-top:0;}
    .cts2494 .top_box p{margin-top:12px; text-align:left; font-size:14px;}

    .cts2494 .mid_list{margin-bottom:30px;}
    .cts2494 .mid_list ul{margin-left:0;}
    .cts2494 .mid_list ul li{float:none; width:100%; padding-left:0;}
    .cts2494 .mid_list ul li + li{margin-top:15px;}
    .cts2494 .mid_list ul li .img_box{background-size:cover;}
    .cts2494 .mid_list ul li .text_box{min-height:auto; padding:20px;}
    .cts2494 .mid_list ul li .text_box .title{font-size:20px; line-height:22px;}
    .cts2494 .mid_list ul li .text_box .text{font-size:14px;}
}
@media all and (max-width:640px) and (min-width:481px){
    .cts2494 .cts2494_step > li{width:50%;}
    .cts2494 .cts2494_step > li:nth-child(3){float:right;}
    .cts2494 .cts2494_step > li:nth-child(n + 3){margin-top:30px;}
    .cts2494 .cts2494_step > li:nth-child(3) .inner_box:after{top:-17px; left:48%; transform:rotate(90deg);}
    .cts2494 .cts2494_step > li:nth-child(4) .inner_box:after{left:auto; right:-25px; transform:rotate(180deg);}
    .cts2494 .cts2494_step .plus_text{right:auto; left:7px;}
}
@media all and (max-width:480px){
    .cts2494 .cts2494_step > li{float:none; width:100%;}
    .cts2494 .cts2494_step > li + li{margin-top:40px;}
    .cts2494 .cts2494_step .inner_box{min-height:auto; padding-bottom:20px;}
    .cts2494 .cts2494_step > li + li .inner_box:after{top:-20px; left:50%; transform:rotate(90deg);}
}

/* 성동구 4대중심 발전계획  */
.plan_wrap {position: relative;}
.cts4755 .tab_list {position: absolute; bottom: 50px; left: 30px}
.cts4755 .tab_list .tab_item .tab_link {position: relative; padding-left: 20px; font-size: 17px; line-height: 23px; color: #fff;}
.cts4755 .tab_list .tab_item .tab_link:before{content: ''; display:block; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 7px; height: 1px; background: #fff;}
.cts4755 .box_img {position: relative;}
.cts4755 .btn_link {position: absolute; bottom: 50px; right: 30px; padding: 5px 20px; background: #0c96e3; border-radius: 30px; color: #fff; font-size: 17px; text-align: center;}
.cts4755 .btn_link em {position: relative; font-weight: 500; padding-left: 20px;}
.cts4755 .btn_link em:before {content: ''; display: block; position: absolute; top: 50%; transform: translateY(-50%); left: 0; width: 14px; height: 10px; background: url("/site/lab/images/contents/arrow.png") no-repeat;}

@media all and (max-width:640px){
    .cts4755 .btn_link {position: relative; width: 100%; margin-top: 20px; right: auto; bottom: auto}
    .cts4755 .tab_list {position: relative; left: auto; bottom: auto; margin-top: 20px;}
    .cts4755 .tab_list .tab_item .tab_link {color: #333;}
    .cts4755 .tab_list .tab_item .tab_link:before {background: #333;}
}

/* 성동구 4대중심 발전계획 > 주민참여단 소개  */
.cts4761 .img_frame.divide2 {display: flex; justify-content: space-between; }
.cts4761 .img_frame.divide2 img {width: 50%; margin: 0; padding: 0;}

.cts4765 .bu li {font-size: 18px;}
.cts4765 .bu li .em_blue {font-size:  21px; color: #001fff;}

