@charset "UTF-8";

/* SCDream */
@font-face{
    font-family:'SCDream';
    font-weight: 100;
    src: url("/site/booking/fonts/S-CoreDream-1Thin.woff2") format('woff2');
}

@font-face{
    font-family:'SCDream';
    font-weight: 300;
    src: url("/site/booking/fonts/S-CoreDream-3Light.woff2") format('woff2');
}

@font-face{
    font-family:'SCDream';
    font-weight: 400;
    src: url("/site/booking/fonts/S-CoreDream-4Regular.woff2") format('woff2');
}

@font-face{
    font-family:'SCDream';
    font-weight: 500;
    src: url("/site/booking/fonts/S-CoreDream-5Medium.woff") format('woff');
}
@font-face{
    font-family:'SCDream';
    font-weight: 600;
    src: url("/site/booking/fonts/S-CoreDream-6Bold.woff2") format('woff2');
}
@font-face{
    font-family:'SCDream';
    font-weight: 900;
    src: url("/site/booking/fonts/S-CoreDream-9Black.woff2") format('woff2');
}

/* Pretendard */
@font-face{
    font-family:'Pretendard';
    font-weight: 300;
    src: url("/site/booking/fonts/Pretendard-Regular.woff2") format('woff2'),
    url("/site/booking/fonts/Pretendard-Regular.woff2") format('woff');
}
@font-face{
    font-family:'Pretendard';
    font-weight: 400;
    src: url("/site/booking/fonts/Pretendard-Medium.woff2") format('woff2'),
    url("/site/booking/fonts/Pretendard-Medium.woff2") format('woff');
}
@font-face{
    font-family:'Pretendard';
    font-weight: 500;
    src: url("/site/booking/fonts/Pretendard-SemiBold.woff2") format('woff2'),
    url("/site/booking/fonts/Pretendard-SemiBold.woff2") format('woff');
}
@font-face{
    font-family:'Pretendard';
    font-weight: 600;
    src: url("/site/booking/fonts/Pretendard-Bold.woff2") format('woff2'),
    url("/site/booking/fonts/Pretendard-Bold.woff2") format('woff');
}

/* 본고딕 */
@font-face{
    font-family: 'NotoKr';
    font-weight: 200;
    src: url("/common/fonts/NotoSansCJKkr-Light.woff2") format('woff2'),
    url("/common/fonts/NotoSansCJKkr-Light.woff") format('woff');
}
@font-face{
    font-family: 'NotoKr';
    font-weight: 300;
    src: url("/common/fonts/NotoSansCJKkr-DemiLight.woff2") format('woff2'),
    url("/common/fonts/NotoSansCJKkr-DemiLight.woff") format('woff');
}
@font-face{
    font-family: 'NotoKr';
    font-weight: 500;
    src: url("/common/fonts/NotoSansCJKkr-Medium.woff2") format('woff2'),
    url("/common/fonts/NotoSansCJKkr-Medium.woff") format('woff');
}
@font-face{
    font-family: 'NotoKr';
    font-weight: 600;
    src: url("/common/fonts/NotoSansCJKkr-Bold.woff2") format('woff2'),
    url("/common/fonts/NotoSansCJKkr-Bold.woff") format('woff');
}

/* 성동고딕 */
@font-face{
    font-family: 'SDGothic';
    font-weight: 600;
    src: url("/common/fonts/SDGothic-Bold.woff2") format('woff2'),
    url("/common/fonts/SDGothic-Bold.woff") format('woff');
}

/* 본명조 */
@font-face{
    font-family: 'NotoSerifKr';
    src: url("/common/fonts/NotoSerifKR-Regular.woff2") format('woff2'),
    url("/common/fonts/NotoSerifKR-Regular.woff") format('woff');
}

/* Lato 숫자만 사용 */
@font-face{
    font-family: 'NotoKr';
    font-weight: 200;
    src: url("/common/fonts/Lato-Light.woff2") format('woff2'),
    url("/common/fonts/Lato-Light.woff") format('woff');
    unicode-range: U+0030-0039;
}
@font-face{
    font-family: 'NotoKr';
    font-weight: 300;
    src: url("/common/fonts/Lato-Regular.woff2") format('woff2'),
    url("/common/fonts/Lato-Regular.woff") format('woff');
    unicode-range: U+0030-0039;
}
@font-face{
    font-family: 'NotoKr';
    font-weight: 500;
    src: url("/common/fonts/Lato-Bold.woff") format('woff');
    unicode-range: U+0030-0039;
}
@font-face{
    font-family: 'NotoKr';
    font-weight: 600;
    src: url("/common/fonts/Lato-Bold.woff2") format('woff2'),
    url("/common/fonts/Lato-Bold.woff") format('woff');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* GeekbleMalang2 */
@font-face{
    font-family: 'GeekbleMalang2';
    font-weight: 400;
    src: url("/site/booking/fonts/GeekbleMalang2WOFF2.woff2") format('woff2'),
    url("/site/booking/fonts/GeekbleMalang2WOFF.woff") format('woff');
}

/* Raleway */
@font-face{
    font-family: 'Raleway';
    font-weight: 600;
    src: url("/site/booking/fonts/Raleway-Bold.woff2") format('woff2'),
    url("/site/booking/fonts/Raleway-Bold.woff") format('woff');
}

/* Saira */
@font-face{
    font-family: 'Saira';
    font-weight: 500;
    src: url("/site/booking/fonts/Saira-SemiBold.woff2") format('woff2'),
    url("/site/booking/fonts/Saira-SemiBold.woff") format('woff');
}