@charset "UTF-8";/* 대관 프로그램 */
.p-place-write{font-family:'Pretendard';}
.p-place-write .p-input.w100{width:100%;}
.p-wrap .file_list .file_item + .file_item{margin-top:5px;}
.p-wrap .file_list .file_name{display:inline-block; width:440px; height:40px; margin-right:15px; padding:0 40px; background:#f6f6f6 url('/site/booking/images/program/icon_file.png') no-repeat 20px 50% / 12px; font-size:0; vertical-align:middle;}
.p-wrap .file_list .file_name:after{display:inline-block; height:100%; content:''; vertical-align:middle;}
.p-wrap .file_list .file_name span{display:inline-block; font-size:16px; vertical-align:middle;}
.p-wrap .file_list .file_name span[class$=icon]{width:10px; font-size:0}
.p-wrap .file_list .file_name span[class$=icon] + span{padding:0;}
.p-wrap .file_list .file_input_wrap{display:inline-block; position:relative; vertical-align:middle;}
.p-wrap .file_list .file_input_wrap .upload_name{width:450px; height:40px; border:1px solid #b8b8b8; border-radius:6px; vertical-align:middle;}
.p-wrap .file_list .file_input_wrap input[type="file"]{position:absolute; top:0; right:0; z-index:-1; width:92px; height:42px; border-radius:6px; color:transparent; font-size:0;}
.p-wrap .file_list .file_input_wrap input[type="file"] + label{width:90px; margin-left:10px; border:1px solid #b8b8b8; border-radius:6px; background:#fff; text-align:center; line-height:40px; vertical-align:middle;}
.p-wrap.pay .point_box{border-radius:6px; background:#2652aa;}
.p-wrap.pay .point_box .pay_list{width:515px; margin:0 auto; padding:20px 0; color:#fff; font-size:24px; font-weight:600;}
.p-wrap.pay .point_box .pay_item{padding:15px 0; border-bottom:1px solid rgba(255, 255, 255, 0.3);}
.p-wrap.pay .point_box .pay_item:last-child{border:none}
.p-wrap.pay .point_box .pay_item .pay_title{width:180px;}
.p-wrap.pay .point_box + .notice{margin-top:14px; padding-left:25px; background:url("/site/booking/images/program/icon_notice.png") no-repeat 0 3px / 18px; color:#c84aa7; font-size:16px;}
@media all and (max-width:1440px){
    .p-wrap.pay .point_box .pay_list{width:auto; padding-top:0; padding-right:5%; padding-bottom:0; padding-left:5%;}
    .p-wrap .file_list .file_name{margin-right:0; margin-bottom:5px}
}
@media all and (max-width:640px){
    .p-wrap .file_list .file_name{width:100%; height:auto; margin-bottom:5px; padding:5px 10px 5px 30px; background-position-x:10px}
    .p-wrap .file_list .file_input_wrap{width:100%}
    .p-wrap .file_list .file_input_wrap .upload_name{width: 100%;/* height:auto; */}
    .p-wrap .file_list .file_input_wrap input[type="file"]{width:0; height:0;}
    .p-wrap.pay .point_box .pay_item .pay_title{width:90px; font-size:14px}
}

/* 대관 썸네일 보기*/
.program_list.eduform.place .tab .tab_panel{position:relative}
.program_list.eduform.place .card--bgcolor .search_band label{width:55px;}
.program_list.eduform.place .operational_status{display:inline-block; position:absolute; top:50%; right:30px; margin-left:57px; font-size:0; line-height:0; transform:translateY(-50%);}
.program_list.eduform.place .operational_status .select_operational{display:inline-block; font-size:14px; vertical-align:middle;}
.program_list.eduform.place .operational_status .p-input.p-input--auto{display:inline-block; min-width:75px; height:35px!important; margin-left:20px; padding:0 0 0 12px; font-size:14px; font-family:inherit; line-height:27px; vertical-align:middle; cursor:pointer; -webkit-padding-end:30px; -webkit-appearance:none; -moz-padding-end:30px; -moz-appearance:none;}
.program_list.eduform.place .box_cate .cate_tag{padding:0 13px; border-radius:14px; color:#fff; font-size:15px; font-weight:600; line-height:28px;}
.box_cate span{margin:0 2px 5px;}
.program_list.eduform.place .box_cate .cate_tag.n1{background:#556fb5;}
.program_list.eduform.place .box_cate .cate_tag.n2{background:#ec6941;}
.program_list.eduform.place .box_cate .cate_tag.n3{background:#fff45c; color:#000;}
.program_list.eduform.place .box_cate .cate_tag.n4{background:#00a2d3;}
.program_list.eduform.place .box_cate .cate_tag.n5{background:#0068b7;}
.program_list.eduform.place .box_cate .cate_tag.n6{background:#601986;}
.program_list.eduform.place .box_cate .cate_tag.n7{background:#e4007f;}
.program_list.eduform.place .box_cate .cate_tag.n8{background:#ac6a00;}
.program_list.eduform.place .box_cate .cate_tag.n9{background:#007130;}
.program_list.eduform.place .box_cate .cate_tag.n10{background:#100964;}
.program_list.eduform.place .box_cate .cate_tag.n11{background:#42749a;}
.program_list.eduform.place .box_cate .cate_tag.n12{background:#f29b76; color:#682306;}
.program_list.eduform.place .box_cate .cate_tag.n13{background:#1a1a1a;}
.tab .tab_content .box_list .box_date.n3 .date_box{border-color:#8fc99f; color:#278f44;}
.program_list.eduform.place .tab .tab_content .box_list .box_title{height:auto;}

/* 대관 상세정보 */
.info_cal .program_title{padding:0 27px;}
.info_cal .program_title span{vertical-align:middle}
.info_cal .program_title span:before{display:inline-block; vertical-align:middle; margin-right:10px}
.info_cal .program_title span + span{margin-left:20px;}
.info_cal.place .program_title span:before{width:30px; height:20px; border-radius:20px;}
.info_cal span.p-off:before{background:#f7dae2}
.info_cal.place .program_title:before{position:unset; height:100%; vertical-align:middle;}
.info_cal .date_table tbody td.p-off{position:relative;}
.info_cal .date_table tbody td.p-off.first{color:#fff; font-weight:400}
.info_cal .date_table tbody td.p-off.last{color:#fff; font-weight:400}
.info_cal .date_table tbody td.p-off:before{display:block; position:absolute; top:27%; z-index:-1; width:calc(100% + 14px); height:38px; border-radius:0 38px 38px 0; background-color:#fdeef2;}
.info_cal .date_table tbody td.p-off.first:before{left:calc(50% - 20px); width:calc(50% + 20px); border-radius:38px 0 0 38px;}
.info_cal .date_table tbody td.p-off.last:before{right:calc(50% - 20px); width:calc(50% + 20px); border-radius:0 38px 38px 0;}
.info_cal .date_table tbody tr td.p-off:first-of-type:before{border-radius:38px;}
.info_cal.place .date_table tbody td.p-on:after{display:none;}
.info_cal.place .date_table tbody td.p-on:before{background:#0172fe;}
.info_cal.place .date_table tbody td.p-on{color:#fff}
.place .info_person .person_wrap{border:none;}
.place .info_content .info_text{line-height:normal;}
.place .info_content .info_text span{vertical-align:middle}
.place .info_content li > div:after{display:inline-block; height:100%; content:''; vertical-align:middle;}
.place .info_content .info_wrap .info_subject{height:160px;}
.place .info_content .info_wrap .info_text{height:160px;}
.place .info_content .info_text ul{padding-top:15px;}

/* 대관 일정선택 */
.info_cal.calendar_view{padding-bottom:30px;}
.info_cal.calendar_view .p-calendar{padding:0; border:none;}
.info_cal.calendar_view .calender_header .calender_text{width:180px; vertical-align:middle}
.info_cal.calendar_view .calender_header .calender_button{position:unset; width:50px; height:50px; margin:0; border:1px solid #d4d4d4; border-radius:50%; background:#fff; box-shadow:0px 16px 32px 0px rgba(0, 0, 0, 0.1); vertical-align:middle;}
.info_cal.calendar_view .calender_header .calender_button:after{display:inline-block; width:17px; height:16px; background:url("/site/booking/images/program/p-icon2.png") no-repeat -114px -6px; vertical-align:middle;}
.info_cal.calendar_view .calender_header .calender_button.prev:after{background-position:-90px -6px; opacity:0.5}
.info_cal.calendar_view thead{position:relative; height:60px;}
.info_cal.calendar_view thead:before{border-radius:25px 25px 0 0;/*display:inline-block;*/}
.info_cal.calendar_view thead th{background:#349fc6; color:#fff;}
.info_cal.calendar_view thead th:first-child{border-radius:25px 0 0 0;}
.info_cal.calendar_view thead th:last-child{border-radius:0 25px 0 0;}
.info_cal.calendar_view tbody td{height:185px; border:1px solid #ddd;}
.info_cal.calendar_view .date_table tbody td.p-off:before,.info_cal.calendar_view .date_table tbody td.p-on:before{display:none}
.info_cal.calendar_view .p-calendar .date_table tbody .day{position:absolute; top:0; left:0; width:fit-content; padding:10px; font-weight:600;}
.info_cal.calendar_view .p-calendar .date_table tbody .day.sat,
.info_cal.calendar_view .p-calendar .date_table tbody .day.sun,
.info_cal.calendar_view .p-calendar .date_table tbody .day.holiday{color:#b00d33;}
.info_cal.calendar_view .p-calendar .date_table tbody .p-on{background:#ecf2ff; cursor:pointer;}
.info_cal.calendar_view .p-calendar .date_table tbody .p-off{background:#fdeef2}
.info_cal.calendar_view .p-calendar .date_table tbody .p-on:after{display:inline-block; content:'신청가능'; color:#2652aa; font-size:19px; font-weight:500;}
.info_cal.calendar_view .p-calendar .date_table tbody .p-off:after{display:inline-block; content:'신청마감'; color:#b00d33; font-size:19px; font-weight:500;}
.info_cal.calendar_view .p-calendar .date_table tbody td.active:before{display:inline-block; position:absolute; top:0; left:0; z-index:0; width:calc(100% - 10px); height:calc(100% - 10px); border:5px solid #2652aa; border-radius:0; background:transparent;}
.info_cal.calendar_view .p-calendar .date_table tbody td.active .day{background:#2652aa; color:#fff;}
.info_cal.calendar_view h3.type2{padding-bottom:15px; border-bottom:3px solid #3534aa;}
.info_cal.calendar_view .time_list{font-size:0}
.info_cal.calendar_view .time_item{display:inline-block; width:calc(100% / 7); height:60px;}
.info_cal.calendar_view .time_item + .time_item{margin-left:35px;}
.info_cal.calendar_view .time_item button{width:100%; height:100%; border:1px solid #2652aa; border-radius:16px; background:#ecf2ff; color:#2652aa; font-size:18px; transition:0.4s;}
.info_cal.calendar_view .time_item button:hover,
.info_cal.calendar_view .time_item button.active{background:#2652aa; color:#fff;}
.info_cal.calendar_view .time_item button:disabled{border-color:#d7d8d9; background:#fff; color:#949494;}
@media all and (max-width:1440px){
    .info_cal.calendar_view .time_item{width:calc(100% / 5); margin-bottom:10px;}
    .info_cal.calendar_view .time_item + .time_item{margin-left:15px;}
    .info_cal.calendar_view .time_item button{font-size:15px;}
    .info_cal.calendar_view .time_item:nth-child(5){margin-left:0}
}
@media all and (max-width:930px){
    .info_cal.calendar_view .calender_header .calender_text{width:160px;}
    .info_cal.calendar_view .calender_header .calender_button{width:40px; height:40px;}
    .info_cal.calendar_view .scroll_table{overflow:auto;}
    .info_cal.calendar_view .date_table{min-width:1100px;}
}
@media all and (max-width:640px){
    .info_cal.calendar_view .time_item{width:calc((100% / 2) - 15px); height:50px;}
    .info_cal.calendar_view .time_item:nth-child(odd){margin-left:0}
}

/* 성동문화재단 4841 */
/* .cts4841_wrap .program_list.eduform .card--bgcolor{padding:48px 0;} */
.cts4841_wrap .program_list.eduform .card--bgcolor select{width:180px; height:50px; margin-right:10px; padding:0 20px; border:1px solid #e0e0e0; border-radius:10px; background:#fff; font-size:14px;}
.cts4841_wrap .program_list.eduform .search_band{width:100%; padding:14px 0; margin:0; text-align:center;}
.cts4841_wrap .program_list.eduform .search_band .search_input{width:60%;}
.cts4841_wrap .program_list.eduform .life_cycle p.select_cycle{width:fit-content; margin-bottom:10px; line-height: normal;}
.cts4841_wrap .program_list.eduform .life_cycle p.select_cycle:before{top:0; background:url("/site/booking/images/program/icon_location.png") no-repeat left center / contain;}
.cts4841_wrap .box_list{padding-right:35px;}
.cts4841_wrap .box_item{display:inline-block; position:relative; width:calc(50% - 37px); margin:35px 0; font-size:0; line-height:normal;}
.cts4841_wrap .box_item:nth-child(even){padding-left:74px;}
.cts4841_wrap .box_item:after{display:inline-block; position:absolute; left:0; bottom:-35px; width:100%; height:1px; background:#d7d8d9;}
.cts4841_wrap .img_wrap{display:inline-block; position:relative; width:230px; height:325px; border:1px solid #dadada; vertical-align:middle; transition:all 0.4s;}
.cts4841_wrap .img_wrap:after{display:inline-block; position:absolute; top:0; left:0; width:100%; height:100%; transition:all 0.4s;}
.cts4841_wrap .img_wrap .img{width:100%; height:100%;}
.cts4841_wrap .img_wrap .tag{position:absolute; top:0; left:0; padding:20px 12px; color:#fff; font-size:16px; font-weight:600; line-height:1;}
.cts4841_wrap .img_wrap .tag.n1{background:#179bf3;}
.cts4841_wrap .img_wrap .tag.n2{background:#c367f2;}
.cts4841_wrap .img_wrap a{opacity:0; position:absolute; top:50%; left:50%; z-index:-1; width:160px; border:2px solid #fff; border-radius:10px; background:url('/site/booking/images/program/facility_next.png') no-repeat 85% center / 6px; color:#fff; font-size:16px; font-weight:500; text-align:center; line-height:50px; transform:translate(-50%, -50%);transition:all 0.4s;}
.cts4841_wrap .img_wrap:hover:after, .cts4841_wrap .img_wrap:focus:after{background:rgba(4, 37, 160, 0.7);}
.cts4841_wrap .img_wrap:hover a, .cts4841_wrap .img_wrap a:focus{opacity:1; z-index:2;}
.cts4841_wrap .info_wrap{display:inline-block; width:calc(100% - 230px); margin:0; padding-bottom:10px; padding-left:35px; font-size:14px; vertical-align:bottom;}
.cts4841_wrap .info_wrap .title{padding-bottom:30px; border-bottom:1px solid #000; color:#000; font-size:26px; font-weight:600; line-height:32px; word-break:keep-all;}
.cts4841_wrap .info_wrap .info_list{margin-top:35px;}
.cts4841_wrap .info_wrap .info_item{font-size:0;}
.cts4841_wrap .info_wrap .info_item + .info_item{margin-top:3px;}
.cts4841_wrap .info_wrap .info_list span{display:inline-block; color:#797979; font-size:16px; vertical-align:middle;}
.cts4841_wrap .info_wrap .info_list .tag.n1 + span{color:#000; font-weight:600;}
.cts4841_wrap .info_wrap .info_list span.tag{width:50px; height:25px; margin-right:10px; border:1px solid; border-radius:5px; font-size:14px; text-align:center; line-height:23px; color:#000}
.cts4841_wrap .info_wrap .info_list span.tag.n2{border-color:#f09daf; color:#cf3939;}
.cts4841_wrap .info_wrap .info_list span.tag.n3{border-color:#9ce0cc; color:#04a480;}
.cts4841_wrap .info_wrap .info_list span.tag.n4{border-color:#9dbaf0; color:#424aaf;}
.cts4841_wrap .info_wrap .info_list span.tag.n5{border-color:#f8987b; color:#f14917;}
.cts4841_wrap .info_wrap .info_list span.tag.n6{border-color:#76cce6; color:#079dbd;}
@media all and (max-width:1440px){
    /* .cts4841_wrap .program_list.eduform .card--bgcolor{padding:20px 0;} */
    .cts4841_wrap .program_list.eduform .card--bgcolor select{width:120px;}
    .cts4841_wrap .select_wrap{padding:15px 30px;}
    .cts4841_wrap .program_list.eduform .life_cycle .select_btn-wrap button{margin-bottom:5px;}
    .cts4841_wrap .box_list{padding:0 3%;}
    .cts4841_wrap .box_item{width:100%;}
    .cts4841_wrap .box_item:nth-child(even){padding-left:0;}
    .cts4841_wrap .info_wrap{border-bottom:none;}
}
@media all and (max-width:880px){
    .cts4841_wrap .program_list.eduform .card--bgcolor .search_band:not(.search_band.n6) .search_input{width:50%; height:50px; margin-top:0;}
}
@media all and (max-width:640px){
    .cts4841_wrap .img_wrap{display:block; margin:0 auto;}
    .cts4841_wrap .info_wrap{width:100%; margin-top:25px; padding-left:0;}
    .cts4841_wrap .info_wrap .title{padding-bottom:26px;}
    .cts4841_wrap .info_wrap .info_list{margin-top:26px;}
    .cts4841_wrap .program_list.eduform .card--bgcolor{padding:10px 22px;}
    .cts4841_wrap .program_list.eduform .card--bgcolor .search_band{text-align:center;}
    .cts4841_wrap .program_list.eduform .search_band .search_input{width:74%;}
    .cts4841_wrap .program_list.eduform .card--bgcolor .search_band .p-button{position:initial; width:auto; height:50px; padding:0 19px; border-radius:9px; font-size:15px;}
    .cts4841_wrap .program_list.eduform .life_cycle p.select_cycle{margin-bottom:0;}
}
@media all and (max-width:484px){
    .cts4841_wrap .program_list.eduform .card--bgcolor{padding:10px;}
    .cts4841_wrap .program_list.eduform .card--bgcolor select{width:80px; padding:0 8px;}
    .cts4841_wrap .program_list.eduform .card--bgcolor .search_band:not(.search_band.n6) .search_input{width:40%;}
}

/* 4843 어린이운동물품대여점 */
.cts4843_wrap .program_list.eduform .card--bgcolor{padding:25px 80px; font-size:14px; line-height:normal;}
.cts4843_wrap .program_list.eduform .card--bgcolor .p-form--group{font-size:0; line-height:normal}
.cts4843_wrap .group_inner{display:inline-block; vertical-align:middle;}
.cts4843_wrap .group_inner.left{width:460px; border-right:1px solid #dbdbdb;}
.cts4843_wrap .group_inner p{display:inline-block; margin-right:50px; color:#4f4dba; font-size:16px; vertical-align:top;}
.cts4843_wrap .check_list{display:inline-block; width:60%; font-size:0;}
.cts4843_wrap .check_item{display:inline-block; position:relative; width:50%; margin-bottom:10px; font-size:15px;}
.cts4843_wrap .check_item input{display:inline-block; opacity:0; position:absolute; top:0; left:0; width:12px; height:12px; padding:0; border:0;}
.cts4843_wrap .check_item input + label{padding-left:30px; background:url('/site/booking/images/program/icon_check.png') no-repeat left center / 18px; font-size:15px; transition:all 0.5s;}
.cts4843_wrap .check_item input:checked + label{background:url('/site/booking/images/program/icon_check_after.png') no-repeat left center / 18px;}
.cts4843_wrap .check_item input:focus + label:after{display:inline-block; position:absolute; top:0; left:0; width:15px; height:15px; border:2px dotted #000;}
.cts4843_wrap .group_inner.right p{width:100px; margin:0;}
.cts4843_wrap .group_item{padding:0 0 25px 60px;}
.cts4843_wrap .group_item:last-child{padding-bottom:0;}
.cts4843_wrap .group_item + .group_item{padding-top:25px; border-top:1px solid #dbdbdb;}
.cts4843_wrap .group_inner.right .check_list{border:none;}
.cts4843_wrap .group_inner.right .check_item{margin-bottom:0;}
.cts4843_wrap .program_list.eduform .card--bgcolor .search_band{margin-bottom:0; margin-left:0;}
.cts4843_wrap .program_list.eduform .card--bgcolor .search_band label{width:100px; margin:0; color:#4f4dba; font-size:16px;}
.cts4843_wrap .program_list.eduform .card--bgcolor .search_band input{width:500px;}
.p-wrap .sport_list{margin:100px 0; font-size:0;}
.p-wrap .sport_item{display:inline-block; width:calc((100% / 5) - 28px); margin-bottom:30px;}
.p-wrap .sport_item + .sport_item{margin-left:35px;}
.p-wrap .sport_item:nth-child(5n + 1){margin-left:0;}
.p-wrap .sport_item a{display:block;}
.p-wrap .sport_item .img{overflow:hidden; position:relative; width:100%; height:calc((100% / 5) - 28px); border:1px solid #dadada; border-radius:20px; text-align:center;}
.p-wrap .sport_item .img .tag{position:absolute; top:10px; left:15px; padding:0 17px; border-radius:14px; color:#fff; font-size:15px; font-weight:600; line-height:26px;}
.p-wrap .sport_item .img .tag.n1{background:#10a77a;}
.p-wrap .sport_item .img .tag.n2{background:#176ee5;}
.p-wrap .sport_item .title{margin:25px 0; font-size:22px; font-weight:600;}
.p-wrap .sport_item .tag_wrap{font-size:0;}
.p-wrap .sport_item .tag_wrap .tag{display:inline-block; width:calc((100% / 2) - 5px); border-radius:5px; font-size:14px; text-align:center; line-height:28px;}
.p-wrap .sport_item .tag_wrap .tag + .tag{margin-left:10px;}
.p-wrap .sport_item .tag_wrap .tag.n1{border:1px solid #9dbaf0; color:#424aaf;}
.p-wrap .sport_item .tag_wrap .tag.n2{border:1px solid #f09daf; color:#cf3939;}
@media all and (max-width:1440px){
    .cts4843_wrap .program_list.eduform .card--bgcolor{padding:20px 50px;}
    .cts4843_wrap .program_list.eduform .card--bgcolor .search_band{width:100%;}
    .cts4843_wrap .group_inner{width:100%;}
    .cts4843_wrap .group_inner p,.cts4843_wrap .group_inner.right p{width:120px; margin-right:0;}
    .cts4843_wrap .program_list.eduform .card--bgcolor .search_band label{width:120px;}
    .cts4843_wrap .group_inner.left{width:100%; padding-bottom:10px; border-right:0; border-bottom:1px solid #dbdbdb;}
    .cts4843_wrap .group_item{padding:20px 0 25px;}
    .cts4843_wrap .check_list{width:calc(100% - 120px);}
    .cts4843_wrap .check_item{width:calc(100% / 5);}
    .p-wrap .sport_item{width:calc((100% / 3) - 15px);}
    .p-wrap .sport_item + .sport_item{margin-left:22px;}
    .p-wrap .sport_item:nth-child(5n + 1){margin-left:22px;}
    .p-wrap .sport_item:nth-child(3n + 1){margin-left:0;}
    .p-wrap .sport_item .img{height:calc((100% / 3) - 15px);}
}
@media all and (max-width:1000px){
    .cts4843_wrap .program_list.eduform .card--bgcolor .search_band{width:100%; margin:0;}
    .cts4843_wrap .program_list.eduform .card--bgcolor .search_band input{width:calc(100% - 255px);}
    .cts4843_wrap .group_inner.right p,.cts4843_wrap .program_list.eduform .card--bgcolor .search_band label{width:134px; margin-bottom:10px;}
    .cts4843_wrap .check_list{width:100%; margin-top:10px;}
    .cts4843_wrap .check_item{width:calc(100% / 3)}
    .cts4843_wrap .group_inner.right .check_item{width:calc(100% / 2);}
}
@media all and (max-width:880px){
    .cts4843_wrap .program_list.eduform .card--bgcolor .search_band:not(.search_band.n6) .search_input{width:calc(100% - 260px); margin-top:0;}
}
@media all and (max-width:640px){
    .cts4843_wrap .program_list.eduform .card--bgcolor{padding:20px 30px;}
    .cts4843_wrap .program_list.eduform .card--bgcolor .search_band label{display:block; margin-bottom:10px;}
    .cts4843_wrap .program_list.eduform .card--bgcolor .search_band:not(.search_band.n6) .search_input{width:calc(100% - 80px);}
    .cts4843_wrap .program_list.eduform .card--bgcolor .search_band .p-button{position:initial; width:auto; padding:0 15px; border-radius:9px; font-size:15px;}
    .p-wrap .sport_list{margin:50px 0;}
    .p-wrap .sport_item{width:calc((100% / 2) - 10px);}
    .p-wrap .sport_item .img{height:calc((100% / 2) - 10px);}
    .p-wrap .sport_item + .sport_item{margin-left:20px;}
    .p-wrap .sport_item:nth-child(3n + 1){margin-left:20px;}
    .p-wrap .sport_item:nth-child(2n + 1){margin-left:auto;}
    .p-wrap .sport_item .title{margin:10px 0;}
    .p-wrap .sport_item .tag_wrap .tag{width:100%;}
    .p-wrap .sport_item .tag_wrap .tag + .tag{margin:5px 0 0;}
    .cts4843_wrap .group_inner p,.cts4843_wrap .group_inner.right p,
    .cts4843_wrap .check_list{width:100%;}
    .cts4843_wrap .group_inner p,.cts4843_wrap .group_inner.right p{margin-bottom:0;}
    .cts4843_wrap .check_item{width:calc(100% / 2);}
}

/* 4844 성동구육아종합지원센터 */
.cts4844_wrap .p-form--group .group_inner{padding:14px 0; text-align:center}
.cts4844_wrap .p-form--group select{width:160px; height:50px; margin-right:10px; padding:0 20px; border:1px solid #e0e0e0; border-radius:10px; background:#fff; font-size:16px;}
.cts4844_wrap .program_list.eduform .card--bgcolor .search_band{margin:0;}
.cts4844_wrap .program_list.eduform .card--bgcolor .search_band .search_input{width:430px; height:50px;}
.cts4844_wrap .program_list.eduform .life_cycle p.select_cycle:before{background:url('/site/booking/images/program/cts4844_icon.png') no-repeat left center / contain;}
@media all and (max-width:1440px){
    .cts4844_wrap .program_list.eduform .card--bgcolor .search_band{display:block; width:100%; margin-top:20px;}
    .cts4844_wrap .program_list.eduform .card--bgcolor .search_band .search_input{width:80%;}
    .cts4844_wrap .tab_panel{text-align:left;}
    .cts4844_wrap .tab_panel p{display:block; margin-bottom:8px;}
    .cts4844_wrap .tab_panel .select_item{margin-bottom:5px;}
}
@media all and (max-width:800px){
    .cts4844_wrap .program_list.eduform .card--bgcolor .search_band:not(.search_band.n6) .search_input{width:80%; margin-top:0;}
    .cts4844_wrap .select_wrap{padding:20px 30px;}
    .cts4844_wrap .select_wrap .select_list{width:100%; margin-top:10px; margin-left:0;}
    .cts4844_wrap .select_wrap .select_item{margin-bottom:5px;}
}
@media all and (max-width:640px){
    .cts4844_wrap .p-form--group select{width:100%; margin-bottom:5px;}
    .cts4844_wrap .program_list.eduform .card--bgcolor .search_band:not(.search_band.n6) .search_input{width:calc(100% - 110px);}
    .cts4844_wrap .program_list.eduform .card--bgcolor .search_band .p-button{position:initial; width:100px; height:50px; margin-top:5px; padding:0 12px; border-radius:9px; font-size:15px;}
}

/* 4845 성동공유센터 */
.cts4845_wrap .program_list.eduform .card--bgcolor{padding:50px 0;}
.cts4845_wrap .program_list.eduform .card--bgcolor .p-form--group{font-size:16px; text-align:center; line-height:normal;}
.cts4845_wrap .p-form--group select{width:160px; height:50px; margin-right:10px; padding:0 20px; border:1px solid #e0e0e0; border-radius:10px; background:#fff; font-size:16px;}
.cts4845_wrap .p-form--group label{margin-right:14px;}
.cts4845_wrap .p-form--group select + label{margin-left:96px;}
.cts4845_wrap .share_list{margin-top:56px; font-size:0;}
.cts4845_wrap .share_item{display:inline-block; width:calc((100% / 6) - 25px); margin-bottom:35px; margin-left:30px; line-height:1;}
.cts4845_wrap .share_item a{display:block;}
.cts4845_wrap .share_item:nth-child(6n + 1){margin-left:0;}
.cts4845_wrap .share_item .img{overflow:hidden; position:relative; height:217px; margin-bottom:15px; border-radius:20px;}
.cts4845_wrap .share_item .img img{width:100%;}
.cts4845_wrap .share_item .type{color:#878787; font-size:14px;}
.cts4845_wrap .share_item .title{margin:15px 0 25px; font-size:22px; font-weight:600;}
.cts4845_wrap .share_item .price{width:100%; border:1px solid #f09daf; border-radius:5px; color:#cf3939; font-size:16px; text-align:center; line-height:34px;}
.cts4845_wrap .share_item .price:before{display:inline-block; content:'₩';}
@media all and (max-width:1440px){
    .cts4845_wrap .p-form--group select + label{margin-left:50px;}
    .cts4845_wrap .share_item{width:calc((100% / 4) - 25px); margin-left:33px}
    .cts4845_wrap .share_item:nth-child(6n + 1){margin-left:33px;}
    .cts4845_wrap .share_item:nth-child(4n + 1){margin-left:0;}
    .cts4845_wrap .share_item .img{height:225px;}
}
@media all and (max-width:1000px){
    .cts4845_wrap .program_list.eduform .card--bgcolor{padding:20px 30px;}
    .cts4845_wrap .program_list.eduform .card--bgcolor .p-form--group{text-align:left;}
    .cts4845_wrap .p-form--group label{display:inline;}
    .cts4845_wrap .p-form--group label:before{display:block; width:100vw; height:100%;}
    .cts4845_wrap .p-form--group select{width:60%; margin-bottom:10px;}
    .cts4845_wrap .share_list{margin-top:30px;}
    .cts4845_wrap .share_item{width:calc((100% / 3) - 25px); margin-left:33px}
    .cts4845_wrap .share_item:nth-child(6n + 1){margin-left:0;}
    .cts4845_wrap .share_item:nth-child(4n + 1){margin-left:33px;}
    .cts4845_wrap .share_item:nth-child(3n + 1){margin-left:0;}
    .cts4845_wrap .share_item .img{height:calc((100% / 3) - 25px);}
}
@media all and (max-width:640px){
    .cts4845_wrap .share_item{width:calc((100% / 2) - 9px); margin-left:18px}
    .cts4845_wrap .share_item:nth-child(6n + 1){margin-left:18px;}
    .cts4845_wrap .share_item:nth-child(4n + 1){margin-left:18px;}
    .cts4845_wrap .share_item:nth-child(3n + 1){margin-left:18px;}
    .cts4845_wrap .share_item:nth-child(2n + 1){margin-left:0;}
    .cts4845_wrap .share_item .img{height:calc((100% / 3) - 25px);}
}

/*사이트맵*/
.p-wrap.sitemap .depth_list{border:1px solid #d1d1d1; border-radius:30px; background:#fff; font-size:0;}
.p-wrap.sitemap .depth_item{display:inline-block; width:calc(100% / 6); height:730px; padding:40px 25px; border-right:unset; font-family:SCDream; vertical-align:top;}
.p-wrap.sitemap .depth_item + .depth_item{border-left:1px solid #d1d1d1;}
.p-wrap.sitemap .depth_item a:hover{text-decoration: underline;}
.depth_item .sub_depth.col{height:100%;}
.depth_item .sub_depth.col li{height:50%;}
.depth_item .sub_depth.col > li + li{position:relative; padding-top:50px;}
.depth_item .sub_depth.col > li + li:before{display:inline-block; position:absolute; top:0; left:-25px; width:calc(100% + 50px); height:1px; background:#d1d1d1; content:'';}
.p-wrap.sitemap .depth_item > a,.p-wrap.sitemap .sub_depth.col > li > a{margin-bottom:24px; color:#0072fe; font-size:25px; font-weight:600; line-height:35px;}
.p-wrap.sitemap .sub_depth > li,.p-wrap.sitemap .sub_depth.col .sub_depth2 li{padding-bottom:5px; line-height:normal;}
.p-wrap.sitemap .sub_depth li > a ,.p-wrap.sitemap .sub_depth.col .sub_depth2 > li a{position:relative; color:#000; font-size:18px; font-weight:400; line-height:28px;}
.p-wrap.sitemap .sub_depth.col .sub_depth2 li li{padding-bottom:0;}
.p-wrap.sitemap .sub_depth.col .sub_depth2 li li a{font-size:15px; font-weight:300;}
.p-wrap.sitemap .sub_depth a.link{padding-right:20px; background:url('/site/booking/images/program/link_icon.png') no-repeat right center / 16px;}
.p-wrap.sitemap .sub_depth2{padding-top:2px; color:#646464; font-size:15px; line-height:28px; font-weight:400}
.p-wrap.sitemap .sub_depth2 li{position:relative; padding-left:12px;}
.p-wrap.sitemap .sub_depth2 li:before{display:block; position:absolute; top:12px; left:0; width:7px; height:1px; background-color:#646464}
.p-wrap.sitemap .sub_depth.col .sub_depth2 > li:before{display:none;}
.p-wrap.sitemap .sub_depth.col .sub_depth2 > li{padding-left:0;}
.p-wrap.sitemap .sub_depth2 li a{font-size:15px; font-weight:300; line-height:28px;}
.p-wrap.sitemap .sub_depth3{margin:5px 0 5px -12px; padding:15px; border-radius:10px; background-color:#f7f8f9;}
.p-wrap.sitemap .sub_depth3 li{line-height: normal;}
.p-wrap.sitemap .sub_depth3 li a{color:#7690aa; font-size:14px; line-height:22px; font-weight:400}
.p-wrap.sitemap .sub_depth3 li:before{display:block; position:absolute; top:9px; left:0; width:4px; height:4px; background-color:#7690aa; border-radius:50%}
@media all and (max-width:1500px){
    .p-wrap.sitemap .depth_item{width:calc(100% / 3); padding:30px 15px;}
    .depth_item .sub_depth.col > li + li:before{left:-15px; width:calc(100% + 30px);}
    .p-wrap.sitemap .depth_item:nth-child(n + 4){border-top:1px solid #d1d1d1;}
    .p-wrap.sitemap .depth_item:nth-child(3n + 1){border-left:0;}
    .p-wrap.sitemap .depth_item > a, .p-wrap.sitemap .sub_depth.col > li > a{margin-bottom:12px; font-size:22px;}
    .p-wrap.sitemap .sub_depth li > a, .p-wrap.sitemap .sub_depth.col .sub_depth2 > li a{font-size:17px; line-height:25px;}
}
@media all and (max-width:640px){
    .p-wrap.sitemap .depth_item{width:100%; height:auto; padding:30px;}
    .p-wrap.sitemap .depth_item + .depth_item{border-left:0; border-top: 1px solid #d1d1d1;}
    .depth_item .sub_depth.col > li + li{margin-top:30px; padding-top:30px;}
    .depth_item .sub_depth.col > li + li:before{left:-30px; width:calc(100% + 60px);}
}