@charset "UTF-8";

.contents_item .procedure{position: relative;font-size:0;line-height:0;top: -71px;}
.contents_item .procedure > p{display:inline-block; font-size:22px; line-height:60px; color:#0072fe; font-family:Pretendard; text-align:center}
.contents_item .procedure .num{width:70px; height:60px; background-color:#0072fe; border-top-left-radius:18px; color:#fff;}
.contents_item .num + p{height:60px;padding: 0 24px 0 22px;border-radius:0 60px 60px 0;border:1px solid #0072fe;vertical-align: top;background-color:#fff}
.cts4847_wrap .contents_list .contents_item .title{margin-top:-48px; text-align: center; height:48px}
.cts4847_wrap .contents_list .contents_item img{margin-top:17px; box-shadow: 6px 9px 24px 0 rgba(0, 0, 0, 0.1);}
.cts4847_wrap .contents_list .contents_item.type3 img{margin-top: 20px;}
.cts4847_wrap .contents_list .contents_item:before{display:block;position:absolute;top: calc(50% - 17px);right: -22px;z-index: 1;width: 0;height: 0;border-left: 22px solid #fff;border-top: 17px solid transparent;border-bottom: 17px solid transparent;}
.cts4847_wrap .contents_list .contents_item:after{display:block;position:absolute;top: calc(50% - 25px);right: -33px;width: 0;height: 0;border-left: 33px solid #d1e2f7; border-top: 25px solid transparent; border-bottom: 25px solid transparent;}
.cts4847_wrap .contents_list .contents_item:last-child:before{display:none}
.cts4847_wrap .contents_list .contents_item:last-child:after{display:none}
.cts4847_wrap .tab_menu.type3 + p.title {width: 100%;height: 100px;font-size: 18px;line-height: 100px;text-align: center;font-weight: 500;background: #f6f7f9;border: 1px solid #d7d8d9; border-radius: 9px;}
.map_box .map_info .map_btn{z-index:1!important}

@media all and (max-width:1440px){
    .contents_item .procedure {left:0; min-width:240px; overflow:hidden}
    .contents_item .procedure > p{font-size:17px}
    .contents_item .procedure .num{width:23%;}
    .contents_item .num + p{width:77%; padding: 0 10px;}
    .cts4847_wrap .contents_list .contents_item .title {height: unset}

}

@media all and (max-width:800px){
    .map_box .map_info .map_btn{top:0}
}

@media all and (max-width: 640px) {
    .cts4847_wrap .contents_list .contents_item .title { font-size:16px;}
    .cts4847_wrap .tab_menu.type3 + p.title {height:unset; padding:20px 0; font-size:16px; line-height:1.5em; word-break:keep-all}
    .cts4847_wrap .contents_list .contents_item{height:auto}
    .cts4847_wrap .contents_list .contents_item:before {top:unset;right: unset;bottom: -27px;left: calc(50% - 8px);z-index: 100;transform: rotate(90deg);}
    .cts4847_wrap .contents_list .contents_item:after {top: unset;right: unset;bottom: -42px;left: calc(50% - 13px);z-index: 1;transform: rotate(90deg)}
}


/* 공유도시 성동이란 (기존 디자인 그대로 이 메뉴에만 적용) */
/* 제목 */
.cts4921#contents .h0, .cts4922#contents .h0, .cts4923#contents .h0{margin:0 0 0 0; padding:0; color:#555; font-size:16px; line-height:24px; font-weight:300;}
.cts4921#contents .h0:before, .cts4922#contents .h0:before, .cts4923#contents .h0:before{display:none;}
.cts4921#contents h3, .cts4922#contents h3, .cts4923#contents h3{position:relative; margin:50px 0 20px;}
.cts4921#contents h3:first-child, .cts4922#contents h3:first-child, .cts4923#contents h3:first-child{margin-top:30px;}
.cts4921#contents h3.h0:first-child, .cts4922#contents h3.h0:first-child, .cts4923#contents h3.h0:first-child{margin-top:auto;}
.cts4921#contents h4, .cts4921#contents .h3, .cts4921#contents .h4, .cts4922#contents h4, .cts4922#contents .h3, .cts4922#contents .h4, .cts4923#contents h4, .cts4923#contents .h3, .cts4923#contents .h4 {position:relative; margin:50px 0 10px;}
.cts4921#contents h3 + h4, .cts4921#contents .h3 + .h4 {margin-top:10px;}
.cts4921#contents h3:before, .cts4922#contents h3:before, .cts4923#contents h3:before{display:block; position:absolute; left:0; top:0; width:35px; height:5px; border-radius:3px; background: rgb(45,144,234);
    background: -moz-linear-gradient(-45deg,  rgba(45,144,234,1) 0%, rgba(164,144,243,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(45,144,234,1) 0%,rgba(164,144,243,1) 100%);
    background: linear-gradient(135deg,  rgba(45,144,234,1) 0%,rgba(164,144,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d90ea', endColorstr='#a490f3',GradientType=1 );
}
.cts4921#contents h3, .cts4921#contents .h3, .cts4922#contents h3, .cts4922#contents .h3, .cts4923#contents h3, .cts4923#contents .h3{padding-top:9px; font-size:24px; line-height:26px; font-weight:500; color:#222;}

@media all and (max-width:640px){
    .cts4921#contents h3, .cts4921#contents h4, .cts4921#contents .h3, .cts4921#contents .h4, .cts4922#contents h3, .cts4922#contents .h3,  .cts4923#contents h3, .cts4923#contents .h3{margin:20px 0 10px;}
    .cts4921#contents h3, .cts4921#contents .h3, .cts4922#contents h3, .cts4922#contents .h3, .cts4923#contents h3, .cts4923#contents .h3{padding-top:4px; padding-left:0; font-size:20px; line-height:22px;}
    .cts4921#contents h3:before, .cts4921#contents .h3:before, .cts4922#contents h3:before, .cts4922#contents .h3:before, .cts4923#contents h3:before, .cts4923#contents .h3:before{width:25px; height: 3px;}
}

/* 강조 단락 */
.cts4921 .emphasis .emphasis_list, .cts4922 .emphasis .emphasis_list{position:relative; margin-top:20px; margin-bottom:25px; padding:34px 220px 34px 116px; background-color:#eef1f7; font-size:0;}
.cts4921 .emphasis .emphasis_list.phone, .cts4921 .emphasis .emphasis_list.manage, .cts4922 .emphasis .emphasis_list.phone, .cts4922 .emphasis .emphasis_list.manage{padding-right:40px;}
.cts4921 .emphasis .emphasis_list:last-child, .cts4922 .emphasis .emphasis_list:last-child{margin-bottom:0;}
.cts4921 .emphasis .emphasis_list:before, .cts4922 .emphasis .emphasis_list:before{display:block; position:absolute; top:50%; left:38px; width:60px; height:60px; margin-top:-30px; border-radius:50%; background:#fff no-repeat center;}
.cts4921 .emphasis .emphasis_list.phone:before, .cts4922 .emphasis .emphasis_list.phone:before{background-image:url('/site/public/images/template/box_icon5.png');}
.cts4921 .emphasis .emphasis_list.link:before, .cts4922 .emphasis .emphasis_list.link:before{background-image:url('/site/public/images/template/box_icon7.png');}
.cts4921 .emphasis .emphasis_title, .cts4922 .emphasis .emphasis_title{font-size:16px; color:#314057; vertical-align:top;}
.cts4921 .emphasis .emphasis_list.phone .emphasis_title, .cts4921 .emphasis .emphasis_list.manage .emphasis_title, .cts4922 .emphasis .emphasis_list.phone .emphasis_title, .cts4922 .emphasis .emphasis_list.manage .emphasis_title{margin-right:19px;}
.cts4921 .emphasis .emphasis_num, .cts4922 .emphasis .emphasis_num{position:relative; padding-left:20px; font-size:18px; vertical-align:top;}
.cts4921 .emphasis .emphasis_num:before, .cts4922 .emphasis .emphasis_num:before{display:block; position:absolute; top:5px; left:0; width:1px; height:16px; background-color:#bcc1ca;}
.cts4921 .emphasis .emphasis_num.n2:before, .cts4922 .emphasis .emphasis_num.n2:before{display:none;}
.cts4921 .emphasis .emphasis_num.n2:before, .cts4922 .emphasis .emphasis_num.n2:before{display:none;}
.cts4921 .emphasis .btn, .cts4922 .emphasis .btn{position:absolute; top:50%; right:40px; margin-top:-23px;}
.cts4921 .emphasis .bu, .cts4922 .emphasis .bu{margin:0;}
.cts4921 .emphasis .btn ,.cts4922 .emphasis .btn{min-width: 172px}

@media all and (max-width:640px){
    .cts4921 .emphasis .emphasis_list, .cts4922 .emphasis .emphasis_list{padding:20px 40px; text-align:center;}
    .cts4921 .emphasis .emphasis_list:before, .cts4922 .emphasis .emphasis_list:before{position:static; margin:0 auto 15px; width:48px; height:48px;}
    .cts4921 .emphasis .emphasis_list.link:before, .cts4922 .emphasis .emphasis_list.link:before{background-size:25px 22px;}
    .cts4921 .emphasis .btn, .cts4922 .emphasis .btn{display:block; position:static; width:151px; margin:10px auto 0;}
    .cts4921 .emphasis .emphasis_list.phone:before, .cts4922 .emphasis .emphasis_list.phone:before{background-size:24px 25px;}
    .cts4921 .emphasis .emphasis_list.phone, .cts4922 .emphasis .emphasis_list.phone{padding-right:40px;}
    .cts4921 .emphasis .emphasis_list.phone .emphasis_title, .cts4921 .emphasis .emphasis_list.manage .emphasis_title, .cts4922 .emphasis .emphasis_list.phone .emphasis_title, .cts4922 .emphasis .emphasis_list.manage .emphasis_title{display:block; margin-right:0;}
    .cts4921 .emphasis .emphasis_list.phone.type3 .lump, .cts4922 .emphasis .emphasis_list.phone.type3 .lump{width:50%;margin-bottom:15px;}
    .cts4921 .emphasis .emphasis_num, .cts4922 .emphasis .emphasis_num{display:block; padding-top:10px; padding-left:0; font-size:14px;}
    .cts4921 .emphasis .emphasis_num:before, .cts4922 .emphasis .emphasis_num:before{top:6px; left:50%; width:16px; height:1px; margin-left:-8px;}
    .cts4921 .emphasis .emphasis_num.n2:before, .cts4922 .emphasis .emphasis_num.n2:before{display:inline-block;}
    .cts4921 .emphasis .btn, .cts4922 .emphasis .btn{display:block; position:static; width:151px; margin:10px auto 0;}
}

/* 박스 */
/* 기본.box */
.cts4922 .box, .cts4923 .box{position:relative; min-height:158px; margin:20px 0; padding:37px 40px 37px 200px; border:1px solid #9fa3af;}
.cts4922 .box:before, .cts4923 .box:before{display:block; position:absolute; top:20px; left:41px; width:119px; height:120px; background:url('/site/public/images/template/box_icon4.png') no-repeat center;}
.cts4922#contents .box .box_title, .cts4923#contents .box .box_title{margin-bottom:16px; margin-top:0; font-size:24px; font-weight:500; color:#283047; line-height:26px;}
.cts4922 .box .box_text, .cts4923 .box .box_text{color:#3c4046; font-size:16px; line-height:24px;}
.cts4922 .box .bu, .cts4922 .box .num, .cts4923 .box .bu, .cts4923 .box .num{margin:0;}

.cts4922 .box, .cts4923 .box {background: #fff; border-radius: 0;}
.cts4922 .box .box_title , .cts4923 .box .box_title {text-align: left;}

@media all and (max-width:640px) {
    .cts4922 .box .box_text, .cts4923 .box .box_text{font-size:14px; line-height:22px;}
}

/* 박스 .list */
.cts4922 .box.list, .cts4923 .box.list{padding:30px 42px; border-right:none; border-left:none; border-width:8px; border-color:rgba(66, 137, 230, 0.1); background:url('/site/public/images/template/box_bg.png') no-repeat right 8px bottom;}
.cts4922 .box.list:before, .cts4922 .box.list:after, .cts4923 .box.list:before, .cts4923 .box.list:after{display:block; position:absolute; top:-8px; width:8px; height:calc(100% + 16px); background:rgba(66, 137, 230, 0.1);}
.cts4922 .box.list:before, .cts4923 .box.list:before{left:0;}
.cts4922 .box.list:after, .cts4923 .box.list:after{right:0;}

/* 아이콘 강조 개요박스 */
.cts4922 .box.icon{min-height:auto; padding:35px 180px 42px 55px; box-sizing:border-box; background-image:url('/site/public/images/template/box_icon_bg1.png'),url('/site/public/images/template/box_icon_bg2.png'); background-repeat:no-repeat;background-position:right 50px top, right bottom;}
.cts4922 .box.icon:before{display:block; position:absolute; left:auto; top:auto; bottom:23px; right:47px; width:67px; height:59px; background:url('/site/public/images/template/box_icon_icon.png') no-repeat center;}

/* 이미지 개요박스 */
.cts4922 .box.img{width:100%; min-height:221px; padding:39px 50px 47px; border:none; background:linear-gradient(to right, rgba(242,241,251,1) 0%,rgba(246,247,251,1) 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f1fb', endColorstr='#f6f7fb',GradientType=1 );}
.cts4922 .box.img:before{top:0; left:0; width:113px; height:82px; background:url('/site/public/images/template/box_bg4.png') no-repeat;}
.cts4922 .box.img:after{display:block; position:absolute; right:0; bottom:0; width:104px; height:74px; background:url('/site/public/images/template/box_bg5.png') no-repeat left top / contain;}
.cts4922 .box.img .img_cts{display:table-cell; position:relative; min-width:220px;}
.cts4922 .box.img .img_cts img{border:5px solid #cbc9d6;}
.cts4922 .box.img .text_cts{display:table-cell; position:relative; padding:6px 0 0 34px; vertical-align:top;}
.cts4922#contents .box.img .box_title{font-size:22px; color:#3d3d3d;}
.cts4922 .box.img .box_text{color:#666;}

@media all and (max-width:640px){
    .cts4922 .box.list{padding:20px 33px; background-size:100px;}

    .cts4922 .box.icon{padding:25px 50px 25px 25px;}
    .cts4922 .box.icon:before{opacity:0.4; right:15px; bottom:15px; }

    .cts4922.box.img{padding:20px;}
    .cts4922.box.img:before{display:block;}
    .cts4922.box.img:after{display:none;}
    .cts4922.box.img .img_cts{display:block; min-width:auto;}
    .cts4922.box.img .text_cts{display:block; padding:15px 0 0 0;}
    .cts4922#contents .box.img .box_title{font-size:18px;}
}


/* 목록 : 기본 */
.cts4922 .bu, .num {margin:10px 0; text-align:left;}
.cts4922 .bu li, .num li{line-height:24px;}
.cts4922 .bu li, p.blt, span.blt{position:relative; margin-bottom:2px; font-size:16px;}
.cts4922 .bu li:last-child, .num li:last-child, p.blt{margin-bottom:0;}
.cts4922 .bu li:before, .num li:before, ul.num > li > .item, p.blt:before, span.blt:before, p.blt.num .item{display:block; position:absolute; left:0;}
.cts4922 .bu > li, p.blt, span.blt{padding-left:16px;}
.cts4922 .bu > li:before, p.blt:before, span.blt:before{left:0; top:10px; width:4px; height:4px; border-radius:50%; background-color:#4289e6;}
.cts4922 .num.dl > li .title{color:#0e355d;}
.cts4922 .bu > li ul, .num > li ul, .bu > li ol{margin:4px 0;}
.cts4922 .bu > li > ul > li, .num > li > ul > li, p.blt.type2, span.blt.type2{padding-left:17px; line-height:22px; color:#666;}
.cts4922 .bu > li > ul.num > li{padding-left:17px;}
.cts4922 .bu > li > ul >li:before, .num > li > ul >li:before, p.blt.type2:before, span.blt.type2:before{left:0; top:11px; width:7px; height:2px; background-color:#97a8be;}
.cts4922 .bu > li > ul >li > ul > li,.num > li > ul >li > ul > li, p.blt.type3{padding-left:16px; line-height:20px; color:#777;}
.cts4922 .bu > li > ul >li > ul > li:before, .num > li > ul >li > ul > li:before, p.blt.type3:before{left:0; top:9px; width:9px; height:6px; background:url('/site/public/images/template/template_sprite.png') no-repeat left -134px;}
.cts4922 .num > li,
.cts4922 p.blt.num {position:relative; margin-bottom:4px; padding-left:34px;}
.cts4922 .num > li:last-child{margin-bottom:0;}
.cts4922 ul.num > li > .item,
.cts4922 p.blt.num .item,
.bu > li > ul.num > li{padding-left:34px;}
.bu > li > ul.num > li:before, p.blt.num:before {display:none;}
p.blt{margin-bottom:0;}
p.blt.dl{display:table;}
p.blt.dl .blt_title{display:table-cell; position:relative; padding-right:33px; font-weight:500; color:#4289e6;}
p.blt.dl .blt_title:before{display:block; position:absolute; top:6px; right:20px; width:1px; height:13px; background-color:#bec8d4;}
p.blt.dl .blt_text{display:table-cell;}

/* 제목과 내용이 있는 ul */
.dl > li{display:table; width:100%;}
.dl > li .title{display:table-cell; position:relative; width:151px; padding-right:33px; font-weight:500; color:#4289e6; line-height: 18px;}
.dl > li .title:before{display:block; position:absolute; top:6px; right:20px; width:1px; height:13px; background-color:#bec8d4;}
.dl > li .text{display:table-cell;}
.dl > li.block .title{display:block; width:auto !important; min-height:24px; padding-right:0;}
.dl > li.block .title:before{display:none;}
.dl > li.block .text{display:block;}

.dl_65.dl > li .title{width:65px;}
.dl_95.dl > li .title{width:95px;}

@media all and (max-width:640px) {
    p.blt.dl{margin-bottom:5px; padding-left:0;}
}

@media all and (max-width:640px){
    .bu li, .num li{font-size:14px; line-height:22px;}
    .bu > li, p.blt{padding-left:10px;}
    .bu > li:before, p.blt:before{top:8px;}
    .bu > li > ul > li, .num > li > ul > li, p.blt.type2, span.blt.type2{padding-left:12px;}
    .bu > li > ul > li:before, .num > li > ul > li:before, p.blt.type2:before ,span.blt.type2{top:9px;}
    .bu > li > ul > li > ul > li, .num > li > ul > li > ul > li, p.blt.type3{padding-left:14px;}
    .bu > li > ul > li > ul > li:before, .num > li > ul > li > ul > li:before, p.blt.type3:before{top:7px;}
    .num > li{padding-left:26px;}
    ul.num > li > .item, ol.num > li:before{width:18px; font-size:11px; line-height:16px;}
    p.blt, p.blt.dl .blt_title, p.blt.dl .blt_text ,span.blt{display:block; font-size:14px; line-height:22px;}
    p.blt.dl{margin-bottom:5px; padding-left:10px;}
    .dl > li{margin-bottom:5px;}
    p.blt, p.blt.dl .blt_title, .dl > li .title{display:block; width:100%; padding-right:0;}
    p.blt.dl .blt_title:before, .dl > li .title:before{display:none;}
    .dl > li .text{display:block;}
}

/* 공유도시 성동이란 */
.cts4921#contents .sharecity h3.h0{display:inline-block; position:relative; padding-top:23px; padding-bottom:27px; font-size:40px; line-height:46px; font-weight:600; letter-spacing:-0.025em; color:#000;}
.cts4921#contents .sharecity h3.h0:before{display:inline-block; position:absolute; left:0; bottom:0; top:auto; width:100%; height:2px; background-color:#000;}

@media all and (max-width:640px){
    .cts4921#contents .sharecity h3.h0{padding-top:17px; padding-bottom:20px; font-size:20px; line-height:26px;}
    .cts4921#contents .sharecity h3.h0:before{height:1px;}
}

/*opening*/
.cts4921 .sharecity .opening{position:relative; padding-left:496px; padding-bottom:350px;}
.cts4921#contents .sharecity .opening h3.h0{margin-bottom:25px;}
.cts4921#contents .sharecity .opening h3 span {color:#2925be;}
.cts4921 .sharecity .opening p{font-size:20px; line-height:32px; letter-spacing:-0.025em; color:#000;}
.cts4921 .sharecity .opening img{display:inline-block; position:absolute; left:0; top:0; max-height:none;}

@media all and (max-width:1300px) {
    .cts4921 .sharecity .opening{padding-left:0; padding-bottom:0; text-align:center;}
    .cts4921 .sharecity .opening img{position:relative; margin-top:30px;}
}

@media all and (max-width:640px) {
    .cts4921 .sharecity .opening p{font-size:16px; line-height:24px;}
    .cts4921 .sharecity .opening img{width:300px;}
}

/*why*/
.cts4921#contents .sharecity .why{text-align:center;}
.cts4921#contents .sharecity .why h3.h0{margin-bottom:42px;}
.cts4921#contents .sharecity .why h3 span{color:#396bf9;}
.cts4921 .sharecity .h4box{margin:40px 0 37px; padding:17px; border:6px solid #c8d8ec;}
.cts4921#contents .sharecity .h4box h4.h0{font-weight:500; color:#094078;}

@media all and (max-width:640px){
    .cts4921#contents .sharecity .why{margin-top:30px;}
    .cts4921#contents .sharecity .why h3.h0{margin-bottom:23px;}
}
@media all and (max-width:480px){
    .cts4921 .sharecity .h4box{margin:20px 0 10px;}
}

.cts4921 .sharecity .why_list{font-size:0; line-height:0;}
.cts4921 .sharecity .why_item{display:inline-block; width:50%; vertical-align:top;}
.cts4921 .sharecity .why_item .bgbox{position:relative; height:556px; margin-top:50px; border-radius:45px; background-repeat:no-repeat;}
.cts4921 .sharecity .why_item .bgbox .title{display:inline-block; margin-top:-50px; width:100px; height:100px; border-radius:50%; box-shadow: 3px 4px 0 0 rgba(197, 201, 212, 1);}
.cts4921 .sharecity .why_item .bgbox .title .text{font-size:24px; font-weight:600; line-height:100px; color:#fff;}
.cts4921 .sharecity .why_item .bgbox .maintext{display:inline-block; position:relative; margin-top:30px; font-size:17px; line-height:32px; letter-spacing:-0.025em; color:#333;}
.cts4921 .sharecity .why_item .bgbox .secondtext{position:relative; margin-top:80px; margin-left:40px; font-size:17px; line-height:26px; letter-spacing:-0.025em; text-align:left;}
.cts4921 .sharecity .why_item .bgbox .secondtext:before{display:inline-block; position:absolute; left:0; top:-36px; width:33px; height:28px;}

.cts4921 .sharecity .why_item.blue .bgbox{background-color:#eef2fc; background-image:url('/site/reserve/images/contents/sharecity_blue_icon.png'); background-position:right 53px bottom 41px; margin-right:3%;}
.cts4921 .sharecity .why_item.blue .bgbox .title{background-color:#396bf9;}
.cts4921 .sharecity .why_item.blue .bgbox .maintext:before{display:inline-block; position:absolute; left:0; top:0; width:14px; height:16px; background-image:url('/site/reserve/images/contents/sharecity_why_star.png');}
.cts4921 .sharecity .why_item.blue .bgbox .maintext:after{display:inline-block; position:absolute; left:0; top:30px; width:409px; height:7px; background-image:url('/site/reserve/images/contents/sharecity_why_underline.png');}
.cts4921 .sharecity .why_item.blue .bgbox .secondtext{color:#314f9b;}
.cts4921 .sharecity .why_item.blue .bgbox .secondtext:before{background-image:url('/site/reserve/images/contents/sharecity_b66.png');}

.cts4921 .sharecity .why_item.red .bgbox{background-color:#fcefea; background-image:url('/site/reserve/images/contents/sharecity_red_icon.png'); background-position:right bottom 35px; margin-left:3%;}
.cts4921 .sharecity .why_item.red .bgbox .title{background-color:#eb6634;}
.cts4921 .sharecity .why_item.red .bgbox .maintext{line-height:28px;}
.cts4921 .sharecity .why_item.red .bgbox .secondtext{color:#ef3f3e;}
.cts4921 .sharecity .why_item.red .bgbox .secondtext:before{background-image:url('/site/reserve/images/contents/sharecity_r66.png');}

.cts4921 .sharecity .why .result{margin:50px 0; font-size:18px; line-height:26px; color:#444; }
.cts4921 .sharecity .why .resultbox{border-radius:45px 50px 50px 45px; background-color:#06a4a2; font-size:0; line-height:0; background-image:url('/site/reserve/images/contents/sharecity_resultbox_bg.png'); background-repeat:no-repeat; background-position:left 103px bottom;}
.cts4921 .sharecity .why .resultbox .result_title{display:inline-block; width:241px; height:100%; padding-top:45px; padding-left:51px; border-radius:45px 0 0 45px; text-align:left; vertical-align:top; }
.cts4921 .sharecity .why .resultbox .result_title span{font-size:32px; line-height:34px; letter-spacing:-0.025em; color:#fff; font-weight:500;}
.cts4921 .sharecity .why .resultbox .result_cont{display:inline-block; width:calc(100% - 241px); padding-top:36px; padding-bottom:36px;  border-radius:0 45px 45px 0; background-color:#f6f6f6;}
.cts4921 .sharecity .why .resultbox .result_list{text-align:left;}
.cts4921 .sharecity .why .resultbox .result_list li{padding:9px 35px; font-size:20px; line-height:30px; letter-spacing:-0.025em; color:#444;}
.cts4921 .sharecity .why .resultbox .result_list li .number{width:27px; height:30px; font-size:0; line-height:0; background-repeat:no-repeat; background-position:left center; vertical-align:top;  }

.cts4921 .sharecity .why .resultbox .result_list li .number.n1{background-image:url('/site/reserve/images/contents/sharecity_num1.png')}
.cts4921 .sharecity .why .resultbox .result_list li .number.n2{background-image:url('/site/reserve/images/contents/sharecity_num2.png')}
.cts4921 .sharecity .why .resultbox .result_list li .number.n3{background-image:url('/site/reserve/images/contents/sharecity_num3.png')}
.cts4921 .sharecity .why .resultbox .result_list li .number.n4{background-image:url('/site/reserve/images/contents/sharecity_num4.png')}

@media all and (max-width:1300px){
    .cts4921 .sharecity .why_item{width:100%;}
    .cts4921 .sharecity .why_item .bgbox{height:470px;}
    .cts4921 .sharecity .why_item .bgbox .title{position:absolute; left:-3%; top:-50px; margin-top:0;}
    .cts4921 .sharecity .why_item.blue .bgbox{margin-left:3%; margin-right:0;}
    .cts4921 .sharecity .why_item.blue .bgbox .maintext:before{top:-5px;}

    .cts4921 .sharecity .why .resultbox{background-position:left 42px bottom;}
    .cts4921 .sharecity .why .resultbox .result_title{width:180px; padding-left:30px;}
    .cts4921 .sharecity .why .resultbox .result_cont{width:calc(100% - 180px);}
}

@media all and (max-width:640px){
    .cts4921 .sharecity .why_item .bgbox .title{top:-30px; width:80px; height:80px;}
    .cts4921 .sharecity .why_item .bgbox .title .text{font-size:18px; line-height:80px;}
    .cts4921 .sharecity .why_item .bgbox .maintext{font-size:14px; line-height:22px;}
    .cts4921 .sharecity .why_item .bgbox .secondtext{margin-top:40px; font-size:14px;}
    .cts4921 .sharecity .why_item.blue .bgbox{background-size:114px 158px;}
    .cts4921 .sharecity .why_item.blue .bgbox .maintext:after{display:none;}

    .cts4921 .sharecity .why .result{margin:25px 0; font-size:15px; line-height:22px;}
    .cts4921 .sharecity .why .resultbox{background-image:none; border-radius:45px 45px 50px 50px}
    .cts4921 .sharecity .why .resultbox .result_title{width:100%; padding-top:15px; padding-bottom:15px;}
    .cts4921 .sharecity .why .resultbox .result_title span{font-size:20px;}
    .cts4921 .sharecity .why .resultbox .result_cont{width:100%; border-radius:0 0 45px 45px; padding-top:15px; padding-bottom:15px;}
    .cts4921 .sharecity .why .resultbox .result_list li{padding:9px 25px; font-size:14px; line-height:25px;}
    .cts4921 .sharecity .why .resultbox .result_list li .number{height:25px;}
}

@media all and (max-width:480px){
    .cts4921 .sharecity .why_item .bgbox{height:auto; padding-bottom:30px; background-image:none;}
    .cts4921 .sharecity .why_item .bgbox .maintext{margin-top:60px; margin-right:30px; margin-left:30px;}
    .cts4921 .sharecity .why_item .bgbox .maintext br{ display:none;}
    .cts4921 .sharecity .why_item .bgbox .secondtext{margin-left:0; text-align:center;}
    .cts4921 .sharecity .why_item .bgbox .secondtext:before{right:0; margin:auto;}

    .cts4921 .sharecity .why_item.blue .bgbox{background-image:none;}
    .cts4921 .sharecity .why_item.blue .bgbox .maintext:before{ left:-13px;}

    .cts4921 .sharecity .why_item.red .bgbox{background-image:none;}

}
/*what*/
.cts4921 .sharecity .what{margin-top:60px; text-align:center;}
.cts4921#contents .sharecity .what h3.h0{margin-bottom:42px;}
.cts4921#contents .sharecity .what h3 span{color:#1091ec;}

.cts4921 .sharecity .what .emphasis{text-align:left;}

@media all and (max-width:640px) {
    .cts4921 .sharecity .what{margin-top:30px;}