@charset "UTF-8";

a {text-decoration:none}


/* 테이블 */
.table.fixed{table-layout:fixed}
.table.break td,.table.break th{word-break:break-all}
.table{width:100%;background-color:#fff;border-top: 1px solid #cacaca;border-bottom: 1px solid #cacaca;text-align:center}
.table td,.table th{border-width:0; border-style:solid}
.table th{padding:5px 10px;background-color:#f7f7f7;color:#131313;font-size:16px;line-height:22px;letter-spacing:-0.025em;font-weight:500;word-break:keep-all}
.table td{padding:15px 10px;border:1px solid #d5d5d5;color:#131313;font-size:15px;line-height:21px;letter-spacing:-0.025em}
.table td:first-child{border-left:none;}
.table td:last-child{border-right:none;}
.table thead th{padding:15px; border:1px solid #d5d5d5;}
.table thead th:first-child{border-left:none;}
.table thead th:last-child{border-right:none;}
.table thead tr+tr th{position:relative; background:0 0; border-left-width:1px;}
/*.table thead tr+tr th:last-child:before{display:block; position:absolute; top:0; right:0; width:1px; min-height:53px; height:100%; background-color:#d5d5d5;}*/
.table tbody th{ border:1px solid #d5d5d5;}
.table tbody th:first-child{border-left:none;}
.table tbody th:last-child{border-right:none;}
.table tbody th+td{border-left-color:#9b9b9b;}
.table th.border-left{border-left:1px solid #ddd!important;}
.table td.border-left{border-left:1px solid #ddd!important;}
.table_wrap .caution{padding-left:0; text-align:right;}
.table_wrap .caution .caution_icon{position:relative; vertical-align:top;}
.table_wrap .caution+.table{margin-top:11px}


/* 스크롤 테이블 */
.table_scroll{margin:10px 0 10px;}
.table_scroll table{margin:0;}
.table_scroll:before, .table_scroll_active:before{display:none;}
.table_scroll .scroll_notice{display:none;}
.table_scroll2{margin:10px 0 10px;}
.table_scroll2 table{margin:0;}
.table_scroll2:before, .table_scroll2_active:before{display:none;}
.table_scroll2 .scroll_notice{display:none;}

@media all and (max-width:800px){
    .table_scroll{position:relative; max-width:100%; overflow-x:auto}
    .table_scroll table{min-width:800px}
}




/*좁은 테이블*/
.table.short thead th,
.table.short tbody th,
.table.short tbody td,
.table tfoot th,
.table.short tfoot td{padding-top:5px; padding-bottom:5px;}

@media screen and (max-width:1400px){
    .table_scroll2{position:relative; max-width:100%; overflow-x:auto;}
    .table_scroll2_active.table_scroll:before{display:none;}
    .table_scroll2 .scroll_notice{display:block;}
    .table_scroll2 table{min-width:1400px;}
}

@media screen and (max-width:800px){
    .table_scroll{position:relative; max-width:100%; overflow-x:auto;}
    .table_scroll_active.table_scroll:before{display:none;}
    .table_scroll .scroll_notice{display:block;}
    .table_scroll table{min-width:800px;}
}
@media all and (max-width:640px){
    .table{font-size:14px;}
    .table_unit{padding-left:20px; font-size:13px; line-height:15px;}
    .table .bu, .table .num,.table .dl,.table .dl2{margin-top:10px;margin-bottom:10px;}
    .table thead th{padding:10px 5px;}
    .table tbody th, .table tbody td, .table tfoot th, .table tfoot td{padding:10px 5px;}

    /*반응형 테이블*/
    table.table.responsive{border-top:#a6a6a6 solid 1px;}
    table.table.responsive thead{display:none;}
    table.table.responsive colgroup{display:none;}
    table.table.responsive tbody tr{position:relative; display:block; padding:5px 4px; border-bottom:1px solid #d9d9d9;}
    table.table.responsive tbody tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
    table.table.responsive tbody td{display:block; float:left; width:100%; padding:4px 3%; border:none; text-align:left !important; box-sizing:border-box; background-color:transparent;}
    table.table.responsive tbody th{display:block; float:left; width:100%; padding:4px 3%; color:#555; text-align:left; vertical-align:middle; background-color:transparent; border:none;}
    table.table.responsive tbody tr:first-child td, table.table.responsive tbody tr:first-child th{border-top:none;}
    table.table.responsive tbody th:before, table.table.responsive tbody td:before{display:inline; content:attr(data-content)' :';}/*theadì˜ ë‚´ìš©ì„ tbodyì˜ th, tdì— ê°ê° ì‚½ìž…*/
    table.table.responsive tfoot tr{position:relative; display:block; border-bottom:1px solid #d9d9d9;}
    table.table.responsive tfoot tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
    table.table.responsive tfoot tr:nth-child(odd){background:#f8f8f8;}
    table.table.responsive tfoot td{display:block; padding:4px 3%; border:none; text-align:left; box-sizing:border-box; background-color:transparent;}
    table.table.responsive tfoot th{display:block; padding:4px 3%; text-align:left; vertical-align:middle; background-color:transparent; border:none;}
    table.table.responsive tfoot tr:first-child td, table.table.responsive tfoot tr:first-child th{border-top:none;}
    table.table.responsive tfoot th:before, table.table.responsive tfoot td:before{display:inline; content:attr(data-content)' :';}/*theadì˜ ë‚´ìš©ì„ tbodyì˜ th, tdì— ê°ê° ì‚½ìž…*/
    table.table.responsive.type2 tbody th:before, table.table.responsive.type2 tbody td:before{display:none;}
    table.table.responsive.type2 tfoot th:before, table.table.responsive.type2 tfoot td:before{display:none;}
}



/* 정렬 */
.text_center{text-align:center!important}
.text_right{text-align:right!important}
.text_left{text-align:left!important}

/* margin */
.margin_0{margin:0!important}
.margin_10{margin:10px!important}
.margin_20{margin:20px!important}
.margin_30{margin:30px!important}
.mt0{margin-top:0!important}
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.mt60{margin-top:60px!important}
.mr0{margin-right:0!important}
.mr5{margin-right:5px!important}
.mr10{margin-right:10px!important}
.mr15{margin-right:15px!important}
.mr20{margin-right:20px!important}
.mr25{margin-right:25px!important}
.mr30{margin-right:30px!important}
.mr35{margin-right:35px!important}
.mr40{margin-right:40px!important}
.mr45{margin-right:45px!important}
.mr50{margin-right:50px!important}
.mr55{margin-right:55px!important}
.mr60{margin-right:60px!important}
.mb0{margin-bottom:0!important}
.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.ml0{margin-left:0!important}
.ml5{margin-left:5px!important}
.ml10{margin-left:10px!important}
.ml15{margin-left:15px!important}
.ml20{margin-left:20px!important}
.ml25{margin-left:25px!important}
.ml30{margin-left:30px!important}
.ml35{margin-left:35px!important}
.ml40{margin-left:40px!important}
.ml45{margin-left:45px!important}
.ml50{margin-left:50px!important}

/* padding */
.padding_0{padding:0!important}
.padding_10{padding:10px!important}
.padding_20{padding:20px!important}
.padding_30{padding:30px!important}
.padding_40{padding:40px!important}
.pt0{padding-top:0!important}
.pt5{padding-top:5px!important}
.pt10{padding-top:10px!important}
.pt15{padding-top:15px!important}
.pt20{padding-top:20px!important}
.pt25{padding-top:25px!important}
.pt30{padding-top:30px!important}
.pt35{padding-top:35px!important}
.pt40{padding-top:40px!important}
.pt45{padding-top:45px!important}
.pt50{padding-top:50px!important}
.pt60{padding-top:60px!important}
.pr0{padding-right:0!important}
.pr5{padding-right:5px!important}
.pr10{padding-right:10px!important}
.pr15{padding-right:15px!important}
.pr20{padding-right:20px!important}
.pr25{padding-right:25px!important}
.pr30{padding-right:30px!important}
.pr35{padding-right:35px!important}
.pr40{padding-right:40px!important}
.pr45{padding-right:45px!important}
.pr50{padding-right:50px!important}
.pb0{padding-bottom:0!important}
.pb5{padding-bottom:5px!important}
.pb10{padding-bottom:10px!important}
.pb15{padding-bottom:15px!important}
.pb20{padding-bottom:20px!important}
.pb25{padding-bottom:25px!important}
.pb30{padding-bottom:30px!important}
.pb35{padding-bottom:35px!important}
.pb40{padding-bottom:40px!important}
.pb45{padding-bottom:45px!important}
.pb50{padding-bottom:50px!important}
.pl0{padding-left:0!important}
.pl5{padding-left:5px!important}
.pl10{padding-left:10px!important}
.pl15{padding-left:15px!important}
.pl20{padding-left:20px!important}
.pl25{padding-left:25px!important}
.pl30{padding-left:30px!important}
.pl35{padding-left:35px!important}
.pl40{padding-left:40px!important}
.pl45{padding-left:45px!important}
.pl50{padding-left:50px!important}

/* 퍼센트 넓이 */
.w5p{width:5%!important}
.w10p{width:10%!important}
.w15p{width:15%!important}
.w20p{width:20%!important}
.w25p{width:25%!important}
.w30p{width:30%!important}
.w35p{width:35%!important}
.w40p{width:40%!important}
.w45p{width:45%!important}
.w50p{width:50%!important}
.w55p{width:55%!important}
.w60p{width:60%!important}
.w65p{width:65%!important}
.w70p{width:70%!important}
.w75p{width:75%!important}
.w80p{width:80%!important}
.w85p{width:85%!important}
.w90p{width:90%!important}
.w95p{width:95%!important}
.w100p{width:100%!important}
@media all and (max-width:765px){
    .w-sm-5p{width:5%!important}
    .w-sm-10p{width:10%!important}
    .w-sm-15p{width:15%!important}
    .w-sm-20p{width:20%!important}
}

/* 추가 */
/*margin*/
.margin_0{margin:0 !important;}
.margin_10{margin:10px !important;}
.margin_20{margin:20px !important;}
.margin_30{margin:30px !important;}

.margin_t_0{margin-top:0 !important;}
.margin_t_5{margin-top:5px !important;}
.margin_t_10{margin-top:10px !important;}
.margin_t_15{margin-top:15px !important;}
.margin_t_20{margin-top:20px !important;}
.margin_t_25{margin-top:25px !important;}
.margin_t_30{margin-top:30px !important;}
.margin_t_35{margin-top:35px !important;}
.margin_t_40{margin-top:40px !important;}
.margin_t_45{margin-top:45px !important;}
.margin_t_50{margin-top:50px !important;}
.margin_t_55{margin-top:55px !important;}
.margin_t_60{margin-top:60px !important;}

.margin_r_0{margin-right:0 !important;}
.margin_r_5{margin-right:5px !important;}
.margin_r_10{margin-right:10px !important;}
.margin_r_15{margin-right:15px !important;}
.margin_r_20{margin-right:20px !important;}
.margin_r_25{margin-right:25px !important;}
.margin_r_30{margin-right:30px !important;}
.margin_r_35{margin-right:35px !important;}
.margin_r_40{margin-right:40px !important;}
.margin_r_45{margin-right:45px !important;}
.margin_r_50{margin-right:50px !important;}
.margin_r_55{margin-right:55px !important;}
.margin_r_60{margin-right:60px !important;}

.margin_b_0{margin-bottom:0 !important;}
.margin_b_5{margin-bottom:5px !important;}
.margin_b_10{margin-bottom:10px !important;}
.margin_b_15{margin-bottom:15px !important;}
.margin_b_20{margin-bottom:20px !important;}
.margin_b_25{margin-bottom:25px !important;}
.margin_b_30{margin-bottom:30px !important;}
.margin_b_35{margin-bottom:35px !important;}
.margin_b_40{margin-bottom:40px !important;}
.margin_b_45{margin-bottom:45px !important;}
.margin_b_50{margin-bottom:50px !important;}
.margin_b_55{margin-bottom:55px !important;}
.margin_b_60{margin-bottom:60px !important;}

.margin_l_0{margin-left:0 !important;}
.margin_l_5{margin-left:5px !important;}
.margin_l_10{margin-left:10px !important;}
.margin_l_15{margin-left:15px !important;}
.margin_l_20{margin-left:20px !important;}
.margin_l_25{margin-left:25px !important;}
.margin_l_30{margin-left:30px !important;}
.margin_l_35{margin-left:35px !important;}
.margin_l_40{margin-left:40px !important;}
.margin_l_45{margin-left:45px !important;}
.margin_l_50{margin-left:50px !important;}

/*padding*/
.padding_0{padding:0 !important;}
.padding_10{padding:10px !important;}
.padding_20{padding:20px !important;}
.padding_30{padding:30px !important;}
.padding_40{padding:40px !important;}

.padding_t_0{padding-top:0 !important;}
.padding_t_5{padding-top:5px !important;}
.padding_t_10{padding-top:10px !important;}
.padding_t_15{padding-top:15px !important;}
.padding_t_20{padding-top:20px !important;}
.padding_t_25{padding-top:25px !important;}
.padding_t_30{padding-top:30px !important;}
.padding_t_35{padding-top:35px !important;}
.padding_t_40{padding-top:40px !important;}
.padding_t_45{padding-top:45px !important;}
.padding_t_50{padding-top:50px !important;}
.padding_t_60{padding-top:60px !important;}

.padding_r_0{padding-right:0 !important;}
.padding_r_5{padding-right:5px !important;}
.padding_r_10{padding-right:10px !important;}
.padding_r_15{padding-right:15px !important;}
.padding_r_20{padding-right:20px !important;}
.padding_r_25{padding-right:25px !important;}
.padding_r_30{padding-right:30px !important;}
.padding_r_35{padding-right:35px !important;}
.padding_r_40{padding-right:40px !important;}
.padding_r_45{padding-right:45px !important;}
.padding_r_50{padding-right:50px !important;}

.padding_b_0{padding-bottom:0 !important;}
.padding_b_5{padding-bottom:5px !important;}
.padding_b_10{padding-bottom:10px !important;}
.padding_b_15{padding-bottom:15px !important;}
.padding_b_20{padding-bottom:20px !important;}
.padding_b_25{padding-bottom:25px !important;}
.padding_b_30{padding-bottom:30px !important;}
.padding_b_35{padding-bottom:35px !important;}
.padding_b_40{padding-bottom:40px !important;}
.padding_b_45{padding-bottom:45px !important;}
.padding_b_50{padding-bottom:50px !important;}

.padding_l_0{padding-left:0 !important;}
.padding_l_5{padding-left:5px !important;}
.padding_l_10{padding-left:10px !important;}
.padding_l_15{padding-left:15px !important;}
.padding_l_20{padding-left:20px !important;}
.padding_l_25{padding-left:25px !important;}
.padding_l_30{padding-left:30px !important;}
.padding_l_35{padding-left:35px !important;}
.padding_l_40{padding-left:40px !important;}
.padding_l_45{padding-left:45px !important;}
.padding_l_50{padding-left:50px !important;}

/* 제목 */
h3{position:relative;}
h3.title{margin-bottom:25px; padding-left:28px; color:#3534aa; font-size:26px; font-weight:400; line-height:35px; letter-spacing:-0.025em;}
h3.title:before{display:inline-block; position:absolute; top:10px; left:0; width:17px; height:16px; border:0; border-radius:0; background-image:url("/site/booking/images/program/arrow2.png");}
