* {
    box-sizing: border-box;
}



.bellows p {
    margin: 0;
}

p + p {
    margin-bottom: 10px;
}

.inner-link h3 {
    display: inline-block;
}

.header-link {
    display: inline-block;
    padding: 4px;
    margin-left: 5px;

    background: rgba(0,0,0,0.1);
    border-radius: 4px;

    font-size: 12px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    vertical-align: middle;

    opacity: 0;
    pointer-events: none;

    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}

.header-link:active {
    background: rbga(0,0,0,0.2);
}

.bellows__item.bellows--is-open .header-link {
    opacity: 1;
    pointer-events: auto;
}
#map {width:calc(100% - 200px);}
#left_side {width: 200px;float: left; background: #3498db;}
#left_side .bellows_header {height:100%; overflow-y: scroll;}
#left_side .bellows_header .submit {font-family:"nanumS"; font-size:12px; font-weight:bold; height:25px; width:54px}
#left_side .bellows_header .search_in {float:left; margin:0 0 0 3px; width:120px; font-family:"nanumS"; font-size:12px; border:1px solid #686868; height:25px;}
#inputPopup2 {width:500px;height:auto;border:1px; padding:5px; background-color:#fff;display:none;}


.table_unit{margin-top:-23px;font-size:1em;text-align:right; }
.table{width:100%;margin:0; font-family:"NanumS"; font-size:14px; border-collapse: collapse; border-spacing:0; border-top:2px solid #000000; border-bottom:2px solid #d4d4d4}
.table th,.table td{padding:6px 10px 4px;border:1px solid #d9d9d9;vertical-align:middle; border-spacing: 0px;}
.table td{background:#fff}
.table .vertical_top td{vertical-align:top;}
.table .vertical_top {vertical-align:top;}
.table thead tr:first-child th{}
.table thead th{padding:10px 2%;background-color:#f5f5f5; border-left:1px solid #dadada;border-right:1px solid #dadada; border-bottom:1px solid #8d8d8d;  font-weight:bold;}
.table .first{border-left:none;}
.table tbody th,.table tfoot th, .table tfoot td{padding:6px 10px 4px;background-color:#f5f5f5;font-weight:normal;}
.table thead th,.table tbody th,.table tfoot th{text-align:center;}
.table td img{vertical-align:middle;}
.table td .bu {margin:15px 0 15px 5px}
.table td .bu li{text-align:left;}
.table .no_pd th, .table .no_pd td {padding:10px 5px}
.iw_inner {
    padding: 10px;
}
.iw_inner h3 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    margin: 10px 0;
}
.iw_inner p {
    font-size: 12px;
    color: #333;
}
.iw_inner img.thumb {
    float: right;
    border: solid 1px #aeaeae;
}
#left_side  .close_btn {    position: absolute; top: 10px;left: 222px;  z-index: 9999; display:none}
#left_side  .close_btn button {    border: 1px solid #444444; background: #fff;  display:inline-block;  width:70px; text-align:center; padding: 5px; font-size: 13px; font-family: "NanumS"; background-size: 100%;}
@media only screen and (max-width:640px){
	.lnb_m_nav {display:block;position:absolute; top:10px; left:42px; background:#fff; z-index:9999;}
	.lnb_m_nav .open{border:1px solid rgb(68, 68, 68); width:84px; padding:5px; font-size:13px; font-family:"NanumS";  background-size:100%;}
	#map {width:100%;}
	.openM #map {width:calc(100% - 180px); margin:0 0 0 180px}
	#left_side {position:fixed;float:none;left:-180px;top:0px; width:180px; height:110px; z-index:1000; }
	#inputPopup2 {width:90%;padding:0px; }
	.bellows__header span {font-size:14px}
}
.count_map {width: 33px;text-align: center; padding: 0; background: #fff; border: solid 1px #ccc;font-size: 12px; display: inline-block; margin: 2px 0 0 -3px;}

/* 181210 추가 */
html, body {height:100%;}

#left_side {float:left; width:240px; height:100%; background-color:#153468; font-family:'NotoKr', sans-serif;}
#left_side .bellows_header .inner_wrap {margin-top:18px; margin-bottom:18px; padding-right:15px; padding-left:15px; font-size:0; line-height:0;}
#left_side .bellows_header .inner_wrap .search_in {width:130px; height:38px; margin-left:0; padding:2px 5px; border-width:0;}
#left_side .bellows_header .inner_wrap span {display:inline-block; padding:2px; background-color:#fff;}
#left_side .bellows_header .inner_wrap .submit {width:56px; height:34px; padding-right:3px; padding-left:3px; background-color:#153468; font-size:16px; line-height:18px; font-family:'NotoKr', sans-serif; font-weight:400;}
#map {float:left; width:calc(100% - 240px); height:100%;}
.bellows {padding-top:0; padding-bottom:0;}
.bellows__item .bellows__header {padding:12px 15px; background-color:#4073c7; border-bottom-color:#153468;}
.bellows__item .bellows__header:before, .bellows__item .bellows__header:after {right:15px; width:16px; height:3px;}
.bellows__item .bellows__header h3 {font-size:18px; line-height:20px;}
.bellows__item .bellows__header button {color:#fff;}
.bellows__item .bellows__item .bellows__header {padding-top:8px; padding-bottom:8px; background-color:#fff;}
.bellows__item .bellows__item .bellows__header h2 {display:block; position:relative; padding-right:20px;}
.bellows__item .bellows__item .bellows__header h2:before {content:''; display:block; position:absolute; top:50%; right:0; width:13px; height:8px; margin-top:-4px; background:url('/common/images/cctv/bellows_item_arrow.png') no-repeat left top; transition:transform 0.25s ease-in-out;}
.bellows__item .bellows__item.bellows--is-open .bellows__header h2:before {transform:rotate(540deg);}
.bellows__item .bellows__item .bellows__header h2 span {padding-top:6px; padding-bottom:8px; padding-left:39px; color:#000; font-size:17px; font-family:'NotoKr', sans-serif; line-height:19px; background:url('/common/images/cctv/cctv_map_icon1.png') no-repeat left center;}
.bellows__item .bellows__item .bellows__header h2.map_2 span {background-image:url('/common/images/cctv/cctv_map_icon2.png');}
.bellows__item .bellows__item .bellows__header h2.map_3 span {background-image:url('/common/images/cctv/cctv_map_icon3.png');}
.bellows__item .bellows__item .bellows__header h2.map_1, .bellows__item .bellows__item .bellows__header h2.map_2, .bellows__item .bellows__item .bellows__header h2.map_3 {background-image:none; background-position:right center; background-size:auto auto;}
.bellows__item .bellows__item .bellows__content {padding-top:10px; padding-bottom:10px; ;background-color:#f2f4f8;}
.bellows__item .bellows__item .bellows__content li a {position:relative; padding-left:15px;color:#000; font-size:16px; line-height:20px; text-decoration:none;}
.bellows__item .bellows__item .bellows__content li a:before {content:''; display:block; position:absolute; top:50%; left:0; width:4px; height:4px; margin-top:-2px; background-color:#205cc0;}
.bellows__item .bellows__item .bellows__content li a:hover, .bellows__item .bellows__item .bellows__content li a:active {text-decoration:underline;}
@media only screen and (max-width:640px){
	#left_side {position:static;}
}

#map .pin_label {display:inline-block; padding-right:15px; padding-left:15px; border:2px solid #4073c7; border-radius:5px; background-color:#fff; color:#000; font-size:15px; line-height:25px; font-family:'NotoKr', sans-serif;}
#map .pin_label.type2 {border-color:#0095a7;}
#map .pin_label.type3 {border-color:#dc4848;}

#inputPopup2 {width:510px; background-color:#4073c7; font-family:'NotoKr', sans-serif;}
#inputPopup2 .popup_title {padding:18px 50px 22px 25px; color:#fff; font-size:22px; line-height:24px;}
#inputPopup2 .table {border-top-width:0; border-bottom-width:0; font-family:'NotoKr', sans-serif;}
#inputPopup2 .table tbody tr:first-child th, #inputPopup2 .table tbody tr:first-child td {border-top:1px solid #3a3a3a;}
#inputPopup2 .table tbody th, #inputPopup2 .table tbody td {padding-top:12px; padding-bottom:11px; font-size:16px; line-height:18px;}
#inputPopup2 .table tbody th {color:#000; font-weight:600; background-color:#fcfcfd;}
#inputPopup2 .table tbody td {padding-left:25px; padding-right:25px;}
#inputPopup2 .bClose2.bClose {position:absolute; top:22px; right:30px; width:30px; height:30px; font-size:0;}
#inputPopup2 .bClose2.bClose:before, #inputPopup2 .bClose2.bClose:after {content:''; display:block; position:absolute; top:0; left:50%; width:7px; height:32px; margin-left:-4px; border-radius:20px; background-color:#fff;}
#inputPopup2 .bClose2.bClose:before {transform:rotate(225deg);}
#inputPopup2 .bClose2.bClose:after {transform:rotate(-225deg);}