/* (주)한신정보기술 송경배 - 2020.05.19 */

/* colgroup */
.colgroup{float:right; position:relative; width:980px; margin-top:30px;}
@media all and (max-width:1280px) {
	.colgroup{width:700px;}
}
@media all and (max-width:1000px) {
	.colgroup{float:none; width:auto;}
}

/* 콘텐츠 */
#contents{position:relative; min-height:500px; margin-top:20px; margin-bottom:50px;}
@media all and (max-width:640px) {
	#contents{min-height:300px; margin-top:0; margin-bottom:25px;}
}


/* 사이드 메뉴 */
.side{float:left; position:relative; z-index:30; width:260px; margin-top:30px; font-size:0; line-height:0;}

/* 사이트 타이틀 */
.side .side_title{position:relative; width:260px; height:120px; background:url('../images/sub/side_title.png') no-repeat 0 0; text-align:center;}
.side .side_title:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
.side .side_subject{display:inline-block; padding-left:20px; padding-right:20px; vertical-align:middle; color:#fff; font-size:30px; line-height:34px; letter-spacing:-0.025em;}
.side .side_menu{position:relative;margin-top:16px;}

/* 2차 메뉴 */
.side .menu .depth1_item{margin-top:-1px; border-width:1px; border-style:solid; border-color:#d6d6d6; box-sizing:border-box; transition-property:border-width, border-color;}
.side .menu .depth1_text{display:block; position:relative; padding:16px 30px 16px 24px; color:#333; font-size:17px; line-height:22px; letter-spacing:-0.025em; text-decoration:none; word-break:keep-all; transition-property:background-color, color, font-size;}
.side .menu .depth1_text:hover{text-decoration:underline;}
.side .menu .depth1_text[target='_blank']:after{display:block; position:absolute; top:4px; right:0; width:14px; height:14px; background-color:#333;} /* 위치 조정 필요함 */
.side .menu .depth1_item.has .depth1_text:after{display:block; position:absolute; top:0; bottom:0; right:0; margin-top:auto; margin-bottom:auto; width:0; height:0; background-color:#333; transition-property:none;}

/* 2차 메뉴 활성화 */
.side .menu .depth1_item.active{position:relative; z-index:10; border-color:#0c96e3;}
.side .menu .depth1_item.active .depth1_text{background-color:#0c96e3; color:#fff; font-size:18px;}
.side .menu .depth1_item.active .depth1_text:before{visibility:visible; opacity:1;}
.side .menu .depth1_item.active .depth1_text:hover{text-decoration:none;}
.side .menu .depth1_item.has.active .depth1_text:after{right:20px; width:7px; height:11px;}
.side .menu .depth1_item.active .depth2{border-width:1px; border-top-width:0; border-style:solid; border-color:#0c96e3;}

/* 3차 메뉴 */
.side .menu .depth2{transition-property:visibility, opacity;}
.side .menu .depth2_list{padding-top:0; padding-bottom:0; padding-left:24px; padding-right:20px; transition-property:padding-top, padding-bottom;}
.side .menu .depth2_item{margin-top:0; transition-property:margin-top;}
.side .menu .depth2_text{display:block; position:relative; padding-left:12px; text-decoration:none; transition:none;}
.side .menu .depth2_text:before{visibility:hidden; opacity:0; display:none; position:absolute; top:10px; left:0; width:3px; height:3px; background-color:#0c96e3; transition-property:visibility, opacity;}
.side .menu .depth2_text[target='_blank']:after{display:block; position:absolute; top:0; right:0; width:0; height:0; background-color:blue; transition:none;}


/* 3차 메뉴 활성화 */
.side .menu .depth1_item.active .depth2{visibility:visible; opacity:1;}
.side .menu .depth1_item.active .depth2_list{padding-top:16px; padding-bottom:16px;}

.side .menu .depth1_item.active .depth2_item{margin-top:6px;}
.side .menu .depth1_item.active .depth2_item:first-child{margin-top:0;}

.side .menu .depth1_item.active .depth2_text{font-size:16px; line-height:22px;}
.side .menu .depth1_item.active .depth2_item.has .depth2_text:after{display:block; position:absolute; top:0; bottom:0; right:0; margin-top:auto; margin-bottom:auto; width:11px; height:6px; background-color:#333; transition-property:none;}
.side .menu .depth2_text:hover,
.side .menu .depth2_item.active .depth2_text{color:#0c96e3;}
.side .menu .depth1_item.active .depth2_text:before{visibility:visible; opacity:1; display:block;}
.side .menu .depth1_item.active .depth2_text[target='_blank']:after{top:0; width:12px; height:12px;}
.side .menu .depth1_item.active .depth2_item.has.active .depth2_text:after{background-color:#ccc;}

/*.side .menu .depth2_text:hover:before,
.side .menu .depth1_item.active .depth2_item.active .depth2_text:before {background-color:red;}*/

/*
.side .menu .depth2_item.has .depth2_text:hover:after,
.side .menu .depth2_item.has.active .depth2_text:after {background-color:#4c7de7; background-image:none;}
*/

/* 4차 메뉴 */
.side .menu .depth3{transition-property:visibility, opacity;}
.side .menu .depth3_list{margin-top:0; padding-top:0; border-width:0; border-style:solid; border-color:#0c96e3; transition-property:margin-top, padding-top;}
.side .menu .depth3_item{margin-top:0; transition-property:margin-top;}
.side .menu .depth3_text{position:relative; padding-left:0; color:#6c6c6c; font-size:0; line-height:0; word-break:keep-all; transition:none;}
.side .menu .depth3_text:before{visibility:hidden; opacity:0; display:block; position:absolute; top:9px; left:0; width:0; height:0; background-color:#0c96e3;}
.side .menu .depth3_text[target='_blank']:after{display:inline-block; width:0; height:0; background-color:red; transition:none;}


/* 4차 메뉴 활성화 */
.side .menu .depth1_item.active .depth2_item.active .depth3{visibility:visible; opacity:1;}
.side .menu .depth1_item.active .depth2_item.active .depth3_list{margin-top:6px; padding-top:5px; border-top-width:1px;}
.side .menu .depth1_item.active .depth2_item.active .depth3_item{margin-top:4px;}
.side .menu .depth1_item.active .depth2_item.active .depth3_text{padding-left:12px; padding-right:12px; font-size:15px; line-height:22px;}
.side .menu .depth1_item.active .depth2_item.active .depth3_text:before{visibility:visible; opacity:1; width:6px; height:6px;}
.side .menu .depth1_item.active .depth2_item.active .depth3_text[target='_blank']:after{width:12px; height:12px; margin-left:10px;}

@media all and (max-width:1000px) {
	.side{display:none;}
}


/* 경로 */
.path{position:relative; padding-left:16px;}
.path .path_home{display:block; position:absolute; top:1px; left:0; width:16px; height:15px; background-color:#ccc;}
.path .path_list{font-size:0; line-height:0;}
.path .path_item{display:inline-block; position:relative; margin-left:8px; padding-left:12px; color:#606060; font-size:15px; line-height:17px; letter-spacing:-0.025em;}
.path .path_item:after{display:block; position:absolute; top:0; bottom:0; left:0; width:6px; height:9px; margin-top:auto; margin-bottom:auto; background-color:#ccc;}


/* 서브헤드 */
.sub_head{}
.sub_head .sub_info{position:relative; margin-top:36px; padding-bottom:25px; border-bottom:1px solid #b2b2b2;}
.sub_head .sub_title{color:#000; font-size:30px; line-height:32px; letter-spacing:-0.025em;}

/* 공유, 인쇄하기 */
.addons{position:absolute; top:0; right:0;}
.addons .addons_item{float:left;}
.addons .addons_item + .addons_item{margin-left:25px;}
.addons .addons_button{position:relative; color:#283047; font-size:14px; line-height:32px; letter-spacing:-0.025em;}
.addons .addons_button:before{display:block; position:absolute; top:0; bottom:0; left:0; background-color:#ccc; margin-top:auto; margin-bottom:auto;}

.addons .share{position:relative; font-size:0; line-height:0;}
.addons .share .addons_button{padding-left:25px;}
.addons .share .addons_button:before{width:18px; height:16px;}

.addons .share .share_panel{display:none; position:absolute; top:0; left:-100%; width:92px;}
.addons .share .share_list{display:inline-block;}
.addons .share .share_item{float:left;}
.addons .share .share_anchor:before{display:block; width:32px; height:32px; background-color:#ccc;}
.addons .share .share_close{display:inline-block;}
.addons .share .share_close:before{display:block; position:absolute; top:0; bottom:0; right:0; width:16px; height:16px; margin-top:auto; margin-bottom:auto; background-color:red;}

.addons .print .addons_button{padding-left:22px;}
.addons .print .addons_button:before{width:16px; height:15px;}


/* 공유, 인쇄하기 활성화 */
.addons .share.active .share_panel{display:block;}


/* 탭메뉴 */
@media all and (min-width:1001px){

	.tab_menu{font-size:0; line-height:0;}
	.tab_select{display:none;}
	.tab_content{display:none;}
	.tab_content.active{display:block;}

	.tab .tab_select{display:block; font-size:16px; line-height:18px; color:#000;}



	/* 기본&5차탭메뉴 */
	.tab_menu.type2{margin-top:40px;}
	.tab_menu.type2 .tab_list{margin-top:-10px; margin-left:-10px; }
	.tab_menu.type2 .tab_item{display:inline-block; width:20%; padding-top:10px; padding-left:10px; text-align:center;}
	.tab_menu.type2 .tab_item:first-child{margin-left:0;}
	.tab_menu.type2 .tab_anchor,
	.tab_menu.type2 .tab_button{width:100%; padding:15px 10px 16px 10px; background-color:#eceff3; border-width:3px; border-style:solid; border-color:#eceff3; vertical-align:middle; color:#3c4046; font-size:16px; line-height:18px; letter-spacing:-0.03em;}
	.tab_menu.type2 .tab_anchor[target='_blank']:after{display:inline-block; width:14px; height:14px; margin-left:8px; background-color:blue;}

	/* 활성화 일때 */
	.tab_menu.type2 .tab_item.active .tab_anchor,
	.tab_menu.type2 .tab_item.active .tab_button{background-color:#fff; border-color:#015acd; color:#015acd;}

	/* 6차탭메뉴 */
	.tab_menu.type3{margin-top:40px; padding-left:15px; padding-right:15px; border-top:1px solid #cacaca; border-bottom:1px solid #cacaca;}
	.tab_menu.type3 .tab_list{padding-top:8px; padding-bottom:8px;}
	.tab_menu.type3 .tab_item{display:inline-block; position:relative; margin-right:15px; padding-right:18px;}
	.tab_menu.type3 .tab_item:before{display:block; position:absolute; top:0; bottom:0; right:0; width:3px; height:3px; margin-top:auto; margin-bottom:auto; background-color:#9e9e9e;}
	.tab_menu.type3 .tab_anchor,
	.tab_menu.type3 .tab_button{position:relative; margin-top:9px; margin-bottom:8px; vertical-align:middle; color:#555; font-size:15px; line-height:17px; letter-spacing:-0.035em;}
	.tab_menu.type3 .tab_item:last-child{margin-right:0; padding-right:0;}
	.tab_menu.type3 .tab_item:last-child:before{display:none;}

	/* 활성화 일때 */
	.tab_menu.type3 .tab_item.active .tab_anchor{color:#015acd;}
	.tab_menu.type3 .tab_item.active .tab_anchor:after{display:block; position:absolute; bottom:-5px; left:0; width:100%; height:2px; background-color:#015acd;}
}

