@charset "UTF-8";

/* reset style */
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;}
html,body,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ol,ul,li,blockquote,pre,button,fieldset,form,legend,table,caption,tbody,tfoot,thead,tr,th,td,iframe,article,aside,canvas,details,embed,figure,figcaption,header,footer,menu,nav,section,summary,audio,video{margin:0;padding:0;border:0;font-size:inherit;font-family:inherit;vertical-align:baseline;}
* { -webkit-text-size-adjust: none; }
img,fieldset{border:none;}
fieldset{min-width:0;}
b,strong{font-weight:600;}
em,dfn,cite,address,i{font-style:normal;}
mark{background-color:#ff0;color:#000;}
small{font-size:90%;}
sup,sub{position:relative;font-size:0.9em;line-height:0;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
del{text-decoration:line-through;}
label{cursor:pointer;}

ol,ul,li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
/* 2017-09-12 호환성 관련 삭제*/
/*
legend,caption,hr{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0;}*/
hr{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0;}
.clearfix:after{display:block;visibility:hidden;clear:both;content:".";overflow:hidden;width:0;height:0;font-size:0;line-height:0;text-indent:-9999px;}
.clearfix{display:inline-block;}
.clearfix{display:block;}
.clear{clear:both;}
.hide{display:none;}
/* .skip{position:absolute;overflow:hidden;width:0;height:0;margin:0;padding:0;background:transparent;font-size:0;line-height:0;} */
/* 2017-09-12 호환성 관련 삭제 */
/*
#contents .skip,.skip{position:absolute;width:0;height:0;margin:0;padding:0;color:transparent;font-size:0;line-height:0;}
@media all and (max-width:800px) {
  #contents .skip,.skip{position:absolute;width:0;height:0;margin:0;padding:0;color:transparent;font-size:0;line-height:0;}
}*/
legend,caption,#contents .skip,.skip{position:absolute;top:0;left:0;margin:0;padding:0;color:transparent;font-size:3px;line-height:1px;}
.fleft{display:inline;float:left;}
.fright{display:inline;float:right;}
/* form 요소 초기화 */
input{font-size:inherit;font-family:inherit;color:inherit;vertical-align:middle;}
input[type="file"]{border:none;}
input[type="image"]{height:auto;margin:0;border:none;padding:0;line-height:inherit;}
input[type="radio"],input[type="checkbox"]{border:none;}
button{margin:0;padding:0;background:none;border:none;text-transform:none;vertical-align:middle;}
button,[type="button"],[type="reset"],[type="submit"]{margin:0;padding:0;background:none;border:none;cursor:pointer;}
select{font-size:inherit;font-family:inherit;color:inherit;text-transform:none;vertical-align:middle;}
textarea{font-size:inherit;font-family:inherit;color:inherit;vertical-align:middle;resize:none;}
input[disabled="disabled"]{background:#ebebeb;color:#959595;}
select[disabled="disabled"]{background:#ebebeb;color:#959595;}
/* form 요소 기본 스타일 지정 */
input{height:24px;margin:1px;padding:1px 3px;border:solid 1px #dedede;line-height:24px;}
input[type="submit"]{height:28px;line-height:24px;}
input[type="radio"],input[type="checkbox"]{width:14px;height:14px;}
select{height:28px;padding:1px 0 1px 3px;border:solid 1px #dedede;background:#fff;line-height:24px;}
textarea{min-height:80px;padding:1px 3px;border:solid 1px #dedede;line-height:25px;}
/* anchor 요소 초기화 */
a:link{color:#636363;text-decoration:none;}
a:visited{color:#636363;text-decoration:none;}
a:hover{color:#000;text-decoration:underline;}
a:active{color:#000;text-decoration:underline;}
/* 본문바로가기 */
.accessibility a{overflow:hidden;position:relative;z-index:1000;width:100%;}
.accessibility a{display:block;overflow:hidden;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;text-align:center;}
.accessibility a:focus,.accessibility a:hover,.accessibility a:active{width:auto;height:20px;margin:0;padding:8px 0 0 15px;background:#20262c;font-size:12px;font-weight:700;line-height:1;color:#fff;}


/* 본고딕*/

@font-face{
   font-family:'NotoKr';
   font-weight: 400;
   src:url("../font/SpoqaHanSans-Regular.woff2") format('woff2'),
        url("../font/SpoqaHanSans-Regular.woff") format('woff');
}

@font-face{
   font-family:'NotoKr';
   font-weight: 600;
   src:url("../font/SpoqaHanSans-Bold.woff2") format('woff2'),
       url("../font/SpoqaHanSans-Bold.woff") format('woff');
}

/*  OpenSans */
@font-face{
font-family:'Opensans';
font-weight: 400;
src:url("../font/OpensansR.eot");
src:url("../font/OpensansR.eot?#iefix") format('embedded-opentype'),
    url("../font/OpensansR.woff") format('woff');
}
@font-face{
font-family:'Opensans';
font-weight: 600;
src:url("../font/OpensansB.eot");
src:url("../font/OpensansB.eot?#iefix") format('embedded-opentype'),
    url("../font/OpensansB.woff") format('woff');
}

/* 나눔명조 */
@font-face{
	font-family:'NanumM';
	font-weight: 400;
	src:url("../font/NanumMyeongjo.eot");
	src:url("../font/NanumMyeongjo.eot?#iefix") format('embedded-opentype'),
		url("../font/NanumMyeongjo.woff") format('woff');
}

/* 제목 */
h2,h3,h4{margin:0 0 10px 0;padding:10px 0 0 0;background:url(../images/admin_icon.png) no-repeat;}
h2{background-position:-258px top;color:#242933;font-size:15px;line-height:18px;}
h3{background-position:-258px -165px;color:#403540;font-size:14px;line-height:18px;}
h4{background-position:-258px -252px;color:#664c57;font-size:13px;line-height:18px;}
/* 탭메뉴 */
.tab_menu{margin:20px 0 0 0;}
/* 4차 탭메뉴 버튼형식 */
.tab_menu li{display:inline;float:left;margin:-1px 0 0 -1px;}
.tab_menu a{display:block;padding:0 10px;background-color:#f2f2f2;border:solid 1px #d9d9d9;font-size:13px;line-height:29px;text-align:center;text-decoration:none;white-space:nowrap;transition:all 0.5s;}
.tab_menu .on a,.tab_menu a:hover{background-color:#383e4c;border-color:#4c525e;color:#fff;transition:all 0.5s;}
/* 테이블 서식 */
table.table{width:100%;margin:5px 0 10px;}
table.table th,table.table td{padding:5px 7px;border-bottom:1px solid #d9d9d9;border-left:1px solid #d9d9d9;color:#555;font-size:14px;line-height:17px;vertical-align:middle}
table.table thead tr:first-child th{border-top:2px solid #8a8a8a;border-bottom:1px solid #8a8a8a}
table.table thead th{background-color:#eee;border-left:1px solid #8a8a8a;color:#333;font-weight:normal;}
table.table thead,table.table tfoot,table.table tbody{border-right:1px solid #d9d9d9;}
table.table tbody th,#admin_content .table tfoot th, #admin_content table.table tfoot td{background-color:#f7f7f7;font-weight:normal;}
table.table.type2 tbody tr:first-child th,#admin_content .table.type2 tbody tr:first-child td{border-top:2px solid #8a8a8a;}
/*
table.table.list a{padding:0 15px 0 0;background:url(../images/admin_icon.png) no-repeat right -306px;border-bottom:1px solid transparent;}
table.table.list a:hover{color:#222;border-bottom-color:#222;line-height:16px;text-decoration:none;}
*/
/* 목록 강조 리스트 */
.bu{}
.bu li{margin:0 0 5px;padding:0 0 0 7px;background:url(../images/admin_icon.png) no-repeat left -561px;}
.bu ul,.bu div{margin:0 0 10px;padding:5px 10px;background-color:#ddd;}
.bu li li{margin:0;padding:0;background:none;font-size:12px;}
.point_list span{display:inline-block;width:108px;margin:0 10px 0 0;border:1px solid #005bab;border-radius:3px;overflow:hidden;line-height:32px;text-align:center;vertical-align:middle;}
.point_list span em{display:block;border-right:9px solid #005bab;background:#fff;}
.content .blt{margin:0;padding:2px 0 3px 12px;background:url(/common/images/sub/template_icon.png) no-repeat -17px -744px;}
.content .blt.type2{margin:5px 0 0 0;padding:5px 0 7px 35px;background-position:left -1358px;}

/* 버튼 / 링크 / */
.btn,.btn:link,.btn:visited{display:inline-block;position:relative;min-height:31px;margin:1px 0;padding:0 15px;background-color:#333;color:#fff;cursor:pointer;font-size:13px;font-weight:400;line-height:31px;text-align:center;text-decoration:none;vertical-align:top;}
.btn:hover{color:#efefef;font-weight:600;}
.btn input[type="submit"]{height:auto;margin:0 0 1px 0;padding:0;background-color:transparent;border:none;color:#fff;line-height:25px;vertical-align:middle;}
.btn.type2 input[type="submit"]{color:#222;}
.btn span{display:inline-block;margin:1px 0 0 0;padding:0 0 1px;border-bottom:1px solid transparent;line-height:18px;vertical-align:middle;}
.btn:hover span{border-color:#fff;}
.btn:hover span input[type="submit"]{line-height:17px;}
.btn.type3 {border:1px solid #bbb; background:#ccc; padding:0 10px; margin: 0 5px; color:gray;}

/* 버튼 배경 색상 *- 기본 검정색임 -* */
.content .bg_color1{border:1px solid #bbb; background:#ccc;color:gray;}/* *-회색-* */
.content .bg_color2{background-color:#c5181f;}/* *-빨강-* */
.content .bg_color3{background-color:#0061cf;}/* *-파랑-* */
.content .bg_color4{background-color:#009011;}/* *-녹색-* */
.content .bg_color5{background-color:#ff5a00;}/* *-주황-* */
/* 아래는 기냥 만들어놓은 색 !! */
.content .bg_color6{background-color:#75b422;}/* *-연두색-* */
.content .bg_color7{background-color:#ffd800;}/* *-겨자-* */
.content .bg_color8{background-color:#fffc00;color:#222;}/* *-노랑-* */
.content .bg_color9{background-color:#00c5cc;}/* *-에메랄드-* */
.content .bg_color10{background-color:#008cd5;}/* *-연파랑-* */
.content .bg_color11{background-color:#f00077;}/* *-분홍-* */
.content .bg_color12{background-color:#4e8082;}/* *-연청회색-* */
.content .bg_color13{background-color:##d28f7f;}/* *-연갈색-* */
/* 라인 버튼 */
.btn.type2{min-height:29px;background-color:#fff;border:1px solid transparent;color:#333;line-height:29px;}
.btn.type2:hover span{border-color:#333;}
/* 버튼 라인 색상 */
.btn.type2{border-color:#333;color:#333;}/* *-기본 검정-* */
.btn.type2:hover span{border-color:#333;}
.content .line_color2,.content .btn.type2.line_color2:hover span{border-color:#c5181f;color:#c5181f;}/* *-빨강-* */
.content .line_color2 input[type="submit"]{color:#c5181f;}
.content .line_color3,.content .btn.type2.line_color3:hover span{border-color:#0061cf;color:#0061cf;}/* *-파랑-* */
.content .line_color3 input[type="submit"]{color:#0061cf;}
.content .line_color4,.content .btn.type2.line_color4:hover span{border-color:#009011;color:#009011;}/* *-녹색-* */
.content .line_color4 input[type="submit"]{color:#009011;}
.content .line_color5,.content .btn.type2.line_color5:hover span{border-color:#ff5a00;color:#ff5a00;}/* *-주황-* */
.content .line_color5 input[type="submit"]{color:#ff5a00;}
/* 아래는 기냥 만들어놓은 색 !! */
.content .line_color6,.content .btn.type2.line_color6:hover span{border-color:#75b422;color:#75b422;}/* *-연두-* */
.content .line_color6 input[type="submit"]{color:#75b422;}
.content .line_color7,.content .btn.type2.line_color7:hover span{border-color:#ffd800;color:#ffd800;}/* *-겨자-* */
.content .line_color7 input[type="submit"]{color:#ffd800;}
.content .line_color8{border-color:#fffc00;color:#222;}/* *-노랑-* */
.content .btn.type2.line_color8:hover span{border-color:#222;}
.content .line_color9,.content .btn.type2.line_color9:hover span{border-color:#00c5cc;color:#00c5cc;}/* *-에메랄드-* */
.content .line_color9 input[type="submit"]{color:#00c5cc;}
.content .line_color10,.content .btn.type2.line_color10:hover span{border-color:#008cd5;color:#008cd5;}/* *-연파랑-* */
.content .line_color10 input[type="submit"]{color:#008cd5;}
.content .line_color11,.content .btn.type2.line_color11:hover span{border-color:#f00077;color:#f00077;}/* *-분홍-* */
.content .line_color11 input[type="submit"]{color:#f00077;}
/*
버튼 별도 디자인 - 관리자에선 안씀.
.btn.pattern{background-image:url(../images/sub/btn_pattern.png);background-repeat:repeat;}
.btn.round{border-radius:5px;}
.btn.round2{border-radius:25px;}
.btn.small_btn{padding:0 20px;font-size:14px;line-height:28px;vertical-align:middle;}
*/
	/* 버튼 아이콘 */
.btn i{display:inline-block;width:16px;height:31px;margin:0 0 0 10px;background:url(../images/admin_icon.png) no-repeat;vertical-align:middle;}
.btn i{background-position:right -220px;}
.btn.type2 i{height:29px;background-position:right -196px;}
/*
컨텐츠 내용 텍스트의 링크 스타일 - 관리자에선 안씀.
.blank,.download,.view,.print{display:inline-block;}
.text_link{display:inline-block;padding:0 1px 0 0;border-bottom:1px solid #333;}
.text_link.type2{border-bottom:1px solid #006ccb;}
.text_link.type3{border-bottom:1px dotted #a9a9a9;}
.text_link .icon_wrap{display:inline-block;width:28px;height:24px;padding-top:4px;margin-left:8px;border-radius:15px;background-color:#006ccb;text-align:center;}
.text_link i{margin:0 3px;}
 */
.btn .blank{background-position:-229px -27px;}
.btn .blank.type2{background-position:left -27px;}
.btn .view{background-position:-224px -56px;}
.btn .view.type2{background-position:left -56px;}
.btn .download{background-position:-225px -85px;}
.btn .download.type2{background-position:left -85px;}
.btn .move{background-position:-235px -149px;}
.btn .move.type2{background-position:left -149px;}
.btn .edit{background-position:-236px -397px;}
.btn .edit.type2{background-position:left -397px;}
.btn .delete{background-position:-234px -459px;}
.btn .delete.type2{background-position:left -459px;}
.btn .admin{background-position:-237px -349px;}
.btn .admin.type2{background-position:left -349px;}
/* 관리자에선 안씀 */

/- 선, 박스 -/
.content .solid{display:block;margin:10px 0;border-bottom :1px solid #ccc;}
.content .dot{display:block;margin:10px 0;border-bottom :1px dotted #ccc;}
.content .dash{display:block;margin:10px 0;border-bottom :1px dashed #ccc;}
/- 패턴 테두리 박스 -/
.box{position:relative;padding:10px 0;background:url(../images/sub/box_pattern_hor.gif) repeat;}
.box .inner_box{padding:0 10px;background:url(../images/sub/box_pattern_ver.gif) repeat;}
.box.type2 .inner_box{background:#fff;}
.box .inner_box > i{display:block;position:absolute;top:0;left:0;width:40px;height:40px;background-color:#c4c4c4;}
.box .inner_box > i.blue{background-color:#3979da;}
.box .inner_box > div{position:relative;z-index:1;padding:30px;background-color:#fff;}
.box .image_box{text-align:center;}
.box .image_box img{width:100%;}
/- 패턴 & 아이콘 배경 박스 -/
.box2{position:relative;min-height:140px;padding:40px;background:url(../images/sub/box2_pattern.png) #fafafa repeat;border:1px solid #ddd;border-top-color:#000;}
.box2 > i{display:block;position:absolute;top:40px;left:40px;width:140px;height:140px;background-color:#fff;background-repeat:no-repeat;background-position:50%;border:1px solid #dedede;border-radius:70px;}
.box2 .inner_box{margin:0 0 0 210px;}
.box2.type2{min-height:auto;background:none;background-color:#fcfcfc;border:none;border-top:1px solid #000;}
.box2.type2 .inner_box,.box2.type2 p{margin:0;}
.box2.type2 strong{font-size:18px;line-height:20px;color:#010101;}
/- 심플 색상 박스 -/
.box3{background-color:#f4fcfd;padding:40px;}
.box3 .big_title{display:block;color:#000;font-size:25px;line-height:29px;text-align:center;}
/- 배경 패턴 박스 -/
.box4{background:url(../images/sub/box4_pattern1.png) #316ebc repeat;color:#fff;font-size:27px;line-height:33px;}
.box4 > div{padding:50px;background:url(../images/sub/box4_pattern2.png) no-repeat right bottom;font-family:Oseong;}
.box4 > .title{padding:20px 5%;background:#235196;font-size:18px;line-height:22px;}
@media all and (max-width:568px) {
	.inner_box > div{padding:5%;}
	.box2{min-height:auto;padding:5%;}
	.box2 > i{display:none;}
	.box2 .inner_box,.box2 p{margin:0;}
	.box4 > div{padding:10%;background:none;}
}
/- 이미지 박스 -/
.img_box{padding:50px 0;border:1px solid #e5e5e5;background:url('../images/sub/img_box.gif') repeat;text-align:center;}/- 바둑판 패턴 박스 -/
.img_box.type2{background:none;background-color:#fafafa;}/- 민무늬 기본 박스 -/
.img_box img{width:100%;}
.img_original{display:inline-block;position:relative;width:auto;margin:0 0 20px;padding:0;}
.img_original img{width:100%;}
.img_original a{display:none;position:absolute;right:0;bottom:0;padding:10px;background-color:rgba(0,0,0,0.7);color:#fff;}
.img_original a i{display:inline-block;width:25px;height:25px;margin:0 10px 0 0;background:url(/common/images/board/bbs_icon.png) no-repeat 0 -200px;vertical-align:middle;}
@media all and (max-width:1000px) {
	.img_original{padding:0 0 55px;}
	.img_original a{display:block;}
}


/* 강조 글자 */
.content .small{font-size:0.92em;}
.content .large{font-size:22px;line-height:26px;letter-spacing:-1px;}
.content .large{font-size:30px;line-height:36px;letter-spacing:-1px;}
.content .underline{padding-bottom:1px;border-bottom:1px solid #888}
.content .em_black{color:#000;}
.content .em_yellow{color:#fff600;}
.content .em_blue{color:#0861bc;}
.content .em_blue2{color:#0080c2;}/* 폰트 강조색 추가 0927_김지혜 */
.content .em_blue3{color:#003d90;}/* 폰트 강조색 추가 0927_김지혜 */
.content .em_pink{color:#d05b95;}/* 폰트 강조색 추가 0927_김지혜 */
.content .em_orange{color:#ff6600;}
.content .em_red{color:#de2500;}
.content .em_green{color:#398308;}
.content .em_purple{color:#8a56af;}
.content .em_point{color:#185194;}
.content .em_b_yellow{color:#fff600;font-weight:600;}
.content .em_b_blue{color:#0861bc;font-weight:bold;}
.content .em_b_orange{color:#ff6600;font-weight:bold;}
.content .em_b_red{color:#de2500;font-weight:bold;}
.content .em_b_green{color:#398308;font-weight:bold;}
.content .em_b_purple{color:#8a56af;font-weight:bold;}
.content .em_b_black{color:#000;font-weight:bold;}
.content .em_b_point{color:#185194;font-weight:bold;}
.content .em_text{display:inline-block;vertical-align:middle;font-size:16px;color:#626262;}
.content .em_text i{display:inline-block;width:28px;height:28px;margin-right:9px;background:url('/common/images/sub/template_icon.png') no-repeat left -1315px;vertical-align:middle;}

/* 텍스트 정렬 */
.content .text_center{text-align:center;}
.content .text_right{text-align:right;}
.content .text_left{text-align:left;}
.content .vertical_top{vertical-align:top}
.content .vertical_middle{vertical-align:middle}
.content .vertical_bottom{vertical-align:bottom}

/* 들여쓰기 */
.content .indent{margin-left:25px;}

/* margin */
.content .margin_0{margin:0 !important;}
.content .margin_10{margin:10px !important;}
.content .margin_20{margin:20px !important;}
.content .margin_30{margin:30px !important;}

.content .margin_t_0{margin-top:0 !important;}
.content .margin_t_5{margin-top:5px !important;}
.content .margin_t_10{margin-top:10px !important;}
.content .margin_t_15{margin-top:15px !important;}
.content .margin_t_20{margin-top:20px !important;}
.content .margin_t_25{margin-top:25px !important;}
.content .margin_t_30{margin-top:30px !important;}
.content .margin_t_35{margin-top:35px !important;}
.content .margin_t_40{margin-top:40px !important;}
.content .margin_t_45{margin-top:45px !important;}
.content .margin_t_50{margin-top:50px !important;}

.content .margin_r_0{margin-right:0 !important;}
.content .margin_r_5{margin-right:5px !important;}
.content .margin_r_10{margin-right:10px !important;}
.content .margin_r_15{margin-right:15px !important;}
.content .margin_r_20{margin-right:20px !important;}
.content .margin_r_25{margin-right:25px !important;}
.content .margin_r_30{margin-right:30px !important;}
.content .margin_r_35{margin-right:35px !important;}
.content .margin_r_40{margin-right:40px !important;}
.content .margin_r_45{margin-right:45px !important;}
.content .margin_r_50{margin-right:50px !important;}

.content .margin_b_0{margin-bottom:0 !important;}
.content .margin_b_5{margin-bottom:5px !important;}
.content .margin_b_10{margin-bottom:10px !important;}
.content .margin_b_15{margin-bottom:15px !important;}
.content .margin_b_20{margin-bottom:20px !important;}
.content .margin_b_25{margin-bottom:25px !important;}
.content .margin_b_30{margin-bottom:30px !important;}
.content .margin_b_35{margin-bottom:35px !important;}
.content .margin_b_40{margin-bottom:40px !important;}
.content .margin_b_45{margin-bottom:45px !important;}
.content .margin_b_50{margin-bottom:50px !important;}

.content .margin_l_0{margin-left:0 !important;}
.content .margin_l_5{margin-left:5px !important;}
.content .margin_l_10{margin-left:10px !important;}
.content .margin_l_15{margin-left:15px !important;}
.content .margin_l_20{margin-left:20px !important;}
.content .margin_l_25{margin-left:25px !important;}
.content .margin_l_30{margin-left:30px !important;}
.content .margin_l_35{margin-left:35px !important;}
.content .margin_l_40{margin-left:40px !important;}
.content .margin_l_45{margin-left:45px !important;}
.content .margin_l_50{margin-left:50px !important;}

/* padding */
.content .padding_0{padding:0 !important;}
.content .padding_10{padding:10px !important;}
.content .padding_20{padding:20px !important;}
.content .padding_30{padding:30px !important;}

.content .padding_t_0{padding-top:0 !important;}
.content .padding_t_5{padding-top:5px !important;}
.content .padding_t_10{padding-top:10px !important;}
.content .padding_t_15{padding-top:15px !important;}
.content .padding_t_20{padding-top:20px !important;}
.content .padding_t_25{padding-top:25px !important;}
.content .padding_t_30{padding-top:30px !important;}
.content .padding_t_35{padding-top:35px !important;}
.content .padding_t_40{padding-top:40px !important;}
.content .padding_t_45{padding-top:45px !important;}
.content .padding_t_50{padding-top:50px !important;}

.content .padding_r_0{padding-right:0 !important;}
.content .padding_r_5{padding-right:5px !important;}
.content .padding_r_10{padding-right:10px !important;}
.content .padding_r_15{padding-right:15px !important;}
.content .padding_r_20{padding-right:20px !important;}
.content .padding_r_25{padding-right:25px !important;}
.content .padding_r_30{padding-right:30px !important;}
.content .padding_r_35{padding-right:35px !important;}
.content .padding_r_40{padding-right:40px !important;}
.content .padding_r_45{padding-right:45px !important;}
.content .padding_r_50{padding-right:50px !important;}

.content .padding_b_0{padding-bottom:0 !important;}
.content .padding_b_5{padding-bottom:5px !important;}
.content .padding_b_10{padding-bottom:10px !important;}
.content .padding_b_15{padding-bottom:15px !important;}
.content .padding_b_20{padding-bottom:20px !important;}
.content .padding_b_25{padding-bottom:25px !important;}
.content .padding_b_30{padding-bottom:30px !important;}
.content .padding_b_35{padding-bottom:35px !important;}
.content .padding_b_40{padding-bottom:40px !important;}
.content .padding_b_45{padding-bottom:45px !important;}
.content .padding_b_50{padding-bottom:50px !important;}

.content .padding_l_0{padding-left:0 !important;}
.content .padding_l_5{padding-left:5px !important;}
.content .padding_l_10{padding-left:10px !important;}
.content .padding_l_15{padding-left:15px !important;}
.content .padding_l_20{padding-left:20px !important;}
.content .padding_l_25{padding-left:25px !important;}
.content .padding_l_30{padding-left:30px !important;}
.content .padding_l_35{padding-left:35px !important;}
.content .padding_l_40{padding-left:40px !important;}
.content .padding_l_45{padding-left:45px !important;}
.content .padding_l_50{padding-left:50px !important;}

/* width */
.content .w5p{width:5% !important;}
.content .w10p{width:10% !important;}
.content .w15p{width:15% !important;}
.content .w20p{width:20% !important;}
.content .w25p{width:25% !important;}
.content .w30p{width:30% !important;}
.content .w35p{width:35% !important;}
.content .w40p{width:40% !important;}
.content .w45p{width:45% !important;}
.content .w50p{width:50% !important;}
.content .w55p{width:55% !important;}
.content .w60p{width:60% !important;}
.content .w65p{width:65% !important;}
.content .w70p{width:70% !important;}
.content .w75p{width:75% !important;}
.content .w80p{width:80% !important;}
.content .w85p{width:85% !important;}
.content .w90p{width:90% !important;}
.content .w95p{width:95% !important;}
.content .w100p{width:100% !important;}

/* template 가이드용 스타일 */
.template_box{margin:0 0 30px 0;padding:20px;border:3px dashed #dedede;}
.template_box > div.inner_box{margin:10px 0;padding:20px;border:1px solid #ccc;border-radius:10px;}
.template_box h2:first-child{margin:0 0 10px;padding:10px 0;border-bottom:1px solid #ddd;}
.template_box pre{margin:10px 0;padding:10px 20px 0;border:1px solid #e9e9e9;background:#fafafa;font-size:12px;}

/* 페이징 */
.pagination{position:relative;margin-top:25px;text-align:center;}
.pagination a, .pagination strong{display:inline-block;width:26px;height:26px;margin-left:2px;margin-right:2px;text-align:center;font-size:13px;color:#252525;line-height:28px;letter-spacing:-2px;vertical-align:middle;}
.pagination a{border:solid 1px #dedede;background:#fff}
.pagination strong{border:solid 1px #353535;background:#353535;color:#fff;font-weight:normal;}
.pagination span.page_btn {display:inline-block;margin:0 5px}
.pagination span.page_btn a{width:26px;height:26px;background: url("/common/images/board/bbs_icon.png") no-repeat;font-size:0;line-height:0;text-indent:100%;}
.pagination span.page_btn img{vertical-align:middle}
*:first-child+html .pagination span.page_btn a{text-indent:0}
.pagination span.page_btn .prev_end {background-position: 7px -92px;}
.pagination span.page_btn .prev{background-position: -40px -92px;}
.pagination span.page_btn .prev_one{display:none;background:none;}
.pagination span.page_btn .next_one{display:none;background:none;}
.pagination span.page_btn .next{background-position: -90px -92px;}
.pagination span.page_btn .next_end {background-position: -143px -92px;}
.pnText {width:auto !important; padding:0 5px;}

/* placeholder 색상 변경 */
#template4 input:-ms-input-placeholder { color: #6fb3b2; }
#template4 input::-webkit-input-placeholder { color: #6fb3b2; }
#template4 input::-moz-placeholder { color: #6fb3b2; }
#template4 input::-moz-placeholder { color: #6fb3b2; }
#template4 textarea:-ms-input-placeholder { color: #6fb3b2; }
#template4 textarea::-webkit-input-placeholder { color: #6fb3b2; }
#template4 textarea::-moz-placeholder { color: #6fb3b2; }
#template4 textarea::-moz-placeholder { color: #6fb3b2; }

html,body{height:100%;padding:0;color:#555;font-family:NanumBG, Malgun Gothic, '맑은 고딕', Dotum, '돋움', AppleGothic,AppleSDGothicNeo, Helvetica, sans-serif;font-size:14px;font-size-adjust:none;line-height:1.6em;}
/* top 이동 버튼 */
.top_btn{display:block;position:fixed;left:200px;bottom:20px;z-index:1;width:25px;padding:25px 0 5px;background:url(../images/admin_icon.png) no-repeat 6px -648px;border-radius:2px;background-color:#fafafa;border:1px solid #ededed;color:#8a8a8a;}
.top_btn span{display:block;height:15px;padding:0;font-size:13px;line-height:15px;}
/* 사이트이름 */
.admin_top{position:fixed;top:0;left:0;width:100%;height:51px;z-index:1;padding:0 15px 0 0;background:url(../images/admin_top_pattern.png) repeat;text-align:right;}
.location{position:absolute;top:0;left:230px;line-height:51px;}
.location span{margin:0 5px 0 0;padding:0 10px 0 0;background:url(../images/admin_icon.png) no-repeat right -203px;}
.location .last{padding:0;background:none;border-bottom:1px solid #000;color:#000;font-weight:600;}
.admin_title{display:block;position:absolute;top:0;left:0;width:200px;background-color:#4c525e;text-align:left;}
.admin_title h1{padding:0 0 0 15px;color:#a8afbe;font-family:NanumS;font-size:15px;line-height:51px;}
.admin_title span{color:#fff;font-weight:400;}
/* 사용자이름 */
.admin_name{color:#555;line-height:51px;}
.admin_name span{padding:0 0 0 25px;background:url(../images/admin_icon.png) no-repeat left top;color:#111;font-weight:600;}
.admin_name .logout{display:inline-block;width:30px;height:30px;margin:0 15px;background:url(../images/admin_icon.png) #4c525e no-repeat -219px -118px;border:1px solid #424955;border-radius:20px;color:transparent;font-size:0;line-height:0;vertical-align:middle;}
#admin_content{position:relative;height:100%;padding:0 0 0 200px;background-color:#f1f1e9;}
/* 왼쪽 메뉴 */
.side_menu{position:fixed;top:51px;left:0;width:180px;height:100%;overflow-y:auto;padding:0 10px;}
.site_info_list{margin:10px 0;}
.site_info_list select{display:block;width:100%;height:35px;border:none;border-radius:0;line-height:35px;}
.sm_depth1 > li{}
.sm_depth1 > li > a{display:block;position:relative;height:27px;padding:8px 10px;border-bottom:1px solid #ddd;font-size:15px;line-height:27px;}
.sm_depth1 > li > a:hover,.sm_depth1 > .on > a,.sm_depth1 > .open > a{border-bottom-color:#a8afbe;font-weight:600;text-decoration:none;}
.sm_depth2{display:none;padding:10px;border-bottom:1px solid #ddd;}
.sm_depth1 .on .sm_depth2{display:block;}
.sm_depth2 li{margin:3px 0;padding:0 0 0 10px;background:url(../images/admin_icon.png) no-repeat -246px -222px;}
.sm_depth2 a{display:inline-block;font-size:13px;line-height:17px;}
.sm_depth2 a:hover,.sm_depth2 .on a{border-bottom:1px solid #333;color:#333;}
/* 메뉴 효과 */
.sm_depth1 .more{display:block;position:absolute;top:0;right:0;width:30px;height:100%;transition:all .4s;}
.sm_depth1 .more em{position:absolute;bottom:-1px;background-color:#ddd;transition:all .4s;}
.sm_depth1 .link .more{position:absolute;top:50%;right:20px;margin-top:-5px;width:13px;height:9px;background:url(../images/admin_icon.png) no-repeat left -159px;vertical-align:middle;}
.sm_depth1 .link .more em{display:none;}
.sm_depth1 .more .ver{left:0;width:15px;height:1px;margin:0;}
.sm_depth1 .more .hor{right:0;width:15px;height:1px;margin:0;}
/* .sm_depth1 a:hover .more, */
.sm_depth1 .open .more,.sm_depth1 .on .more{right:15px;width:16px;border-bottom:1px solid #f1f1e9;transition:all .4s;}
.sm_depth1 .link:hover .more{right:10px;width:13px;border-bottom:none;}
/* .sm_depth1 a:hover .more em, */
.sm_depth1 .open .more em,
.sm_depth1 .on .more em{bottom:-5px;transition:all .4s;}
/* .sm_depth1 a:hover .more em.ver, */
.sm_depth1 .on .more em.ver,
.sm_depth1 .open .more em.ver{width:10px;background-color:#4c525e;transform:translateY(0) rotate(50deg);}
/* .sm_depth1 a:hover .more em.hor, */
.sm_depth1 .on .more em.hor,
.sm_depth1 .open .more em.hor{width:10px;background-color:#4c525e;transform:translateY(0) rotate(-50deg);}
/* .sm_depth1 li:hover a .hover */
.sm_depth1 .on a .hover,
.sm_depth1 .open a .hover{opacity:1;filter:alpha(opacity=1);transition:all .2s;}
/* 컨텐츠 그룹 */
.content{height:100%;padding:1px 30px;background-color:#fff;}
.content > *:first-child{}
.content .tab_menu{margin:51px 0 0 0;}
.content .content_inner{margin:70px 0 0 0;}

.m_wrap{max-width:640px;min-width:320px;height:auto;padding:0 1% 30px;margin:0 auto;box-sizing:border-box;}

.m_header{padding:30px 0;}
.m_header h1{font-size:14px;color:#373E4A;text-align:center;}
.m_login{height:100%;}
.m_login .title_box{padding:80px 0 50px;text-align:center;}
.m_login .title_box .title{font-size:14px;color:#373E4A;font-weight:600;}
.m_login .contents_box{width:300px;margin:0 auto;}
.m_login .contents_box input{display:inline-block;width:100%;height:40px;padding:0 5%;margin:0;font-size:12px;line-height:38px;color:#373E4A;font-weight:600;border:1px solid #373E4A;background-color:transparent;box-sizing:border-box;}
.m_login .contents_box li{position:relative;margin-bottom:20px;}
.m_login .contents_box input[type="submit"]{text-align:center;}
.search_box{margin-bottom:10px;}
.search_box table{width:100%;}
.search_box th,.search_box td{padding:5px;}
.search_box th{color:#373E4A;letter-spacing:-1px;}
.search_box td{text-align:center;}
.search_box td span{display:inline-block;width:30.33%;}
.search_box td span.type2{width:49.65%;}
.search_box .date_box{position:relative;width:47%;}
/*.search_box .date_box button{position:absolute;right:0;top:0;width:20px;height:24px;color:transparent;white-space:nowrap;background:url(http://192.168.0.90/neo/images/btn_calendar.gif) center center no-repeat;overflow:hidden;}*/
.search_box input[type="text"],.search_box select{width:100%;height:24px;font-size:12px;line-height:24px;border:1px solid #373E4A;box-sizing:border-box;}
.search_box input[type="submit"]{width:100%;height:28px;font-size:12px;line-height:20px;color:#eee;background-color:#373E4A;box-sizing:border-box;}
.search_box input[type="reset"]{width:100%;height:28px;font-size:12px;line-height:20px;color:#eee;background-color:#373E4A;box-sizing:border-box;}

.search_box .date_wrap { display: inline-block; width:100%; }
.search_box .date_wrap input{ display: inline-block; width:80%; }
.search_box .date {width: 100px; border: none; text-align: center;}
.search_box .ico_calenedar {display: inline-block; width: 20px; height: 20px; margin: 0 3px; background: url(/common/images/board/bbs_icon.png) no-repeat -48px -48px; vertical-align: middle; }
.search_box .ico_calenedar button {display: inline-block; width: 20px; height: 20px; font-size: 0;}

@media only screen and (max-width:520px) {
.search_box td span{display:inline-block;width:28%;}
.search_box td span.type2{width:49%;}
.search_box .date_box{width:45%;}
.search_box .date_wrap input{ display: inline-block; width:70%; }
}
.list_info{padding:5px 2%;margin-bottom:5px;letter-spacing:-1px;border:1px solid #999;}
.list_info .info_box{float:left; margin-top: 5px;}
.list_info .today{float:right;}
.list_info .today a{font-weight:600;}

.box_img{padding:20px 2%;margin-bottom:10px;line-height:0;text-align:center;border:1px solid #999;border-top:2px solid #373E4A;}
.box_img img{max-width:100%;}
.temp_map{margin-bottom:30px;}
.temp_map .root_daum_roughmap,.temp_map #map{width:100%;height:300px;overflow:hidden;}
.temp_map .root_daum_roughmap .wrap_map{height:300px;}
.m_wrap table{letter-spacing:-1px;}
.m_wrap .table.type2 tbody tr:first-child td{border-top:2px solid #8a8a8a;}
.m_wrap .table textarea{width:100%;height:80px;margin-bottom:5px;box-sizing:border-box;}

.search_box .date_box img{position:absolute;right:5px;top:6px;}

/* 페이징 */
.pagination{position:relative;margin-top:25px;text-align:center;}
.pagination a, .pagination strong{display:inline-block;min-width:26px;height:26px;margin-left:2px;margin-right:2px;text-align:center;font-size:13px;color:#252525;line-height:28px;letter-spacing:-2px;vertical-align:middle;}
.pagination a{border:solid 1px #dedede;background:#fff}
.pagination strong{border:solid 1px #353535;background:#353535;color:#fff;font-weight:normal;}
.pagination span.page_btn {display:inline-block;margin:0 5px}
.pagination span.page_btn a{width:26px;height:26px;background: url("/common/images/board/bbs_icon.png") no-repeat;font-size:0;line-height:0;text-indent:100%;}
.pagination span.page_btn img{vertical-align:middle}
*:first-child+html .pagination span.page_btn a{text-indent:0}
.pagination span.page_btn .prev_end {background-position: 7px -92px;}
.pagination span.page_btn .prev{background-position: -40px -92px;}
.pagination span.page_btn .prev_one{display:none;background:none;}
.pagination span.page_btn .next_one{display:none;background:none;}
.pagination span.page_btn .next{background-position: -90px -92px;}
.pagination span.page_btn .next_end {background-position: -143px -92px;}

.under {text-decoration: underline !important;}

.bdg1 {background: #ff8f00; border-radius: 4px; padding: 3px; font-size: 0.85rem; color: white;}
.bdg2 {background: #aaa; border-radius: 4px; padding: 3px; font-size: 0.85rem; color: white;}
.bdg3 {background: #3C5A91; border-radius: 4px; padding: 3px; font-size: 0.85rem; color: #eee;}
.bdg4 {background: #3b7331; border-radius: 4px; padding: 3px; font-size: 0.85rem; color: white;}
.bdg5 {background: #8B5927; border-radius: 4px; padding: 3px; font-size: 0.85rem; color: #eee;}
.bdg6 {background: #149494; border-radius: 4px; padding: 3px; font-size: 0.85rem; color: white;}
.bdg7 {background: #DC6089; border-radius: 4px; padding: 3px; font-size: 0.85rem; color: white;}

ol.olList li{ list-style: decimal; margin:5px 5px 5px 25px !important;}
.chkLarge { width:14pt;height:14pt; }
.w100 { width:100%; }
.pnText { width: auto !important; padding: 0 5px; }
input[type="checkbox"] .pickUpItem {width: 15pt !important; height: 15pt !important;}