/* (주)한신정보기술 권정현 - 2019.03.15 */

/* 결과 */
.result {position:relative; padding-bottom:50px; border-bottom:1px dashed #dadada;}
.result:last-child{border-bottom:none; padding-bottom:0;}
.result h3 {padding-right:38px;}
.result mark {background-color:transparent;}
@media all and (max-width:640px) {
    .result {padding-bottom:27px;}
    .result h3 {padding-right:32px;}
}

/* 더보기 */
.more {display:block; position:absolute; top:-8px; right:0; width:38px; height:38px; border:1px solid #d3d3d3; background-color:#fff; font-size:0; line-height:38px; text-align:center;}
.more:before {display:inline-block; width:18px; height:18px; background:url('../images/sub/template_sprite.png') no-repeat left top; vertical-align:middle;}
@media all and (max-width:640px) {
    .more {top:-4px; width:32px; height:32px; line-height:32px;}
    .more:before {width:14px; height:14px; background-size:416.66% 983.33%;}
}

/* 영등포1번가 */
.bannerbox{position:relative; border:1px solid #c4dce4; background-color:#ebfaff; padding:43px 64px 39px 327px;}
.bannerbox:before{display:block; position:absolute; top:39px; left:39px; width:240px; height:180px; background-repeat:no-repeat; background-image:url(../images/sub/bannerbox_img.gif); content:'';}
.bannerbox .conbox{position:relative; min-height:176px;}
.bannerbox .conbox .title{margin-bottom:20px; line-height:25px; color:#006ad7; font-size:22px; letter-spacing:0; font-weight:400;}
.bannerbox .conbox ul.bu li{margin-top:0; color:#000; font-size:17px;}
.bannerbox .conbox .link{margin-left:-5px; line-height:0;}
.bannerbox .conbox .link a{display:inline-block; position:relative; padding-left:20px; padding-right:15px; line-height:25px; color:#000; font-size:17px;}
.bannerbox .conbox .link a:hover{text-decoration:none;}
.bannerbox .conbox .link a:before{display:block; position:absolute; top:7px; left:0; width:13px; height:12px; background-repeat:no-repeat; background-position:left -28px; background-image:url(../images/sub/template_sprite.png); content:'';}
.bannerbox .conbox .link a:after{display:block; position:absolute; top:10px; right:0; width:11px; height:11px; background-repeat:no-repeat; background-position:-18px top; background-image:url(../images/sub/template_sprite.png); content:'';}
.bannerbox .conbox .link a span{display:block; line-height:25px; border-bottom:1px solid #000;}

@media all and (max-width:1000px) {
.bannerbox{padding:43px 3% 39px 32%;}
.bannerbox:before{left:3%; width:26%; background-size:contain;}
}

@media all and (max-width:640px) {
.bannerbox{padding:43px 3% 39px;}
.bannerbox:before{position:static; width:240px; margin:0 auto 20px; background-size:auto;}
}


/* 검색결과 */
.resultbox{margin-top:30px;}
.resultbox:first-child{margin-top:0;}
.resultbox .title{margin-bottom:9px;}
.resultbox .title a{display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding-bottom:2px; line-height:21px; color:#000; font-size:17px; letter-spacing:0;}
.resultbox .filebox{margin-top:13px;}
.resultbox .filebox ul.bu li{margin-top:5px; padding-right:158px;}
.resultbox .filebox ul.bu li:first-child{margin-top:0;}
.resultbox .filebox ul.bu li:before{top:16px;}
.resultbox .filebox ul.bu li .filetitle{line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.resultbox .filebox ul.bu li .filetitle.icons.folder{position:relative; padding-left:29px;}
.resultbox .filebox ul.bu li .filetitle.icons.folder:before{display:block; position:absolute; top:8px; left:4px; width:16px; height:15px; background-repeat:no-repeat; background-position:-15px -141px; background-image:url(../images/sub/template_sprite.png); content:'';}
.resultbox .filebox ul.bu li .downbox{position:absolute; top:0; right:0; font-size:0;}
.resultbox .filebox ul.bu li .downbox a{display:inline-block; position:relative; margin-left:1px; box-sizing:border-box; vertical-align:top;}
.resultbox .filebox ul.bu li .downbox a:first-child{margin-left:0;}
.resultbox .filebox ul.bu li .downbox .down{background-color:#354865; padding:1px 35px 1px 1px; color:#505050;}
.resultbox .filebox ul.bu li .downbox .down:before{display:block; position:absolute; top:8px; right:11px; width:15px; height:14px; background-repeat:no-repeat; background-position:-29px top; background-image:url(../images/sub/template_sprite.png); content:'';}
.resultbox .filebox ul.bu li .downbox .down span{display:block; min-width:90px; background-color:#FFF; box-sizing:border-box; line-height:22px; padding:3px 15px 3px 12px; font-size:15px; letter-spacing:0;}
.resultbox .filebox ul.bu li .downbox .view{width:35px; height:30px; background-color:#354865; color:transparent; font-size:0;}
.resultbox .filebox ul.bu li .downbox .view:before{display:block; position:absolute; top:6px; left:9px; width:15px; height:17px; background-repeat:no-repeat; background-position:-44px top; background-image:url(../images/sub/template_sprite.png); content:'';}
.resultbox .path{position:relative; margin-top:9px; padding-left:21px; line-height:22px; color:#1762eb; font-size:15px; letter-spacing:0;}
.resultbox .path:before{display:block; position:absolute; top:6px; left:0; width:13px; height:12px; background-repeat:no-repeat; background-position:-13px -28px; background-image:url(../images/sub/template_sprite.png); content:'';}


/* 통합공지 */
.board li {margin-top:38px;}
.board p {margin-top:9px; color:#505050;}
.board .board_info {margin-top:12px; font-size:0; line-height:0;}
.board time {display:inline-block; margin-left:22px; color:#888; font-size:14px; line-height:16px;}
@media all and (max-width:640px) {
    .board li {margin-top:25px;}
    .board p {margin-top:6px; margin-bottom:8px;}
    .board .board_info {margin-top:8px;}
    .board time {margin-left:15px; font-size:13px; line-height:15px;}
}

/* 직원 및 담당업무 */
.p-table.staff_list thead th{border:1px solid #e2e2e2; color:#424242; font-size:16px; font-weight:600;}
.p-table.staff_list thead th:first-child{border-left:none;}
.p-table.staff_list thead th:last-child{border-right:none;}
.p-table.staff_list thead tr:first-child th{border-top-width:1px; border-top-color:#000;}
.p-table.staff_list thead tr:last-child th{border-bottom-width:0;}
.p-table.staff_list tbody th, .p-table.staff_list tbody td{border:1px solid #e2e2e2;}
.p-table.staff_list tbody th:first-child, .p-table.staff_list tbody td:first-child{border-left:none;}
.p-table.staff_list tbody th:last-child, .p-table.staff_list tbody td:last-child{border-right:none;}
.p-table.staff_list tbody tr:first-child th, .p-table.staff_list tbody tr:first-child td{border-top-color:#a7a7a7;}
.p-table.staff_list tbody tr:last-child th, .p-table.staff_list tbody tr:last-child td{border-bottom-color:#000;}
.p-table.staff_list strong{color:#373737;}
@media all and (max-width:765px) {
.p-table.staff_list tbody th, .p-table.staff_list tbody td{border:none;}
}
@media all and (max-width:640px) {
    .p-table {font-size:14px; line-height:1.4em;}
}

/* 메뉴검색 */
.result.menu_result ul.bu li a{color:#000;}
.result.menu_result ul.bu li a:hover{text-decoration:none;}
.result.menu_result .site{display:inline; color:#008d8b;}
.result.menu_result ul.bu li a:hover .path_text{text-decoration:underline;}


/* 멀티미디어 */
.photo {overflow:hidden; position:relative;}
.photo ul {margin-top:-22px; margin-left:-22px;}
.photo li {float:left; position:relative; width:calc(25% - 22px); height:168px; margin-top:22px; margin-left:22px; background-color:#f3f3f5;}
.photo li:before {display:block; position:absolute; top:0; right:0; bottom:0; left:0; width:75px; height:61px; margin:auto; background:url('../images/sub/template_sprite.png') no-repeat left -74px;}
.photo a {display:block; position:relative; height:100%; padding-top:47px; padding-right:5px; padding-left:5px; background-repeat:no-repeat; background-position:center; background-size:cover; text-decoration:none; text-align:center;}
.photo a:before {display:block; opacity:0; position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(23, 54, 135, 0.7); transition:opacity 0.25s linear;}
.photo .photo_title {display:block; opacity:0; overflow:hidden; position:relative; height:44px; margin-bottom:15px; color:#fff; font-size:16px; line-height:22px; transition:opacity 0.25s linear;}
.photo time {display:block; opacity:0; position:relative; color:#fff; font-size:14px; line-height:16px; transition:opacity 0.25s linear;}
.photo a:hover:before, .photo a:hover .photo_title, .photo a:hover time {opacity:1;}
@media all and (max-width:1000px) {
    .photo li {width:calc(33.33% - 22px);}
}
@media all and (max-width:640px) {
    .photo ul {margin-top:-11px; margin-left:-11px;}
    .photo li {width:calc(50% - 11px); height:112px; margin-top:11px; margin-left:11px;}
    .photo li:before {width:50px; height:41px; background-position:left 63.79%; background-size:100% 290.16%;}
    .photo a {padding-top:20px;}
    .photo .photo_title {height:42px; margin-bottom:10px; font-size:15px; line-height:21px;}
    .photo time {font-size:13px; line-height:15px;}
}


/* SNS */
.sns_result ul li.list{position:relative; margin-top:27px; padding-left:101px;}
.sns_result ul li.list:first-child{margin-top:0;}
.sns_result ul li.list .icon{position:absolute; top:5px; left:0; width:58px; height:58px; border-radius:21px; overflow:hidden; color:transparent; font-size:0;}
.sns_result ul li.list.blog .icon{background-color:#40af1e;}
.sns_result ul li.list.twitter .icon{background-color:#62beea;}
.sns_result ul li.list.facebook .icon{background-color:#1d539e;}
.sns_result ul li.list .icon:before{display:block; position:absolute; top:calc(50% - 13px); left:calc(50% - 11px); width:22px; height:25px; background-repeat:no-repeat; background-image:url(../images/sub/sns_icons.png); content:'';}
.sns_result ul li.list.blog .icon:before{background-position:left top;}
.sns_result ul li.list.twitter .icon:before{background-position:-22px top;}
.sns_result ul li.list.facebook .icon:before{background-position:-44px top;}
.sns_result ul li.list .conbox .text{height:66px; margin-bottom:13px; overflow:hidden; line-height:22px; color:#505050; font-size:15px; letter-spacing:0;}
.sns_result ul li.list .conbox .linkbox{line-height:0;}
.sns_result ul li.list .conbox .linkbox a{display:inline-block; position:relative; padding-right:16px; color:#000;}
.sns_result ul li.list .conbox .linkbox a:before{display:block; position:absolute; top:5px; right:0; width:11px; height:11px; background-repeat:no-repeat; background-position:-18px top; background-image:url(../images/sub/template_sprite.png); content:'';}
.sns_result ul li.list .conbox .linkbox a span{display:block; border-bottom:1px solid #000; line-height:20px; font-size:15px;}

@media all and (max-width:640px) {
.sns_result ul li.list{padding-left:60px;}
.sns_result ul li.list .icon{width:45px; height:45px; border-radius:13px;}
}


/* 민원서식 */
.format {overflow:hidden; position:relative;}
.format ul {margin-top:-22px; margin-left:-22px;}
.format li {float:left; width:calc(25% - 22px); height:168px; margin-top:22px; margin-left:22px; padding-top:28px; padding-right:5px; padding-left:5px; background-color:#f3f3f5; text-align:center;}
.format .format_title {display:block; overflow:hidden; position:relative; height:44px; margin-bottom:33px; color:#000; font-size:15px; line-height:22px;}
@media all and (max-width:1000px) {
    .format li {width:calc(33.33% - 22px);}
}
@media all and (max-width:640px) {
    .format ul {margin-top:-11px; margin-left:-11px;}
    .format li {width:calc(50% - 11px); height:112px; margin-top:11px; margin-left:11px; padding-top:10px;}
    .format .format_title {height:42px; margin-bottom:22px; font-size:14px; line-height:21px;}
}

/* 통합예약 */
.reservation_result ul li.list{float:left; width:31.02%; margin-right:3.47%; margin-bottom:45px;}
.reservation_result ul li.list:nth-child(3n){margin-right:0;}
.reservation_result ul li.list .statebox{margin-bottom:15px; line-height:0; text-align:center; font-size:0;}
.reservation_result ul li.list .statebox .icon{display:inline-block; width:100px; margin-left:5px; border-width:1px; border-style:solid; border-color:transparent; border-radius:100px; overflow:hidden; padding:10px 0; line-height:20px; text-align:center; vertical-align:top; font-size:15px; letter-spacing:0;}
.reservation_result ul li.list .statebox .icon:first-child{margin-left:0;}
.reservation_result ul li.list.education .statebox .icon.group{border-color:#348ada; background-color:#348ada; color:#FFF;}
.reservation_result ul li.list.online .statebox .icon.group{border-color:#10a28c; background-color:#10a28c; color:#FFF;}
.reservation_result ul li.list.standby .statebox .icon.state{border-color:#898989; color:#555555;}
.reservation_result ul li.list.closed .statebox .icon.state{border-color:#959595; background-color:#959595; color:#FFF;}
.reservation_result ul li.list.ing .statebox .icon.state{border-color:#cb0b11; color:#cb0b11;}
.reservation_result ul li.list .titlebox{display:table; table-layout:fixed; width:100%; margin-bottom:13px; box-sizing:border-box; border:1px solid #dedede;}
.reservation_result ul li.list .titlebox .title{display:table-cell; width:100%; height:118px; text-align:center; vertical-align:middle;}
.reservation_result ul li.list .titlebox .title a{display:block; padding:0 2%; line-height:22px; word-break:keep-all; text-align:center; font-size:18px; letter-spacing:0;}
.reservation_result ul li.list.education .titlebox .title a{color:#0053a0;}
.reservation_result ul li.list.online .titlebox .title a{color:#00836f;}
.reservation_result ul li.list.online.closed .titlebox .title a{color:#cb0b11;}

@media all and (max-width:1000px) {
.reservation_result ul li.list{width:32%; margin-right:2%;}
.reservation_result ul li.list .statebox .icon{width:43%; margin-left:1%; font-size:14px;}
}

@media all and (max-width:640px) {
.reservation_result ul li.list{width:49%; margin-bottom:20px;}
.reservation_result ul li.list:nth-child(3n){margin-right:2%;}
.reservation_result ul li.list:nth-child(2n){margin-right:0;}
.reservation_result ul li.list .statebox .icon{width:49.5%;}
.reservation_result ul li.list .titlebox .title a{word-break:break-all; font-size:15px;}
}

@media all and (max-width:480px) {
.reservation_result ul li.list{float:none; width:auto; margin-right:0;}
.reservation_result ul li.list:nth-child(3n){margin-right:0;}
}


