/* (주)한신정보기술 권정현 - 2019.03.15 */

/* 콘텐츠 그룹 */
.colgroup {float:left; width:976px; padding-right:26px; border-right:1px solid #d3d3d3; padding-top:50px; padding-bottom:39px;}
.side_none .colgroup {float:none; width:auto; padding-right:0; border-right-width:0;}
@media all and (max-width:1200px) {
    .colgroup {width:813px;}
    .side_none .colgroup {width:auto;}
}
@media all and (max-width:1000px) {
    .colgroup {float:none; width:auto; padding-right:0; border-right-width:0;}
}
@media all and (max-width:640px) {
    .colgroup {padding-top:25px; padding-bottom:25px;}
}

/* 콘텐츠 상단 */
.sub_head {position:relative; border-bottom:1px solid #000; padding-bottom:37px; z-index:30;}

/* 콘텐츠 제목 */
.sub_title h2 {color:#585858; font-size:20px; line-height:26px; font-weight:400;}
.sub_title mark {display:inline; background-color:transparent; vertical-align:top; color:#e10000;}
.sub_title strong {display:inline; vertical-align:top; color:#e10000; font-size:24px; font-weight:400;}
@media all and (max-width:1200px) {
    .sub_title h2 {font-size:15px; line-height:21px;}
    .sub_title strong {font-size:19px;}
}

/* 옵션 */
.option {margin-top:50px; padding-bottom:25px; padding-right:25px; border:1px solid #d3d3d3; background-color:#f3f3f5; font-size:0; line-height:0; text-align:center;}
.option .option_type {display:inline-block; padding-top:25px; padding-left:25px; vertical-align:top;}
.option .option_title {margin-right:15px; color:#3a3a3a; font-size:15px; line-height:17px; vertical-align:middle;}
.option .option_btn {display:none;}
.option ul {display:inline-block; position:relative; vertical-align:middle;}
.option .n1 ul {width:140px;}
.option .n2 ul {width:330px; padding-right:33px;}
.option .n3 ul {width:240px;}
.option li {float:left; margin-left:-1px;}
.option .n1 li {width:50%;}
.option .n2 li {width:33.33%;}
.option .n3 li {width:25%;}
.option a {display:block; position:relative; padding:7px 5px; border:1px solid #d3d3d3; background-color:#fff; color:#3a3a3a; font-size:14px; line-height:16px; transition-property:border-color, background-color, color; transition-duration:0.25s; transition-timing-function:linear;}
.option a:hover, .option li.active a {z-index:10;}
.option a:hover {border-color:#2c3689; color:#2c3689; text-decoration:underline;}
.option li.active a {border-color:transparent; background-color:#2c3689; color:#fff; text-decoration:none;}
.option .calendar_btn {position:absolute; top:0; right:0; width:37px; height:100%; border-color:#d3d3d3; background-color:#fff; transition-property:border-color, background-color; transition-duration:0.25s; transition-timing-function:linear;}
.option .calendar_btn:hover, .option .calendar.active .calendar_btn {z-index:10;}
.option .calendar_btn:hover {border-color:#2c3689;}
.option .calendar.active .calendar_btn {border-color:transparent; background-color:#2c3689;}
.option .calendar_btn:before {display:inline-block; width:16px; height:17px; background:url('../images/sub/option_sprite.png') no-repeat left top;}
.option .calendar.active .calendar_btn:before {background-position:left -27px;}
.option .calendar_content {display:none; position:absolute; top:100%; left:0; z-index:20; width:100%; margin-top:10px; padding:15px; border:1px solid #1e3779; background-color:#fff; font-size:14px; line-height:16px; text-align:left;}
.option .calendar_btns {margin-top:20px; font-size:0; line-height:0; text-align:center;}
.option .calendar_submit {margin-right:5px;}
.option .calendar_submit, .option .calendar_close {padding:7px 10px; border-color:#d3d3d3; background-color:#f3f3f5; font-size:14px; line-height:16px;}
.option .calendar_submit:hover, .option .calendar_close:hover {text-decoration:underline;}
@media all and (max-width:640px) {
    .option {margin-top:25px; padding-bottom:0; padding-right:0; background-color:transparent;}
    .option .option_type {display:block; position:relative; padding-top:0; padding-left:0; border-top:1px solid #dcdcdc;}
    .option .option_type:first-child {border-top-width:0;}
    .option .option_type.active {z-index:10;}
    .option .option_title {display:block; position:relative; margin-right:0; padding:8px 5px; background-color:#f3f3f5; font-size:14px; line-height:16px;}
    .option .option_btn {display:inline-block; width:0; height:0; margin-left:5px; border-top:4px solid #3a3a3a; border-right:4px solid transparent; border-bottom:0 solid #3a3a3a; border-left:4px solid transparent; font-size:0; vertical-align:middle; transition-property:border-top-width, border-bottom-width; transition-duration:0.25s; transition-timing-function:linear;}
    .option .option_type.active .option_btn {border-top-width:0; border-bottom-width:4px;}
    .option ul {display:none;}
    .option .n1 ul {width:100%;}
    .option .n2 ul {width:100%; padding-right:0;}
    .option .n3 ul {width:100%;}
    .option li {float:none; margin-left:0;}
    .option .n1 li {width:auto;}
    .option .n2 li {width:auto;}
    .option .n3 li {width:auto;}
    .option a {border-right-width:0; border-bottom-width:0; border-left-width:0; font-size:13px; line-height:15px;}
    .option a:hover, .option li.active a {border-top-color:#d3d3d3;}
    .option .calendar_btn {position:static; width:100%; height:30px; border-right-width:0; border-bottom-width:0; border-left-width:0;}
    .option .calendar_btn:hover, .option .calendar.active .calendar_btn {border-top-color:#d3d3d3;}
    .option .calendar_content {position:relative; top:0; margin-top:0; padding:0; border-width:0; font-size:13px; line-height:15px;}
    .option .calendar_btns {margin-top:0;}
    .option .calendar_submit {margin-left:0;}
    .option .calendar_submit, .option .calendar_close {display:block; width:100%; padding-right:5px; padding-left:5px; border-right-width:0; border-bottom-width:0; border-left-width:0; font-size:13px; line-height:15px;}
    .option .p-input {margin-top:0; margin-bottom:0; border-bottom-width:0; border-left-width:0;}
    .option .p-date-group {width:100%;}
    .option .p-form__split {display:none;}
    .option .p-input:not([readonly]):focus {border-color:#d3d3d3; box-shadow:none;}
    .option .p-input__split .p-input__item {border-bottom-width:0; border-right-width:0;}
}

/* 콘텐츠 */
#contents {position:relative; z-index:10; min-height:500px; margin-top:38px;}
@media all and (max-width:640px) {
    #contents {min-height:300px; margin-top:25px;}
}

/* 사이드 */
.side {float:left; width:225px; margin-left:-1px; padding-top:50px; padding-bottom:50px; padding-left:26px; border-left:1px solid #d3d3d3;}
@media all and (max-width:1200px) {
    .side {width:188px;}
}
@media all and (max-width:1000px) {
    .side {float:none; width:auto; margin-left:0; padding-left:0; border-top:1px solid #d3d3d3; border-left-width:0;}
}
@media all and (max-width:640px) {
    .side {padding-top:25px; padding-bottom:25px;}
}

/* 인기검색어 */
.rank {font-size:0; line-height:0;}
.rank h2 {margin-bottom:13px; color:#353535; font-size:17px; line-height:19px; font-weight:400;}
.rank .tab_nav a {position:relative; width:50%; margin-left:-1px; padding:7px 5px; border:1px solid #d3d3d3; color:#3a3a3a; font-size:14px; line-height:16px; vertical-align:top; text-align:center; transition-property:border-color, background-color, color; transition-duration:0.25s; transition-timing-function:linear;}
.rank .tab_nav .active {z-index:10; border-color:transparent; background-color:#2c3689; color:#fff;}
.rank .tab_nav .active:hover {text-decoration:none;}
.rank .tab_contents {margin-top:15px;}
.rank .tab_content {display:none;}
.rank .tab_content.active {display:block;}
.rank li {position:relative; margin-top:8px; padding-right:40px; padding-left:23px;}
.rank li:first-child {margin-top:0;}
.rank li:before {display:block; position:absolute; top:2px; left:0; width:15px; height:15px; background-color:#727272; color:#fff; font-size:10px; line-height:15px; text-align:center; content:counter(number, decimal);}
.rank li:nth-child(-n + 3):before {background-color:#5385e1;}
.rank .tab_content a {display:block; color:#525252; font-size:14px; line-height:18px;}
.rank .rank_state {display:block; overflow:hidden; position:absolute; top:0; right:0; width:40px; height:100%; color:#6f6f6f; font-size:12px; line-height:18px; text-align:center;}
.rank .rank_state span {margin-right:5px; vertical-align:middle;}
.rank .up, .rank .down {width:7px; height:7px; background-image:url('../images/sub/rank_sprite.png'); background-repeat:no-repeat; font-size:0; line-height:0;}
.rank .up {background-position:left top;}
.rank .down {background-position:left -17px;}
.rank .same {width:6px; height:1px; background-color:#b3b3b3; font-size:0; line-height:0;}
.rank .rank_state .new {margin-right:0; color:#e10000;}

/* 내가찾은검색어 */
.my {margin-top:50px; padding-top:50px; border-top:1px solid #d3d3d3;}
.my h2 {margin-bottom:18px; color:#353535; font-size:17px; line-height:19px; font-weight:400;}
.my .my_content {overflow:hidden; position:relative;}
.my ul {margin-top:-10px; margin-left:-7px;}
.my li {float:left; position:relative; margin-top:10px; margin-left:7px; padding:6px 38px 6px 18px; border:1px solid #d3d3d3; border-radius:15px;}
.my .my_query {display:block; color:#525252; font-size:14px; line-height:16px;}
.my .my_delete {display:block; position:absolute; top:10px; right:20px; width:9px; height:9px; background:url('../images/sub/my_sprite.png') no-repeat left top; font-size:0;}
@media all and (max-width:640px) {
    .my {margin-top:25px; padding-top:25px;}
}