@charset "UTF-8";

/* 우리동 현황/역사 */
.cts2595 .box:before{background-image:url('/site/dong/images/contents/dong_mapicon.png');}

/* 우리동 명소/문화소개 */
.cts2596 .box.img .text_cts{padding:6px 0 0 0;}

/* 찾아오시는 길*/
.cts2612 .directions .method.bus{padding:36px 20px 36px 132px;}
.cts2612 .directions .method.bus .bu > li{width:32%;}

@media all and (max-width:640px){
    .cts2612 .directions .method.bus{min-height:auto; padding:25px;}
    .cts2612 .directions .method.bus .bu > li{width:100%;}
}