@charset "utf-8";

.warning{position:relative; padding-left:22px; font-size:15px; color:#049bc1; line-height:22px; text-align: left}
.warning.type2{color:#767676;}
.warning.type3{color:#df3796;}
.warning:before{display:block; position:absolute; top:5px; left:0; width:15px; height:15px; background:url('https://www.sd.go.kr/site/public/images/template/point_icon.png') no-repeat;}
.warning.type2:before{background-position:-18px top;}
.warning.type3:before{background-position:-35px top;}


.warning_box{margin:20px 0; padding:11px 20px 15px; border:1px solid #e2e8ea; background-color:#f1f8fa; font-size:15px; color:#0195ba;}
.warning_box.type2{border-color:#e8e8e8; background-color:#f8f8f8; color:#767676;}
.warning_box.type3{border-color:#eee8ec; background-color:#fef7fc; color:#df3796;}


/* 목록 : 기본 */
.disease_panel .bu,.disease_panel  .num {margin:10px 0; text-align:left;}
.disease_panel .bu li,.disease_panel  .num li{line-height:24px; font-weight:300;}
.disease_panel .bu li,.disease_panel  p.blt,.disease_panel  span.blt{position:relative; margin-bottom:2px; font-size:16px;}
.disease_panel .bu li:last-child,.disease_panel  .num li:last-child,.disease_panel  p.blt{margin-bottom:0;}
.disease_panel .bu li:before,.disease_panel  .num li:before,.disease_panel  ul.num > li > .item,.disease_panel  p.blt:before,.disease_panel  span.blt:before,.disease_panel  p.blt.num .item{display:block; position:absolute; left:0;}
.disease_panel .bu > li,.disease_panel  p.blt,.disease_panel  span.blt{padding-left:16px;}
.disease_panel .bu > li:before,.disease_panel  p.blt:before,.disease_panel  span.blt:before{left:0; top:10px; width:4px; height:4px; border-radius:50%; background-color:#4289e6;}
.disease_panel .num.dl > li .title{color:#0e355d;}
.disease_panel .bu > li ul,.disease_panel  .num > li ul,.disease_panel  .bu > li ol{margin:4px 0;}
.disease_panel .bu > li > ul > li,.disease_panel  .num > li > ul > li,.disease_panel  p.blt.type2,.disease_panel  span.blt.type2{padding-left:17px; line-height:22px; color:#666;}
.disease_panel .bu > li > ul.num > li{padding-left:17px;}
.disease_panel .bu > li > ul >li:before,.disease_panel  .num > li > ul >li:before,.disease_panel  p.blt.type2:before,.disease_panel  span.blt.type2:before{left:0; top:11px; width:7px; height:2px; background-color:#97a8be;}
.disease_panel .bu > li > ul >li > ul > li,.num > li > ul >li > ul > li,.disease_panel  p.blt.type3{padding-left:16px; line-height:20px; color:#777;}
.disease_panel .bu > li > ul >li > ul > li:before,.disease_panel  .num > li > ul >li > ul > li:before,.disease_panel  p.blt.type3:before{left:0; top:9px; width:9px; height:6px; background:url('https://www.sd.go.kr/site/public/images/template/template_sprite.png') no-repeat left -134px;}
.disease_panel .num > li,
.disease_panel p.blt.num {position:relative; margin-bottom:4px; padding-left:34px;}
.disease_panel .num > li:last-child{margin-bottom:0;}
.disease_panel ul.num > li > .item,
.disease_panel p.blt.num .item,
.disease_panel ol.num > li:before{left:0; top:1px; width:22px; border:1px solid rgba(14, 53, 93, 0.5); box-sizing:border-box; color:#0e355d; font-size:13px; line-height:21px; border-radius:50%; text-align:center; content:counter(number);}
.disease_panel .bu > li > ul.num > li{padding-left:34px;}
.disease_panel .bu > li > ul.num > li:before,.disease_panel  p.blt.num:before {display:none;}
.disease_panel p.blt{margin-bottom:0;}
.disease_panel p.blt.dl{display:table;}
.disease_panel p.blt.dl .blt_title{display:table-cell; position:relative; padding-right:33px; font-weight:500; color:#4289e6;}
.disease_panel p.blt.dl .blt_title:before{display:block; position:absolute; top:6px; right:20px; width:1px; height:13px; background-color:#bec8d4;}
.disease_panel p.blt.dl .blt_text{display:table-cell;}

.disease_panel ol.num.kor > li > ul{margin:4px 0;}
.disease_panel ol.num.kor > li > ul >li{position:relative; padding-left:23px;}
.disease_panel ol.num.kor > li > ul >li:before{display:none;}
.disease_panel ol.num.kor > li > ul >li .item{display:inline-block; position:absolute; left:0; margin-right:6px; color:#1e4268; font-weight:500;}

/* 제목과 내용이 있는 ul */
.disease_panel .dl > li{display:table; width:100%;}
.disease_panel .dl > li .title{display:table-cell; position:relative; width:151px; padding-right:33px; box-sizing:border-box; font-weight:500; color:#4289e6; line-height: 18px;}
.disease_panel .dl > li .title:before{display:block; position:absolute; top:6px; right:20px; width:1px; height:13px; background-color:#bec8d4;}
.disease_panel .dl > li .text{display:table-cell;}
.disease_panel .dl > li.block .title{display:block; width:auto !important; min-height:24px; padding-right:0;}
.disease_panel .dl > li.block .title:before{display:none;}
.disease_panel .dl > li.block .text{display:block;}

.disease_panel .dl_65.dl > li .title{width:65px;}
.disease_panel .dl_80.dl > li .title{width:80px;}
.disease_panel .dl_95.dl > li .title{width:95px;}
.disease_panel .dl_100.dl > li .title{width:100px;}
.disease_panel .dl_110.dl > li .title{width:110px;}
.disease_panel .dl_120.dl > li .title{width:120px;}
.disease_panel .dl_130.dl > li .title{width:130px;}
.disease_panel .dl_140.dl > li .title{width:140px;}
.disease_panel .dl_150.dl > li .title{width:150px;}
.disease_panel .dl_160.dl > li .title{width:160px;}
.disease_panel .dl_170.dl > li .title{width:170px;}
.disease_panel .dl_180.dl > li .title{width:180px;}
.disease_panel .dl_190.dl > li .title{width:190px;}
.disease_panel .dl_200.dl > li .title{width:200px;}
.disease_panel .dl_250.dl > li .title{width:250px;}
.disease_panel .dl_300.dl > li .title{width:300px;}


@media all and (max-width:640px) {
    .disease_panel p.blt.dl{margin-bottom:5px; padding-left:0;}
}


@media all and (max-width:640px){
    .disease_panel .bu li,.disease_panel  .num li{font-size:14px; line-height:22px;}
    .disease_panel .bu > li,.disease_panel  p.blt{padding-left:10px;}
    .disease_panel .bu > li:before,.disease_panel  p.blt:before{top:8px;}
    .disease_panel .bu > li > ul > li,.disease_panel  .num > li > ul > li,.disease_panel  p.blt.type2,.disease_panel  span.blt.type2{padding-left:12px;}
    .disease_panel .bu > li > ul > li:before,.disease_panel  .num > li > ul > li:before,.disease_panel  p.blt.type2:before ,span.blt.type2{top:9px;}
    .disease_panel .bu > li > ul > li > ul > li,.disease_panel  .num > li > ul > li > ul > li,.disease_panel  p.blt.type3{padding-left:14px;}
    .disease_panel .bu > li > ul > li > ul > li:before,.disease_panel  .num > li > ul > li > ul > li:before,.disease_panel  p.blt.type3:before{top:7px;}
    .disease_panel .num > li{padding-left:26px;}
    .disease_panel ul.num > li > .item,.disease_panel  ol.num > li:before{width:18px; font-size:11px; line-height:16px;}
    .disease_panel p.blt,.disease_panel  p.blt.dl .blt_title,.disease_panel  p.blt.dl .blt_text ,span.blt{display:block; font-size:14px; line-height:22px;}
    .disease_panel p.blt.dl{margin-bottom:5px; padding-left:10px;}
    .disease_panel .dl > li{margin-bottom:5px;}
    .disease_panel p.blt,.disease_panel  p.blt.dl .blt_title,.disease_panel  .dl > li .title{display:block; width:100%; padding-right:0;}
    .disease_panel p.blt.dl .blt_title:before,.disease_panel  .dl > li .title:before{display:none;}
    .disease_panel .dl > li .text{display:block;}
}

.em_blue{color:#1175e0;}
.disease_panel ul + p{margin-bottom:20px; line-height:22px;}
.disease_panel .disease_box{padding:20px 15px; border:1px solid #9fa3af;}
.disease_panel .disease_box p{margin-bottom:0; font-size:16px; line-height:23px; color:#000;}
.disease_panel .confirmation_title{position:relative; margin-top:30px; font-size:16px; line-height:24px; color:#000;}
.disease_panel .confirmation_title:before{display:inline-block; width:20px; height:16px; margin-right:6px; background-image:url('/site/intro/images/main/corona_sprite.png'); background-position:left 17.03%; background-size:200% 1237.5%; vertical-align:-1px; content:'';}


/* 테이블 */
.table_title{display:block; position:relative; padding-left:16px; font-size:16px; font-weight:500; line-height:24px; color:#4289e6;}
.table_title:before{display:inline-block; position:absolute; left:0; top:10px; width:4px; height:4px; border-radius:50%; background-color:#4289e6;}
.table_unit{margin-bottom:-14px; text-align:right;}

.table_title + .table{margin-top:10px;}

.table{width:100%; margin:20px 0; background-color:#fff; border-top:2px solid #015acd; font-size:16px; line-height:24px;}
.table.fixed{table-layout:fixed;}
.table.break tbody td,.table.break thead th,.table.break tbody td,.table.break tbody th{word-break:break-all;}
.table thead th{padding:14px 10px; border:1px solid #d5d8dd; background-color:#f3f7fd; color:#015acd; font-weight:500; text-align:center;}
.table thead th + th{border-left:1px solid #d5d8dd;}
.table thead th:first-child{border-left:none;}
.table thead th:last-child{border-right:none;}
.table tbody th, .table tfoot th{background-color:#f9f9f9; font-weight:300; color:#0b356c; text-align:center;}
.table tbody th, .table tbody td, .table tfoot th, .table tfoot td{padding:14px 10px; border-bottom:1px solid #d5d8dd; border-right:1px solid #d5d8dd;}
.table tfoot td:first-child{border-left:none;}
.table tbody tr th:last-child{border-right:none;}
.table td:last-child{border-right:none;}
.table tbody th + td, .table tbody td + td, .table tfoot td{border-left:1px solid #d5d8dd;}
.table tbody td, .table tfoot td{text-align:center;}
.table tbody td ul{margin-top:0; margin-bottom:0; padding-left:10px;}
.table tbody td .blt{margin-left:10px;}
.table tbody td ul.dl li .title{padding-left:16px;}
.table tbody td ul.bu_clear{padding-left:0;}
.table tbody td ol{margin-top:0; margin-bottom:0;}
/* thead에 tr이 두 개 이상일 때 */
.table.tr_over thead th{border-bottom:none;}
.table.tr_over tbody tr:first-child th,
.table.tr_over tbody tr:first-child td{border-top:1px solid #015acd;}
/* 세로형 테이블 */
.table.type2 tbody th{background-color:#f3f7fd; font-weight:500; color:#015acd;}
.table.type2 tbody td{text-align:left;}
/* 스크롤 테이블 */
.table_scroll{margin:25px 0 10px;}
.table_scroll table{margin:0;}
.table_scroll:before, .table_scroll_acitve:before{display: none;}
.table_scroll .scroll_notice{display: none;}
@media all and (max-width:800px){
    .table_scroll{position:relative; max-width:100%; overflow-x:auto;}
    .table_scroll_acitve.table_scroll:before{display: none;}
    .table_scroll .scroll_notice{display: block;}
    .table_scroll table{min-width:800px;}
}
@media all and (max-width:640px){
    .table{font-size:14px;}
    .table .bu, .table .num,.table .dl, .table .dl2{margin-top:10px;margin-bottom:10px;}
    .table thead th{padding:10px 5px;}
    .table tbody th, .table tbody td, .table tfoot th, .table tfoot td{padding:10px 5px;}
    /* 반응형 테이블 */
    table.table.responsive{border-top:#a6a6a6 solid 1px;}
    table.table.responsive thead{display:none;}
    table.table.responsive colgroup{display:none;}
    table.table.responsive tbody tr{position:relative; display:block; border-bottom:1px solid #d9d9d9;}
    table.table.responsive tbody tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
    table.table.responsive tbody td{display:block; float:left; width:100%; padding:4px 3%; border:none; text-align:left !important; box-sizing:border-box; background-color:transparent;}
    table.table.responsive tbody th{display:block; float:left; width:100%; padding:4px 3%; color:#555; text-align:left; vertical-align:middle; background-color:transparent; border:none;}
    table.table.responsive tbody tr:first-child td, table.table.responsive tbody tr:first-child th{border-top:none;}
    table.table.responsive tbody th:before, table.table.responsive tbody td:before{display:inline; content:attr(data-content)' : ';}
    table.table.responsive tfoot tr{position:relative; display:block; border-bottom:1px solid #d9d9d9;}
    table.table.responsive tfoot tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
    table.table.responsive tfoot tr:nth-child(odd){background:#f8f8f8;}
    table.table.responsive tfoot td{display:block; padding:4px 3%; border:none; text-align:left; box-sizing:border-box; background-color:transparent;}
    table.table.responsive tfoot th{display:block; padding:4px 3%; text-align:left; vertical-align:middle; background-color:transparent; border:none;}
    table.table.responsive tfoot tr:first-child td, table.table.responsive tfoot tr:first-child th{border-top:none;}
    table.table.responsive tfoot th:before, table.table.responsive tfoot td:before{display:inline; content:attr(data-content)' : ';}
    table.table.responsive.type2 tbody th:before, table.table.responsive.type2 tbody td:before{display:none;}
    table.table.responsive.type2 tfoot th:before, table.table.responsive.type2 tfoot td:before{display:none;}
}


/* 버튼스타일 */
.btn{display:inline-block; position:relative; min-width:162px; margin:0; padding:10px 15px; border:1px solid #283047; box-sizing:border-box; background-color:#fff; font-size:16px; line-height:24px; color:#283047; text-align:center; transition:0.1s; vertical-align:middle;}
.btn:after{display:inline-block; position:relative; background:url('https://www.sd.go.kr/site/public/images/template/template_sprite.png') no-repeat;}
.btn:hover{background-color:#283047; color:#fff;}
.btn.type2{background-color:#015acd; border-color:#015acd; color:#fff;}
.btn.type2:hover{background-color:#002c65; border-color:#002c65;}
.btn.small{min-width:auto; padding:3px 19px; font-size:14px;}
.btn + .btn{margin-left:6px;}

.btn.link:after{width:5px; height:9px; margin-left:12px; background-position:left -268px; vertical-align:1px;}
.btn.link:hover:after{background-position:left -150px;}
.btn.type2.link:after{background-position:left -150px;}

@media all and (max-width:640px){
    .btn{min-width:120px; padding:5px; font-size:14px; line-height:22px;}
}

/* 기본.box */
.box{position:relative; min-height:158px; margin:20px 0; padding:37px 40px 37px 200px; border:1px solid #9fa3af;}
.box:before{display:block; position:absolute; top:20px; left:41px; width:119px; height:120px; background:url('https://sd.go.kr/site/public/images/template/box_icon4.png') no-repeat center;}
.box .box_title{margin-bottom:16px; margin-top:0; font-size:24px; font-weight:500; color:#283047; line-height:26px;}
.box .box_text{color:#3c4046; font-size:16px; line-height:24px;}

@media all and (max-width:640px) {
    .box .box_text{font-size:14px; line-height:22px;}
}

/*.box .box_text span{display:inline;} */
.box .bu, .box .num{margin:0;}

/* 개요타입.box.type2 */
.box.type2{padding:33px 50px 30px 165px; border:5px solid #eaebed;}
.box.type2:before{top:33px; left:0; width:165px; background:url('https://sd.go.kr/site/public/images/template/box_icon.png') no-repeat center top;}
.box.type2:after{display:block; position:absolute; top:-5px; left:-5px; width:170px; height:5px; background:#049bc1;}

/* 개요타입3.box.type3 */
.box.type3{min-height:auto; padding:59px 100px 41px 77px; border:none; background-color:#f6f6f6; background-image:url('https://sd.go.kr/site/public/images/template/box_type3_bg1.png'),url('https://sd.go.kr/site/public/images/template/box_type3_bg2.png'); background-position:left top, right bottom; background-repeat:no-repeat;}
.box.type3:before{display:none;}
.box.type3 .box_title{color:#3b3b3b;}
.box.type3 .box_text{color:#555;}
.box.type3 .btn{margin-top:15px;}

/* 박스 .list */
.box.list{padding:30px 42px; border-right:none; border-left:none; border-width:8px; border-color:rgba(66, 137, 230, 0.1); background:url('https://sd.go.kr/site/public/images/template/box_bg.png') no-repeat right 8px bottom;}
.box.list:before, .box.list:after{display:block; position:absolute; top:-8px; width:8px; height:calc(100% + 16px); background:rgba(66, 137, 230, 0.1);}
.box.list:before{left:0;}
.box.list:after{right:0;}
/* 아이콘이 없는 개요박스 */
.box.no_icon{padding:0 0 30px 30px; border-color:#6792cc; background:#fff url('https://sd.go.kr/site/public/images/template/box_bg3.png') no-repeat right bottom;}
.box.no_icon:before{display:none;}
.box.no_icon .box_title{margin-bottom:21px; padding:22px 0 23px 30px; background:#6792cc url('https://sd.go.kr/site/public/images/template/box_bg2.jpg') no-repeat right top / contain; font-size:22px; color:#fff; line-height:24px;}
.box.no_icon .box_text{padding:0 29px; color:#517cb6;}
/* 아이콘이 없는 개요박스 - 축소형 */
.box.no_icon.tiny{padding:0 0 30px 30px; border-color:#6792cc; background:#fff url('https://sd.go.kr/site/public/images/template/box_bg3.png') no-repeat right bottom; text-align: left;}
.box.no_icon.tiny:before{display:none;}
.box.no_icon.tiny .box_title{padding: 15px 0 15px 28px; font-size: 19px; line-height: 24px; font-weight: 400;}

@media all and (max-width:1300px){
    .box.ul_icon .item{padding:30px;}
    .box.ul_icon .box_title{position:absolute; left:30px; width:auto;}
    .box.ul_icon .item > ul{padding-left:0; padding-top:75px;}
    .box.ul_icon.no_title ul{padding-top:0;}
    .box.set .innerbox .box_text{padding:0 20px;}
}

@media  all and (max-width:1000px) {
    .box.set .innerbox .box_title{font-size:20px; line-height:22px;}
}

@media all and (max-width:640px){
    .box{min-height:auto; padding:20px 25px;}
    .box:before{display:none;}
    .box .box_title{margin-bottom:10px; font-size:18px; line-height:24px;}

    .box.type2{padding:20px 25px;}
    .box.type3{padding:20px 25px;}
    .box.type3 .box_title{font-size:18px;}

    .box.list{padding:20px 33px; background-size:100px;}

    .box.no_icon{padding:0 0 20px 10px; background:#fff;}
    .box.no_icon .box_title{margin-bottom:15px; padding:12px 0 13px 20px; font-size:18px;}
    .box.no_icon .box_text{padding:0 20px;}

    .box.no_icon.tiny{padding:0 0 20px 10px; background:#fff;}
    .box.no_icon.tiny .box_title{margin-bottom:15px; padding:10px 0 10px 20px; font-size:17px;}
    .box.no_icon.tiny .box_text{padding:0 20px;}

    .box.img{padding:20px;}
    .box.img:before{display:block;}
    .box.img:after{display:none;}
    .box.img .img_cts{display:block; min-width:auto;}
    .box.img .text_cts{display:block; padding:15px 0 0 0;}
    .box.img .box_title{font-size:18px;}

    .box.link{padding:20px 25px 40px; background:none;}

    .box.icon{padding:25px 50px 25px 25px;}
    .box.icon:before{opacity:0.4; right:15px; bottom:15px; }

    .box.ul_icon.no_title .item:before{left: 0; right:0; margin:auto;}
    .box.ul_icon.no_title ul.bu{padding-left:0; padding-top:75px;}
    .box.ul_icon.no_title ul > li > ul{padding-left:0;}

    .box.set{background-image:none;}
    .box.set .innerbox{display:block; padding:0 19px 30px; width:100%;}
    .box.set .innerbox .box_title{font-size:18px; line-height:20px;}
    .box.set .innerbox.second{position:relative;}
    .box.set .innerbox.second:before{display:block; position:absolute; left:0; top:9px; width:100%; height:1px; background-color:#9fa3af;}
}

/* 강조 단락 */
.emphasis .emphasis_list{position:relative; margin-top:20px; margin-bottom:25px; padding:34px 220px 34px 116px; background-color:#eef1f7; font-size:0; text-align:left}
.emphasis .emphasis_list.phone, .emphasis .emphasis_list.manage{padding-right:40px;}
.emphasis .emphasis_list.manage{text-align:left;}
.emphasis .emphasis_list:last-child{margin-bottom:20px;}
.emphasis .emphasis_list:before{display:block; position:absolute; top:50%; left:38px; width:60px; height:60px; margin-top:-30px; border-radius:50%; background:#fff no-repeat center;}
.emphasis .emphasis_list.phone:before{background-image:url('https://sd.go.kr/site/public/images/template/box_icon5.png');}
.emphasis .emphasis_list.down:before{background-image:url('https://sd.go.kr/site/public/images/template/box_icon6.png');}
.emphasis .emphasis_list.link:before{background-image:url('https://sd.go.kr/site/public/images/template/box_icon7.png');}
.emphasis .emphasis_list.manage:before{background-image:url('https://sd.go.kr/site/public/images/template/box_icon8.png');}
.emphasis .emphasis_title{font-size:16px; color:#314057; vertical-align:top;}
.emphasis .emphasis_list.phone .emphasis_title, .emphasis .emphasis_list.manage .emphasis_title{margin-right:19px;}
.emphasis .emphasis_num{position:relative; padding-left:20px; font-size:17px; vertical-align:top;}
.emphasis .emphasis_num:before{display:block; position:absolute; top:5px; left:0; width:1px; height:16px; background-color:#bcc1ca;}
.emphasis .emphasis_num.n2:before{display:none;}
.emphasis .btn{position:absolute; top:50%; right:40px; margin-top:-23px;}
.emphasis .emphasis_list.phone.type2 .lump{width:100%; margin-bottom: 4px;}
.emphasis .emphasis_list.phone.type2 .lump:last-child {margin-bottom:0;}
.emphasis .emphasis_list.phone.type3 .lump{width:50%; vertical-align:top;}
.emphasis .bu{margin:0;}

/* 강조 - 위치 */
.emphasis .emphasis_list.place{display:table; width:100%; padding-right:40px; padding-bottom:0;}
.emphasis .emphasis_list.place:before{display:none;}
.emphasis .emphasis_list.place .emphasis_title{position:relative; width:146px; margin-right:19px;}
.emphasis .emphasis_list.place .emphasis_title:before{display:block; position:absolute; top:15px; left:-80px; width:60px; height:60px; margin-top:-30px; border-radius:50%; background-color:#fff; background-repeat:no-repeat; background-position:center; background-image:url('https://sd.go.kr/site/public/images/template/box_icon9.png');}
.emphasis .emphasis_list.place .emphasis_title, .emphasis .emphasis_list.place .emphasis_num{display:table-cell;}
.emphasis .emphasis_list.place .emphasis_num, .emphasis .emphasis_list.place .bu{padding-bottom:40px;font-size:16px;}
@media all and (max-width:1280px){
    .emphasis .emphasis_list.phone.type3 .lump{width:100%;}
}
@media all and (max-width:640px){
    .emphasis .emphasis_list{padding:20px 25px; text-align:center;}
    .emphasis .emphasis_list:before{position:static; margin:0 auto 15px; width:48px; height:48px;}
    .emphasis .emphasis_list.manage{text-align:center;}

    .emphasis .emphasis_list.phone:before{background-size:24px 25px;}
    .emphasis .emphasis_list.down:before{background-size:21px 24px;}
    .emphasis .emphasis_list.link:before{background-size:25px 22px;}
    .emphasis .emphasis_list.manage:before{background-size:20px 28px;}
    .emphasis .emphasis_list.phone{padding-right:25px;}
    .emphasis .emphasis_list.phone .emphasis_title, .emphasis .emphasis_list.manage .emphasis_title{display:block; margin-right:0;}
    .emphasis .emphasis_num{display:block; padding-top:10px; padding-left:0; font-size:14px;}
    .emphasis .emphasis_num:before{top:6px; left:50%; width:16px; height:1px; margin-left:-8px;}
    .emphasis .emphasis_num.n2:before{display:inline-block;}
    .emphasis .btn{display:block; position:static; width:151px; margin:10px auto 0;}
    .emphasis .emphasis_list.phone.type3 .lump{width:50%;margin-bottom:15px;}

    .emphasis .emphasis_list.place{display:block;padding-bottom:40px;}
    .emphasis .emphasis_list.place:before{display:none;}
    .emphasis .emphasis_list.place .emphasis_title{position:relative; width:auto; margin-right:0;}
    .emphasis .emphasis_list.place .emphasis_title:before{position:static; margin:0 auto 15px; width:48px; height:48px; background-size:19px 28px;}
    .emphasis .emphasis_list.place .emphasis_title, .emphasis .emphasis_list.place .emphasis_num{display:block;}
    .emphasis .emphasis_list.place .emphasis_num, .emphasis .emphasis_list.place .bu{padding-bottom:0; font-size:14px;}
    .emphasis_list.place .bu{margin-top:10px;}
}
@media all and (max-width:480px){
    .emphasis .emphasis_list.phone.type3 .lump{width:100%;}
}
