
/* wrap */

/*:lang(en) {font-family:'OpenSans', sans-serif;}*/
:lang(zh) {font-family:'Microsoft YaHei', sans-serif; word-break:normal;}

#wrapper{min-width:1300px;}
.wrap{width:1300px;}
@media all and (max-width:1300px){
	#wrapper{min-width:1000px;}
	.wrap{width:1000px;}
}
@media all and (max-width:1000px){
	#wrapper{min-width:0;}
	.wrap{width:auto;}
}

/* 홈 */
.home{position:absolute; width:100%; height:91px; transition-duration:0.25s; transition-timing-function:linear; transition-property:background-color;}
.home:before{display:block; position:absolute; bottom:0; left:0; z-index:30; width:100%; height:1px; background-color:rgba(255, 255, 255, 0.4);}

/* 홈 활성화 */
@media all and (min-width:1001px) {
	.lnb_open .home:before{display:none;}
}
@media all and (max-width:1000px) {
	.home{z-index:30; height:70px;}
}
@media all and (max-width:640px) {
	.home{height:60px;}
}

/* gnb */
.home .gnb .link{position:absolute; top:0; right:0;}
.home .gnb .link_list{padding-top:35px;}
.home .gnb .link_item{float:left; position:relative; margin-left:9px; padding-left:12px;}
.home .gnb .link_item:before{display:block; position:absolute; top:0; bottom:0; left:0; width:5px; height:5px; margin-top:auto; margin-bottom:auto; background-color:rgba(255, 255, 255, 0.5); border-radius:50%;}
.home .gnb .link_item:first-child:before{display:none;}
.home .gnb .link_anchor,
.home .gnb .language_button{position:relative; color:#fff; font-size:14px; line-height:18px; letter-spacing:-0.025em; font-weight:300;}
.home .gnb .language_button{padding-right:27px;}
.home .gnb .language_button:before{display:block; position:absolute; top:0; right:0; width:18px; height:18px; background-image:url('/site/public/images/common/language_sprite.png'); background-repeat:no-repeat; background-position:left 56.86%; background-size:100% 636.84%;}
.home .gnb .language_panel{display:none; position:absolute; top:26px; left:0; z-index:50; width:125px; padding:14px; background-color:#fff; border-width:0; border-style:solid; border-color:#bfc3ca;}
.home .gnb .language_item{margin-top:12px;}
.home .gnb .language_item:first-child{margin-top:0;}
.home .gnb .language_anchor{position:relative; color:#8d8d8d; font-size:14px; line-height:16px; letter-spacing:-0.01em;}
.home .gnb .language_anchor:hover{color:#0c96e3; padding-right:28px;}
.home .gnb .language_anchor:hover:before{display:block; position:absolute; top:5px; right:0; width:14px; height:5px; background:url('/site/public/images/common/language_sprite.png') no-repeat left -116px;}

/* 활성화 */
.home .gnb .link_item.active .language_button:before{background-position:left 85.29%; background-size:100% 636.84%;}
.home .gnb .language.active .language_panel{border-width:1px;}
.lnb_open .home .gnb .link_item:before{background-color:rgba(0, 0, 0, 0.5);}
.lnb_open .home .gnb .link_anchor,
.lnb_open .home .gnb .language_button{color:#444;}
.lnb_open .home .gnb .language_button:before{background-position:left top; background-size:100% 636.84%;}
.lnb_open .home .gnb .link_item.active .language_button:before{background-position:left 28.43%; background-size:100% 636.84%;}
@media all and (max-width:1000px) {
	.home .gnb{display:none;}
}

/* 로고 */
.home .logo{position:absolute; top:0; left:0; width:100%; line-height:0; padding-top:23px; padding-bottom:26px;}
.home .logo:before{display:block; position:absolute; top:0; left:0; z-index:20; width:100%; height:100%; background-color:transparent;}
.home .logo_anchor{position:relative; z-index:30;}
.home .logo_image{display:block; width:235px; height:41px; background-image:url('../images/common/logo_sprite.png'); background-repeat:no-repeat; background-position:left top; background-size:100% 348.78%;}
@media all and (min-width:1001px){
	.lnb_open .home .logo_image{background-position:left 50%; background-size:100% 348.78%;}
}
@media all and (max-width:1000px) {
	.home .logo{z-index:20; padding-top:16px; padding-bottom:21px;}
	.home .logo_image{width:187px; height:33px;}
}
@media all and (max-width:640px) {
	.home .logo{padding-top:14px; padding-bottom:17px;}
	.home .logo_image{width:169px; height:29px;}
}

/* 주메뉴 */
@media all and (min-width:1001px) {
	.lnb{position:absolute; top:0; left:0; width:100%; height:90px;}
	.lnb .wrap{height:100%;}
	.lnb .menu{overflow:hidden; position:absolute; top:0; left:0; z-index:20; width:100%; height:100%; background-color:transparent; transition-property:height;}
	.lnb_open .menu{background-color:#fff;}

	/* 메뉴 배경 */
	.lnb:before{display:block; visibility:hidden; opacity:0; position:fixed; top:0; left:0; z-index:10; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.4); transition-property:visibility, opacity; transition-duration:0.25s; transition-timing-function:linear;}
	.lnb_open .lnb:before{visibility:visible; opacity:1;}

	/* 메뉴 높이 */
	.lnb .menu.after:after, .lnb .menu .depth2{height:calc(100% - 90px);}

	/* 하단 배경 */
	.lnb .menu.after:after{bottom:0; left:0; z-index:20; width:100%; box-sizing:border-box; background-color:#f3f3f3;}

	/* 하단 배경 활성화 */
	.lnb_open .lnb .menu.after:after{visibility:visible; opacity:1;}

	/* 메뉴 제목 */
	.lnb .menu_title {display:none;}

	/* 1차 메뉴 */
	.lnb .menu .depth1_list{float:left; width:100%; padding-left:390px; padding-right:390px; text-align:center;}
	.lnb .menu .depth1_item:first-child{margin-left:0;}

	.lnb .menu .depth1_text{display:inline-block; position:relative; padding-top:33px; padding-bottom:12px; text-align:center; color:#fff; font-size:18px; line-height:20px; letter-spacing:-0.03em; font-weight:500; text-decoration:none; transition:none;}
	.lnb .menu .depth1_text:after{visibility:hidden; opacity:0; display:inline-block; position:absolute; bottom:0; left:0; width:100%; height:3px; background:#077bde; background:-moz-linear-gradient(left, #077bde 0%, #f9c109 50%, #fa3e2c 100%); background:-webkit-linear-gradient(left, #077bde 0%,#f9c109 50%,#fa3e2c 100%); background:linear-gradient(to right, #077bde 0%,#f9c109 50%,#fa3e2c 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#077bde', endColorstr='#fa3e2c',GradientType=1); transition-property:visibility, opacity;}
	.lnb .menu .depth1_text:hover span{text-decoration:underline;}

	/* 1차 메뉴 활성화 */
	.lnb_open .menu .depth1_text{color:#000;}
	.lnb_open .lnb .menu .depth1_item.active .depth1_text{color:#111;}
	.lnb_open .lnb .menu .depth1_item.active .depth1_text span{text-decoration:none;}
	.lnb_open .lnb .menu .depth1_item.active .depth1_text:after{visibility:visible; opacity:1;}
	.fixed .menu .depth1_text{color:#222;}

	/* 2차 메뉴 */
	.lnb .menu .depth2{overflow:visible; box-sizing:border-box; transition-property:visibility, opacity;}
	.lnb .menu .depth2_content{position:relative;}
	.lnb .menu .depth2_list{padding-top:25px; padding-bottom:25px; text-align:center;}
	.lnb .menu .depth2_item{margin-right:30px;}
	.lnb .menu .depth2_item:last-child{margin-right:0;}
	.lnb .menu .depth2_text{display:block; position:relative; color:#404040; font-size:16px; line-height:30px; letter-spacing:-0.03em; font-weight:300; text-decoration:none;}
	.lnb .menu .depth2_text:before{display:block; position:absolute; top:3px; right:0; width:8px; height:15px; background:url('../images/common/lnb_sprite.png') no-repeat left -1317px;}
	.lnb .menu .depth2_text[target='_blank']:after{display:inline-block; position:absolute; top:0; right:0; width:0; height:0; background-image:url('/common/images/layout/blank_sprite.png');background-repeat:no-repeat; background-position:left 75%; background-size:100% 785.71%; transition:none;}
	.lnb .menu .depth2_text:hover{color:#0145ce;}

	/* 2차 메뉴 활성화 */
	.lnb .menu .depth1_item.active .depth2{visibility:visible; opacity:1; z-index:10; border-top-width:1px;}
	.lnb .menu .depth1_item .depth2_text[target='_blank']{padding-right:35px;}
	.lnb .menu .depth1_item .depth2_text[target='_blank']:after{top:14px; right:15px; width:14px; height:14px;}
	.lnb .menu .depth1_item .depth2_text:hover[target='_blank']:after{background-position:left 50%; background-size:100% 785.71%;}

	/* 3차 메뉴 */
	.lnb .menu .depth3{display:none;}
}
@media all and (max-width:1300px) and (min-width:1000px) {
	.lnb .menu .depth1_list{padding-left:270px; padding-right:270px;}
	.lnb .menu .depth1_text{font-size:16px;}
}
@media all and (max-width:1000px) {
	.lnb .menu_show{position:absolute; top:0; right:3%; z-index:30;}
	.lnb .menu_show .menu_btn{position:relative; width:70px; height:70px;}
	.lnb .menu_show .menu_btn:before{display:block; position:absolute; top:0; bottom:0; right:0; z-index:20; width:22px; height:19px; margin-top:auto; margin-bottom:auto; background-image:url('/common/images/layout/button_sprite.png'); background-repeat:no-repeat; background-position:left 30.52%; background-size:109.09% 600%;}

	.lnb .link_anchor{color:#555;}
}
@media all and (max-width:640px) {
	.lnb .menu_show .menu_btn{width:60px; height:60px;}
}

/* 하단 */
#footer{margin-top:90px; border-top:1px solid #c7c7c7;}
#footer .logo_image{display:block; width:235px; height:41px; background-image:url('../images/common/logo_sprite.png'); background-repeat:no-repeat; background-position:left 100%; background-size:100% 348.78%;}

/* footer sns */
#footer .sns{position:absolute; top:10px; right:0; font-size:0;}
#footer .sns_title{display:inline-block; color:#7b838a; font-size:14px; line-height:16px; font-weight:200; letter-spacing:-0.01em;}
#footer .sns_list{display:inline-block; vertical-align:top;}
#footer .sns_item{float:left; margin-left:17px;}
#footer .sns_item:first-child{margin-left:0;}
#footer .sns_anchor:before{display:block; background-image:url('/site/main/images/common/sns_sprite.png'); background-repeat:no-repeat;}
#footer .sns_item.n1 .sns_anchor{padding-left:3px; padding-right:4px;}
#footer .sns_item.n1 .sns_anchor:before{width:9px; height:15px; background-position:left top;}
#footer .sns_item.n2 .sns_anchor{margin-top:1px; padding-left:3px; padding-right:3px;}
#footer .sns_item.n2 .sns_anchor:before{width:10px; height:13px; background-position:left -25px;}
#footer .sns_item.n3 .sns_anchor{margin-top:1px;}
#footer .sns_item.n3 .sns_anchor:before{width:16px; height:12px; background-position:left -48px;}
#footer .sns_item.n4 .sns_anchor{padding-left:6px;}
#footer .sns_item.n4 .sns_anchor:before{width:10px; height:13px; background-position:left -70px;}
#footer .footer_info{letter-spacing:-0.03em;}
#footer .tel.n2{padding-left:16px;}
@media all and (max-width:1300px) {
	#footer .logo{vertical-align:top;}
	#footer .address{display:block;}
	#footer .tel.n1{padding-left:0;}
	#footer .tel.n2{display:inline-block;}
}
@media all and (max-width:1000px) {
	#footer{margin-top:70px; padding-bottom:30px;}
	#footer .logo{display:inline-block;}
	#footer .logo_image{width:187px; height:33px;}
	#footer .sns{display:none;}
	#footer .footer_info{display:inline-block; margin-top:5px; margin-left:55px;}
}
@media all and (max-width:750px) {
	#footer .footer_info{display:block; margin-top:12px; margin-left:0;}
}
@media all and (max-width:640px) {
	#footer{margin-top:40px;}
	#footer .logo{margin-left:0;}
	#footer .zipcode{display:block;}
	#footer .tel.n1{display:inline-block;}
	#footer .copyright{margin-top:0; font-size:13px; line-height:23px;}
}