/* visual */
.visual:before{background-image:url('../images/sub/visual.jpg');}
.visual .visual_title{display:inline-block; position:relative; width:100%; padding:213px 200px 113px 200px; text-align:center; color:#fff; font-size:52px; line-height:62px; letter-spacing:-0.025em; font-weight:600; word-break:keep-all;}
@media all and (max-width:1300px) and (min-width:1000px) {
	.visual .visual_title{padding-left:100px; padding-right:100px;}
}
@media all and (max-width:1000px) {
	.visual .visual_title{padding:170px 60px 99px 60px; font-size:40px; line-height:50px;}
}
@media all and (max-width:640px) {
	.visual .visual_title{padding:120px 30px 60px 30px; font-size:24px; line-height:34px;}
}

/* path */
.path:before{background-color:#fff;}
.path:after{display:block; position:absolute; bottom:0; left:0; width:100vw; height:1px; background-color:#d1d1d1;}
.path .path_home{display:block; position:absolute; top:0; left:0;}
.path .path_home a{display:block; position:relative; z-index:10; width:80px; height:80px; background-color:#0145ce;}
.path .path_home a:before{display:block; position:absolute; top:0; bottom:0; left:0; right:0; width:33px; height:30px; margin:auto; background:url('../images/sub/path_sprite.png') no-repeat 0 0 / 100% 300%;}
.path .path_list{padding-left:80px;}
.path .path_item:before{width:1px; height:40px; background-color:#d1d1d1;}
.path .path_button{height:80px; padding-left:30px; padding-right:50px; text-align:left; color:#404040; font-size:18px; line-height:24px; letter-spacing:-0.015em;}
.path .path_button:hover{color:#0145ce;}
.path .path_button:before{right:20px; width:16px; height:9px; background-image:url('../images/sub/path_sprite.png'); background-repeat:no-repeat; background-position:left 40%; background-size:206.25% 1211.11%;}
.path .path_button:after{visibility:hidden; opacity:0; display:block; position:absolute; top:0; left:0; width:100%; height:4px; background-color:#0145ce;}
.path .path_panel{background-color:#fff; border-width:1px; border-top-width:0; border-style:solid; border-color:#d1d1d1; line-height:0;}
.path .path_panel .basic_item{border-top:1px solid rgba(255, 255, 255, 0.2);}
.path .path_panel .basic_item:first-child{border-top:0;}
.path .path_panel .basic_anchor{padding:15px 46px 15px 30px; color:#404040; font-size:16px; line-height:22px; letter-spacing:-0.02em; word-break:keep-all;}
.path .path_panel .basic_anchor:hover{color:#0145ce; background-color:#f3f6fb;}
.path .path_panel .basic_anchor:hover:before{display:block; position:absolute; top:0; bottom:0; right:10px; width:31px; height:31px; margin-top:auto; margin-bottom:auto; background:url('../images/sub/path_sprite.png') no-repeat left 100% / 106.45% 351.61%;}

/* path active */
.path .path_item.active .path_button{color:#0145ce;}
.path .path_item.active .path_button:after{visibility:visible; opacity:1; width:100%;}
.fixed .path{position:fixed; top:0; left:0; z-index:10;}
.fixed .path:before{background-color:#0145ce;}
.fixed .path:after{display:none;}
.fixed .path .path_home a{background:#092448;}
.fixed .path .path_button,
.fixed .path .path_button:hover,
.fixed .path .path_item.active .path_button{color:#fff;}
.fixed .path .path_item::before{background-color:rgba(255, 255, 255, 0.4);}
.fixed .path .path_button:before{background-position:left 59%; background-size:206.25% 1211.11%;}
@media all and (max-width:1300px) and (min-width:1000px) {
	.path .path_button{font-size:16px;}
	.path .path_panel .basic_anchor{font-size:14px;}
}
@media all and (max-width:9999px) and (min-width:1000px) {
	.path.length2 .path_item{width:50%;}
	.path.length3 .path_item{width:33.33%;}
}
@media all and (max-width:1000px) {
	.path .wrap{padding-left:0; padding-right:0;}
	.path .path_list{padding-left:0;}
	.path .path_home,
	.path .path_item.n1,
	.path .path_item.n2{display:none;}
	.path .path_item{width:100%;}
	.path .path_item:before{display:none;}
	.path .path_button{height:55px; padding-left:20px; font-size:16px; line-height:22px;}
}
@media all and (max-width:1000px) {
	.path .path_item .path_button{color:#0145ce;}
	.path .path_item .path_button:after{visibility:visible; opacity:1; width:100%;}
}

/* 영문 중문 사이트맵 path 숨김 */
.page4189 .path, .page4190 .path{opacity:0;}