
/* 교육 */
.program.edu{}
.program.edu .row.point_box .col-24.text_center .p-form-checkbox input[type="checkbox"] + label.agree_check .all_agree{padding-left:25px;}
.p-form-checkbox, .p-form-radio{position:relative;}

.tab .tab_content .box_list .box_anchor span:before{background-position:left 18.34%; background-size:862.5% 10183.33%;}
.tab .tab_content .box_list .box_anchor:hover span:before{background-position:left 20.16%;}

.p-table .subject a:hover{text-decoration:underline;}

.p-wrap.calender .tab .tab_content{margin-top:0;}

/* 교육 개인정보 동의 */
@media all and (max-width:640px){
    .accordion_item .text_wrap{display:none;}
    .accordion_item.active .text_wrap{display:block;}

    .box_line.privacy{overflow-y:scroll;}
    .box_line.privacy .privacy_wrap{height:100px;}
}

/* program1_6 */
.p-wrap.calender .tab .tab_panel{height:auto; margin-top:50px; margin-bottom:37px;}
.p-wrap.calender .tab .tab_content{color:#000;}
.p-wrap.calender .tab .tab_list{width:100%;}
.p-wrap.calender .tab .tab_item{width:33.3%; height:auto;}
.p-wrap.calender .tab .tab_item .tab_button{padding:17px 0;}
.p-wrap.calender .tab .tab_item .tab_button span{vertical-align:top;}
.p-wrap.calender .tab_content .box_line.simple.operate .dl > li .dt{color:#000;}
.p-wrap.calender .tab_content .box_line.simple{margin-bottom:45px;}
.p-wrap.calender .tab .tab_item.active .tab_button{border-color:#202b91;}
.p-wrap .up{display:none;}
@media all and (max-width:1500px){
    .info_left{display:inline-block; width:400px; vertical-align:top;}
    .info_right{float:right; margin-top:0; width:calc(100% - 430px);}
    .info_slide .info_list{width:400px; height:auto;}
    .info_slide .info_list .info_image img{width:auto; height:auto;}
    .qr_code{margin-top:50px; margin-left:0;}
}
@media all and (max-width:1000px) {
    .p-wrap.calender .process_title{margin-bottom:19px; padding-top:9px; border-top:2px solid #10386d;}
    .p-wrap .process_text{font-size:16px; margin-bottom:0;}
    .p-wrap .process_type{min-width:70px; margin-bottom:0; padding:4px 0; font-size:13px;}

    .info_wrap{padding-bottom:20px; border-bottom:2px solid #10386d;}
    .info_left{display:none; vertical-align:top;}
    .info_right{float:none; margin-top:0; width:100%;}
    .info_right{margin-top:30px;}
    .info_right .box_line.type2{padding:0;}
    .info_content{padding:0;}
    .info_content .table.lecture{}
    .info_content .table tbody th:first-child{}
    .info_content .table.lecture tbody th{border-right:hidden;}
    .info_content .table.lecture ul.bu{margin:0;}
    .info_content .table.lecture .tel{vertical-align:top;}
    .info_content .table.lecture .tel span{top:-1px; transform:scale(0.8); vertical-align:top;}
    .info_person{margin-top:0;}
    .info_person .reserve_wrap{margin-top:20px; padding:0; text-align:center;}
    .info_person .reserve_wrap .btn{top:auto; right:auto;}
    .info_person .reserve_wrap .btn:first-child{margin-left:0;}
    .info_person{padding-top:0;}
    .info_person .reserve_wrap .btn{padding:5px; min-width:90px;font-size:15px;}
    .info_person .reserve_wrap .btn.person{top:-5px;min-width:110px;font-size:16px;}

    .p-wrap .em_blue{line-height:17px; vertical-align:top;}
    .p-wrap .em_blue > span{top:-1px; vertical-align:top;}

    .p-wrap.calender .tab .tab_panel{margin-top:30px;}
    .p-wrap.calender .tab .tab_item{width:33.3%; height:38px;}
    .p-wrap.calender .tab .tab_item .tab_button{padding:0; line-height:38px;}
    .p-wrap.calender .tab_content .box_line.simple{padding:20px 25px;}
}
@media all and (max-width:800px) {
    .p-wrap.calender .tab .tab_item{padding:0;}
}
@media all and (max-width:640px) {
    .p-wrap .up{display:block; opacity:1; visibility:visible; position:fixed; bottom:0; left:0; right:0; width:100%; height:80px; margin-left:auto; margin-right:auto; padding:17px 20px; background-color:rgba(200,229,251,0.5); transition-property:opacity, visibility, top; z-index:100;}
    .p-wrap .up:before{display:block; position:absolute; top:0; left:-50vw; width:300vw; height:100%; background-color:rgba(200,229,251,0.5);}
    .p-wrap .up .up_button{display:block; position:relative; width:100%; height:100%; background-color:#0e95ff; border-radius:15px; font-size:17px; line-height:45px; color:#fff; transition-property:top, background-color; text-align:center; z-index:1;}
    .p-wrap .up.show{position:absolute; bottom:-25px; left:auto; right:auto;}
    .p-wrap .up.show:before{background-color:#c9e5fb;}

    .info_content .table.lecture tbody th{font-size:13px; line-height:17px;}
    .info_content .table.lecture tbody td{font-size:13px; line-height:17px;}

    .p-wrap .dl > li .dt{padding-left:10px; padding-right:5px; line-height:14px;}
    .p-wrap .dl > li ul{padding-left:12px;}
    .p-wrap .dl > li ul li{padding-left:10px; font-size:12px; line-height:14px;}
    .p-wrap .dl > li ul li:before{top:5px; left:0;}

    .p-wrap.calender{padding-bottom:40px;}
    .p-wrap.calender .tab .tab_panel:after{display:block; position:absolute; top:0; left:-50vw; width:300vw; height:100%; background-color:#dfd6f6;}
    .p-wrap.calender .tab .tab_list{padding-top:0;}
    .p-wrap.calender .tab .tab_item{height:38px; margin-left:0;}
    .p-wrap.calender .tab .tab_item .tab_button{position:relative; font-size:12px; line-height:14px; color:#303030; border:0; z-index:1;}
    .p-wrap.calender .tab .tab_item.active .tab_button{background-color:#fff !important; border-color:unset; color:#1a2f60; font-weight:500;}
    .p-wrap.calender .tab .tab_item .tab_button:before{display:none;}
    .p-wrap.calender .tab .tab_item:first-child:before{display:none;}
    .p-wrap.calender .tab .tab_item .tab_button span{display:block;}
    .p-wrap.calender .tab_content .box_line.simple{margin-bottom:20px; padding:24px 17px; font-size:12px; line-height:14px;}
    .p-wrap.calender .tab_content .box_line.simple.operate .dl > li .dd{line-height:14px;}
    .p-wrap.calender .tab_content .box_line.simple.operate .dl > li .dt:before{top:3px; width:6px; height:6px; border-radius:100%;}


    .map_title + .bu.dl{margin-top:10px;}
    .map_title + .bu.dl > li .dt{font-size:12px; line-height:16px;}
    .map_title + .bu.dl > li .dd{padding-left:10px;}
    .p-wrap .dl > li .dd{ font-size:12px;}

    .map_btn .btn.search{height:35px; padding-left:23px; font-size:13px; line-height:27px;}
    .map_btn .btn.search:before{top:7px; transform:scale(0.8);}
}
