/* (주)한신정보기술 XXXX - XXXX.XX.XX */

.public .lnb .menu .depth1_list{padding-left:250px;}

@media all and (max-width:1000px) {
    .public .lnb .menu .depth1_list{padding-left:0;}
}

/* rowgroup */
.rowgroup{position:relative;}
.visual .wrap{position:absolute; top:0; left:50%; height:100%; transform:translateX(-50%);}
.visual .visual_item{height:600px; background-position:center; background-repeat:no-repeat; background-size:cover;}
.visual .visual_item .visual_anchor{display:block; height:100%;}
.visual .visual_item .visual_anchor img{position:absolute; top:50%; left:50%; max-width:none; transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%);}
.visual .visual_item .visual_anchor img.visual_wide{display:none;}
.visual .visual_item .visual_anchor img.visual_mobile{display:none;}
.visual .visual_text_image{display:block; margin-top:95px; margin-left:20px;}
.visual .visual_control{display:none; margin-top:40px; margin-left:20px;}
.visual .visual_auto{float:left; position:relative; opacity:0.8; width:24px; height:24px; margin-right:15px; border:1px solid #ccc; border-radius:50%; background-color:#fff;}
.visual .visual_auto:before{display:block; position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; background-image:url('/site/health/images/main/visual_sprite.png'); background-repeat:no-repeat; content:'';}
.visual .visual_auto.slick-pause:before{width:6px; height:7px; background-size:100% 342.85%;}
.visual .visual_auto.slick-play:before{width:4px; height:7px; background-position:left 100%; background-size:150% 342.85%;}
.visual .visual_dots{float:left; margin-top:11px;}
.visual .visual_dots li{float:left; width:40px; height:2px; margin-right:5px; background-color:#ccc; font-size:0;}
.visual .visual_dots li:last-child{margin-right:0;}
.visual .visual_dots li.slick-active{background-color:#6571c9;}
.visual .visual_dots li button{display:block; width:100%; height:15px;}
.visual .visual_list .slick-prev, .visual .visual_list .slick-next{display:none;}

@media all and (max-width:1000px) {
    .visual .visual_control{display:none;}
    .visual .visual_item{height:352px;}
    .visual .wrap{width:100%;}
    .visual .visual_text_image{width:326px; margin-top:84px; margin-left:10px;}
    .visual .visual_item .visual_anchor img.visual_pc{display:none;}
    .visual .visual_item .visual_anchor img.visual_wide{display:block;}
}

@media all and (max-width:640px) {
    .visual .visual_item{height:211px;}
    .visual .visual_text_image{width:199px; margin-left:20px; margin-top:58px;}
    .visual .visual_control{margin-top:17px;}
    .visual .visual_dots li{width:20px;}
    .visual .visual_item .visual_anchor img.visual_pc{display:none;}
    .visual .visual_item .visual_anchor img.visual_wide{display:none;}
    .visual .visual_item .visual_anchor img.visual_mobile{display:block;}
}

/* rowgroup2 */
.rowgroup2{padding-bottom:57px; background-color:#f9f9f9;}
.rowgroup2 .colgroup{position:relative; height:190px; margin-bottom:50px;}
.rowgroup2 .colgroup:before{display:block; position:absolute; top:0; left:calc(-50vw + 50%); width:100vw; height:100%; background-color:#fff;  content:'';}
.rowgroup2 .colgroup .link{position:relative; overflow:hidden; float:right; width:50%; height:100%; background-color:#fff;}
.rowgroup2 .colgroup .link .link_list{position:relative; left:auto; top:50%; width:100%; margin-top:-48px; text-align:center; font-size:0; line-height:0;}
.rowgroup2 .link .link_item{display:inline-block; width:24%;}
.rowgroup2 .link .link_item.n4{display:inline-block; width:28%;}
.rowgroup2 .link .link_item .link_anchor{display:block; position:relative; padding-top:79px; color:#2e2e2e; font-size:16px; line-height:18px;}
.rowgroup2 .link .link_item .link_anchor:before{display:block; position:absolute; bottom:45px; left:0; right:0; margin-left:auto; margin-right:auto; background-image:url('/site/health/images/main/link_sprite.png'); background-repeat:no-repeat; content:'';}
.rowgroup2 .link .link_item .link_anchor:after{display:block; position:absolute; top:0; right:0; width:1px; height:50px; background-color:#e5e5e5; content:'';}
.rowgroup2 .link .link_item.n4 .link_anchor:after{display:inline-block; position:relative; top:auto; bottom:auto; right:0; width:10px; height:10px; margin-left:5px; background-image:url('/site/health/images/main/link_sprite.png'); background-position:left 93.43%; background-size:1180% 2690%; background-color:transparent;}
.rowgroup2 .link .link_item.n1 .link_anchor:before{width:52px; height:48px; background-size:226.92% 560.41%;}
.rowgroup2 .link .link_item.n2 .link_anchor:before{width:56px; height:46px; background-position:left 26%; background-size:210.71% 584.78%;}
.rowgroup2 .link .link_item.n3 .link_anchor:before{width:48px; height:53px; background-position:left 52.77%; background-size:245.83% 507.54%;}
.rowgroup2 .link .link_item.n4 .link_anchor:before{width:108px; height:50px; background-position:left 82.71%; background-size:100% 489.09%;}
.rowgroup2 .colgroup .birth{float:left; width:50%; height:100%; padding:38px 35px 40px 35px; background-color:#6571c9;}
.rowgroup2 .colgroup .birth .birth_title{margin-bottom:6px; color:#fff; font-size:18px; line-height:20px;}
.rowgroup2 .colgroup .birth .birth_title .point{color:#fedbec;}
.rowgroup2 .colgroup .birth .birth_desc{margin-bottom:22px; color:#fff; font-size:15px; line-height:17px; font-weight:300;}
.rowgroup2 .colgroup .birth_calc{float:left; margin-right:12px; font-size:0; line-height:0;}
.rowgroup2 .colgroup .birth_calc select{float:left; height:46px; padding-left:20px; padding-right:20px; background-color:#fff; background-image:url('/site/health/images/main/select_arrow.png'); background-size:11px 7px; background-position:right 20px center; background-repeat:no-repeat; font-size:16px; line-height:18px; color:#333; -webkit-appearance: none; -moz-appearance: none; -webkit-border-radius:0;}
.rowgroup2 .colgroup .birth_calc select::-ms-expand {display: none;}
.rowgroup2 .colgroup .birth_calc .birth_year select{width:136px;}
.rowgroup2 .colgroup .birth_calc .birth_month select,.rowgroup2 .colgroup .birth_calc .birth_day select{width:96px;}
.rowgroup2 .colgroup .birth_selectbox span{float:left; height:46px; margin-left:8px; margin-right:13px; line-height:46px; font-size:16px; color:#fff;}
.rowgroup2 .colgroup .birth_submit{float:left; width:126px; height:46px; background-color:#233193; color:#fff; font-size:16px; line-height:18px; -webkit-appearance: none; -moz-appearance: none; -webkit-border-radius:0;}

.rowgroup2 .colgroup .slidezone{position:absolute; left:0; bottom:50px; width:50%;  padding-right:30px;}
.rowgroup2 .colgroup .slidezone .slidezone_box{position:relative; padding:0 35px 32px 35px; border-radius:20px 0 20px 0;  background-color:rgba(0,0,0,0.4);}
.rowgroup2 .colgroup .slidezone .slidezone_top{position:relative; overflow:hidden; padding-top:30px; margin-bottom:20px;}
.rowgroup2 .colgroup .slidezone .slidezone_top .right{float:right; font-size:0; line-height:0;}
.rowgroup2 .colgroup .slidezone .slidezone_top .slidezone_count{display:inline-block; color:#fff; font-size:22px; line-height:40px; vertical-align:middle;}
.rowgroup2 .colgroup .slidezone .slidezone_top .slidezone_current{position:relative;}
.rowgroup2 .colgroup .slidezone .slidezone_top .slidezone_total{font-size:18px;}
.rowgroup2 .colgroup .slidezone_box .slidezone_title{float:left; font-size:24px; line-height:40px; color:#fff; font-weight:600; vertical-align:middle;}
.rowgroup2 .colgroup .slidezone_box .slidezone_auto{position:relative; width:40px; height:40px; margin-left:15px; border:1px solid rgba(255,255,255,0.3); border-radius:50%; background-color:transparent;}
.rowgroup2 .colgroup .slidezone_box .slidezone_auto.slick-pause:before{display:block; position:absolute; top:0; right:0; bottom:0; left:0; width:12px; height:14px; margin:auto; background-image:url('/site/health/images/main/slidezone_sprite.png'); background-repeat:no-repeat; background-position:left 15.78%; background-size:210% 1185.71%; content:'';}
.rowgroup2 .colgroup .slidezone_box .slidezone_auto.slick-play:before{display:block; position:absolute; top:0; right:0; bottom:0; left:0; width:12px; height:14px; margin:auto; background-image:url('/site/health/images/main/slidezone_sprite.png'); background-repeat:no-repeat; background-size:175% 1185.71%; content:'';}
.rowgroup2 .colgroup .slidezone_box .slidezone_item a{display:block;}
.rowgroup2 .colgroup .slidezone_box .slidezone_item img{width:100%;}
.rowgroup2 .colgroup .slidezone_box .slidezone_control{display:inline-block;}
.rowgroup2 .colgroup .slidezone_box .slidezone_control .slick-arrow{position:relative; width:40px; height:40px; margin-left:10px; border:3px solid #fff; border-radius:50%;}
.rowgroup2 .colgroup .slidezone_box .slidezone_control .slick-arrow.slick-disabled{background-color:#fff;}
.rowgroup2 .colgroup .slidezone_box .slidezone_control .slick-arrow:before{display:block; position:absolute; top:0; right:0; bottom:0; left:0; width:10px; height:15px; margin:auto; background-image:url('/site/health/images/main/health_new_arrows_sprite.png'); background-size:100% 600%; content:'';}
.rowgroup2 .colgroup .slidezone_box .slidezone_control .slick-arrow.slidezone_next:before{background-position:left 66.66%; }
.rowgroup2 .colgroup .slidezone_box .slidezone_control .slick-arrow.slick-disabled.slidezone_prev:before{background-position:left 33.33%;}
.rowgroup2 .colgroup .slidezone_box .slidezone_control .slick-arrow.slick-disabled.slidezone_next:before{background-position:left 100%;}

.rowgroup2 .business_title{margin-bottom:27px; color:#242424; font-size:22px; line-height:24px;}
.rowgroup2 .business_title .point{color:#233193;}
.rowgroup2 .business_item{width:128px; margin-right:18px; text-align:center;}
.rowgroup2 .business_item .business_anchor{display:block; position:relative; padding-top:140px; color:#2e2e2e; font-size:16px; line-height:18px;}
.rowgroup2 .business_item .business_anchor:before{display:block; z-index:10; position:absolute; top:0; left:0; right:0; margin-left:auto; margin-right:auto; background-image:url('/site/health/images/main/business_sprite.png'); background-repeat:no-repeat; content:'';}
.rowgroup2 .business_item.n1 .business_anchor:before{top:37px; width:71px; height:54px; background-size:112.67% 1101.85%;}
.rowgroup2 .business_item.n2 .business_anchor:before{top:36px; width:51px; height:53px; background-position:left 11.8%; background-size:156.86% 1122.64%;}
.rowgroup2 .business_item.n3 .business_anchor:before{top:32px; left:15px; width:59px; height:64px; background-position:left 23.91%; background-size:135.59% 929.68%;}
.rowgroup2 .business_item.n4 .business_anchor:before{top:38px; width:55px; height:55px; background-position:left 37.22%; background-size:145.45% 1081.81%;}
.rowgroup2 .business_item.n5 .business_anchor:before{top:34px; width:56px; height:62px; background-position:left 49.9%; background-size:142.85% 959.67%;}
.rowgroup2 .business_item.n6 .business_anchor:before{top:36px; width:52px; height:56px; background-position:left 62.7%; background-size:153.84% 1062.5%;}
.rowgroup2 .business_item.n7 .business_anchor:before{top:33px; width:80px; height:60px; background-position:left 75.51%; background-size:100% 991.66%;}
.rowgroup2 .business_item.n8 .business_anchor:before{top:38px; width:51px; height:52px; background-position:left 87.29%; background-size:156.86% 1144.23%;}
.rowgroup2 .business_item.n9 .business_anchor:before{top:33px; width:69px; height:59px; background-position:left 100%; background-size:115.94% 1008.47%;}
.rowgroup2 .business_item.n10 .business_anchor:before{top:33px; width:60px; height:71px; background-position:left 100%; background-image:url('/site/health/images/main/business_icon10.png'); background-repeat:no-repeat; background-size:100% 100%;}
.rowgroup2 .business_item .business_anchor:after{display:block; position:absolute; top:0; left:0; right:0; width:126px; height:126px; margin-left:auto; margin-right:auto; border-radius:50%; border:1px solid #e1e1e1; background-color:#fff; content:'';}
.rowgroup2 .business_item:hover .business_anchor:after, .rowgroup2 .business_item:focus .business_anchor:after{border:0; box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.1); background-color:#009ab7;}

.rowgroup2 .business .business_control {position:relative;}
.rowgroup2 .business .business_control .business_control_box {width:100%;}
.rowgroup2 .business .business_control .business_prev,
.rowgroup2 .business .business_control .business_next {position:absolute; bottom:80px; border:2px solid #404040; border-radius:100%; width:30px; height:30px; }
.rowgroup2 .business .business_control .business_prev {left:-40px;}
.rowgroup2 .business .business_control .business_next {right:-40px;}
.rowgroup2 .business .business_control .business_prev:before,
.rowgroup2 .business .business_control .business_next:before{display:block; position:absolute; top:0; right:0; bottom:0; left:0; width:10px; height:15px; margin:auto; background-image:url('/site/health/images/main/health_new_arrows_sprite.png'); background-size:100% 600%; content:'';}
.rowgroup2 .business .business_control .business_prev:before{left:-3px; background-position:left 33.33%;}
.rowgroup2 .business .business_control .business_next:before{right:-3px; background-position:left 100%;}

@media all and (max-width:1300px) {
    .rowgroup2 .link .link_item{width:23%;}
    .rowgroup2 .link .link_item.n4{width:29%;}
    .rowgroup2 .colgroup .birth_calc select{padding-left:10px; background-position:right 10px center;}
    .rowgroup2 .colgroup .birth_calc .birth_year select{width:85px;}
    .rowgroup2 .colgroup .birth_calc .birth_month select, .rowgroup2 .colgroup .birth_calc .birth_day select{width:50px;}
    .rowgroup2 .business_list .slick-list{overflow:visible;}
    .rowgroup2 .business_list .slick-prev,.rowgroup2 .business_list .slick-next{display:none;}
    .rowgroup2 .business .business_control {display: none}
}
@media all and (max-width:1000px) {
    .rowgroup2{padding-bottom:0; background-color:#fff;}
    .rowgroup2 .colgroup{height:auto; margin-top:-95px; margin-bottom:0;}
    .rowgroup2 .colgroup:before{display:none;}
    .rowgroup2 .colgroup .link{z-index:10; float:none; width:100%; height:190px;}
    .rowgroup2 .colgroup .link .link_list{max-width:620px; margin-left:auto; margin-right:auto;}
    .rowgroup2 .link .link_item{width:25%;}
    .rowgroup2 .link .link_item.n4{width:25%;}
    .rowgroup2 .colgroup .birth{float:none; width:100%; padding:38px 10px 40px; text-align:center;}
    .rowgroup2 .colgroup .birth .birth_form{display:inline-block;}
    .rowgroup2 .colgroup .birth_calc select{padding-left:20px; background-position:right 20px center;}
    .rowgroup2 .colgroup .birth_calc .birth_year select{width:136px;}
    .rowgroup2 .colgroup .birth_calc .birth_month select, .rowgroup2 .colgroup .birth_calc .birth_day select{width:96px;}
    .rowgroup2 .business{position:relative; padding:70px 0;}
    .rowgroup2 .business:before{display:block; position:absolute; left:calc(-50vw + 50%); bottom:0; width:100vw; height:100%; background-color:#f9f9f9; content:'';}
    .rowgroup2 .business_title{position:relative; text-align:center;}
    .rowgroup2 .business_item{width:126px; margin-right:18px;}
    .rowgroup2 .colgroup .slidezone{z-index:10; position:relative; bottom:0; width:100%; padding:0 48px 40px 42px; border-radius:20px 0 20px 0; background-color:rgba(0,0,0,0.5);}
    .rowgroup2 .colgroup .slidezone .slidezone_top .slidezone_count{font-size:18px;}
    .rowgroup2 .colgroup .slidezone .slidezone_top .slidezone_total{font-size:15px;}
    .rowgroup2 .colgroup .slidezone_box .slidezone_auto{right:0;}
    .rowgroup2 .colgroup .slidezone .slidezone_box{max-width:440px; margin-left:auto; margin-right:auto; padding:0; border-radius:0; background-color:transparent;}
}

@media all and (max-width:640px) {
    .rowgroup2{position:relative; margin-top:-55px; padding-bottom:0; background-color:transparent;}
    .rowgroup2 .colgroup{margin-top:0; margin-bottom:0;}
    .rowgroup2 .colgroup .link{overflow:visible; height:120px; margin-bottom:15px;}
    .rowgroup2 .colgroup .link .link_list{top:25px; max-width:none; margin-top:0;}
    .rowgroup2 .link .link_list{display:flex; justify-content:space-between;}
    .rowgroup2 .link .link_item{width:auto;}
    .rowgroup2 .link .link_item.n4{width:auto;}
    .rowgroup2 .link .link_item .link_anchor:before{bottom:33px;}
    .rowgroup2 .link .link_item .link_anchor:after{display:none;}
    .rowgroup2 .link .link_item.n1 .link_anchor:before{width:37px; height:34px;}
    .rowgroup2 .link .link_item.n2 .link_anchor:before{width:39px; height:33px;}
    .rowgroup2 .link .link_item.n3 .link_anchor:before{width:34px; height:38px;}
    .rowgroup2 .link .link_item.n4 .link_anchor:before{width:84px; height:39px;}
    .rowgroup2 .link .link_item .link_anchor{padding-top:58px; font-size:12px; line-height:14px;}
    .rowgroup2 .colgroup .slidezone{margin-bottom:35px; padding:0 30px 38px 26px; border-radius:20px 0 20px 0;}
    .rowgroup2 .colgroup .slidezone .slidezone_top{padding-top:18px; margin-bottom:12px;}
    .rowgroup2 .colgroup .slidezone .slidezone_top .slidezone_count{line-height:24px; vertical-align:middle;}
    .rowgroup2 .colgroup .slidezone .slidezone_box{position:static;}
    .rowgroup2 .colgroup .slidezone_box .slidezone_title{font-size:15px; line-height:24px;}
    .rowgroup2 .colgroup .slidezone_box .slidezone_auto{width:24px; height:24px;}
    .rowgroup2 .colgroup .slidezone_box .slidezone_auto.slick-pause:before{width:7px; height:9px; background-position:left 70.7%; background-size:300% 1844.44%;}
    .rowgroup2 .colgroup .slidezone_box .slidezone_auto.slick-play:before{width:8px; height:9px; background-position:left 58.59%; background-size:262.5% 1844.44%;}
    .rowgroup2 .colgroup .slidezone_box .slidezone_control .slick-arrow{width:24px; height:24px; margin-left:5px; border-width:2px;}
    .rowgroup2 .colgroup .slidezone_box .slidezone_control .slick-arrow:before{width:6px; height:10px;}


    .rowgroup2 .colgroup .birth{width:calc(100% + 6% + 2px); margin-left:calc(-3% - 1px); padding:22px 10px 23px 10px;}
    .rowgroup2 .colgroup .birth .birth_title{margin-bottom:10px; font-size:16px; line-height:18px;}
    .rowgroup2 .colgroup .birth .birth_desc{margin-bottom:17px; font-size:12px; line-height:14px;}
    .rowgroup2 .colgroup .birth_calc{display:flex; float:none; margin-right:0; margin-bottom:15px;}
    .rowgroup2 .colgroup .birth_calc select{height:37px; padding-left:15px; background-position:right 15px center; line-height:15px; font-size:14px;}
    .rowgroup2 .colgroup .birth_calc .birth_year select{width:79px; height:37px;}
    .rowgroup2 .colgroup .birth_calc .birth_month select, .rowgroup2 .colgroup .birth_calc .birth_day select{width:77px;}
    .rowgroup2 .colgroup .birth_selectbox span{height:37px; margin-left:6px; margin-right:10px; line-height:37px; font-size:13px;}
    .rowgroup2 .colgroup .birth_selectbox.birth_day span{margin-right:0;}
    .rowgroup2 .colgroup .birth_submit{float:none; width:100%;}
    .rowgroup2 .business{width:calc(100% + 6%); margin-left:-3%; padding-top:43px; padding-bottom:59px; background-color:#f9f9f9; text-align:center;}
    .rowgroup2 .business:before{display:none;}
    .rowgroup2 .business_title{font-size:18px; line-height:20px;}
    .rowgroup2 .business_item{margin-right:0;}
    .rowgroup2 .business_item .business_anchor{padding-top:94px; font-size:13px; line-height:15px;}
    .rowgroup2 .business_item .business_anchor:after{width:81px; height:81px;}
    .rowgroup2 .business_item.n1 .business_anchor:before{top:25px; width:45px; height:34px;}
    .rowgroup2 .business_item.n2 .business_anchor:before{top:24px; width:32px; height:34px;}
    .rowgroup2 .business_item.n3 .business_anchor:before{top:21px; width:37px; height:40px;}
    .rowgroup2 .business_item.n4 .business_anchor:before{top:22px; width:40px; height:40px;}
    .rowgroup2 .business_item.n5 .business_anchor:before{top:23px; width:35px; height:39px;}
    .rowgroup2 .business_item.n6 .business_anchor:before{top:17px; width:40px; height:43px;}
    .rowgroup2 .business_item.n7 .business_anchor:before{top:19px; width:50px; height:38px;}
    .rowgroup2 .business_item.n8 .business_anchor:before{top:18px; width:40px; height:41px;}
    .rowgroup2 .business_item.n9 .business_anchor:before{top:20px; width:45px; height:38px;}
    .rowgroup2 .business_item.n10 .business_anchor:before {top: -3px; left: 25px; background-size: 67%;}
    .rowgroup2 .business_list .slick-list{overflow:hidden; margin:0 40px;}
    .rowgroup2 .business_list .slick-prev{display:block; position:absolute; top:50%; left:20px; width:10px; height:17px; margin-top:-22px; background-image:url('/site/health/images/main/business_arrows_sprite.png'); background-size:100% 258.82%; font-size:0; line-height:0;}
    .rowgroup2 .business_list .slick-next{display:block; position:absolute; top:50%; right:20px; width:10px; height:17px; margin-top:-22px; background-image:url('/site/health/images/main/business_arrows_sprite.png'); background-position:left 100%; background-size:100% 258.82%; font-size:0; line-height:0;}

}

/* rowgroup3 */
.rowgroup3{margin-top:60px; margin-bottom:70px;}
.rowgroup3 .colgroup{float:left; width:520px; height:380px;}
.rowgroup3 .colgroup .board_list{position:relative;}
.rowgroup3 .colgroup .board_list .board_item{display:inline-block;}
.rowgroup3 .colgroup .board_list .board_item .board_title{font-size:20px; line-height:22px; color:#7d7d7d;}
.rowgroup3 .colgroup .board_list .board_item.n1 .board_title{margin-right:10px;}
.rowgroup3 .colgroup .board_list .board_item.active .board_title{color:#233193; font-size:22px; line-height:24px;}
.rowgroup3 .colgroup .board_list .board_item .board_panel{display:none; position:absolute; left:0; top:54px; width:100%;}
.rowgroup3 .colgroup .board_list .board_item.active .board_panel{display:block;}
.rowgroup3 .colgroup .board_list .panel_item{position:relative; padding-left:18px; margin-bottom:20px; padding-bottom:20px; border-bottom:1px dotted #0a68b8; }
.rowgroup3 .colgroup .board_list .panel_item:before{display:block; position:absolute; top:8px; left:0; width:7px; height:2px; background-color:#6571c9; content:'';}
.rowgroup3 .colgroup .board_list .panel_item:last-child{margin-bottom:0; border-bottom:0;}
.rowgroup3 .colgroup .board_list .panel_item .panel_anchor{display:block;color:#2e2e2e;}
.rowgroup3 .colgroup .board_list .panel_item .panel_subject{overflow:hidden; width:75%; color:#2e2e2e; font-size:16px; line-height:18px; white-space:nowrap; text-overflow:ellipsis;}
.rowgroup3 .colgroup .board_list .panel_item .panel_date{float:right; color:#959595; font-size:15px; line-height:17px;}
.rowgroup3 .colgroup .board_list .board_item .board_more{display:none; position:absolute; right:0; top:8px; width:15px; height:16px; background-image:url('/site/health/images/main/board_banner_sprite.png'); background-size:1266.66% 2618.75%;}
.rowgroup3 .colgroup .board_list .board_item.active .board_more{display:block;}
.rowgroup3 .colgroup .banner{position:absolute; left:0; bottom:0; width:inherit; height:120px; background-color:#6571c9;}
.rowgroup3 .colgroup .banner:before{display:block; opacity:0.2; position:absolute; top:0; left:0; width:111px; height:84px; background-image:url('/site/health/images/main/board_banner_sprite.png'); background-position:left 7.76%; background-size:171.17% 498.8%; content:'';}
.rowgroup3 .colgroup .banner:after{display:block; opacity:0.2; position:absolute; bottom:0; right:0; width:190px; height:69px; background-image:url('/site/health/images/main/board_banner_sprite.png'); background-position:left 34.28%; background-size:100% 607.24%; content:'';}
.rowgroup3 .colgroup .banner .banner_text{display:inline-block; position:relative; margin-top:20px; padding-left:143px;}
.rowgroup3 .colgroup .banner .banner_text:before{display:block; position:absolute; top:7px; left:42px; width:69px; height:67px; background-image:url('/site/health/images/main/board_banner_sprite.png');background-position:left 56.53%; background-size:275.36% 625.37%; content:'';}
.rowgroup3 .colgroup .banner .banner_text .banner_time{margin-bottom:10px; color:#fff; font-size:15px; line-height:19px;}
.rowgroup3 .colgroup .banner .banner_text .banner_time .banner_br{display:none;}
.rowgroup3 .colgroup .banner .banner_tel{display:inline-block; line-height:0;}
.rowgroup3 .colgroup .banner .banner_staff{display:inline-block; position:absolute; bottom:14px; right:18px; z-index:10; width:130px; height:30px; border-radius:30px; background-color:#2d2a7e; text-align:right;}
.rowgroup3 .colgroup .banner .banner_staff a{display:block; position:relative; padding-right:46px; border-radius:30px; background-color:#2d2a7e;  color:#e5e1b1; font-size:15px; line-height:30px;}
.rowgroup3 .colgroup .banner .banner_staff:before{display:block; position:absolute; bottom:-6px; left:17px; width:99px; height:127px; background-image:url('/site/health/images/main/board_banner_sprite.png'); background-position:left 94.52%; background-size:191.91% 329.92%; content:'';}
.rowgroup3 .colgroup .banner .banner_staff a:after{display:block; position:absolute; top:50%; right:19px; width:13px; height:6px; margin-top:-3px; background-image:url('/site/health/images/main/board_banner_sprite.png'); background-position:left 100%; background-size:1583.33% 6983.33%; content:'';}

.rowgroup3 .service{position:relative; float:left; width:330px; height:430px; margin-left:50px; padding:33px 30px 21px; background-color:#0077cb;}
.rowgroup3 .service:after{display:block; position:absolute; top:33px; right:47px; width:45px; height:67px; background-image:url('/site/health/images/main/service_sprite.png'); background-size:100% 220.58%; content:'';}
.service .service_title{margin-bottom:15px; padding-left:10px; color:#fff; font-size:22px; line-height:24px;}
.service .service_title span{color:#fff8b0;}
.service .service_text{margin-bottom:25px; padding-left:10px; font-size:15px; line-height:18px; color:#fff;}
.service .service_item{margin-bottom:18px; padding-bottom:18px; border-bottom:1px dotted #4da0db;}
.service .service_item .service_anchor{display:block; position:relative; padding-left:10px; color:#fff; font-size:16px; line-height:18px;}
.service .service_item:hover .service_anchor{color:#fff8af;}
.service .service_item .service_anchor:after{display:block; position:absolute; top:6px; right:10px; width:17px; height:6px; background-image:url('/site/health/images/main/service_sprite.png'); background-position:left 65.27%; background-size:264.7% 2500%; content:'';}
.service .service_item:hover .service_anchor:after{background-position:left 54.16%; background-size:264.7% 2500%;}
.service .slick-dots{display:none;}
.service .slick-slide div:last-child .service_item{margin-bottom:0;}
.service .service_control{position:absolute; left:0; right:0; bottom:30px; margin:0 auto; text-align:center;}
.service .service_control .service_prev{display:inline-block; width:10px; height:15px; margin-right:32px; background-image:url('/site/health/images/main/service_sprite.png'); background-position:left 81.48%; background-size:450% 1000%; font-size:0;}
.service .service_control .service_next{display:inline-block; width:10px; height:15px; margin-left:32px; background-image:url('/site/health/images/main/service_sprite.png'); background-position:left 100%; background-size:450% 1000%; font-size:0;}
.service .service_control .service_count{display:inline-block; color:#fff; font-size:15px; line-height:17px; letter-spacing:5px;}
.service .service_control .service_count .service_current{color:#fff8af;}


/* 알림존 */
.popupzone{overflow:hidden; float:right; position:relative; width:340px; height:430px;}
.popupzone .popupzone_list{height:100%;}
.popupzone .popupzone_list .slick-list{height:100%;}
.popupzone .popupzone_list .slick-track{height:100%;}
.popupzone .popupzone_title{position:absolute; top:0; left:0; z-index:10; font-size:18px; font-weight:500; color:#242424; line-height:25px;}
.popupzone .popupzone_item{height:100%; border:1px solid #e7e7e7;}
.popupzone .popupzone_item a{display:block; height:100%; background-size:contain; background-repeat:no-repeat; background-position:center;}
.popupzone .popupzone_item a img{width:100%;}
.popupzone .popupzone_control{position:absolute; top:0; left:0; z-index:1; width:auto; height:35px; padding-top:3px; padding-left:56px; padding-right:12px; background-color:#fff; font-size:0; line-height:0;}
.popupzone .popupzone_count{display:inline-block; height:21px; padding-left:13px; padding-right:13px; border-radius:11px; background-color:#2e2e2e; font-size:15px; color:#fff; line-height:19px;}
.popupzone .popupzone_current{color:#ffd339;}
.popupzone .popupzone_control button,
.popupzone .popupzone_control a{display:inline-block; position:relative; width:20px; height:21px; margin-left:3px;}
.popupzone .popupzone_control button:before,
.popupzone .popupzone_control a:before{display:block; position:absolute; top:3px; left:2px; width:15px; height:15px; background-image:url('/site/main/images/main/popup_sprite.png'); background-repeat:no-repeat;}
.popupzone .popupzone_arrow{float:right;}
.popupzone .popupzone_prev:before{background-position:left top;}
.popupzone .popupzone_next:before{background-position:left 25%;}
.popupzone .popupzone_auto:before{background-position:left 50%;}
.popupzone .popupzone_auto.slick-play:before{background-position:left 75%;}
.popupzone .popupzone_more{display:none !important; float:right;}
.popupzone .popupzone_more:before{background-position:left 100%;}


@media all and (max-width:1300px) {
    .rowgroup3 .colgroup{width:400px;}
    .rowgroup3 .service{width:270px; margin-left:20px;}
    .rowgroup3 .popupzone{width:290px; margin-left:20px;}
    .rowgroup3 .colgroup .banner .banner_text{padding-left:70px;}
    .rowgroup3 .colgroup .banner .banner_text:before{width:50px; height:49px; top:17px; left:10px;}
    .rowgroup3 .colgroup .banner .banner_text .banner_time{font-size:13px; line-height:17px;}
    .rowgroup3 .colgroup .banner .banner_staff{width:120px;}
    .rowgroup3 .colgroup .banner .banner_staff a{padding-right:35px;}
}

@media all and (max-width:1000px) {
    .rowgroup3{margin-top:0; margin-bottom:53px;}
    .rowgroup3 .colgroup{float:none; width:100%; height:330px; margin-bottom:38px;}
    .rowgroup3 .colgroup .board_list{float:left; width:53%; margin-top:43px;}
    .rowgroup3 .colgroup .board_list .panel_item{margin-bottom:10px; padding-bottom:10px;}
    .rowgroup3 .colgroup .board_list .panel_item .panel_subject{display:block; width:95%; margin-bottom:5px;}
    .rowgroup3 .colgroup .board_list .panel_item .panel_date{display:block; float:none;}
    .rowgroup3 .colgroup .banner{position:relative; float:left; width:42%; height:330px; margin-left:5%; text-align:center;}
    .rowgroup3 .colgroup .banner .banner_text{margin-top:40px; padding-left:0;}
    .rowgroup3 .colgroup .banner .banner_text:before{top:-6px; left:-10px; width:68px; height:67px;}
    .rowgroup3 .colgroup .banner .banner_text .banner_time{margin-bottom:30px; padding-left:70px; font-size:15px; line-height:19px; text-align:left;}
    .rowgroup3 .colgroup .banner .banner_text .banner_time .banner_br{display:block;}
    .rowgroup3 .colgroup .banner .banner_staff{left:0; right:0; bottom:22px; width:130px; margin-left:auto; margin-right:auto;}
    .rowgroup3 .colgroup .banner .banner_staff a{padding-right:46px;}
    .rowgroup3 .service{width:50%; margin-left:0; padding:52px 51px 42px 40px;}
    .rowgroup3 .service:after{top:53px; right:38px;}
    .service .service_text{margin-bottom:30px;}
    .service .service_item{padding-bottom:25px; margin-bottom:25px;}
    .rowgroup3 .popupzone{width:45%; margin-left:5%;}
}

@media all and (max-width:640px) {
    .rowgroup3{margin-top:43px; margin-bottom:40px;}
    .rowgroup3 .colgroup{height:auto;}
    .rowgroup3 .colgroup .board_list{float:none; width:100%; height:253px; margin-top:0; margin-bottom:25px;}
    .rowgroup3 .colgroup .board_list .panel_item{margin-bottom:10px; padding-bottom:10px;}
    .rowgroup3 .colgroup .board_list .panel_item:last-child{padding-bottom:0;}
    .rowgroup3 .colgroup .board_list .panel_item .panel_subject{width:100%; margin-bottom:3px; font-size:14px; line-height:16px;}
    .rowgroup3 .colgroup .board_list .panel_item .panel_date{font-size:13px; line-height:15px;}
    .rowgroup3 .colgroup .banner{float:none; width:100%; height:270px; margin-left:0;}
    .rowgroup3 .colgroup .banner .banner_text{margin-top:30px;}
    .rowgroup3 .colgroup .banner .banner_text:before{left:-9px; width:54px; height:53px;}
    .rowgroup3 .colgroup .banner .banner_text .banner_time{padding-left:63px; margin-bottom:10px; font-size:13px; line-height:19px;}
    .rowgroup3 .colgroup .banner .banner_text .banner_time .banner_br{display:none;}
    .rowgroup3 .colgroup .banner .banner_tel{width:133px;}
    .rowgroup3 .colgroup .banner .banner_staff{width:117px; height:27px;}
    .rowgroup3 .colgroup .banner .banner_staff a{padding-right:40px; font-size:13px; line-height:27px;}
    .rowgroup3 .colgroup .banner .banner_staff a:after{width:11px; height:5px;}
    .rowgroup3 .service{float:none; width:100%; height:auto; margin-bottom:25px; padding:33px 30px 24px;}
    .rowgroup3 .service:after{top:33px; right:47px;}
    .service .service_title{padding-left:5px; font-size:20px; line-height:22px;}
    .service .service_text{padding-left:5px;}
    .service .service_item{margin-bottom:18px; padding-bottom:18px;}
    .service .service_item .service_anchor{padding-left:5px;}
    .service .service_control{position:relative; bottom:0; margin-top:30px;}
    .rowgroup3 .popupzone{float:none; width:100%; margin-left:0;}
}