@charset "UTF-8";

/* 보건소 자율점검로그인 */
.autonomous_inspection{background-image: url("/common/images/program/Autonomous_inspection_bg.jpg"); background-position: right top; background-repeat:no-repeat; background-size:100% auto;}
.autonomous_inspection .title_area{color:#fff; text-align:center;}
#contents .autonomous_inspection .title_area h3{display:inline-block; position:relative; margin-top:67px; margin-bottom:56px; color:#fff; font-size:30px; line-height:32px; letter-spacing:-0.03em;}
#contents .autonomous_inspection .title_area h3:before{display:block; position:absolute; top:51px; left:0; width:100%; height:1px; background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFElEQVQYV2P8////f0ZGRkYGKAAAOhIEAtD3fOwAAAAASUVORK5CYII=") 0 0 repeat;}
.autonomous_inspection .title_area strong{}
.autonomous_inspection .title_area .text{line-height:22px; letter-spacing:-0.03em;}
.autonomous_inspection .title_area .text p{font-size:15px}
.autonomous_inspection .title_area .text strong{display:block; margin-top:21px; font-size:16px;}

.autonomous_inspection .cont_box{width:804px; margin:48px auto; background-color:#fff; -webkit-box-shadow: 0 5px 16px 4px rgba(0,0,0,0.15); -moz-box-shadow: 0 5px 16px 4px rgba(0,0,0,0.15); box-shadow: 0px 5px 16px 4px rgba(0,0,0,0.15);}
.autonomous_inspection .cont_box > .inner{padding:63px 95px 56px;}
.autonomous_inspection .cont_box .nm_box label{display:inline-block; float:left; position:relative; width:134px; padding-left:38px; line-height:45px; color:#252525; font-size:15px; box-sizing:border-box;}
.autonomous_inspection .cont_box .nm_box label:before{display:block; position:absolute; top:calc(50% - 3px); left:19px; width:5px; height:5px; background: url('/common/images/template/template_sprite.png') left -359px no-repeat;}
.autonomous_inspection .cont_box .input_box{display:inline-block; float:left; width:calc(100% - 152px); height:45px; margin-right:18px;}
.autonomous_inspection .cont_box .input_box input{height:100%;}

.autonomous_inspection .cont_box .nm1 .input_box .p-input{float:left; margin:0 9px 0 0;}
.autonomous_inspection .cont_box .nm1 .input_box input.p-input{width:calc(100% - 198px);}
.autonomous_inspection .cont_box .nm1 .input_box select.p-input{height:100%;}
.autonomous_inspection .cont_box .nm1 .input_box .search_submit{float:right; width:77px; height:100%; background-color:#5f6a89; color:#fff; font-size:16px; line-height:21px;}

.autonomous_inspection .cont_box .point{margin-top:17px; margin-bottom:23px; margin-left:130px; font-size:15px; line-height:25px; letter-spacing:-0.04em;}

.autonomous_inspection .cont_box .login_box{margin-top:40px; text-align:center;}
.autonomous_inspection .cont_box .login_box input{padding:15px 43px 17px; border-color:#959595; color:#111;}
.autonomous_inspection .cont_box .login_box input:hover{color:#fff;}
.autonomous_inspection .autonomous_search_box{display:none; position:absolute; top:0; left:calc(50% - 327px);}
.autonomous_inspection .autonomous_search_box .inner{position:relative;}
.autonomous_inspection .autonomous_search_box .inner:before{display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); transition-property: visibility, opacity; transition-duration: 0.25s; transition-timing-function: linear; z-index:30;}
.autonomous_inspection .autonomous_search_box .cont_area{display:block; position:relative; width:655px; height:578px; padding:0 60px; background-color:#fff; z-index:31;}
.autonomous_inspection .autonomous_search_box .cont_area .title{display:block; position:relative; padding-top:45px; margin-bottom:30px; padding-bottom:31px; color:#272727; font-size:34px; line-height:40px; font-weight:600; text-align:center;}
.autonomous_inspection .autonomous_search_box .cont_area .title:before{display:block; position:absolute; bottom:0; left:calc(50% - 18px); width:37px; height:3px; background-color:#000;}
.autonomous_inspection .autonomous_search_box .cont_area .dot_box{margin:10px 0 19px; padding:18px 54px 14px; background-color:#fbfbfd;}
.autonomous_inspection .autonomous_search_box .cont_area .dot_box label{display:inline-block; width:auto; margin-right:20px; padding-left:0; color:#252525; font-size:15px;}
.autonomous_inspection .autonomous_search_box .cont_area .dot_box input{display:inline-block; width:calc(100% - 180px); height:45px;}
.autonomous_inspection .autonomous_search_box .cont_area .dot_box .p-form-group__button{display:inline-block; width:auto;}
.autonomous_inspection .autonomous_search_box .cont_area .dot_box .p-button{height:45px; padding:5px 34px 9px; background-color:#0092b9; color:#fff; border-color: transparent;}
.autonomous_inspection .autonomous_search_box  .table td{padding:8px 15px 9px;}
.autonomous_inspection .autonomous_search_box  .table th{padding:14px 15px;}
.autonomous_inspection .autonomous_search_box  .p-pagination{margin:20px auto;}


.autonomous_inspection .autonomous_search_box .cont_area .search_close{position:absolute; top:0; right:0; width:64px; height:64px; background: #04284b url("/common/images/program/autonomous_inspection_close.png") center center no-repeat; font-size:0; line-height:0;}

.autonomous_inspection .auto_date {margin:17px 18px 0 0;}
.autonomous_inspection .auto_date .p-date .p-input {height:40px;}
.autonomous_inspection .auto_date .p-date .p-input__split .p-input__item {height:40px;}

@media screen and (max-width:1300px){
    .autonomous_inspection{background-size:auto;}
    .autonomous_inspection .cont_box{width:90%;}
    .autonomous_inspection .cont_box .inner{padding:63px 5% 56px;}

    .autonomous_inspection .autonomous_search_box{left:0;}
    /*.autonomous_inspection .autonomous_search_box .cont_area{width:auto; height:auto;}*/
    .autonomous_inspection .autonomous_search_box .p-pagination{margin-bottom:0; padding-bottom:40px;}
}

@media screen and (max-width:750px){
    .autonomous_inspection{background-position:right calc(50% + 90px) top;}
    .autonomous_inspection .cont_box .point br{display:none;}
    .autonomous_inspection .autonomous_search_box {width:100%;}
    .autonomous_inspection .autonomous_search_box .cont_area {width:100%;}
    .autonomous_inspection .autonomous_search_box .cont_area .dot_box{padding:18px 5% 14px;}
}
@media screen and (max-width:640px){
    .autonomous_inspection {margin-top:25px;}
    .autonomous_inspection .cont_box .inner{padding:43px 5%;}
    #contents .autonomous_inspection .title_area h3 {margin-top: 33px; margin-bottom: 35px; font-size: 21px; line-height: 22px;}
    #contents .autonomous_inspection .title_area h3:before {top:33px;}
    .autonomous_inspection .title_area{padding:0 5%;}
    .autonomous_inspection .title_area .text p{font-size:14px;}
    .autonomous_inspection .title_area .text strong{font-size:15px;}
    .autonomous_inspection .title_area .text p br{display:none;}
    .autonomous_inspection .cont_box{margin-top:20px;}
    .autonomous_inspection .cont_box .point{margin-top:8px; margin-bottom:15px;}
    .autonomous_inspection .cont_box .login_box{margin-top:25px;}
    .autonomous_inspection .cont_box .login_box input {padding: 8px 43px 9px;}
    .autonomous_inspection .cont_box .nm_box label{width:100px; padding-left:0; line-height:37px;}
    .autonomous_inspection .cont_box .nm_box label:before{left:0;}
    .autonomous_inspection .cont_box .input_box{width:calc(100% - 118px); height:auto;}
    .autonomous_inspection .cont_box .input_box input {height:40px;}
    .autonomous_inspection .cont_box .point{margin-left:100px;}
    .autonomous_inspection .cont_box .nm1 .input_box .p-input {float:none; }
    .autonomous_inspection .cont_box .nm1 .input_box .search_submit {float:none; height:40px; }
    .autonomous_inspection .cont_box .nm1 .input_box select.p-input {width:100%; margin-bottom:10px; height:40px;}
    .autonomous_inspection .cont_box .nm1_box .input_box input.p-input{width:calc(100% - 69px);}
    .autonomous_inspection .cont_box .nm1_box .input_box .search_submit{width:60px;}
    .autonomous_inspection .cont_box .point{margin-left:0;}


    .autonomous_inspection .autonomous_search_box .cont_area{padding:0 30px;}
    .autonomous_inspection .autonomous_search_box .cont_area .title{padding-bottom:11px; font-size:28px;}

    .autonomous_inspection .autonomous_search_box .cont_area .dot_box input{width:calC(100% - 68px);}
    .autonomous_inspection .autonomous_search_box .cont_area .dot_box label{margin-right:15px; margin-left:5px;}
    .autonomous_inspection .autonomous_search_box .cont_area .dot_box .p-form-group__button{display:block;}
    .autonomous_inspection .autonomous_search_box .cont_area .dot_box .p-button{display:block; width:100%; margin-top:8px;}
    .autonomous_inspection .autonomous_search_box .cont_area .dot_box .p-form-group__button:before{display:none;}


    .autonomous_inspection .cont_box .input_box{width:100%; margin-right:0;}
    .autonomous_inspection .cont_box .nm1 .input_box input.p-input{width:calc(100% - 75px); height:40px;}
    .autonomous_inspection .cont_box .nm1 .input_box .search_submit{width:60px;}

    .autonomous_inspection .nm2 .input_box {width: calc(100% - 101px);}
    .autonomous_inspection .auto_date {margin:0;}

}

.autonomous_search_info .col-2 {width: auto}
.autonomous_search_info .col-4 {width:22%;}

@media screen and (max-device-width:640px){
    .autonomous_search_info .col-4 {width:100%;}
    .autonomous_search_info .col-8 {width:69%; padding-right: 0;}
    .autonomous_search_table {overflow-x: scroll}
    .autonomous_search_table table.table {width:400px;}
}


@media screen and (max-width:480px){
    .autonomous_inspection .cont_box .inner{padding:12px 6% 23px;}
    .autonomous_inspection .cont_box .nm_box label{width:100%;}
    .autonomous_inspection .cont_box .input_box{width:100%;}
}
/* 자율점검현황 */
.autonomous_inspection_list .btn.small{width:90px; padding:7px 15px;}

/* 자율점검 */
.autonomous_inspection_table{margin-bottom:0;}
.autonomous_inspection_table .checkbox_area span{display:block; text-align:left;}
.autonomous_inspection_table2.table{margin-top:0; border-top:0;}

.autonomous_inspection .autonomous_area1 {float:left; width:85%}
.autonomous_inspection .autonomous_area2 {float:left; width:15%; min-width:0; height:104px;}

.autonomous_q_table.p-table {margin-bottom:0;}

.autonomous_another_q {padding:14px 10px 14px 22px; margin-top: 30px; margin-bottom:20px; border:1px solid #b5d1da;background-color: #f1f8fa;}
.autonomous_another_q .area1:before{display: inline-block;width: 15px;height: 15px;margin-right:10px;background: url('/site/public/images/template/point_icon.png') no-repeat 0 top;}
.autonomous_another_q .area1 {float:left;width:auto;font-size: 16px;color: #049bc1;font-weight: 400;}
.autonomous_another_q .area2 {float:right; width:auto;}


@media screen and (max-width:765px){
    .p-table.simple.autonomous_q_table tbody {display:block;}
    .p-table.simple.autonomous_q_table tbody tr {display: block; width:100%;}
    .autonomous_q_table.p-table colgroup+tbody tr td {display:inline-block; width:100%; box-sizing: border-box; text-align: center}
    .autonomous_q_table.p-table colgroup+tbody tr:first-child td { border-top:none;}
    .autonomous_q_table.p-table colgroup+tbody tr td:first-child {width:30px; vertical-align: top; font-weight: 600; color:#000;}
    .autonomous_q_table.p-table colgroup+tbody tr td:nth-child(2) {width:calc(100% - 34px); padding-top:5px; padding-right:5px; vertical-align: top; text-align:left; color:#000;}
    .autonomous_q_table.p-table colgroup+tbody tr td:last-child {padding-top:5px; padding-bottom:5px;}
    .autonomous_q_table.p-table .p-form-row {display:inline-block; margin:0;}
    .autonomous_another_q {padding:10px 5px;}
}

@media screen and (max-width:640px){
    .autonomous_another_q {margin-top:15px;}
    .autonomous_another_q .area1 { font-size:14px;}
    .autonomous_inspection .autonomous_area1 {width:calc(85% - 5px); margin-right:5px;}
    .autonomous_inspection .autonomous_area2 {height:84px; margin-top: 2px;}
}

@media screen and (max-width:480px){
    .autonomous_inspection .autonomous_area1,
    .autonomous_inspection .autonomous_area2 {float:none; width:100%;}
    .autonomous_inspection .autonomous_area2 {height:40px; margin-top:10px;}
}

/* 주방공개 배달음식점 */
.restaurant_list .p-media__video .p-media__image-wrap {width: 519px; height: 300px;}
.restaurant_list .p-media__video .p-media__subtitle {height: 299px;}
.restaurant_list .p-media__imglist-wrap{margin-top:16px; border:1px solid #e5e5e5;}
.restaurant_list .p-media__imglist-wrap .img_box{float:left; position:relative; width:100%; height:450px; font-size:0; line-height:0;}
.restaurant_list .p-media__imglist-wrap .img_box .title_text,
.restaurant_list .p-media__imglist-wrap .img_box .btn.img_zoom { padding:11px 9px 10px; font-size:16px; line-height:24px;}
.restaurant_list .p-media__imglist-wrap .img_box .title_text {min-width:142px; border:1px solid #b07f7f; background-color:#b07f7f; color:#fff; text-align: center;}
.restaurant_list .p-media__imglist-wrap .img_box .btn.img_zoom {border:1px solid #000; background-color:#000; color:#fff; vertical-align: top;}
.restaurant_list .p-media__imglist-wrap .img_box .btn.img_zoom:after {position:relative; width:13px; height:13px; margin-left:12px; background: url('/site/main/images/contents/redbrick_view_icon.png') no-repeat 0 -54px;}
.restaurant_list .p-media__imglist-wrap .img_box .img_list{margin:0;}
.restaurant_list .p-media__imglist-wrap .img_box .img_item{height:450px; background-repeat:no-repeat; background-position:center center; background-size:auto 500px; background-size:100% auto;}
.restaurant_list .p-media__imglist-wrap .img_box .control_box{position:absolute; bottom:0; right:0; font-size:0; line-height:0;}
.restaurant_list .p-media__imglist-wrap .img_box .control_box button{display:inline-block; position:relative; width:64px; height:64px;}
.restaurant_list .p-media__imglist-wrap .img_box .control_box button:before{display:block; position:absolute; top:0; right:0; bottom:0; left:0; width:13px; height:20px; margin:auto; background-image:url('/site/main/images/contents/redbrick_view_icon.png'); background-repeat:no-repeat;}
.restaurant_list .p-media__imglist-wrap .img_box .control_box .restaurant_photo_prev,
.restaurant_list .p-media__imglist-wrap .img_box .control_box .restaurant_photo_next {background-color:rgba(0,0,0,0.6);}
.restaurant_list .p-media__imglist-wrap .img_box .control_box .restaurant_photo_next {margin-left:1px;}
.restaurant_list .p-media__imglist-wrap .img_box .control_box .restaurant_photo_prev:before{background-position: left 62.12%;/*background-size:223.07% 1030%;*/}
.restaurant_list .p-media__imglist-wrap .img_box .control_box .restaurant_photo_next:before{background-position:left 100.12%;/* background-size:223.07% 1030%;*/}


@media only screen and (max-width:640px){

    .restaurant_list .p-media__video .p-media__image-wrap {width: 100%; height: auto;}
    .restaurant_list .p-media__video .p-media__subtitle {height: 200px;}
}