@charset "UTF-8";
/*현진명*/

/*보건사업 > 의료비지원 > 서울형유급병가지원*/
.cts2302 .box:before{background:url('../images/contents/cts2302_icon.png') no-repeat;}
.cts2302 .bu.dl.n1 > li .title{width:63px;}
.cts2302 .bu.dl.n2 > li .title{width:168px;}
.cts2302 .bu.dl.n3 > li .title{width:80px;}
.cts2302 .table td .blt.dl .blt_title{padding-left:16px;}
.cts2302 .step_oneline .step_title{padding-bottom:19px;}

/*보건사업 > 의료비지원 > 성동형의료지원*/
.cts2303 .box:before{background:url('../images/contents/cts2303_icon.png') no-repeat;}
.cts2303 .dl > li .title{width:125px;}
.cts2303 .box.set{border:0; background:none;}
.cts2303 .box.set .innerbox{width:calc(50% - 59px); border:1px solid #9fa3af;}
.cts2303 .box.set .innerbox.first{position:relative; margin-right:118px;}
.cts2303 .box.set .innerbox.first:before{display:block; position:absolute; top:50%; right:-91px; width:60px; height:154px; margin-top:-77px; background:url('../images/contents/cts2303_arrow.png') no-repeat;}
.cts2303 .box.set .innerbox.first .dl > li .title{width:90px;}
.cts2303 .emphasis .emphasis_list.place{padding-bottom:34px;}

@media all and (max-width:1300px){
    .cts2303 .box.set .innerbox{min-height:201px;}
}
@media all and (max-width:800px){
    .cts2303 .box.set .innerbox{width:calc(50% - 40px);}
    .cts2303 .box.set .innerbox.first{margin-right:80px;}
    .cts2303 .box.set .innerbox.first:before{right:-75px; width:40px; height:114px; margin-top:-57px; background-size:contain;}
}
@media all and (max-width:700px){
    .cts2303 .box.set .innerbox{width:100%; min-height:auto;}
    .cts2303 .box.set .innerbox.first{margin-right:0; margin-bottom:70px;}
    .cts2303 .box.set .innerbox.first:before{top:auto; right:50%; bottom:-88px; margin-top:0; margin-right:-20px; transform:rotate(90deg);}
}
@media all and (max-width:640px){
    .cts2303 .box.set .innerbox.second:before{display:none;}
}

/*보건사업 > 모자보건 > 임신부 > 임신부·영유아 가정방문*/
.cts2305 .cts2305_box{overflow:hidden; position:relative; padding:60px 45px 86px 60px; border-radius:0 33px 33px 33px; background-color:#ffe1f1;}
.cts2305 .cts2305_box:before, .cts2305 .cts2305_box:after{display:block; position:absolute;}
.cts2305 .cts2305_box:before{top:20px; left:20px; width:calc(100% - 40px); height:calc(100% - 40px); border:1px solid #c57495; border-radius:0 25px 25px 25px; box-sizing:border-box; }
.cts2305 .cts2305_box:after{bottom:-8px; right:46px; width:274px; height:204px; background:url('../images/contents/cts2305_img.png') no-repeat;}
.cts2305 .cts2305_box h3.h0{position:relative; margin-top:0 !important; font-size:26px !important; line-height:28px !important; font-weight:600 !important; color:#8a1f4b !important; letter-spacing:-0.025em;}
.cts2305 .cts2305_box h3.h0:after{display:block; position:absolute; bottom:-18px; left:0; width:30px; height:3px; background-color:#891f4a;}
.cts2305 .cts2305_box .bu.dl{margin-top:45px;}
.cts2305 .cts2305_box .bu.dl > li:before{background-color:#891f4a;}
.cts2305 .cts2305_box .bu.dl > li > .title{width:90px; color:#891f4a; vertical-align:top;}
.cts2305 .cts2305_box .bu.dl > li > .title:before{background-color:#dca0ba;}
.cts2305 .cts2305_box .bu.dl > li > .text{vertical-align:top;}
.cts2305 .cts2305_box .bu.dl > li > .text > ul{margin-top:0;}
.cts2305 .cts2305_box .bu.dl > li > .text > ul > li{padding-left:17px;}
.cts2305 .cts2305_box .bu.dl > li > .text > ul > li:before{left:0; top:11px; width:7px; height:2px; background-color:#97a8be;}
.cts2305 .cts2305_box .bu.dl > li > .text .warning{color:#212121;}
.cts2305 .cts2305_box .bu.dl > li > .text .warning:before{background:url('../images/contents/cts2305_icon.jpg') no-repeat;}

@media all and (max-width:1300px){
    .cts2305 .cts2305_box:after{right:30px; width:192px; height:150px; background-size:contain;}
}
@media all and (max-width:800px){
    .cts2305 .cts2305_box{padding-bottom:106px;}
    .cts2305 .cts2305_box:after{right:50px; width:164px; height:124px;}
}
@media all and (max-width:640px){
    .cts2305 .cts2305_box{padding-top:50px; padding-left:45px;}
    .cts2305 .cts2305_box h3.h0{font-size:22px !important; line-height:24px !important;}
    .cts2305 .cts2305_box h3.h0:after{height:2px; width:20px;}
    .cts2305 .cts2305_box .bu.dl{margin-top:35px;}
}
@media all and (max-width:480px){
    .cts2305 .cts2305_box{padding:25px 30px;}
    .cts2305 .cts2305_box:before{top:10px; left:10px; width:calc(100% - 20px); height:calc(100% - 20px);}
    .cts2305 .cts2305_box:after{display:none;}
}

/*보건사업 > 모자보건 > 임신부 > 난임부부지원*/
.cts2307 .dl > li .title{width:90px; vertical-align:top;}
.cts2307 .dl > li .text{vertical-align:top;}
.cts2307 .dl.n1 > li:first-child .title{display:inline-block;}
.cts2307 .dl.n1 > li:first-child .text{display:inline-block;}
.cts2307 .dl.n1 > li:first-child .table{margin-top:12px; margin-bottom:14px;}
.cts2307 h4 .warning.type3{margin-left:8px; font-weight:300; vertical-align:top;}
.cts2307 .step .step_item{padding-top:37px; padding-bottom:36px;}
.cts2307 .step .step_title{padding-left:0; padding-right:0; word-break:keep-all;}
.cts2307 .step .step_title .warning{padding-left:20px;}

@media all and (min-width:1301px){
    .cts2307 .step .step_item{height:167px !important;}
/*    .cts2307 .step.second_step .step_item:nth-child(4){padding-top:26px;}*/
}
@media all and (max-width:800px){
    .cts2307 .step .step_title .warning{margin-left:5px;}
}
@media all and (max-width:640px){
    .cts2307 .step .step_item{padding-top:20px; padding-bottom:20px;}
}

/*보건사업 > 모자보건 > 임신부 > 산모·신생아 건강관리사 지원*/
.cts2308 .table td:last-child{border-left:1px solid #d5d8dd;}
.cts2308 .table_scroll {overflow-x:scroll;}
.cts2308 .table_scroll table {width:1200px;}
@media all and (max-width:380px){
    .cts2308 .table.n1 colgroup col:first-child{width:40px;}
}

/*보건사업 > 모자보건 > 임신부 > 고위험 임신부 의료비 지원*/
.cts2310 .bu.dl .title{width:90px;}
.cts2310 .warning_box .num_item{width:22px; margin-left:8px; background-color:#fff; border:1px solid rgba(14, 53, 93, 0.5); border-radius:100%; text-align:center; font-size:13px; line-height:21px; color:#0e355d;}
.cts2310 .warning_box .num_item + .num_item{margin-left:3px;}
.cts2310 .warning_box .num_item:last-child{margin-right:3px;}

@media all and (max-width:640px){
    .cts2310 .warning_box .num_item{width:18px; font-size:11px; line-height:16px;}
}
@media all and (max-width:410px){
    .cts2310 .table.family colgroup col:nth-child(2){width:95px;}
}

/*보건사업 > 모자보건 > 임신부 > 남녀임신준비프로그램*/
.cts2311 .warning_box .blank:after{background:url('../images/contents/cts2369_icon.png') no-repeat;}
.cts2311 .box.icon{height:auto;}

@media all and (min-width:1301px){
    .cts2311 .table.type2 colgroup col:first-child{width:242px;}
    .cts2311 .table.type2 tbody th br{display:none;}
}
@media all and (max-width:1300px){
    .cts2311 .table.type2 colgroup col:first-child{width:155px;}
}
@media all and (max-width:640px){
    .cts2311 .box.icon{height:auto;}
}

/*보건사업 > 모자보건 > 임신부 > 임신부 건강관리*/
/*.cts2312 .box.list .dl > li .text > ul > li{padding-left:17px;}
.cts2312 .box.list .dl > li .text > ul > li:before{top:11px; width:7px; height:2px; background-color:#97a8be;}
.cts2312 .box.list .warning.type3{margin-top:14px;}
.cts2312 .box.icon{height:141px;}

@media all and (max-width:640px){
    .cts2312 .box.icon{height:auto;}
}*/

/*보건사업 > 모자보건 > 임신부 > 성동아이맘건강프로그램*/
.cts2313 .box.list .bu{display:inline-block; vertical-align:top;}
.cts2313 .box.list .bu + .bu{margin-left:113px;}
.cts2313 .box.type3{margin-top:46px; padding-right:75px;}
.cts2313 h4 .warning{font-weight:300; vertical-align:top;}

@media all and (max-width:640px){
    .cts2313 .box.list .bu + .bu{margin-left:12%;}
    .cts2313 .box.type3{margin-top:20px; padding-right:25px;}
}
@media all and (max-width:480px){
    .cts2313 .box.list .bu{display:block;}
    .cts2313 .box.list .bu + .bu{margin-left:0;}
}

/*보건사업 > 모자보건 > 임신부 > 서울형 난임부부 시술비 지원*/
.cts2315 .box.no_icon.tiny{margin-top:34px;}
.cts2315 .step_oneline.detail .step_title .step_info{display:table; height:82px;}
.cts2315 .step_oneline.detail .step_title .step_info ul{display:table-cell; vertical-align:middle;}
.cts2315 .step_oneline.detail .step_title .step_info p{display:table-cell; word-break:keep-all; vertical-align:middle;}
.cts2315 .bu.dl > li .title{width:90px;}
.cts2315 .num.dl{margin-bottom:13px;}
.cts2315 .num.dl > li > ul > li{position:relative;}
.cts2315 .num.dl > li.block > ul{margin-bottom:0;}
.cts2315 .num + .warning_box{margin-top:13px;}

@media all and (max-width:1000px){
    .cts2315 .step_oneline.detail .step_title .step_info br{display:none;}
}
@media all and (max-width:640px){
    .cts2315 .box.no_icon.tiny{margin-top:20px;}
    .cts2315 .step_oneline.detail .step_title .step_info p{font-size:14px; line-height:22px;}
}

/*보건사업 > 모자보건 > 임신부 > 정관 복원 시술비 지원*/
.cts2316 .step .step_title{word-break:keep-all;}

/*보건사업 > 모자보건 > 영유아 > 영유아건강검진*/
.cts2318 .cts2318_box{padding-top:42px; background-color:#f8f8f8;}
.cts2318 .cts2318_box .step.center .step_item{width:216px; padding-left:0; padding-right:0;}
.cts2318 .cts2318_box .step.center .step_content{font-size:17px; line-height:20px;}
.cts2318 .cts2318_box .step.center .step_title{word-break:keep-all;}
.cts2318 .cts2318_box .warning_box{margin-top:41px; margin-bottom:0; padding-bottom:13px; text-align:center;}
.cts2318 .cts2318_box .warning_box .warning{display:inline-block;}

@media all and (max-width:1300px){
    .cts2318 .cts2318_box .step.center .step_list{padding-left:15px; padding-right:15px;}
    .cts2318 .cts2318_box .step.center .step_item{width:calc(33.33% - 27px);}
    .cts2318 .cts2318_box .step.center .step_title{font-size:15px;}
}
@media all and (max-width:800px){
    .cts2318 .cts2318_box{padding-top:20px;}
    .cts2318 .cts2318_box .warning_box{margin-top:30px;}
}

/*보건사업 > 모자보건 > 영유아 > 미숙아 및 선천성 이상아 의료비 지원*/
.cts2319 .box.list .dl > li .title{width:120px;}
.cts2319 .box.list .dl > li .text{word-break:keep-all;}
.cts2319 .warning_box .bu{margin-top:0; margin-left:0;}

/*보건사업 > 모자보건 > 영유아 > 선천성 대사이상 검사 및 환아 관리*/
.cts2320 .versebox.type2 .box.verse{padding-right:10px;}
.cts2320 .versebox.type2 .box.verse:first-child:before{background-image:url('../images/contents/cts2320_icon01.png');}
.cts2320 .versebox.type2 .box.verse:nth-child(2):before{background-image:url('../images/contents/cts2320_icon02.png'); background-position:58%;}
.cts2320 .versebox.type2 .box.verse:first-child .dl > li .title{width:90px; vertical-align:top;}
.cts2320 .versebox.type2 .box.verse:first-child .dl > li .text{word-break:keep-all;}
.cts2320 .versebox.type2 .box.verse:first-child .dl > li .text ul{margin:0;}
.cts2320 .versebox.type2 .box.verse:first-child .dl > li .text ul > li{padding-left:17px; word-break:keep-all;}
.cts2320 .versebox.type2 .box.verse:first-child .dl > li .text ul > li:before{left:0; top:11px; width:7px; height:2px; background-color:#97a8be;}
.cts2320 .versebox.type2 .box.verse:nth-child(2) .dl > li .title{width:137px;}

/*보건사업 > 모자보건 > 영유아 > 저소득층 기저귀·조제분유 지원*/
.cts2322 .num.dl > li .title{width:190px;}
.cts2322 .warning_box{margin-top:10px;}
.cts2322 .bu .em_blue .blank{color:#1175e0;}
.cts2322 .bu .em_blue .blank:after{background:url('../images/contents/cts2322_icon.png') no-repeat;}
.cts2322 .warning_box .num_item{width:22px; margin-left:8px; background-color:#fff; border:1px solid rgba(14, 53, 93, 0.5); border-radius:100%; text-align:center; font-size:13px; line-height:21px; color:#0e355d;}
.cts2322 .warning_box .num_item + .num_item{margin-left:3px;}
.cts2322 .warning_box .num_item:last-child{margin-right:3px;}
.cts2322 .num.formula li:first-child{padding-left:0;}
.cts2322 .num.formula li:first-child .item{position: relative;display: inline-block;left: auto;top: auto;}

@media all and (max-width:640px){
    .cts2322 .warning_box .num_item{width:18px; font-size:11px; line-height:16px;}
}

/*보건사업 > 모자보건 > 모자보건사업 종합 안내(책자)*/
.cts2324 .cts2324_box{overflow:hidden; position:relative; padding:60px 30px 67px 304px; padding-left:304px; background-color:#fbe1ec;}
.cts2324 .cts2324_box:before{display:block; position:absolute; top:34px; left:-74px; width:365px; height:183px; background:url('../images/contents/cts2324_img.png') no-repeat; background-size:contain;}
.cts2324 .cts2324_box .title{font-size:24px; line-height:30px; font-weight:600; color:#1d1c1c; word-break:keep-all;}
.cts2324 .cts2324_box .warning{margin-top:9px; margin-bottom:24px; word-break:keep-all;}

@media all and (max-width:800px){
    .cts2324 .cts2324_box{padding-top:50px; padding-bottom:50px;}
    .cts2324 .cts2324_box:before{left:-40px; width:315px; height:163px;}
    .cts2324 .cts2324_box .title{font-size:22px;}
}
@media all and (max-width:640px){
    .cts2324 .cts2324_box{padding:135px 30px 30px;}
    .cts2324 .cts2324_box:before{top:24px; left:50%; width:195px; height:100px; transform:translateX(-50%);}
    .cts2324 .cts2324_box .title{font-size:18px; line-height:24px;}
    .cts2324 .cts2324_box .warning{margin-top:5px; margin-bottom:12px;}
}

/*보건사업 > 건강증진 > 금연산업 > 금연클리닉 운영*/
.cts2327 .box.ul_icon .n1 .box_title:before{top:calc(50% - 30px); width:63px; height:61px; background-image:url('../images/contents/cts2327_icon01.png');}
.cts2327 .box.ul_icon .n2 .box_title:before{top:calc(50% - 27px); width:58px; height:55px; background-image:url('../images/contents/cts2327_icon02.png');}
.cts2327 .box.ul_icon .n3 .box_title:before{top:calc(50% - 34px); width:61px; height:69px; background-image:url('../images/contents/cts2327_icon03.png');}
.cts2327 .box.ul_icon .item{padding-right:0;}
.cts2327 .box.ul_icon .item > ul{padding-left:333px;}
.cts2327 .box.ul_icon .item > ul li{word-break:keep-all;}
.cts2327 .box.ul_icon ul li .title{width:65px;}

@media all and (max-width:1300px){
    .cts2327 .box.ul_icon .item > ul{padding-left:0;}
}

/*보건사업 > 건강증진 > 금연산업 > 금연교육 프로그램*/
.cts2328 .list_rainbow .area_title{width:41%; padding-right:10px;}
.cts2328 .list_rainbow .area_title .rainbow_text{word-break:keep-all;}
.cts2328 .list_rainbow .area_info{padding-left:0; padding-right:0;}
.cts2328 .list_rainbow .dl > li .title{width:65px;}
.cts2328 .list_rainbow .rainbow_row.edu .dl > li .title{width:120px;}
.cts2328 .list_rainbow .rainbow_row.edu .dl > li .text .blank{display:inline;}

@media all and (max-width:800px){
    .cts2328 .list_rainbow .rainbow_row.edu .dl > li .title{display:block;}
    .cts2328 .list_rainbow .rainbow_row.edu .dl > li .text{display:block;}
}
@media all and (max-width:640px){
    .cts2328 .list_rainbow .area_title{width:100%; padding-right:15px;}
    .cts2328 .list_rainbow .area_info{padding-left:10px; padding-right:10px;}
}

/*보건사업 > 건강증진 > 금연산업 > 금연환경 조성사업*/
.cts2329 .box.no_icon .bu li{color:#555;}
.cts2329 .dl > li .title{width:65px;}

/*보건사업 > 건강증진 > 금연산업 > 금연 관련 법령*/
.cts2330 .step .step_item{padding-bottom:30px;}
.cts2330 .step .step_content{vertical-align:top;}
.cts2330 .step .step_title{margin-top:20px;}
.cts2330 .step .step_title span{color:#1557a9;}
.cts2330 .step .step_text{color:#555;}
.cts2330 .step .step_text .bu{display:inline-block; }
.cts2330 .step .step_text .blt{display:inline; text-align:left; word-break:keep-all;}

@media all and (max-width:1000px){
    .cts2330 .step .step_title{margin-top:0;}
    .cts2330 .step .step_title span{display:block;}
}
@media all and (max-width:640px){
    .cts2330 .step .step_item{padding-bottom:15px;}
    .cts2330 .step .step_title{margin-top:0;}
}

/*보건사업 > 건강증진 > 금연산업 > 금연 관련 법령*/
.cts2331 .box.no_icon .box_text{color:#555;}
.cts2331 .box.no_icon .box_img{margin-top:54px; margin-bottom:44px;}
.cts2331 .num.kor > li > ul{margin-top:3px;}
.cts2331 .num.kor > li > ul > li{position:relative; padding-left:23px; color:#555;}
.cts2331 .num.kor > li > ul > li:before{display:none;}
.cts2331 .num.kor > li > ul > li .item{position:absolute; top:0; left:0; color:#1e4268; font-weight:500;}
.cts2331 .num.kor > li > ul > li p{margin-top:6px; color:#517cb6;}

@media all and (max-width:640px){
    .cts2331 .box.no_icon .box_img{margin-top:20px; margin-bottom:20px;}
}

/*보건사업 > 건강증진 > 금연산업 > 흡연실 설치·운영*/
@media all and (max-width:1300px){
    .cts2332 .table.responsive colgroup col:nth-child(1){width:50px;}
    .cts2332 .table.responsive colgroup col:nth-child(2){width:65px;}
    .cts2332 .table.responsive colgroup col:nth-child(n + 4){width:80px;}
}

/*보건사업 > 건강증진 > 금연산업 > 과태료 감면제도*/
.cts2333 .dl > li .title{width:215px;}
.cts2333 .dl > li .text{word-break:keep-all;}
.cts2333 .step_vertical .step_content{padding-right:70px;}
.cts2333 .step_vertical .blt.type2{word-break:keep-all;}
.cts2333 .step_vertical .warning{margin-top:7px;}

@media all and (max-width:1300px){
    .cts2333 .dl > li .text br{display:none;}
    .cts2333 .dl > li .text .blank{display:inline;}
}
@media all and (max-width:800px){
    .cts2333 .step_vertical .step_content{padding-right:38px;}
}
@media all and (max-width:640px){
    .cts2333 .step_vertical .step_content{padding-right:20px;}
}

/*보건사업 > 건강증진 > 절주사업*/
.cts2334 .dl > li .title{width:65px;}
.cts2334 .list_rainbow .area_title .rainbow_text{letter-spacing:-0.035em;}
.cts2334 .list_rainbow .area_info{padding-right:0;}
.cts2334 .list_rainbow .dl > li .text{word-break:keep-all;}
.cts2334 .list_rainbow .area_info ul > li > ul{margin-top:3px;}
@media all and (max-width:1300px){
    .cts2334 .list_rainbow .area_title .rainbow_text{word-break:keep-all;}
}

/*보건사업 > 건강증진 > 영양사업*/
.cts2335 .versebox .dl > li .title{width:215px;}
.cts2335 .versebox .box.verse.n1 .col_left .verse_title:after{background-image:url('../images/contents/cts2335_icon01.png') !important;}
.cts2335 .versebox .box.verse.n2 .col_left .verse_title:after{background-image:url('../images/contents/cts2335_icon02.png') !important;}
.cts2335 .versebox .box.verse.n3 .col_left .verse_title:after{background-image:url('../images/contents/cts2335_icon03.png') !important;}
.cts2335 .versebox .box.verse.n4 .col_left .verse_title:after{background-image:url('../images/contents/cts2335_icon04.png') !important;}
.cts2335 .versebox .box.verse .col_right .verse_point1:first-child{margin-top:10px !important;}

@media all and (max-width:1300px) and (min-width:1001px){
    .cts2335 .versebox .box.verse .col_left{width:240px;}
}
@media all and (max-width:800px){
    .cts2335 .versebox .box.verse .col_left{width:250px;}
    .cts2335 .versebox .dl > li .title{display:block;}
    .cts2335 .versebox .dl > li .text{display:block;}
}
@media all and (max-width:640px){
    .cts2335 .versebox .box.verse .col_left{width:auto;}
}

/*보건사업 > 건강증진 > 운동사업*/
.box.health_promotion:before{background-image:url('../images/contents/cts2336_icon.png');}
.box.health_promotion .box_text p{word-break:keep-all;}
.cts2336 .bu.dl{margin-bottom:11px;}
.cts2336 .dl > li .title{width:95px;}
.cts2336 .dl.type1 > li .title{width:95px;}
.cts2336 .emphasis .emphasis_list{margin-top:11px;}

/*보건사업 > 건강증진 > 평생건강누림센터*/
.cts2337 .box:before{background-image:url('../images/contents/cts2339_icon.png');}
.cts2337 h3 + h3{margin-top:37px !important;}
.cts2337 .step .step_item{padding-left:0; padding-right:0;}

@media all and (max-width:1300px){
    .cts2337 h3 + h3{margin-top:20px !important;}
}

/*보건사업 > 건강증진 > 건강도시*/
.cts2338 .dl > li .title{width:63px;}

/*보건사업 > 건강증진 > 어린이운동물품대여*/
.cts2339 .cts2339_box:before{background-image:url('../images/contents/cts2339_icon.png');}
.cts2339 .cts2339_box .box_text p{word-break:keep-all;}
.cts2339 h3 + h3{margin-top:37px !important;}
.cts2339 .step_imgtype .n3 .imgtype_inner:before{background-image:url('../images/contents/cts2339_icon02.png');}
.cts2339 .step_imgtype .n4 .imgtype_inner:before{background-image:url('../images/contents/cts2339_icon03.png');}
.cts2339 .cts2339_rental{margin-top:32px;}
.cts2339 .cts2339_rental li{float:left; position:relative; width:16.66%; padding-top:133px; text-align:center;}
.cts2339 .cts2339_rental li:nth-child(n + 7){margin-top:37px;}
.cts2339 .cts2339_rental li:before{display:block; position:absolute; top:0; left:0; right:0; width:119px; height:119px; margin:0 auto; background-repeat:no-repeat; background-size:contain;}
.cts2339 .cts2339_rental li.n1:before{background-image:url('../images/contents/cts2339_icon04.png');}
.cts2339 .cts2339_rental li.n2:before{background-image:url('../images/contents/cts2339_icon05.png');}
.cts2339 .cts2339_rental li.n3:before{background-image:url('../images/contents/cts2339_icon06.png');}
.cts2339 .cts2339_rental li.n4:before{background-image:url('../images/contents/cts2339_icon07.png');}
.cts2339 .cts2339_rental li.n5:before{background-image:url('../images/contents/cts2339_icon08.png');}
.cts2339 .cts2339_rental li.n6:before{background-image:url('../images/contents/cts2339_icon09.png');}
.cts2339 .cts2339_rental li.n7:before{background-image:url('../images/contents/cts2339_icon10.png');}
.cts2339 .cts2339_rental li.n8:before{background-image:url('../images/contents/cts2339_icon11.png');}
.cts2339 .cts2339_rental li.n9:before{background-image:url('../images/contents/cts2339_icon12.png');}
.cts2339 .cts2339_rental li.n10:before{background-image:url('../images/contents/cts2339_icon13.png');}
.cts2339 .cts2339_rental li span{position:relative; padding-left:16px;}
.cts2339 .cts2339_rental li span:before{display:block; position:absolute; top:12px; left:0; width:4px; height:4px; background-color:#4289e6; border-radius:100%;}

@media all and (max-width:1300px){
    .cts2339 .cts2339_rental li{width:25%;}
    .cts2339 .cts2339_rental li.n5, .cts2339 .cts2339_rental li.n6{margin-top:37px;}
}
@media all and (max-width:640px){
    .cts2340 h3 + h3{margin-top:20px !important;}
    .cts2339 .cts2339_rental li{width:33.33%; padding-top:105px;}
    .cts2339 .cts2339_rental li:nth-child(n + 4){margin-top:25px;}
    .cts2339 .cts2339_rental li:before{width:100px; height:100px;}
    .cts2339 .cts2339_rental li span{padding-left:10px;}
    .cts2339 .cts2339_rental li span:before{top:9px;}
}
@media all and (max-width:450px){
    .cts2339 .cts2339_rental li{width:50%; padding-top:98px;}
    .cts2339 .cts2339_rental li:nth-child(n + 3){margin-top:15px;}
    .cts2339 .cts2339_rental li:before{width:90px; height:90px;}
}

/*보건사업 > 건강증진 > 걷기 마일리지 프로젝트*/
.cts2340 h3 + h3{margin-top:37px !important;}
.cts2340 .cts2340_box{margin-top:68px; padding:0 20px 22px 20px; border:1px solid #9fa3af; text-align:center; }
.cts2340 .cts2340_box .title_box{margin-top:-10px; margin-bottom:24px; background:url('../images/contents/cts2340_title.png') no-repeat center center; font-size:24px; line-height:60px; font-weight:600; color:#fff; letter-spacing:-0.025em;}
.cts2340 .cts2340_box .sub_box{border:6px solid #a4bee0; font-size:16px; line-height:58px; font-weight:500; color:#094078;}
.cts2340 .cts2340_box .top_image{margin-top:52px;}
.cts2340 .cts2340_box ol{overflow:visible; margin-top:43px; margin-bottom:37px;}
.cts2340 .cts2340_box ol li{float:left; position:relative; width:33.33%; height:415px; padding-top:33px; list-style:none;}
.cts2340 .cts2340_box ol li:nth-child(n + 4){margin-top:62px;}
.cts2340 .cts2340_box ol li:before{display:inline-block; position:absolute; top:0; left:50%; z-index:10; width:40px; height:40px; padding-left:3px; margin-left:-104px; background-color:#ffa31f; border-radius:100%; box-sizing:border-box; font-size:22px; line-height:40px; color:#1a2228;}
.cts2340 .cts2340_box ol li:after{display:block; position:absolute; top:205px; right:-6px; width:12px; height:20px; background:url('../images/contents/cts2340_arrow.png') no-repeat;}
.cts2340 .cts2340_box ol li:nth-child(3n):after{display:none;}
.cts2340 .cts2340_box ol li .title{position:absolute; top:0; left:50%; min-width:204px; padding-left:12px; border-radius:30px; background-color:#1a2228; line-height:40px; color:#fff; transform:translateX(-50%);}
.cts2340 .cts2340_box ol li.n5 .title{width:234px;}
.cts2340 .cts2340_box ol li.n5:before{margin-left:-125px;}
.cts2340 .cts2340_box ol li.n6 .title{width:324px;}
.cts2340 .cts2340_box ol li.n6:before{margin-left:-165px;}

@media all and (max-width:1300px) and (min-width:1001px){
    .cts2340 .cts2340_box ol li{width:50%;}
    .cts2340 .cts2340_box ol li.n3{margin-top:40px;}
    .cts2340 .cts2340_box ol li:nth-child(n + 4){margin-top:40px;}
    .cts2340 .cts2340_box ol li:nth-child(2n):after{display:none;}
    .cts2340 .cts2340_box ol li.n3:after{display:block;}
}
@media all and (max-width:1000px){
    .cts2340 .cts2340_box{padding-left:10px; padding-right:10px; padding-bottom:10px;}
    .cts2340 .cts2340_box ol li:before{font-size:20px;}
    .cts2340 .cts2340_box ol li .title{font-size:15px;}
    .cts2340 .cts2340_box ol li.n5 .title{width:220px;}
    .cts2340 .cts2340_box ol li.n5:before{margin-left:-117px;}
    .cts2340 .cts2340_box ol li.n6 .title{width:285px;}
    .cts2340 .cts2340_box ol li.n6:before{margin-left:-152px;}
}
@media all and (max-width:900px){
    .cts2340 .cts2340_box ol li{width:50%;}
    .cts2340 .cts2340_box ol li.n3{margin-top:40px;}
    .cts2340 .cts2340_box ol li:nth-child(n + 4){margin-top:40px;}
    .cts2340 .cts2340_box ol li:nth-child(2n):after{display:none;}
    .cts2340 .cts2340_box ol li.n3:after{display:block;}
}
@media all and (max-width:640px){
    .cts2340 h3 + h3{margin-top:20px !important;}
    .cts2340 .cts2340_box{margin-top:45px;}
    .cts2340 .cts2340_box .title_box{margin-bottom:18px; font-size:18px; line-height:50px;}
    .cts2340 .cts2340_box .sub_box{padding:6px; font-size:15px; line-height:21px; word-break:keep-all;}
    .cts2340 .cts2340_box .top_image{width:280px; margin-top:20px;}
    .cts2340 .cts2340_box ol{margin-top:25px; margin-bottom:20px;}
    .cts2340 .cts2340_box ol li.n3{margin-top:25px;}
    .cts2340 .cts2340_box ol li:nth-child(n + 4){margin-top:25px;}
    .cts2340 .cts2340_box ol li:before{width:35px; height:35px; font-size:15px; line-height:35px;}
    .cts2340 .cts2340_box ol li .title{font-size:14px; line-height:35px;}
    .cts2340 .cts2340_box ol li.n5 .title{width:190px;}
    .cts2340 .cts2340_box ol li.n5:before{margin-left:-105px;}
    .cts2340 .cts2340_box ol li.n6 .title{width:255px; letter-spacing:-0.05em;}
    .cts2340 .cts2340_box ol li.n6:before{margin-left:-135px;}
}
@media all and (max-width:550px){
    .cts2340 .cts2340_box ol li{float:none; width:100%; }
    .cts2340 .cts2340_box ol li.n2{margin-top:30px;}
    .cts2340 .cts2340_box ol li.n3{margin-top:30px;}
    .cts2340 .cts2340_box ol li:nth-child(n + 4){margin-top:30px;}
    .cts2340 .cts2340_box ol li:after{top:auto; bottom:-25px; right:50%; margin-right:-6px; transform:rotate(90deg);}
    .cts2340 .cts2340_box ol li:nth-child(2n):after{display:block;}
    .cts2340 .cts2340_box ol li.n6:after{display:none;}
}

/*보건사업 > 구강보건 > 구강보건사업*/
.cts2342 .list_rainbow .area_title{width:37.7%;}
.cts2342 .dl > li .title{width:65px;}
.cts2342 .dl > li .text{word-break:keep-all;}

@media all and (max-width:1300px){
    .cts2342 .list_rainbow .area_title .rainbow_text{padding:0; word-break:keep-all;}
}
@media all and (max-width:640px){
    .cts2342 .list_rainbow .area_title{width:100%;}
}

/* 보건사업 > 방문보건 > 서울케어-건강돌봄서비스 사업 */
.cts2346 .box:before{background-image:url('../images/contents/cts2346_icon.png');}
@media all and (max-width:1300px){
    .cts2346 .box .box_text p br{display:none;}
}

/* 보건사업 > 방문보건 > 동 건강이음터 */
.cts2347 .box:before{background-image:url('../images/contents/cts2346_icon.png');}
.cts2347 .step_oneline.short .step_arrowbox:before{bottom:25px;}
.cts2347 .bu{margin-bottom:10px;}
.cts2347 .warning_box{margin-top:10px;}
.cts2347 h4 + h4{margin-top:15px !important;}

/* 보건사업 > 정신건강 > 정신건강증진 */
.cts2349 .emphasis + .dl > li .title{width:90px;}
.cts2349 .dl > li .title{width:63px;}
.cts2349 .dl > li .title.long_title{width:100px;}
.cts2349 p.blt.dl .blt_title{width:63px;}

/* 보건사업 > 정신건강 > 치매관리사업 */
.cts2350 .box:before{background-image:url('../images/contents/cts2350_icon.png');}
.cts2350 .box .box_text p{word-break:keep-all;}
.cts2350 .dl > li .title{width:240px;}
.cts2350 .emphasis .emphasis_list.phone .emphasis_title{width:160px;}
.cts2350 .emphasis .emphasis_list.phone.type2 .lump .blank{margin-left:30px; font-size:16px; line-height:24px; letter-spacing:-0.025em; color:#565555;}

@media all and (max-width:1300px){
    .cts2350 .emphasis .emphasis_list.phone.type2 .lump .blank{margin-left:0;}
}
@media all and (max-width:1000px){
    .cts2350 .emphasis .emphasis_list.phone.type2 .lump .blank{margin-left:10px;}
}
@media all and (max-width:800px){
    .cts2350 .emphasis .emphasis_list.phone.type2 .lump .blank{display:block; margin-left:0;}
}
@media all and (max-width:640px){
    .cts2350 .emphasis .emphasis_list.phone .emphasis_title{width:auto;}
}

/*보건사업 > 지역사회중심재활*/
.cts2351 .box:before{background-image:url('../images/contents/cts2351_icon.png');}
.cts2351 .emphasis.n1 .emphasis_list.phone .emphasis_title{width:146px;}

@media all and (max-width:1300px){
    .cts2351 .box br{display:none;}
}
@media all and (max-width:640px){
    .cts2351 .emphasis.n1 .emphasis_list.phone .emphasis_title{width:auto;}
}

/*식품·공중위생 > 식품위생 > 업종별 영업 허가·등록·신고 > 단란주점 허가 */
.cts2355 h3 + h3{margin-top:37px !important;}
.cts2355 .dl.n1 > li .title{width:78px;}

@media all and (max-width:640px){
    .cts2355 h3 + h3{margin-top:20px !important;}
}

/*식품·공중위생 > 식품위생 > 업종별 영업 허가·등록·신고 > 유흥주점 허가 */
.cts2356 h3 + h3{margin-top:37px !important;}
.cts2356 .dl.n1 > li .title{width:78px;}
@media all and (max-width:640px){
    .cts2356 h3 + h3{margin-top:20px !important;}
}

/*식품·공중위생 > 식품위생 > 업종별 영업 허가·등록·신고 > 휴게음식점 신고 */
.cts2357 .kor li{padding-left:23px;}
.cts2357 .kor li .item{position:absolute; left:0; font-weight:500; color:#1e4268;}
.cts2357 h3 + h3{margin-top:37px !important;}
.cts2357 .dl.n1 > li .title{width:78px;}
.cts2357 .dl.n2 > li .title{width:158px;}

@media all and (max-width:640px){
    .cts2357 h3 + h3{margin-top:20px !important;}
}

/*식품·공중위생 > 식품위생 > 업종별 영업 허가·등록·신고 > 제과점 신고 */
.cts2358 .kor li{padding-left:23px;}
.cts2358 .kor li .item{position:absolute; left:0; font-weight:500; color:#1e4268;}
.cts2358 h3 + h3{margin-top:37px !important;}
.cts2358 .dl.n1 > li .title{width:78px;}
.cts2358 .dl.n2 > li .title{width:158px;}

@media all and (max-width:640px){
    .cts2358 h3 + h3{margin-top:20px !important;}
}

/*식품·공중위생 > 식품위생 > 업종별 영업 허가·등록·신고 > 일반음식점 신고 */
.cts2359 .kor li{padding-left:23px;}
.cts2359 .kor li .item{position:absolute; left:0; font-weight:500; color:#1e4268;}
.cts2359 h3 + h3{margin-top:37px !important;}
.cts2359 .dl.n1 > li .title{width:90px;}
.cts2359 .dl.n2 > li .title{width:158px;}
.cts2359 .step_imgtype .n5 .imgtype_text .plustext{display:block; top:0;}

@media all and (max-width:640px){
    .cts2359 h3 + h3{margin-top:20px !important;}
}

/*식품·공중위생 > 식품위생 > 업종별 영업 허가·등록·신고 > 식품접객업 영업자 지위승계신고*/
.cts2360 h3 + h3{margin-top:37px !important;}
.cts2360 .dl > li .title{width:158px;}

@media all and (max-width:640px){
    .cts2360 h3 + h3{margin-top:20px !important;}
}

/*식품·공중위생 > 식품위생 > 업종별 영업 허가·등록·신고 > 식품제조가공업 등록 */
.cts2361 h4 + h4{margin-top:15px !important;}
.cts2361 .step_oneline.short .step_arrowbox:before{bottom:25px;}

/*식품·공중위생 > 식품위생 > 업종별 영업 허가·등록·신고 > 즉석판매제조가공업 등록 */
.cts2362 h4 + h4{margin-top:15px !important;}

/*식품·공중위생 > 식품위생 > 업종별 영업 허가·등록·신고 > 식품 소분 판매업 신고 등*/
.cts2363 h4 + h4{margin-top:15px !important;}

/*식품·공중위생 > 식품위생 > 업종별 영업 허가·등록·신고 > 건강기능식품 판매업 신고 */
.page2365 .tab_menu.type3 .tab_list{text-align:center;}
.page2365 .tab_menu.type3 .tab_list .tab_anchor{display:inline-block;}
.page2366 .tab_menu.type3 .tab_list{text-align:center;}
.page2366 .tab_menu.type3 .tab_list .tab_anchor{display:inline-block;}
.page2367 .tab_menu.type3 .tab_list{text-align:center;}
.page2367 .tab_menu.type3 .tab_list .tab_anchor{display:inline-block;}
.page2368 .tab_menu.type3 .tab_list{text-align:center;}
.page2368 .tab_menu.type3 .tab_list .tab_anchor{display:inline-block;}

/*식품·공중위생 > 식품위생 > 업종별 영업 허가·등록·신고 > 건강기능식품 판매업 신고 > 건강기능식품판매업 */
.cts2365 .box{min-height:135px;}
.cts2365 .box + .box{margin-top:30px;}
.cts2365 .box.no_icon .box_text p{word-break:keep-all;}

@media all and (max-width:640px){
    .cts2365 .box{min-height:auto;}
}

/*식품·공중위생 > 식품위생 > 업종별 영업 허가·등록·신고 > 건강기능식품 판매업 신고 > 신규 영업신고 안내 */
.cts2366 .num{margin-bottom:8px;}
.cts2366 .warning_box{margin-top:8px;}
.cts2366 h3 + h3{margin-top:37px !important;}
.cts2366 .box.list{padding-right:17px; padding-left:30px;}
.cts2366 .box.list .bu li{word-break:keep-all;}
.cts2366 .box.list .bu li .blt{word-break:keep-all;}

@media all and (max-width:1300px){
    .cts2366 .box.list .bu li br{display:none;}
}
@media all and (max-width:640px){
    .cts2366 h3 + h3{margin-top:20px !important;}
}

/*식품·공중위생 > 식품위생 > 업종별 영업 허가·등록·신고 > 건강기능식품 판매업 신고 > 영업자 지위승계 신고안내 */
.cts2367 .quick .quick_title{height:54px;}
.cts2367 .box.list .dl > li:first-child .title{width:265px;}
.cts2367 .box.list .dl > li:last-child .title{width:110px;}
.cts2367 h3 + h3{margin-top:37px !important;}
.cts2367 .step .step_item{height:77px !important; padding-left:5px; padding-right:5px;}
.cts2367 .step .step_item .step_content span{font-size:15px; line-height:17px; letter-spacing:-0.05em; color:#23262a; word-break:keep-all;}

@media all and (max-width:640px){
    .cts2367 .quick .quick_title{height:auto;}
    .cts2367 h3 + h3{margin-top:20px !important;}
}

/*식품·공중위생 > 식품위생 > 업종별 영업 허가·등록·신고 > 건강기능식품 판매업 신고 > 기타(변경, 폐업 등)신고*/
.cts2368 .quick.down + h5{margin-top:25px !important;}
.cts2368 h5{margin-bottom:12px !important;}
.cts2368 h5 + h5{margin-top:12px !important;}
.cts2368 .quick.small div.quick_item{float:none;}

/*식품·공중위생 > 식품위생 > 업종별 영업 허가·등록·신고 > 집단급식소 설치 신고*/
.cts2369 .warning_box{margin-top:8px;}
.cts2369 .warning_box .blank:after{background:url('../images/contents/cts2369_icon.png') no-repeat;}

/*식품·공중위생 > 식품위생 > 업종별 시설기준 > 식품접객업*/
@media all and (max-width:640px){
    .cts2371 .table tbody th br{display:none;}
}

/*식품·공중위생 > 식품위생 > 업종별 시설기준 > 식품 제조가공업*/
@media all and (max-width:640px){
    .cts2372 .table tbody th br{display:none;}
}

/*식품·공중위생 > 식품위생 > 업종별 시설기준 > 즉석판매 제조가공업*/
@media all and (max-width:640px){
    .cts2373 .table tbody th br{display:none;}
}

/*식품·공중위생 > 식품위생 > 업종별 시설기준 > 식품소분판매업*/
@media all and (max-width:640px){
    .cts2374 .table tbody th br{display:none;}
}

/*식품·공중위생 > 식품위생 > 업종별 시설기준 > 건강기능식품 판매업*/
.cts2375 .box.no_icon .box_text .bu li{color:#555;}

/*식품·공중위생 > 식품위생 > 위생교육 > 식품위생영업자*/
.cts2377 .box.no_icon.tiny .bu li{color:#555;}

/*식품·공중위생 > 식품위생 > 위생교육 > 건강기능식품영업자*/
.cts2378 .box.type3 .box_title{margin-bottom:27px !important;}
.cts2378 .box.type3 .bu > li{margin-top:15px; padding-bottom:14px; line-height:19px;}
.cts2378 .box.type3 .bu > li + li{position:relative;}
.cts2378 .box.type3 .bu > li + li:after{display:block; position:absolute; top:-15px; left:0; width:100%; height:1px; background-color:#cdcdcd;}

/*식품·공중위생 > 식품위생 > 위생교육 > 건강기능식품 위생교육*/
.cts2380 .box.list .blank{color:#094078;}
.cts2380 .box.list .blank:after{background:url('../images/contents/cts2380_icon.png') no-repeat;}
.cts2380 .box.list .dl > li .title{width:125px;}
.cts2380 .box.list .warning{margin-top:10px;}
.cts2380 .box.type3{padding-right:115px;}
.cts2380 .box.type3 .box_title{word-break:keep-all;}

@media all and (max-width:1300px){
    .cts2380 .box.type3{padding-right:100px;}
}
@media all and (max-width:640px){
    .cts2380 .box.type3{padding-right:25px;}
}

/*식품·공중위생 > 식품위생 > 위생교육 > 식품위생교육*/
.cts2381 .emphasis.n1{margin-top:35px;}
.cts2381 .emphasis.n1 .emphasis_list{margin-top:10px; margin-bottom:10px;}
.cts2381 .emphasis.n1 .emphasis_list.place .emphasis_title{width:183px;}
.cts2381 .emphasis.n1 .emphasis_list.place .bu li:nth-child(2) span{margin-left:22px;}

.cts2381 .emphasis.n2 .emphasis_num + .emphasis_num{padding-left:40px;}
.cts2381 .emphasis.n2 .emphasis_num + .emphasis_num:before{display:none;}

@media all and (max-width:1300px) and (min-width:1001px){
    .cts2381 .table colgroup col:last-child{width:0;}
}

@media all and (max-width:700px){
    .cts2381 .emphasis.n1 .emphasis_list.place .bu li:nth-child(2) span{display:block; margin-left:0;}
    .cts2381 .emphasis.n2 .emphasis_num{font-size:15px;}
    .cts2381 .emphasis.n2 .emphasis_num + .emphasis_num{padding-left:10px;}
}
@media all and (max-width:640px){
    .cts2381 .emphasis.n1 .emphasis_list.place .emphasis_title{width:auto;}
    .cts2381 .emphasis.n2 .emphasis_num{font-size:14px;}
    .cts2381 .emphasis.n2 .emphasis_num + .emphasis_num{padding-top:0; padding-left:0;}
}

/*식품·공중위생 > 식품위생 > 식품안전 > 식중독예방*/
.cts2383 .box.type2{padding-right:52px;}
.cts2383 .box.type2 .box_text p{word-break:keep-all;}
.cts2383 .box.type2 .warning{margin-top:10px;}
.cts2383 .list_rainbow .area_title{width:33.6%;}

@media all and (max-width:640px){
    .cts2383 .box.type2{padding-right:25px;}
    .cts2383 .list_rainbow .area_title{width:100%;}
}

/*식품·공중위생 > 식품위생 > 식품안전 > 위해요소 집중관리기준(HACCP)*/
.cts2384 .box.no_icon.tiny .box_text{color:#555;}
.cts2384 .haccp_box{margin-top:40px; margin-bottom:59px; text-align:center; font-size:0; line-height:0;}
.cts2384 .haccp_box .item{display:inline-block; width:210px;}
.cts2384 .haccp_box .item + .item{position:relative; margin-left:88px;}
.cts2384 .haccp_box .item + .item:before{display:block; position:absolute; top:57px; right:100%; width:38px; height:38px; margin-right:26px; background:url('../images/contents/cts2384_img03.png') no-repeat center center;}
.cts2384 .haccp_box .item .img_area{display:inline-block; width:152px; height:152px; padding-top:43px; border-radius:65px;}
.cts2384 .haccp_box .item:nth-child(1) .img_area{background-color:#97d6cc;}
.cts2384 .haccp_box .item:nth-child(2) .img_area{background-color:#efe8af;}
.cts2384 .haccp_box .item .img_area span{display:block; margin-top:17px; font-size:18px; line-height:20px; color:#262e2d; letter-spacing:-0.025em;}
.cts2384 .haccp_box .item .text{margin-top:20px; font-size:16px; line-height:24px; letter-spacing:-0.025em; word-break:keep-all;}
.cts2384 .haccp_box .item:nth-child(1) .text{color:#2b6158;}
.cts2384 .haccp_box .item:nth-child(2) .text{color:#414141;}
.cts2384 .dl > li.n1 .title{width:90px;}
.cts2384 .dl > li > .dl > li .title{display:table-cell; width:90px !important; padding-right:33px;}
.cts2384 .dl > li > .dl > li .title:before{display:block;}

@media all and (max-width:800px){
    .cts2384 .haccp_box{margin-top:20px; margin-bottom:25px;}
    .cts2384 .haccp_box .item{width:150px;}
    .cts2384 .haccp_box .item + .item:before{top:49px;}
    .cts2384 .haccp_box .item .img_area{width:136px; height:136px; padding-top:38px; border-radius:57px;}
    .cts2384 .haccp_box .item .img_area span{font-size:16px;}
    .cts2384 .haccp_box .item .text{margin-top:15px; font-size:14px; line-height:22px;}
}
@media all and (max-width:640px){
    .cts2384 .haccp_box .item + .item{margin-left:50px;}
    .cts2384 .haccp_box .item + .item:before{top:42px; width:30px; height:30px; margin-right:12px;}
    .cts2384 .haccp_box .item .img_area{width:120px; height:120px; padding-top:36px; border-radius:49px;}
    .cts2384 .haccp_box .item:nth-child(1) .img_area img{width:38px;}
    .cts2384 .haccp_box .item:nth-child(2) .img_area img{width:50px;}
    .cts2384 .haccp_box .item .img_area span{margin-top:12px; font-size:14px;}
}
@media all and (max-width:480px){
    .cts2384 .haccp_box{margin-top:10px; margin-bottom:15px;}
    .cts2384 .haccp_box .item{width:100%;}
    .cts2384 .haccp_box .item + .item{margin-top:35px; margin-left:0;}
    .cts2384 .haccp_box .item + .item:before{top:-25px; right:50%; width:16px; height:16px; margin-right:-8px;}
    .cts2384 .haccp_box .item .img_area{width:160px; height:70px; padding-top:13px;}
    .cts2384 .haccp_box .item:nth-child(1) .img_area img{width:30px;}
    .cts2384 .haccp_box .item:nth-child(2) .img_area img{width:40px;}
    .cts2384 .haccp_box .item .text{display:inline-block; width:70%; font-size:13px; line-height:18px;}
}

/*식품·공중위생 > 식품위생 > 식품안전 > 원산지표시제*/
.cts2385 .dl.n1 > li .title{width:170px;}
.cts2385 .dl.n2 > li .title{width:225px;}
.cts2385 .dl.n3 > li .title{width:245px;}

/*식품·공중위생 > 식품위생 > 좋은 식단 및 음식문화 개선*/
.cts2386 .cts2386_box{overflow:hidden; height:546px; margin-top:24px; border-radius:28px;}
.cts2386 .cts2386_box .img_area{float:left; position:relative; width:50%; height:100%; background-color:#fff4cf;}
.cts2386 .cts2386_box .img_area:before{display:block; position:absolute; bottom:0; right:32px; width:440px; height:447px; background-image:url('../images/contents/cts2386_img01.png'); background-repeat:no-repeat; background-size:contain;}
.cts2386 .cts2386_box .img_area img{position:absolute; bottom:60px; left:50%; margin-left:8px; transform:translateX(-50%);}

.cts2386 .cts2386_box .text_area{float:left; width:50%; height:100%; padding:5px 35px 37px 35px; background-color:#f1f5f7;}
.cts2386 .cts2386_box .text_area .item{position:relative; padding-top:30px;}
.cts2386 .cts2386_box .text_area .item + .item:before{display:block; position:absolute; top:0; left:0; width:100%; height:5px; background:url('/site/public/images/template/line_pattern2.png');}
.cts2386 .cts2386_box .text_area h5{margin-top:0 !important; margin-bottom:10px !important;}
.cts2386 .cts2386_box .text_area .bu{margin-top:10px; margin-bottom:23px;}
.cts2386 .cts2386_box .text_area .bu > li{word-break:keep-all;}

@media all and (max-width:1300px) and (min-width:1001px) {
    .cts2386 .cts2386_box{height:auto;}
    .cts2386 .cts2386_box .img_area{float:none; width:100%; height:350px;}
    .cts2386 .cts2386_box .img_area:before{right:202px; width:330px; height:335px;}
    .cts2386 .cts2386_box .img_area img{bottom:40px; margin-left:-10px;}
    .cts2386 .cts2386_box .text_area{float:none; width:100%;}
}
@media all and (max-width:1000px){
    .cts2386 .cts2386_box{height:550px;}
    .cts2386 .cts2386_box .img_area:before{right:50%; width:320px; height:326px; transform:translateX(50%);}
    .cts2386 .cts2386_box .img_area img{bottom:30px;}
    .cts2386 .cts2386_box .text_area .item{padding-top:15px;}
    .cts2386 .cts2386_box .text_area .item + .item:before{top:-6px; height:3px;}
}
@media all and (max-width:800px){
    .cts2386 .cts2386_box{height:auto;}
    .cts2386 .cts2386_box .img_area{float:none; width:100%; height:350px;}
    .cts2386 .cts2386_box .img_area:before{width:330px; height:335px;}
    .cts2386 .cts2386_box .img_area img{bottom:40px; width:190px;}
    .cts2386 .cts2386_box .text_area{float:none; width:100%; padding-top:15px; padding-bottom:5px;}
}
@media all and (max-width:480px){
    .cts2386 .cts2386_box .img_area{height:300px;}
    .cts2386 .cts2386_box .img_area:before{width:265px; height:270px; margin-right:10px;}
    .cts2386 .cts2386_box .img_area img{bottom:20px; width:180px; margin-left:-1px;}
    .cts2386 .cts2386_box .text_area{padding-left:25px; padding-right:25px;}
}

/*식품·공중위생 > 식품위생 > 식품접객업소지도점검*/
.cts2387 .box.no_icon.tiny{min-height:auto;}
.cts2387 .box.no_icon.n1 .box_text{padding-right:85px;}
.cts2387 .box.no_icon .box_text p{word-break:keep-all;}
.cts2387 .dl > li:first-child .title{width:200px;}

@media all and (max-width:1300px){
    .cts2387 .box.no_icon.n1 .box_text{padding-right:29px;}
}

/*식품·공중위생 > 식품위생 > 식품진흥기금*/
.cts2388 .dl.n1 > li .title{width:410px;}
.cts2388 .dl.n2 > li .title{width:170px;}
.cts2388 .emphasis .emphasis_list.place .emphasis_title{width:210px;}

@media all and (max-width:640px){
    .cts2388 .emphasis .emphasis_list.place .emphasis_title{width:auto;}
}

/*식품·공중위생 > 식품위생 > 소비자식품위생감시원*/
.cts2389 .box.no_icon.tiny{min-height:135px;}
.cts2389 p{word-break:keep-all;}

@media all and (max-width:640px){
    .cts2389 .box.no_icon.tiny{min-height:auto;}
}

/*식품·공중위생 > 공중위생 > 영업신고 > 숙박업*/
.cts2392 .box.type2:before{background-image:url('../images/contents/cts2392_icon.png');}
.cts2392 .box .box_text .warning{margin-top:4px;}
.cts2392 .dl > li .title{width:115px;}
.cts2392 .num{margin-bottom:10px;}
.cts2392 .warning_box.type2{margin-top:10px; margin-bottom:23px;}
.cts2392 h4{margin-top:15px !important; margin-bottom:15px !important;}

.step.business_registration{margin-bottom:25px;}
.step.business_registration .step_item{width:calc(20% - 32px); height:77px !important; padding-top:8px; padding-bottom:8px; margin-right:40px; padding-left:0; padding-right:0;}
.step.business_registration .step_content{font-size:17px;}
.step.business_registration .step_title{word-break:keep-all;}
.step.business_registration .step_item:nth-child(4) .step_content span{font-size:14px; line-height:18px; color:#23262a; word-break:keep-all;}
.step.business_registration .step_item:nth-child(4):before{top:0; right:-40px; bottom:auto; width:40px; height:100%; transform:none;}
.step.business_registration .step_item:last-child{margin-top:0; margin-right:0;}
.step.business_registration .step_item:last-child .step_content span{display:block; font-size:15px; color:#23262a;}

@media all and (max-width: 1300px){
    .step.business_registration .step_item{height:91px !important;}
}
@media all and (max-width: 800px){
    .step.business_registration .step_item:nth-child(n+3){margin-top:34px; margin-right:0;}
    .step.business_registration .step_item:nth-child(2n){margin-right:0;}
    .step.business_registration .step_item:nth-child(4):before{top:auto; right:0; bottom:-34px; width:100%; height:34px; transform:rotate(90deg);}
}
@media all and (max-width: 640px){
    .step.business_registration .step_item{height:auto !important; padding-top:15px; padding-bottom:15px;}
    .step.business_registration .step_content{font-size:14px;}
}

/*식품·공중위생 > 공중위생 > 영업신고 > 목욕장업*/
.cts2393 .box.type2:before{background-image:url('../images/contents/cts2393_icon.png');}
.cts2393 .box.type2 ul{margin-top:5px;}
.cts2393 .box.type2 ul li{position:relative; padding-left:23px;}
.cts2393 .box.type2 ul li .item{position:absolute; left:0; font-weight:500; color:#1e4268;}
.cts2393 .box.type2 .warning{margin-top:4px;}
.cts2393 .num{margin-bottom:10px;}
.cts2393 .warning_box.type2{margin-top:10px; margin-bottom:23px;}
.cts2393 h4{margin-top:15px !important; margin-bottom:15px !important;}

/*식품·공중위생 > 공중위생 > 영업신고 > 이용업*/
.cts2394 .box.type2:before{background-image:url('../images/contents/cts2394_icon.png');}
.cts2394 .num{margin-bottom:10px;}
.cts2394 .warning_box.type2{margin-top:10px; margin-bottom:23px;}
.cts2394 h4{margin-top:15px !important; margin-bottom:15px !important;}

/*식품·공중위생 > 공중위생 > 영업신고 > 미용업*/
.cts2395 .box.type2:before{background-image:url('../images/contents/cts2395_icon.png');}
.cts2395 .box.type2 .warning{margin-top:4px;}
.cts2395 .table.type2 colgroup col:first-child{width:23%;}
.cts2395 .num{margin-bottom:10px;}
.cts2395 .warning_box.type2{margin-top:10px; margin-bottom:23px;}
.cts2395 h4{margin-top:15px !important; margin-bottom:15px !important;}

@media all and (max-width: 640px){
    .cts2395 .table.type2 colgroup col:first-child{width:120px;}
}

/*식품·공중위생 > 공중위생 > 영업신고 > 세탁업*/
.cts2396 .box.type2:before{background-image:url('../images/contents/cts2396_icon.png');}
.cts2396 .num{margin-bottom:10px;}
.cts2396 .warning_box.type2{margin-top:10px; margin-bottom:23px;}
.cts2396 h4{margin-top:15px !important; margin-bottom:15px !important;}

/*식품·공중위생 > 공중위생 > 영업신고 > 건물위생 관리업*/
.cts2397 .box.type2:before{background-image:url('../images/contents/cts2397_icon.png');}
.cts2397 .box.type2 .warning{margin-top:4px;}
.cts2397 .num{margin-bottom:10px;}
.cts2397 .warning_box.type2{margin-top:10px; margin-bottom:23px;}
.cts2397 h4{margin-top:15px !important; margin-bottom:15px !important;}

/*식품·공중위생 > 공중위생 > 영업신고 > 위생용품제조업 및 위생물수건관리업*/
.cts2398 .box.type2.n1:before{background-image:url('../images/contents/cts2398_icon01.png');}
.cts2398 .box.type2.n2:before{background-image:url('../images/contents/cts2398_icon02.png');}
.cts2398 .quick{margin-bottom:24px;}
.cts2398 h4{margin-top:15px !important; margin-bottom:15px !important;}

/*식품·공중위생 > 공중위생 > 영업신고 > 영업자지위 승계신고*/
.cts2399 .box.type2{padding-right:120px;}
.cts2399 .box .box_text p{word-break:keep-all;}
.cts2399 h5{margin-top:20px !important;}
.cts2399 .box.list .dl > li:first-child .title{width:265px;}
.cts2399 .box.list .dl > li:last-child .title{width:110px;}
.cts2399 h4{margin-top:15px !important; margin-bottom:15px !important;}
.cts2399 .step .step_item{padding-left:8px; padding-right:8px;}
.cts2399 .step .step_item:last-child .step_content span{font-size:16px; color:#23262a;}

@media all and (max-width: 1300px){
    .cts2399 .box.type2{padding-right:50px;}
}

/*식품·공중위생 > 공중위생 > 영업신고 > 기타(변경,폐업등)신고*/
.cts2400 h4.type2{margin-top:15px !important; margin-bottom:15px !important;}
.cts2400 .num{margin-bottom:33px;}
.cts2400 .dl > li .title{width:270px;}
.cts2400 .warning_box.type2{margin-top:17px;}


/*식품·공중위생 > 공중위생 > 시설기준 > 목욕장업*/
.cts2402 .box.no_icon{overflow:hidden; background:#fff;}
.cts2402 .box.no_icon:before{display:block; position:absolute; top:auto; bottom:0; right:-11px;  left:auto; width:276px; height:223px; background:url('../images/contents/cts2402_bg.png') no-repeat;}
.cts2402 .box.no_icon .box_text{padding-right:47px;}
.cts2402 .box.no_icon .box_text ul{margin-top:23px;}
.cts2402 .box.no_icon .box_text ul li{padding-bottom:21px; margin-bottom:0; border-bottom:1px solid #d4d4d4; line-height:18px; color:#555; word-break:keep-all;}
.cts2402 .box.no_icon .box_text ul li + li{margin-top:22px;}
.cts2402 .box.no_icon .box_text ul li:last-child{padding-bottom:7px; border-bottom:0;}
.cts2402 .box.no_icon .box_text ul li .em_navy{font-weight:500;}

@media all and (max-width: 640px){
    .cts2402 .box.no_icon:before{display:none;}
    .cts2402 .box.no_icon .box_text{padding-right:20px;}
    .cts2402 .box.no_icon .box_text ul li{padding-bottom:14px;}
    .cts2402 .box.no_icon .box_text ul li + li{margin-top:15px;}
}

/*식품·공중위생 > 공중위생 > 시설기준 > 이용업*/
.cts2403 .box.no_icon{overflow:hidden; background:#fff;}
.cts2403 .box.no_icon:before{display:block; position:absolute; top:auto; bottom:0; right:-11px;  left:auto; width:276px; height:223px; background:url('../images/contents/cts2402_bg.png') no-repeat;}
.cts2403 .box.no_icon .box_text{padding-right:47px;}
.cts2403 .box.no_icon .box_text ul{margin-top:23px;}
.cts2403 .box.no_icon .box_text ul li{padding-bottom:21px; margin-bottom:0; border-bottom:1px solid #d4d4d4; line-height:18px; color:#555; word-break:keep-all;}
.cts2403 .box.no_icon .box_text ul li + li{margin-top:22px;}
.cts2403 .box.no_icon .box_text ul li:last-child{padding-bottom:7px; border-bottom:0;}
.cts2403 .box.no_icon .box_text ul li .em_navy{font-weight:500;}

@media all and (max-width: 640px){
    .cts2403 .box.no_icon:before{display:none;}
    .cts2403 .box.no_icon .box_text{padding-right:20px;}
    .cts2403 .box.no_icon .box_text ul li{padding-bottom:14px;}
    .cts2403 .box.no_icon .box_text ul li + li{margin-top:15px;}
}

/*식품·공중위생 > 공중위생 > 시설기준 > 미용업*/
.box.no_icon.facility_criteria{background-size:auto;}
.box.no_icon.facility_criteria .box_text .bu > li{font-weight:600; color:#4289e6;}
.box.no_icon.facility_criteria .box_text .bu > li + li{margin-top:20px;}
.box.no_icon.facility_criteria .box_text .bu > li > ul > li{font-weight:300; color:#666; word-break:keep-all;}
.box.no_icon.facility_criteria .box_text .bu > li > .blt{font-weight:300;}

/*식품·공중위생 > 공중위생 > 위생교육*/
.cts2416 .table colgroup col:first-child{width:200px;}
.cts2416 .call .icon{width:14px; height:15px; margin-left:13px; margin-right:6px; background:url('../images/contents/cts2416_icon.png') no-repeat; font-size:0; line-height:0; vertical-align:middle;}
.cts2416 .call + .call{margin-left:35px;}

@media all and (max-width: 1300px){
    .cts2416 .call + .call{display:block; margin-left:0;}
}
@media all and (max-width: 640px){
    .cts2416 .table colgroup col:first-child{width:150px;}
    .cts2416 .call .icon{width:10px; height:12px; margin-left:7px; background-size:contain;}
}
@media all and (max-width: 480px){
    .cts2416 .call .em_navy{display:block;}
}

/*식품·공중위생 > 공중위생 > 명예공중위생감시원*/
.cts2417 .box.type3{padding-top:50px; margin-top:34px;}
.cts2417 .box.type3 .box_text p{word-break:keep-all;}

@media all and (max-width: 640px){
    .cts2417 .box.type3{padding-top:20px; margin-top:20px;}
}

/*식품·공중위생 > 식품안전신고센터*/
.cts2418 .emphasis .emphasis_list{margin-bottom:20px;}
.cts2418 .quick.small .quick_item.link .quick_inner:before{background-size:29px 25px; background-image:url('/site/public/images/template/box_icon2.png');}

@media all and (min-width: 1001px){
    .cts2418 .quick.small .quick_inner{padding-right:163px;}
    .cts2418 .quick .quick_title p{word-break:initial;}
}
@media all and (max-width: 1300px) and (min-width: 1001px){
    .cts2418 .quick.small .quick_inner{min-height:170px;}
}

/*민원상담 > 이용문의*/
.cts2428 .box .box_text p{word-break:keep-all;}

/*아이사랑맛집 카페안내*/
.cts2432 .box.img{padding-right:80px;}
.cts2432 .box.img .img_cts{width:300px;}
.cts2432 .box.img .box_text p{word-break:keep-all;}
.cts2432 .box.no_icon.tiny .bu li{color:#555;}
.cts2432 .box.no_icon.tiny .bu li .warning{margin-left:10px;}
.cts2432 .dl > li .title{width:63px;}
.cts2432 .step_imgtype .n4 .imgtype_inner:before{background-image:url('../images/contents/cts2441_icon01.png');}
.cts2432 .step_imgtype .n5 .imgtype_inner:before{background-image:url('../images/contents/cts2441_icon02.png');}
.cts2432 .emphasis .emphasis_list{margin-top:16px;}

@media all and (max-width: 1300px){
    .cts2432 .box.img{padding-right:50px;}
    .cts2432 .box.no_icon.tiny .bu li .warning{display:block; margin-left:0;}
}

/*효사랑맛집 안내*/
.cts2435 .box.img{padding-right:140px;}
.cts2435 .box.img .img_cts{min-width:240px;}
.cts2435 .box.img .text_cts p{word-break:keep-all;}
.cts2435 .box.no_icon.tiny .bu li{color:#555;}
.cts2435 .box.no_icon.tiny .bu li .warning{margin-left:10px;}
.cts2435 .dl > li .title{width:63px}
.cts2435 .step_imgtype .n4 .imgtype_inner:before{background-image:url('../images/contents/cts2441_icon01.png');}
.cts2435 .step_imgtype .n5 .imgtype_inner:before{background-image:url('../images/contents/cts2441_icon02.png');}
.cts2435 .emphasis .emphasis_list{margin-top:16px;}

@media all and (max-width: 1300px){
    .cts2435 .box.img{padding-right:50px;}
    .cts2435 .box.no_icon.tiny .bu li .warning{display:block; margin-left:0;}
}

/* 성동맛집 안내*/
.cts2438 .box.img .img_cts{min-width:160px;}
.cts2438 .box.no_icon.tiny{min-height:135px;}
.cts2438 p + .bu{margin-top:7px; margin-bottom:8px;}
.cts2438 .step_imgtype .n2 .imgtype_inner:before{background-image:url('../images/contents/cts2438_icon01.png');}
.cts2438 .step_imgtype .n3 .imgtype_inner:before{background-image:url('../images/contents/cts2438_icon02.png');}
.cts2438 .step_imgtype .n4 .imgtype_inner:before{background-image:url('../images/contents/cts2441_icon02.png');}
.cts2438 .step_imgtype .n5 .imgtype_inner:before{background-image:url('../images/contents/cts2438_icon03.png');}

.cts2438 .dl > li .title{width:90px;}
.cts2438 h4 + ul{margin-bottom:7px;}
.cts2438 h4 + ul + table{margin-top:7px;}
.cts2438 h5{margin-bottom:12px !important;}
.cts2438 h5 + .bu{margin-top:12px;}

@media all and (max-width: 640px){
    .cts2438 .box.no_icon.tiny{min-height:auto;}
}

/*모범음식점 안내*/
.cts2441 .box.img .img_cts{min-width:149px;}
.cts2441 .box.no_icon.tiny{min-height:135px;}
.cts2441 .dl > li .title{display:inline-block; width:75px; padding-right:20px;}
.cts2441 .dl > li .text{display:inline-block;}
.cts2441 .dl > li > ul{margin-top:3px; margin-bottom:10px;}
.cts2441 .step_imgtype .imgtype_item{padding-bottom:25px;}
.cts2441 .step_imgtype .imgtype_item:nth-child(n + 3):after{display:block; position:absolute; top:145px; left:50%; width:1px; height:49px; margin-left:-21px; background-color:rgba(153, 153, 153, 0.6)}
.cts2441 .step_imgtype .imgtype_item:last-child:after{margin-left:-10px;}

.cts2441 .step_imgtype .n4 .imgtype_inner:before{background-image:url('../images/contents/cts2441_icon01.png');}
.cts2441 .step_imgtype .n5 .imgtype_inner:before{background-image:url('../images/contents/cts2441_icon02.png');}

.cts2441 .step_imgtype .imgtype_item .blt{position:absolute; bottom:-44px; left:50%; width:168px; text-align:left; font-size:16px; line-height:22px; font-weight:200; word-break:keep-all; transform:translateX(-58%);}
.cts2441 .step_imgtype .imgtype_item.n3 .blt{margin-left:-12px;}
.cts2441 .step_imgtype .imgtype_item.n4 .blt{margin-left:10px;}
.cts2441 .step_imgtype .imgtype_item.n5 .blt{margin-left:20px;}
.cts2441 .emphasis_list.phone{margin-top:17px;}

@media all and (max-width: 1300px){
    .cts2441 .step_imgtype .imgtype_item{padding-bottom:55px;}
    .cts2441 .step_imgtype .imgtype_item:nth-child(n + 3):after{top:152px; height:30px; margin-left:-41px;}
    .cts2441 .step_imgtype .imgtype_item:last-child:after{margin-left:-25px;}

    .cts2441 .step_imgtype .imgtype_item .blt{bottom:0;}
    .cts2441 .step_imgtype .imgtype_item.n3 .blt{margin-left:-21px;}
    .cts2441 .step_imgtype .imgtype_item.n4 .blt{margin-left:-9px;}
    .cts2441 .step_imgtype .imgtype_item.n5 .blt{margin-left:3px;}
}
@media all and (max-width: 1000px){
    .cts2441 .step_imgtype .imgtype_item:nth-child(n + 3):after{top:125px; left:64px; margin-left:0;}
    .cts2441 .step_imgtype .imgtype_item:last-child:after{left:74px;}
    .cts2441 .step_imgtype .imgtype_item{width:33.33%;}
    .cts2441 .step_imgtype .imgtype_item:before{right:auto; left:70%;}
    .cts2441 .step_imgtype .imgtype_item.n3 .blt{margin-left:-25%;}
    .cts2441 .step_imgtype .imgtype_item.n4 .blt{margin-left:-19%;}
    .cts2441 .step_imgtype .imgtype_item.n5 .blt{margin-left:-16%;}
}
@media all and (max-width: 640px){
    .cts2441 .step_imgtype .imgtype_item:before{top:48px; left:85%;}
    .cts2441 .step_imgtype .imgtype_item:nth-child(n + 3):after{top:90px; left:50%; margin-left:-10px;}
    .cts2441 .step_imgtype .imgtype_item:last-child:after{margin-left:0;}
    .cts2441 .step_imgtype .imgtype_item .blt{font-size:14px;}
    .cts2441 .step_imgtype .imgtype_item.n3 .blt{margin-left:0;}
    .cts2441 .step_imgtype .imgtype_item.n4 .blt{margin-left:23px;}
    .cts2441 .step_imgtype .imgtype_item.n5 .blt{margin-left:24px;}
}

.cts2222_img {display: inline-block;position: absolute;right: 0;top: 36px;border-radius: 0 15px 0 15px;overflow: hidden;}

@media all and (max-width: 1300px){
    .cts2222_img {display: inline-block;position:static;}

}

/* 출산가정 산후조리비용 지원 */
.cts4701 .step_oneline .step_item:last-child .step_arrowbox:before {display: none;}
.cts4701 .step_oneline.detail .step_title .step_info {display: flex; align-items: center; justify-content: center;}
.cts4701 .step_oneline.detail .step_title span {display: flex; align-items: center; justify-content: center; min-height: 48px;}

@media all and (max-width: 640px){


}

/*주민건강검진*/
.cts4792 .box.type2:before{background-image:url('/site/health/images/contents/cts2246_icon.png');}