@charset "UTF-8";

/* 동홈페이지 공통_온라인민원 상담/신청 */
.dong_onlineminwon .box.set .box_text{text-align:center;}
.dong_onlineminwon .box.set .box_text .text_main{position:relative; margin-bottom:20px; padding:9px 0 23px; font-size:20px; font-weight:500; line-height:30px; letter-spacing:-0.025em; color:#1d1c1c; }
.dong_onlineminwon .box.set .box_text .text_main:before{display:inline-block; position: absolute; left:0; right:0; bottom:0; width:30px; height:1px; margin:auto; background-color:#b0b0b0;}
.dong_onlineminwon .box.set .box_text p{margin-bottom:30px;}

.dong_onlineminwon .box.set .first .box_text .text_main span{display:inline;color:#028c32;}
.dong_onlineminwon .box.set .second .box_text .text_main span{display:inline; color:#1175e0;}

@media all and (max-width:800px) {
    .dong_onlineminwon .box.set .box_text .text_main br{display:none;}
}

@media all and (max-width:640px) {
    .dong_onlineminwon .box.set .box_text .text_main{padding:9px 0 15px; margin-bottom:10px; font-size:17px; line-height:24px;}
    .dong_onlineminwon .box.set .box_text p{margin-bottom:15px;}
}

/* 동홈페이지 공통_주민자치위원회란? */
.dong_guild .box{padding-right:25px;}
.dong_guild .step_oneline .step_item .step_title span{min-height:48px;}
.dong_guild .step_oneline .step_arrowbox{height:80px;}

/* 직원 및 전화번호 */
.bbs .p-search .p-form-group {width:100%;}
@media all and (max-width:765px) {
    .bbs .p-search .p-form-group {display:block;}
    .bbs .p-search .p-form__split {display:none;}
    .bbs .p-search select.p-input {display:block;}
    .p-form-group__button {display:block; width:100%; margin-top:5px; text-align:center;}
    .bbs .p-search .p-button {margin:0 !important;}
}

.depart_search{display:none;}

.depart_contents .depart_icon,
.depart_contents .depart_title,
.depart_contents .depart_info {display:none;}
.depart_contents .depart_bu{border-top:1px solid #cacaca; border-bottom:1px solid #cacaca; text-align:center;}
.depart_contents .depart_bu li{display:inline-block; position:relative; margin:8px 7px;padding:8px 10px;}
.depart_contents .depart_bu li:before{display:inline-block; position:absolute; left:-8px; top:0; bottom:0; width:2px; height:2px; margin:auto; background-color:#9e9e9e;}
.depart_contents .depart_bu li:first-child:before{display:none;}
.depart_contents .depart_bu li a{display:block;}
.depart_contents .depart_bu li a span{font-size:15px; line-height:20px; letter-spacing:-0.035em; color:#555;}
.depart_contents .depart_bu li.active a span{text-decoration:underline; text-underline-position:under; color:#015acd; }