@charset "UTF-8";

.cts3232 .dl > li .title{width:153px;}
.cts3232 .img_link .info_area .bu.dl .title, .cts3233 .img_link .info_area .bu.dl .title, .cts3234 .img_link .info_area .bu.dl .title, .cts3235 .img_link .info_area .bu.dl .title, .cts3236 .img_link .info_area .bu.dl .title, .cts3237 .img_link .info_area .bu.dl .title, .cts3238 .img_link .info_area .bu.dl .title, .cts4545 .img_link .info_area .bu.dl .title, .cts4547 .img_link .info_area .bu.dl .title, .cts4548 .img_link .info_area .bu.dl .title, .cts4549 .img_link .info_area .bu.dl .title, .cts4550 .img_link .info_area .bu.dl .title{width:105px;}
.cts3233 .dl > li .title{width:191px;}
.cts3234 .dl > li .title, .cts3235 .dl > li .title, .cts3237 .dl > li .title, .cts3238 .dl > li .title, .cts4545 .dl > li .title, .cts4547 .dl > li .title, .cts4548 .dl > li .title, .cts4549 .dl > li .title, .cts4550 .dl > li .title{width:171px;}
.cts3236 .dl > li .title{width:176px;}

.cts3239 .dl > li .text .line5 dl dt{display: inline-block; width: 70px; text-align: center; border-radius: 20px; padding: 1px 0 2px; box-sizing: border-box; margin-right: 10px; color: #823abf; border: 2px solid #823abf;}
.cts3239 .dl > li .text .line5 dl dd{display: inline-block;}

/* news */
.news_cont {font-size:0; line-height:0;}
.news_cont .cont_box {display:inline-block; position:relative; width:calc(20% - 16px); margin-right:20px; margin-bottom:40px; font-size:15px; line-height:22px; color:#555; vertical-align:top;}
.news_cont .cont_box img {max-width:100%;}
.news_cont .cont_box:nth-child(5n) {margin-right:0;}
.news_cont .cont_box .title_area {padding:10px 5px 9px; border-bottom:3px solid #bdd6f2; border-radius:0 0 10px 10px; background-color:#e4effb; text-align: center; font-weight:500; font-size:16px; line-height:24px;  color:#213d5b; word-break:keep-all}
.news_cont .cont_box .text_area {margin-top:8px; word-break:keep-all}
.news_cont .cont_box:nth-child(1) img {border:1px solid #ccc; border-bottom:none; box-sizing: border-box}

@media all and (max-width:1300px){
    .news_cont .cont_box {width:calc(33.3% - 15px); }
    .news_cont .cont_box img {width:100%;}
    .news_cont .cont_box:nth-child(3n) {margin-right:0;}
    .news_cont .cont_box:nth-child(5n) {margin-right:20px;}

}

@media all and (max-width:640px){
    .news_cont .cont_box {width:calc(50% - 10px); }
    .news_cont .cont_box:nth-child(3n) {margin-right:20px;}
    .news_cont .cont_box:nth-child(2n) {margin-right:0;}

}
@media all and (max-width:400px){
    .news_cont .cont_box {width:100%; margin-right:0;}
    .news_cont .cont_box:nth-child(3n) {margin-right:0;}

}

/* 응봉산 인공암벽 등반시설 안내 */
.cts3249 .img_list{display:flex; justify-content:flex-start; align-items:flex-start;}
.cts3249 .img_list ul{width:calc(100% - 311px);}
.cts3249 .bu > li:first-child:before{top:13px;}
.cts3249 .bu > li:before{top:29px;}


/* 청계천~중랑천변 자전거도로 */
.cts3250 .dl > li .title{width:170px;}
.cts3250 .img_info .infobox{width:750px;}


/* 구청장인사말 */
.cts3222 .greetings_title{color:#383838; font-size:30px; line-height:45px; letter-spacing:-0.03em; text-align:center;}
.cts3222 .greetings_title span{margin-left:10px; color:#01175e;}
.cts3222 .greetings_cont_box{position:relative; margin-top:30px; text-align:right;}
.cts3222 .greetings_image{position:absolute; bottom:0; right:0;}
.cts3222 .greetings_text{width:45%; min-height:600px; padding-top:50px; padding-left:4.7%; position:relative; text-align:left; font-weight:300; font-size: 16px; color: #555; line-height: 25px;}
.cts3222 .greetings_text .em_bold{font-weight: 700;}

@media all and (max-width:1200px){
    .cts3222 .greetings_title{font-size:24px; line-height:32px;}
    .cts3222 .greetings_cont_box{margin-top:40px;}
    .cts3222 .greetings_text{padding-top:40px; font-size:16px; line-height:24px;}
}
@media all and (max-width:1000px){
    .cts3222 .greetings_text {word-break: keep-all}
}
@media all and (max-width:800px){
    .cts3222 .greetings_image{position:relative; top:auto; left:auto;}
    .cts3222 .greetings_text{display:block; width:auto; margin-top:30px; padding:0;}
}
@media all and (max-width:640px){
    .cts3222 .greetings_cont_box{margin-top:30px;}
    .cts3222 .greetings_title{font-size:18px; line-height:24px; word-break: keep-all}
    .cts3222 .greetings_text{font-size:14px; line-height:20px;}
}
