@charset "UTF-8";

/**온라인접수**/
/* 목록 */
.online_receptionist .list{ text-align:center;}
.online_receptionist .list .top_btn_cts {display:inline-block;position:relative; margin-bottom:35px;}
.online_receptionist .list .top_btn_cts a {position:relative; width:39px; height:39px; margin-top:-17px; border:2px solid #000; border-radius:50%; background-repeat:no-repeat; background-position:center; font-size:0; vertical-align:middle;}
.online_receptionist .list .top_btn_cts a.prev {margin-right:30px;background-image:url('/site/reserve/images/program/online_receptionist_prev.png');}
.online_receptionist .list .top_btn_cts a.next {margin-left:30px; background-image:url('/site/reserve/images/program/online_receptionist_next.png');}
#contents .online_receptionist .list .top_btn_cts h3 {display:inline-block;font-size:35px; line-height:39px;  font-weight:600; color:#000; letter-spacing:-0.03em; text-align:center;}
.online_receptionist .list .p-table td{color:#737373;}
.online_receptionist .list  .p-table td.p-subject a {color:#737373;}
.online_receptionist .list  .p-table td .state {width:80px; box-sizing:border-box; font-size:15px; line-height:30px; text-align:center;}
.online_receptionist .list  .p-table td em {color:#000;}
.online_receptionist .list  .p-table td .state.ing {background-color:#5193e9; color:#fff;}
.online_receptionist .list  .p-table td .state.end {border:1px solid #8a8a8a; background-color:#fff; color:#656565;}
/* 상세보기 */
.online_receptionist .view .p-table .p-table__subject td {padding:20px; text-align:center;}
.online_receptionist .view .p-table td .p-table__subject_text {font-size:22px;}
/* 작성 */
.online_receptionist .write .p-table tbody th.birth_day{width:11%;}
.online_receptionist .write .p-table tbody th.sex_head{width:8%;}
/* 예약완료 */
.online_receptionist .complete .complete_box {position:relative; margin-bottom:25px; padding-top:39px; border:1px solid #4f6380; font-size:20px; color:#000; line-height:30px; text-align:center;}
.online_receptionist .complete .complete_box:before {display:block; position:absolute; top:51px; left:33px; z-index:2; width:85px; height:174px; background:url('/site/reserve/images/program/online_receptionist_bg.png') no-repeat;}
.online_receptionist .complete .complete_box:after {display:block; position:absolute; top:47px; right:38px;  z-index:2; width:31px; height:180px; background:url('/site/reserve/images/program/online_receptionist_bg2.png') no-repeat;}
.online_receptionist .complete .complete_box .title {position:relative; z-index:3; margin-bottom:34px; padding:0 3%;}
.online_receptionist .complete .complete_box .title:before {display:block; width:100%; margin-bottom:14px; height:61px; background:url('/site/reserve/images/program/online_receptionist_check_icon.png') no-repeat center;}
.online_receptionist .complete .complete_box .gray_text {position:relative; z-index:1; padding:29px 3% 30px; background-color:#f5f6f8;}
/* 나의 온라인접수 */
.online_receptionist .receptionist {position:relative;}
.online_receptionist .receptionist .p-table td{color:#737373;}
.online_receptionist .receptionist .p-table td .state {font-size:15px;}
.online_receptionist .receptionist .p-table td .state.receipt {color:#1856b5;}
.online_receptionist .receptionist .p-table td .state.approval {color:#000;}
.online_receptionist .receptionist .p-table td .state.unapproved {color:#b61100;}
.online_receptionist .receptionist .p-table td em {color:#000;}
.online_receptionist .receptionist .p-table td .reserv_btn {width:80px; border:1px solid #df5959; font-size:15px; line-height:28px; text-align:center;}
.online_receptionist .receptionist .p-table td .reserv_btn.edit {margin-bottom:5px; background-color:#df5959; color:#fff;}
.online_receptionist .receptionist .p-table td .reserv_btn.cancel {background-color:#fff; color:#df5959;}

.online_receptionist .receptionist .popup {display:none;}
.online_receptionist .receptionist .popup.active {display:block;}
.online_receptionist .receptionist .popup .overlay {position:fixed; top:0; left:0; z-index:110; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.6);}
.online_receptionist .receptionist .popup .layer {position:absolute; top:50%; left:50%; z-index:120; width:470px; height:357px; margin-top:-179px; margin-left:-235px; padding-bottom:10px; background-color:#fff;}
.online_receptionist .receptionist .popup .layer .close {position:absolute; top:0; right:0; width:65px; height:60px; border-left:1px solid #435571; background:url('/site/reserve/images/program/online_receptionist_close.png') no-repeat center; font-size:0;}
.online_receptionist .receptionist .popup .layer .title {margin-bottom:40px; padding:18px 24px 17px; background-color:#142b4e;}
.online_receptionist .receptionist .popup .layer .title h3 {font-size:18px; color:#fff; letter-spacing:-0.03em;}
.online_receptionist .receptionist .popup .layer .text {height:182px; line-height:22px; text-align:center;}
.online_receptionist .receptionist .popup .layer .text:before {display:block; width:100%; height:61px; margin-bottom:13px; background-repeat:no-repeat; background-position:center;}
.online_receptionist .receptionist .popup .layer .text .main_text {margin-top:7px; margin-bottom:12px; font-size:20px; font-weight:600; line-height:25px;}
.online_receptionist .receptionist .popup .layer .btn_cts {text-align:center;}
.online_receptionist .receptionist .popup .layer .btn_cts a {width:80px; border:1px solid #252d6f; font-size:15px; line-height:33px;}
.online_receptionist .receptionist .popup .layer .btn_cts a.yes {background-color:#252d6f; color:#fff;}
.online_receptionist .receptionist .popup .layer .btn_cts a.no {color:#252d6f;}
.online_receptionist .receptionist .cancel_confirm .layer .text:before {background-image:url('/site/reserve/images/program/online_receptionist_warning.png');}
.online_receptionist .receptionist .cancel_complete .layer .text:before {background-image:url('/site/reserve/images/program/online_receptionist_ok.png');}
@media screen and (max-width: 765px){
    .online_receptionist .receptionist  .p-table td button.edit {margin-bottom:0;}
}

@media all and (max-width:640px){
    .online_receptionist .list .top_btn_cts{margin-top:30px;}
}


@media screen and (max-width: 500px){
    .online_receptionist .receptionist .popup .layer {left:0; width:100%; margin-left:0;}
}
/* 수정 */
.online_receptionist .edit .p-table tbody th.birth_day{width:11%;}
.online_receptionist .edit .p-table tbody th.sex_head{width:8%;}

/* 동의박스 */
.temp_agree {margin-bottom:20px; padding:20px 38px 20px; border:1px solid #cfcfcf;}
#contents .temp_agree .title  {margin-bottom:30px; font-size:20px; font-weight:600; color:#1d1d1d;}
.temp_agree .text_cts {overflow-y:scroll; height:170px; padding-bottom:30px; margin-bottom:20px; border-bottom:1px solid #e4e4e4;}
.temp_agree.online{margin-bottom:0;}
@media all and (max-width:640px){
    .temp_agree {margin-bottom:30px; padding:20px;}
}

/* 행정동 찾기 */
.cts1816 .search_box .search_interval{display:none;}
@media all and (max-width:640px) {
    .cts1816 .search_box.type2{padding:15px 0;}
    .p_find_dong .list .search_box .subject{display:block; margin-bottom:5px;}
    .p_find_dong .list .search_box .search_piece{display:block;}
    .p_find_dong .list .search_box .search_btn__box{display:inline-block;}
    .p_find_dong .list .search_box .sd_input.withbtn{width:calc(100% - 68px)}
}
/* 직원전화번호 및 업무 */
.cts2015 #searchKrwd{min-width:172px;}
.cts2015 .bbs .p-search .p-button[type="submit"]{height:42px;}
@media all and (max-width:640px) {
    .cts2015 .card select.p-input{display:block; width:100%;}
    .cts2015 .bbs .p-search .p-form__split{display:none;}
    .cts2015 .p-form-group__button{display:block; overflow:hidden; width:100%; margin-left:0;}
    .cts2015 .bbs .p-search .p-button[type="submit"]{width:100%; margin-left:0 !important;}
    .cts2015 .p-form-group__button:before{display:none;}
}