/* 민원사무편람 */
.cts1241 .bbs .p-search .p-button {height:42px; margin:0;}
.cts1241 .bbs .p-search .p-form-group {width:100%;}
@media all and (max-width:765px) {
    .cts1241 .bbs .p-search .p-form-group {display:block;}
    .cts1241 .bbs .p-search select.p-input {display:block; width:100%;}
    .cts1241 .bbs .p-search .p-form__split {display:none;}
    .cts1241 .bbs .p-search .p-button {margin-left:0 !important;}
    .cts1241 .p-form-group__button {display:block; width:100%; font-size:0;}
    .cts1241 .p-form-group__button:before {display:none;}
    .cts1241 .bbs .p-search .p-button {width:50%; font-size:14px; line-height:26px;}
}

/* 공유재산목록 */
.cts1332 .bbs .p-search .p-form-group {display:block; width:100%; text-align:center;}
.cts1332 .bbs .p-search select.p-input {display:inline-block; width:100px;}
.cts1332 .bbs .p-search select.p-input:nth-child(n + 5) {margin-left:6px;}
.cts1332 .bbs .p-search .p-input--beside {width:auto; margin-left:4px;}
.cts1332 .bbs .p-search .p-form__split {display:none;}
.cts1332 .p-form-group__button {display:inline-block; width:auto;}
.cts1332 .bbs .p-search .p-button {height:42px; margin:0;}
@media all and (max-width:765px) {
    .cts1332 .bbs .p-search .p-input--beside {display:block; width:100%; margin-left:0;}
    .cts1332 .bbs .p-search select.p-input {width:100%;}
    .cts1332 .p-form-group__button{width:100%;}
    .cts1332 .bbs .p-search .p-button{width:100%; margin-left:0 !important;}
    .cts1332 .p-form-group__button:before{display: none;}
}

/* 행정정보 > 투명행정 > 계약정보공개시스템 > 계약현황(전체) */
.cts1284 .bbs .p-search .p-button,
.cts1285 .bbs .p-search .p-button,
.cts1286 .bbs .p-search .p-button,
.cts1287 .bbs .p-search .p-button,
.cts1299 .bbs .p-search .p-button,
.cts1300 .bbs .p-search .p-button,
.cts1301 .bbs .p-search .p-button,
.cts1302 .bbs .p-search .p-button {height:42px; margin:0;}

/* 열린성동 성동소식 보도자료 - 송정은 */
.legacy_gallery.gallery-list{margin-top:40px;}
.legacy_gallery.gallery-list li{ float:left;width:33.3333%;text-align:center;margin-bottom:30px; height:245px; }
.legacy_gallery.gallery-list li > .con{text-align:left;display: inline-block;max-width:277px;}
.legacy_gallery.gallery-list li > .con > i.img{display:block;max-width:275px;}
.legacy_gallery.gallery-list li > .con > i.img img{width:275px;height:183px;border:1px solid #e3e3e3;}
.legacy_gallery.gallery-list li > .con > h4{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin:10px 0 0 0;font-size:15px;font-weight:100;padding:0 1px;color:#666666;}
.legacy_gallery.gallery-list li > .con > p{font-size:14px;padding:0 1px;color:#888888;}
.legacy_gallery.view_list {}
.legacy_gallery.view_list > li {display:inline-block; width:100px; margin-bottom:3px;}

.legacy_gallery.img_link .inner {padding:59px 40px 25px 480px;}

.legacy_gallery .pho_pwp{width:500px;padding:24px;margin:0 auto;}
.legacy_gallery .bx_ban{position:relative;padding-bottom:80px;}
.legacy_gallery .bx_ban > h4{margin:0;font-size:16px;color:#3d3d3d;padding:9px 0;line-height:18px;}
.legacy_gallery .bx_ban .banner-title{font-weight:normal;}
.legacy_gallery .bx_ban .banner-pic{}
.legacy_gallery .bx-pager{display:none;}
.legacy_gallery .bx_ban .bx-controls {position: absolute;top: 100%;left: 0;margin-top:-57px;}
.legacy_gallery .bx_ban .banner-pic > li img{width:100%;height:350px;}
.legacy_gallery .bx_ban .bx-prev{display:block;font-size:0;position:absolute;left:0;top:36px;width:38px;height:350px;background:url(/images/portal/main2017/pho_bo/pho_bxs_pbt.png) no-repeat;}
.legacy_gallery .bx_ban .bx-next{display:block;font-size:0;position:absolute;right:0;top:36px;width:38px;height:350px;background:url(/images/portal/main2017/pho_bo/pho_bxs_nbt.png) no-repeat;}



.legacy_gallery .bx_ban .os_dw{overflow:hidden;}
.legacy_gallery .bx_ban .os_dw > a{display: block;float: left;}
.legacy_gallery .bx_ban .bx-controls-auto-item{display:inline-block;margin-right:10px;}
.legacy_gallery .bx_ban .bx-start{font-size:0;display:inline-block;width:131px;height:33px;background:url(/images/portal/main2017/pho_bo/pho_pp_play.gif) no-repeat;}
.legacy_gallery .bx_ban .bx-stop{font-size:0;display:inline-block;width:69px;height:33px;background:url(/images/portal/main2017/pho_bo/pho_pp_stop.gif) no-repeat;}

.legacy_gallery .ban_spd{position:absolute;bottom:24px;right:0;}
.legacy_gallery .ban_spd > select{width:100px;height:33px;border:1px solid #9a9a9a;}

.legacy_gallery .bx_ban .bxb_clo{position:absolute;right:0;top:0;}


@media all and (max-width:1300px) {
    .legacy_gallery.img_link .inner {padding-left:50%;}
}

@media all and (max-width:640px) {
    .legacy_gallery.gallery-list li {width:calc(50% - 5px); height:162px; margin-right:10px;}
    .legacy_gallery.gallery-list li:nth-child(2n) {margin-right:0;}
    .legacy_gallery.img_link .inner {padding:25px 20px;}

}

/* 무료법률상담 신청하기 */
.cts4182 .all_agree{display: block; text-align:center; font-size:20px; font-weight:600;}
.cts4182 .p-table  tr:last-child th, .cts4182 .p-table  tr:last-child td{border-bottom:2px solid #222;}
@media all and (max-width:640px){
    .cts4182 .all_agree{font-size:16px;}
}

/* 온라인서명 스타일 */
.petinfo_top { border:8px solid #55adad; margin-top:30px; box-sizing: border-box}
.petinfo_top .box_wrap {position:relative; padding:43px 10px 20px; min-height:192px; border:8px solid #f4bc8c; text-align: center; z-index:0}
.petinfo_top .box_wrap:before,
.petinfo_top .box_wrap:after {display: inline-block; position:absolute; content:''; z-index:-1;}
.petinfo_top .box_wrap:before {width:185px; height:138px; top:calc(50% - 69px); left:23px; background:url('/site/main/images/program/petInfo_bg1.png') no-repeat 0 0;}
.petinfo_top .box_wrap:after {width:176px; height:136px; top:calc(50% - 68px); right:30px; background:url('/site/main/images/program/petInfo_bg2.png') no-repeat 0 0;}
#contents .petinfo_top h3.h0 {display:inline-block; padding:7px 13px; background-color:#8ec3c2}
#contents .petinfo_top h3.h0 .mobile_text {display: none;}
.petinfo_top .box_wrap p {margin-top:9px; font-size:16px; line-height:20px; color:#39302a; word-break: keep-all}

.indvdlinfoColctCn {padding:25px 30px; margin-bottom:10px;  border-bottom:1px solid #d9d9d9; background-color:#f7f7f7}

@media all and (max-width:1300px) {
    .petinfo_top .box_wrap:before,
    .petinfo_top .box_wrap:after {opacity:0.15}
}
@media all and (max-width:640px) {
    .petinfo_top { border:6px solid #55adad;}
    .petinfo_top .box_wrap { padding:15px 20px; border:4px solid #f4bc8c; min-height:0;}
    .petinfo_top .box_wrap:before,
    .petinfo_top .box_wrap:after {transform: scale(0.9)}
    #contents .petinfo_top h3.h0 .pc_text {display: none;}
    #contents .petinfo_top h3.h0 .mobile_text {display: inline-block; font-size:17px; line-height:23px; font-weight:600; color:#39302a;}
    .petinfo_top .box_wrap p {margin-top:5px; font-size:15px; line-height:20px; color:#39302a}
}

/* 설문조사 */
.p-table.qestnar_form td {padding-left:110px;}

/* 20대뉴스관련 211122 */
.p-table.qestnar_form .multiple_choice {font-size:0; line-height:0;}
.p-table.qestnar_form .multiple_choice > li {display: inline-block; width:50%; margin-bottom:15px; font-size: 15px; line-height:23px; vertical-align: top; }
.p-table.qestnar_form .multiple_choice > li .text_area input[type=checkbox] {position:relative; width:20px; height:20px; margin-left:10px; vertical-align: top;}
.p-table.qestnar_form .multiple_choice > li:nth-child(odd) .text_area input[type=checkbox] {margin-left:0;}
.p-table.qestnar_form .multiple_choice > li .text_area input[type=checkbox]:before {display: inline-block; position: absolute; top:0; left:0; width:20px; height:20px; border:2px solid #ccc; background:#fff;}
.p-table.qestnar_form .multiple_choice > li .text_area input[type=checkbox]:checked:before {border:2px solid #000; background:#fff url('/site/public/images/template/checkbox_check.png') no-repeat center center;}
.p-table.qestnar_form .multiple_choice > li .text_area label {display: inline-block; width:calc(100% - 45px); margin-left:5px;}
.p-table.qestnar_form .multiple_choice > li .text_area label img {width:auto; height:auto}

.qestnar2111_title {display:block; position:relative; border-radius:50px; background:#d3e1ff url('/site/main/images/program/qestnar2111_bg.jpg') no-repeat center right; color:#1c366d; font-size:20px; line-height:36px; font-weight:600;}
.qestnar2111_title .title_num {padding:0 10px; margin-right:10px; border-radius:50px; background-color:#1c366d; color:#fff; font-family:NotoKr; text-align: center}
.qestnar2111_title a {position:absolute; top:0; right:15px; padding-right:12px; font-size:15px; color:#000; font-weight:300;}
.qestnar2111_title a:after {display:inline-block; position:absolute; top:13px; right:0; width:8px; height:11px; background:url('/site/main/images/program/qestnar2111_arrow.png') no-repeat 0 0;}
.qestnar2111_title2 {display:block; margin-top:5px; padding-left:15px; margin-bottom:12px; font-size:20px; line-height:25px; font-weight: 400; color:#262626; word-break: keep-all}
.qestnar2111_title2 .sub {display:block; font-weight:300; font-size:17px;}
.qestnar2111_ul {margin-top:8px; padding-left: 15px;}
.qestnar2111_ul > li {position:relative; padding-left:12px; margin-bottom:3px; color:#000; line-height: 20px; word-break: keep-all}
.qestnar2111_ul > li:before {display:inline-block; position:absolute; top:10px; left:0; width:6px; height:2px; background-color:#262626;}

@media all and (max-width:765px) {
    .p-table.qestnar_form td {padding-left:0;}
    .p-table.qestnar_form colgroup+tbody tr:first-child th {border-top:none;}
    .p-table.qestnar_form.block:after {background-color:#252525}
    .qestnar_form .header_line {border-bottom:1px dotted #ccc;}
    .p-table.qestnar_form colgroup+tbody tr:first-child th.category1,
    .qestnar_form .header_line th.category1 {display:inline-block; width:64px; padding:3px 5px; margin-bottom: 10px; border:1px solid #6194bf; border-radius:50px; color:#2c6a9e; vertical-align:middle; text-align: center}
    .qestnar_form .header_line th.category2 {display:inline-block; width:calc(100% - 68px); padding:3px 0 0 10px; margin-bottom: 10px; vertical-align:middle; word-break: keep-all}
    .p-table.qestnar_form.block td:not(.p-table__content) {padding-top:10px;}

    .p-table.qestnar_form .multiple_choice > li {width:100%; margin-left:0;}


    .qestnar2111_title {font-size: 17px; line-height: 32px;}
    .qestnar2111_title a:after {top:11px;}
    .qestnar2111_title2 {font-size:18px;}
}


/* 국민생각함 */
.epeople_idea {overflow:hidden; position:relative; padding:15px; border-radius:0 10px 0 10px; background: linear-gradient(to bottom, #5c6eff 1%,#7db9e8 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6eff', endColorstr='#7db9e8',GradientType=0 ); font-size:0; line-height:0; z-index:0;}
.epeople_idea:before,
.epeople_idea:after,
.epeople_idea .idea_list .slick-active span:before,
.epeople_idea .control_box button:before {display:inline-block; position:absolute; content:'';}
.epeople_idea:before {top:2px; left:0; width:161px; height:103px; background:url('/site/main/images/program/epeople_idea_bg1.png') no-repeat 0 0; z-index:-1;}
.epeople_idea:after {bottom:0; right:0; width:151px; height:90px; background:url('/site/main/images/program/epeople_idea_bg2.png') no-repeat 0 0; z-index:-1;}
#contents .epeople_idea h3.h0 {display:inline-block; width:119px; margin-right:13px;}
.epeople_idea .idea_list {display:inline-block; width:calc(100% - 289px); padding:9px 13px 9px; margin-right:17px; font-size:17px; line-height:23px; background-color:#fff; vertical-align: middle;}
.epeople_idea .idea_list a {display:block;}
.epeople_idea .idea_list span {overflow:hidden; display:inline-block; position:relative; max-width:100%; padding-left:5px; padding-right:15px;  z-index:0; color:#000; white-space: nowrap; text-overflow: ellipsis}
.epeople_idea .idea_list .slick-active span:before {bottom:0; left:-5px; width:0; height:16px; background-color:#ddedff; z-index:-1; animation-name:line; animation-duration:2s; transition-timing-function:ease-out; animation-fill-mode:forwards}
.epeople_idea .idea_list .slick-active a:after,
.epeople_idea .idea_list .slick-active span:after {display:inline-block; position:absolute; top:calc(50% - 5px); right:0; width:7px; height:11px; margin-left:10px;  background:url('/site/main/images/program/epeople_idea_btn.png') no-repeat 0 0; vertical-align: middle; content:'';}
.epeople_idea .idea_list .slick-active a:after {display: none;}
.epeople_idea .control_box {overflow:hidden; display:inline-block; width:140px; border-radius:0 10px 0 10px; vertical-align: middle}
.epeople_idea .control_box button {position:relative; width:46px; height:46px; margin-right:1px; background:#343b72;}
.epeople_idea .control_box button:before {top:calc(50% - 8px); left:calc(50% - 8px); width:17px; height:17px; background:url('/site/main/images/program/epeople_idea_arrow.png') no-repeat 0 0; z-index:0;}
.epeople_idea .control_box button.epeople_idea_next {margin-right:0;}
.epeople_idea .control_box button.epeople_idea_next:before {background-position:-64px 0;}
.epeople_idea .control_box button.epeople_idea_auto:before {left:calc(50% - 4px); width: 9px; height: 16px; background-position:0 -29px;}
.epeople_idea .control_box button.epeople_idea_auto.slick-play:before {background-position:-40px -29px;}


@media all and (max-width:1300px) {
    .epeople_idea .idea_list .slick-active span:before {display:none;}
}

@media all and (max-width:640px) {
    .epeople_idea {margin-top:20px; margin-bottom:15px;  padding:10px; border-radius:0 5px 0 5px;}
    #contents .epeople_idea h3.h0 {width:100%; margin-bottom:10px; text-align:center;}
    .epeople_idea .idea_list {width:calc(100% - 122px); padding: 7px 8px 2px; margin-right:10px;}
    .epeople_idea .idea_list a {overflow: hidden; width:100%;}
    .epeople_idea .idea_list .slick-active span:after {display:none;}
    .epeople_idea .idea_list .slick-active a:after {display:inline-block; vertical-align: middle; margin-bottom: 5px;}
    .epeople_idea .idea_list span {overflow: hidden; width:calc(100% - 20px); padding:0; white-space: nowrap; text-overflow: ellipsis; font-size:15px; line-height: 16px;}

    .epeople_idea .control_box {width:110px; border-radius:0 5px 0 5px;}
    .epeople_idea .control_box button {width:36px; height:36px;}
}

@keyframes line {
    100% {width:calc(100% - 15px + 10px);}
    0% {width:0;}
}


#board .sd_input input[type="checkbox"]+label:before {top:1px; width:22px; height:22px; border: 1px solid #ccc; background-position: center;}

/* 대가지급현황 상세 */
.contract.program .contract_title {position:relative; padding: 20px; border: 5px solid #eaebed; text-align:center; font-size:20px; font-weight:400; color:#4c5196; word-break: keep-all}
.contract.program .contract_title:before {display: block;  position: absolute;  top: -5px;  left: -5px;  width: 170px;  height: 5px;  background: #049bc1;}

@media all and (max-width:640px) {
    .contract.program .contract_title {margin-top:20px; font-size:18px;}
}

/* 마이페이지 탭간격 조정 */
.my_info .tab_menu.type2 .tab_item {width:20%;}
@media all and (max-width:640px){
    .my_info .tab_menu.type2 .tab_item {width:100%;}

}

/* 080 간편전화 체크인 서비스 지원 */
.box.list.program.checkin080.list {background:none; padding:30px 40px 40px;}
#contents .program.checkin080.list h3.h0 {margin-bottom:30px; font-size:18px; font-weight:600; color: #2f4a6e; text-align: center}
#contents .program.checkin080.list h3 span {display: inline-block;}
#contents .program.checkin080.list h3 span:before {display: inline-block; width: 41px; height: 36px; margin-right:10px; background:url('/site/main/images/program/checkin080_icon.png') no-repeat 0 0; content:''; vertical-align: middle;}
#contents .program.checkin080.list h3 .mobile_text {display:none;}
#contents .program.checkin080.list h3 .mobile_text:before {display: none}
.program.checkin080.list .inner {padding:0 0 0 30px;}
.program.checkin080.list .search_box {padding:16px; border:5px solid #e0eaf8;background:#ecf3fc;}
.program.checkin080.list .search_box:before,
.program.checkin080.list .search_box:after {display:none;}
.program.checkin080.list .search_box label {font-size:17px; color:#283047; line-height: 24px; vertical-align: middle;}
.program.checkin080.list .table {margin-bottom:0;}
.program.checkin080.list .list_table {display:none;}
.program.checkin080.list .list_table.open {display:block;}
.program.checkin080.write .p-form-group__upload {width: 49%}

@media all and (max-width:764px){
    .program.checkin080.write .p-table th,
    .program.checkin080.write .p-table td {padding-left:10px; padding-right:10px;}
    .program.checkin080.write .p-table .write_tel_input {width:auto !important;}
    .program.checkin080.write .p-table .write_mobile_input {width:calc(100% - 75px) !important;}
    .program.checkin080.list .inner {padding:0;}

    .program.checkin080.write .p-form-group__upload {width: 100%}

}
@media all and (max-width:640px){
    .box.list.program.checkin080.list {padding:25px 25px 35px;}
    #contents .program.checkin080.list h3 img {display: none;}
    #contents .program.checkin080.list h3 .mobile_text {display:inline-block;}
    #contents .program.checkin080.list h3.h0 {margin-bottom:0;}
    .program.checkin080.list .search_box label {display:inline-block; margin-bottom:5px; font-size:16px; font-weight:500;}

}

/* 디지털 저장매체 파기 */
.program.digital_disposal {}
.program.digital_disposal .title_box {min-height:214px; padding:68px 498px 50px 50px; background:#1d70b6 url('/site/main/images/program/digital_disposal_title.png') no-repeat right -143px; color:#fff; box-sizing: border-box;}
#contents .program.digital_disposal .title_box h3.h0 {margin-bottom:3px; font-size:25px; line-height:29px; color:#ffe69a}
#contents .program.digital_disposal .title_box .mobile_text {display:none;}
.program.digital_disposal .title_box  p {margin-top:10px; word-break: keep-all}

#contents .program.digital_disposal .h0.title_box2 {padding:20px 10px; background-image:url('/site/main/images/program/digital_disposal_bg2.png'), url('/site/main/images/program/digital_disposal_bg1.png'); background-position:0 0, bottom right; background-repeat:no-repeat; background-color:#1d70b6; text-align: center; color:#ffe69a; font-size:22px; font-weight:500; line-height:25px; word-break: keep-all}
#contents .program.digital_disposal .h0.title_box2 span {display:inline-block; position: relative; z-index:0;}
#contents .program.digital_disposal .h0.title_box2 span:before {display: inline-block; position:absolute; top:-11px; left:-14px; width:36px; height:34px; background:url('/site/main/images/program/digital_disposal_icon.png') no-repeat 0 0; z-index:-1;}

.program.digital_disposal.app .p-input__split .p-datepicker__wrap {display: table-cell}
.program.digital_disposal.app .p-input__split .p-input__item.p-date__icon {height:30px;}

.program.digital_disposal.list .float {font-size:0; line-height:0;}
.program.digital_disposal.list .float div {display: inline-block; font-size:15px; line-height:23px; vertical-align: middle}
.program.digital_disposal.list .btn.type2 {min-width:100%;}

@media all and (max-width:765px){
    .program.digital_disposal .p-table.block th,
    .program.digital_disposal .p-table.block td {padding-left:10px; padding-right:10px;}
    .program.digital_disposal .p-table.block td:not(.p-table__content) .p-input:not(.zipcode) {width:auto;}

    #contents .program.digital_disposal .h0.title_box2 {font-size:17px;}
    #contents .program.digital_disposal .h0.title_box2 span:before {display:none;}
}


@media all and (max-width:640px){
    #contents .program.digital_disposal {margin-top:20px;}
    .program.digital_disposal .title_box {min-height:0; padding:20px 10px; background-image:url('/site/main/images/program/digital_disposal_bg2.png'), url('/site/main/images/program/digital_disposal_bg1.png'); background-position:0 0, bottom right; background-repeat:no-repeat; background-color:#1d70b6; text-align: center;}
    #contents .program.digital_disposal .title_box h3.h0 {font-size:20px;}
    #contents .program.digital_disposal .title_box .mobile_text {display:block;}
    .program.digital_disposal .title_box {padding:20px; background-size:50%;}

    .program.digital_disposal.list .w80p {padding-right:10px; word-break: keep-all}
    .program.digital_disposal.list table.table.responsive {border-top: #567bbd solid 2px;}
}

.covid_quarantine .p-datepicker__wrap {display: table-cell;}
.covid_quarantine .p-input__split .p-input__item {height:30px;}

/* 격리통지서 출력 */
@media only screen and (max-width: 765px) {
    #contents .covid_quarantine .write_tel_input {width: 30%;}
    .covid_quarantine .p-table.block td, .covid_quarantine .p-table.block th {padding-left:10px; padding-right:10px;}
}

/* 음식물쓰레기 검색 */
.foodwaste_cont {}
.foodwaste_cont .search_area {margin-bottom:40px;}
.foodwaste_cont .search_area .top_box {position:relative; padding:50px 20px 86px; border:1px solid #aec9dd; border-radius:15px; background:#d9effc url('/site/main/images/program/foodwaste_bg3.png') repeat 0 0; text-align:center;}
.foodwaste_cont .search_area .top_box:before,
.foodwaste_cont .search_area .top_box:after,
#contents .foodwaste_cont .search_area .top_box h3 em:before,
.foodwaste_cont .search_area .top_box .sub_text:before,
#contents .foodwaste_cont .search_area .cont_box h3 span:before,
.foodwaste_cont .search_area .cont_box .inner ul li .title:before,
.foodwaste_cont .search_area .cont_box .inner ul li:before,
.foodwaste_cont .search_area .cont_box .inner ul li .sub_title:before,
.foodwaste_cont .cont_area .img_frame .bottom_box:before {display: inline-block; position:absolute; }
.foodwaste_cont .search_area .top_box:before {bottom:17px; left:23px; width:301px; height:332px; background: url('/site/main/images/program/foodwaste_bg1.png') no-repeat 0 0; z-index: 2}
.foodwaste_cont .search_area .top_box:after {bottom:16px; right:8px; width:298px; height:352px; background: url('/site/main/images/program/foodwaste_bg2.png') no-repeat 0 0;}
.foodwaste_cont .search_area .top_box .inner {position:relative; display:inline-block; width:453px; padding:34px 20px 38px; border:9px solid #bcdff9; border-radius:30px; background:#fff; box-sizing: border-box}
.foodwaste_cont .search_area .top_box .inner:before {display:inline-block; position:absolute; bottom:-38px; left:calc(50% - 26px); width:52px; height:38px; background:#d9effc url('/site/main/images/program/foodwaste_arrow.png') no-repeat 0 0;}
#contents .foodwaste_cont .search_area .top_box h3 {font-size:31px; line-height:48px; color:#164979; font-weight:600;}
#contents .foodwaste_cont .search_area .top_box h3 em {display: inline-block; position:relative;}
#contents .foodwaste_cont .search_area .top_box h3 .em_blue {color:#3f62d4}
#contents .foodwaste_cont .search_area .top_box h3 .em_red {color:#b52929}
#contents .foodwaste_cont .search_area .top_box h3 em:before {bottom:3px; left:0; width:100%; height:1px; background-color: #3f61d3;}
#contents .foodwaste_cont .search_area .top_box h3 em.em_red:before {background-color: #b4292a;}
.foodwaste_cont .search_area .top_box .sub_text {display:inline-block; position:relative; margin-top:4px; margin-bottom:20px; font-size:19px; line-height:27px; color:#162c40; font-weight:400; z-index:0;}
.foodwaste_cont .search_area .top_box .sub_text:before {bottom:0; left:-5px; width:calc(100% + 10px); height:16px; background-color: #e5f3fe; z-index:-1;}

.foodwaste_cont .search_area .search_piece {font-size:0; line-height:0;}
.foodwaste_cont .search_area .search_piece .sd_input {padding: 0; border-radius:0; border:1px solid #b0b0b1;  background:#fff;}
.foodwaste_cont .search_area .search_piece .sd_input input {padding: 6px 33px 7px 13px; border:none; background:#fff; font-size:18px; line-height:18px;}
.foodwaste_cont .search_area .search_piece .sd_input.focus {border:1px solid #000;}
.foodwaste_cont .search_area .search_piece .search_btn {width:74px; background-color:#164979; font-size:17px; line-height:42px; color:#fff;}

.foodwaste_cont .search_area .cont_box {overflow:hidden; position:relative; text-align: center}
#contents .foodwaste_cont .search_area .cont_box h3 {width:100%; padding:16px 15px 15px; border-radius:15px 15px 0 0; background-color:#13588a; color:#fff; font-size:20px; line-height:29px; font-weight:500;}
#contents .foodwaste_cont .search_area .cont_box h3 span {display:inline-block; position:relative; padding:0 0 0 32px;}
#contents .foodwaste_cont .search_area .cont_box h3 span:before {top:3px; left:0; width: 22px; height: 25px; background:url('/site/main/images/program/foodwaste_sprite.png') no-repeat 0 0;}
#contents .foodwaste_cont .search_area .cont_box h3 span em {color:#fff297;}
.foodwaste_cont .search_area .cont_box .inner {padding:25px; border:1px solid #b9cddd; border-top:none; border-radius:0 0 15px 15px; text-align: center; font-size:19px; font-weight:500; line-height:28px; color:#555; }
.foodwaste_cont .search_area .cont_box .inner ul {display: inline-block;}
.foodwaste_cont .search_area .cont_box .inner ul li {position:relative; padding-left:20px; margin-bottom:5px; text-align:left;  font-weight:500;}
.foodwaste_cont .search_area .cont_box .inner ul li:last-child {margin-bottom:0;}
.foodwaste_cont .search_area .cont_box .inner ul li:before {top:10px; left:0; width:9px; height:9px; border-radius:100%; background-color:#4289e6;}
.foodwaste_cont .search_area .cont_box .inner ul li .title {display:inline-block; position:relative; padding-right:14px; margin-right:14px; color:#5b78d5;}
.foodwaste_cont .search_area .cont_box .inner ul li .title:before {top:5px; right:0; width:1px; height:20px; background-color:#bec8d4;}
.foodwaste_cont .search_area .cont_box .inner ul li .sub_title {position:relative; padding-right:30px; margin-right:8px; color:#000}
.foodwaste_cont .search_area .cont_box .inner ul li .sub_title:before {top:3px; right:0; width: 23px; height: 23px; background:url('/site/main/images/program/foodwaste_sprite.png') no-repeat -104px 0;}

#contents .foodwaste_cont .cont_area h3 {width:100%; padding:15px; border-radius:15px 15px 0 0; background-color:#2a8bd1; color:#fff; font-size:20px; line-height:29px; font-weight:500; text-align: center; z-index:1}
.foodwaste_cont .cont_area .img_frame {padding:26px 25px 35px; margin-top:-10px;}
/*.foodwaste_cont .cont_area .img_frame .bottom_box {position:relative; padding:50px; background: linear-gradient(to bottom, #e7f3e7 0%,#f4f9ea 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f3e7', endColorstr='#f4f9ea',GradientType=0 ); font-size:24px; line-height:41px; font-family: 'NotoSerifKr'; color:#374937; font-weight:600; z-index:0; word-break: keep-all}
.foodwaste_cont .cont_area .img_frame .bottom_box:before {top:0; left:0; width:100%; height:100%; background:url('/site/main/images/program/foodwaste_bg3.png') repeat 0 0; z-index:-1;}
.foodwaste_cont .cont_area .img_frame .bottom_box p {word-break: keep-all;}
.foodwaste_cont .cont_area .img_frame .bottom_box p + p {margin-top:50px;}
.foodwaste_cont .cont_area .img_frame .bottom_box p.p_red {color:#a80a0a}
.foodwaste_cont .cont_area .img_frame .bottom_box p.p_blue {color:#1a4c9d}
.foodwaste_cont .cont_area .img_frame .bottom_box ul {margin: 30px 0 50px;}
.foodwaste_cont .cont_area .img_frame .bottom_box ul li {font-size:18px; line-height:33px; word-break: keep-all;}*/


@media all and (max-width:1300px) {
    .foodwaste_cont .search_area .top_box:before,
    .foodwaste_cont .search_area .top_box:after {display:none}
}

@media all and (max-width:1000px) {
    .foodwaste_cont .search_area .top_box {padding:35px 20px 54px;}
    .foodwaste_cont .search_area .top_box:before,
    .foodwaste_cont .search_area .top_box:after {display:inline-block; transform:scale(0.7)}
    .foodwaste_cont .search_area .top_box:before {bottom: -32px; left: -21px;}
    .foodwaste_cont .search_area .top_box:after {bottom: -31px; right: -25px;}

}
@media all and (max-width:800px) {
    .foodwaste_cont .search_area .top_box:before,
    .foodwaste_cont .search_area .top_box:after {display:none;}
}
@media all and (max-width:640px) {
    .foodwaste_cont .search_area {margin-top:25px; margin-bottom:20px;}
    .foodwaste_cont .search_area .top_box {padding: 20px 20px 41px;}
    .foodwaste_cont .search_area .top_box .inner {width:100%; padding: 26px 15px 28px;}
    #contents .foodwaste_cont .search_area .top_box h3 {font-size: 21px; line-height: 32px;}
    .foodwaste_cont .search_area .top_box .sub_text {margin-bottom:10px; font-size:17px;}
    .foodwaste_cont .search_area .search_piece .sd_input input {padding: 6px 19px 7px 13px; border: none; background: #fff; font-size: 16px; line-height: 18px;}
    .foodwaste_cont .search_area .search_piece .search_btn {width: 61px; line-height: 33px;}
    .foodwaste_cont .search_area .search_piece .sd_input input {width:170px;}

    #contents .foodwaste_cont .search_area .cont_box h3 {padding:10px; font-size: 18px; line-height: 29px;}
    #contents .foodwaste_cont .search_area .cont_box h3 span {padding-left:25px;}
    #contents .foodwaste_cont .search_area .cont_box h3 span:before {top:2px; transform:scale(0.7)}
    .foodwaste_cont .search_area .cont_box .inner {padding:15px; font-size:16px; line-height:24px;}
    .foodwaste_cont .search_area .cont_box .inner ul li {margin-bottom:2px; padding-left:10px;}
    .foodwaste_cont .search_area .cont_box .inner ul li:before {width:5px; height:5px;}
    .foodwaste_cont .search_area .cont_box .inner ul li .title {padding-right: 10px;  margin-right: 10px;}
    .foodwaste_cont .search_area .cont_box .inner ul li .title:before {top:6px; height:15px}
    .foodwaste_cont .search_area .cont_box .inner ul li .sub_title {padding-right: 25px;  margin-right: 1px;}
    .foodwaste_cont .search_area .cont_box .inner ul li .sub_title:before {top:1px; transform:scale(0.7)}

    #contents .foodwaste_cont .cont_area h3 {padding:10px; font-size: 18px; line-height: 29px;}

    .foodwaste_cont .cont_area .img_frame .bottom_box {padding: 25px; font-size: 19px; line-height: 28px;}
    .foodwaste_cont .cont_area .img_frame .bottom_box .top_text {margin-bottom:5px;}
}

/* 음식물쓰레기 줄이기 실천방법 테이블 */
.foodwaste_reduction tbody tr td {vertical-align: top;}


/* 임대차 상담 */
.lease_0822 .lease_left, .lease_0822 .lease_right {float: left; width: calc(50% - 20px);  }
.lease_0822 .lease_right {margin-left: 30px;}

/* 성동구 문자알림서비스(SMS) 신청 */
.cts3976 .privacy_text {font-size:17px; color:#015acd; font-weight: 500;}