@charset "UTF-8";

/*조직도*/
.p_organization{font-size:0; line-height:0;}
.p_organization .depth1_list{position:relative;}
.p_organization .depth1_list:before{display:inline-block; position:absolute;z-index:-1; left:0; right:0; width:1px; height:100%; margin:auto; background-color:#b6b6b6;}
.p_organization .depth1_item{text-align:center;}
.p_organization .depth1_alderman{display:inline-block; position:relative; width:250px; padding-top:17px; color:#fff; background-image:url('/site/main/images/program/organization_alderman.png'); background-repeat:no-repeat; font-size:0; line-height:0; box-shadow: -14px 15px 22px 0px rgba(0, 0, 0, 0.22);}
.p_organization .depth1_alderman .rank{position:relative;font-size:16px; line-height:18px; padding-right:8px;}
.p_organization .depth1_alderman .rank:before{display:inline-block; position:absolute; right:0; bottom:0; width:5px; height:5px; border-radius:50%; background-color:#fff;}
.p_organization .depth1_alderman .name{display:inline-block; padding-left:6px; font-size:26px; line-height:28px; font-weight:500; letter-spacing:-0.025em;}
.p_organization .depth1_alderman .number{display:inline-block; position:relative; bottom:0; margin-top:17px; padding:9px 18px 9px 40px; border:1px solid rgba(255,255,255,0.2); font-size:16px; line-height:18px; }
.p_organization .depth1_alderman .number:before{display:inline-block; position:absolute; left:18px; top:13px; width:14px; height:13px; background-repeat:no-repeat; background-image:url('/site/main/images/program/organization_number.png');}
.p_organization .depth1_alderman .shadow{display:inline-block;position:absolute;right:19px;bottom: 10px;width: 4px;height: 21px;box-shadow: 15px 0 17px 0px rgba(0, 0, 0, 1);transform:rotate(42deg);}


.p_organization .group1 {padding-top: 38px;padding-bottom: 38px;margin: 0 60px;}
.p_organization .group1_list{position:relative; width:50%;}
.p_organization .group1_list:before{display:inline-block;position:absolute; right:0 !important;top:0;bottom:0;width: 40%;height:1px;margin:auto 0;background-color:#b9b9b9;z-index:-3;}
.p_organization .group1_item{display:inline-block; width:190px; padding:16px 0; border-radius:24px; background-color:#505d70; }
.p_organization .group1_item.n1{position:relative; display:block;float:none;}
.p_organization .group1_item.n2{position:absolute; top:calc(50% - 26px); right:0;}
.p_organization .group1_item.n3{position:relative; display:block;float:none; margin-top:15px}
.p_organization .group1_item.n1:before,
.p_organization .group1_item.n3:before {display:inline-block; position:absolute; top:50%; left:0; width:142%; height:1px; background-color:#b9b9b9; z-index:-1;}
.p_organization .group1_item.n1:after {display:inline-block;position:absolute;top:50%;right: -42%;width:100%;height: calc(100% + 16px); border-right:1px solid #b9b9b9; background-color:#fff;z-index:-2;}
.p_organization .group1_anchor{font-size:18px; line-height:20px; color:#fff;}




.p_organization .group2_deputy{display:inline-block; position:relative; width:250px; padding-top:17px; color:#fff; border-radius:5px 5px 0 5px; background-color:#0396c2; background-repeat:no-repeat; font-size:0; line-height:0;}
.p_organization .group2_deputy:before{display:inline-block; position:absolute; right:0; bottom:0; width:18px; height:21px;  background-image:url('/site/main/images/program/organization_deputy.png');}
.p_organization .group2_deputy .rank{position:relative;font-size:16px; line-height:18px; padding-right:8px;}
.p_organization .group2_deputy .rank:before{display:inline-block; position:absolute; right:0; bottom:0; width:5px; height:5px; border-radius:50%; background-color:#fff;}
.p_organization .group2_deputy .name{display:inline-block; padding-left:6px; font-size:26px; line-height:28px; font-weight:500; letter-spacing:-0.025em;}
.p_organization .group2_deputy .number{display:inline-block; position:relative; bottom:0; margin-top:17px; padding:9px 18px 9px 40px; border:1px solid rgba(255,255,255,0.2); font-size:16px; line-height:18px;}
.p_organization .group2_deputy .number:before{display:inline-block; position:absolute; left:18px; top:13px; width:14px; height:13px; background-repeat:no-repeat; background-image:url('/site/main/images/program/organization_number.png');}

.p_organization .group3{padding-top:43px; padding-bottom:58px;}
.p_organization .group3_list{float:right; position:relative; width:50%; text-align:right;}
.p_organization .group3_list:before{display:inline-block; position:absolute; z-index:-1; left:0; top:0; bottom:0; width:30%; height:1px; margin:auto; background-color:#b6b6b6;}
.p_organization .group3_item{position:relative; margin-right:60px; margin-left:30%;}
.p_organization .group3_item:before{display:inline-block; position:absolute; z-index:-1; left:0; top:0; bottom:0; width:100%; height:1px; margin:auto; background-color:#b6b6b6;}
.p_organization .group3_item:after{display:inline-block; position:absolute; z-index:-1; left:0; top:50%; width:1px; height:100%; background-color:#b6b6b6;}
.p_organization .group3_item:last-child:after{display:none;}
.p_organization .group3_anchor{width:190px; padding:16px 0; margin:8px 0; border-radius:24px; background-color:#958e81; text-align:center; font-size:18px; line-height:20px; color:#fff;}

.p_organization .group4{padding:32px 35px; background-color:#f2f5f8;}
.p_organization .group4_item{display:inline-block; width:25%; padding:20px 10px; vertical-align:top;}
.p_organization .group4_title{padding:15px 0; margin-bottom:7px; background-color:#fff; border:2px solid #4c5154;  font-size:18px; line-height:22px; font-weight:500; letter-spacing:-0.03em; color:#4c5054;}
.p_organization .group4_captain{position:relative;padding:8px 17px; margin-bottom:6px; background-color:#6a90b2;}
.p_organization .group4_captain:before{display:inline-block; position:absolute; left:0; right:0; top:-16px; width:3px; height:26px; margin:auto; background-repeat:no-repeat; background-image:url('/site/main/images/contents/cts1431_line.jpg');}
.p_organization .group4_captain span{display:block; padding:6px 0;}
.p_organization .group4_captain .person{display:block; border-bottom:1px solid rgba(255,255,255,0.35); font-size:16px; line-height:22px; letter-spacing:-0.03em; color:#fff;}
.p_organization .group4_captain .number{display:inline-block; position:relative; padding-left:24px; font-size:16px; line-height:22px; letter-spacing:-0.03em; color:#fff;}
.p_organization .group4_captain .number:before{display:inline-block; position:absolute; left:0; top:12px; width:14px; height:13px; background-repeat:no-repeat; background-image:url('/site/main/images/program/organization_number.png');}

.p_organization .depth3_item{position:relative; padding:12px 50px 12px 25px; border-bottom:1px solid #c9ccce; text-align:left;}
.p_organization .depth3_item:before{display:inline-block; position:absolute; left:10px; top:22px; width:4px; height:4px; border-radius:50%; background-color:#4289e6}
.p_organization .depth3_name{font-size:15px; line-height:22px; letter-spacing:-0.025em; color:#555;}
.p_organization .depth3_btnbox{display:inline-block; position:absolute; right:5px; top:0; bottom:0; height:21px; margin:auto 0;}
.p_organization .depth3_btnbox .depth3_button{width:21px; height:21px; border:1px solid #c3cad1; background-repeat:no-repeat; background-position:center;}
.p_organization .depth3_btnbox .depth3_button + .depth3_button{border-left:none;}
.p_organization .depth3_btnbox .depth3_button.a_home{background-image:url('/site/main/images/program/organization_icon1.png'); }
.p_organization .depth3_btnbox .depth3_button.a_person{background-image:url('/site/main/images/program/organization_icon2.png'); }
.p_organization .depth3_btnbox .depth3_button:hover{border:1px solid #39566f; background-color:#39566f;}
.p_organization .depth3_btnbox .depth3_button.a_home:hover{background-image:url('/site/main/images/program/organization_icon3.png'); }
.p_organization .depth3_btnbox .depth3_button.a_person:hover{background-image:url('/site/main/images/program/organization_icon4.png'); }


.p_organization .dong_box{padding:28px 35px;background-color:#f9f9f9;}
.p_organization .dong_list{font-size:0; line-height:0; text-align:left;}
.p_organization .dong_item{display:inline-block; width:20%; padding:10px; text-align:center;}
.p_organization .dong_anchor{display: block; padding:10px 0; background-color:#fff; border:1px solid #283047; font-size:16px; line-height:22px; letter-spacing:-0.025em; color:#283047;}

@media all and (max-width:1300px){
    .p_organization .group1_list:before{;width: 70%;}
    .p_organization .group3_list:before{width:15%;}
    .p_organization .group3_item{margin-left:15%;}

    .p_organization .group4{padding:32px 15px;}
    .p_organization .group4_item{width:33.3%}
    .p_organization .group4_captain{padding:8px 7px;}
}

@media all and (max-width:800px){

    .p_organization .group1_item.n1:before,
    .p_organization .group1_item.n3:before {width:120%;}
    .p_organization .group1_item.n1:after {right: -20%;}

    .p_organization .group4_item{width:50%}

    .p_organization .dong_item{width:25%;}
}

@media all and (max-width:640px){
    .p_organization{margin-top:30px;}
    .p_organization .depth1_alderman{width:200px; background-color:#004dbd; border-radius:5px; background-image:none; box-shadow:none;}
    .p_organization .depth1_alderman .name{font-size:20px;}

    .p_organization .group1{margin:0; padding-top:25px; padding-bottom:25px;}
    /*.p_organization .group1_item{width:auto; padding:12px 30px;}*/
    .p_organization .group1_item{width:70%; padding:12px 30px;}
    .p_organization .group1_item.n1:before,
    .p_organization .group1_item.n3:before {width:110%;}
    .p_organization .group1_item.n1:after {right: -11%;}
    .p_organization .group1_anchor{font-size:15px;}

    .p_organization .group2_deputy{width:200px; border-radius:5px;}
    .p_organization .group2_deputy:before{display:none;}
    .p_organization .group2_deputy .name{font-size:20px;}

    .p_organization .group3{padding-top:25px; padding-bottom:25px;}
    .p_organization .group3_item{margin-right:0;}
    .p_organization .depth3_btnbox .depth3_button{width:35px;}
    .p_organization .group3_anchor{width:auto; padding:12px 30px; font-size:15px;}

    .p_organization .group4_title{font-size:15px; line-height:19px;}
    .p_organization .group4_captain .person{font-size:14px; line-height:18px}
    .p_organization .group4_captain .number{font-size:14px; line-height:18px}
    .p_organization .group4_captain .number:before{top:10px;}

    .p_organization .depth3_item{padding:10px 0 10px 20px;}
    .p_organization .depth3_name{font-size:14px; line-height:19px;}

    .p_organization .dong_box{padding:25px;}
    .p_organization .dong_item{width:33.3%;}
    .p_organization .dong_anchor{font-size:14px; line-height:19px;}

}

@media all and (max-width:500px){
    .p_organization .group4_item{width:100%}
    .p_organization .dong_item{width:50%;}
}

/*민원사무편람 - 목록 */
.mw_handbook .list .search_box.type2 .subject{position:relative; padding-left:20px; font-size:16px; line-height:22px; font-weight:500; letter-spacing:-0.025em; color:#333; vertical-align:middle;}
.mw_handbook .list .search_box.type2 .subject:before{display:inline-block; position:absolute; left:7px; top:47%; bottom:0; width:4px; height:4px; border-radius:50%; background-color:#4289e6;}

@media all and (max-width:640px) {
    .mw_handbook .list .search_box.type2 .subject{display:none;}
}

/* 행정동찾기 */
.p_find_dong .list .search_box .search_piece{width:80%;}
.p_find_dong .list .search_box .item{display:table-cell; width:50%;}
.p_find_dong .list .search_box .subject{display:table-cell; text-align:left; position:relative; padding-left:20px; font-size:16px; line-height:22px; font-weight:500; letter-spacing:-0.025em; color:#333; vertical-align:middle;}
.p_find_dong .list .search_box .subject:before{display:inline-block; position:absolute; left:7px; top:47%; bottom:0; width:4px; height:4px; border-radius:50%; background-color:#4289e6;}
.p_find_dong .list .btn.small{padding:5px 16px;}

@media all and (max-width:1300px) {
    .p_find_dong .list .search_box .search_piece{width:100%;}
}

/* 카드뉴스*/
.pro_cardydp .list .list_ul{font-size:0; line-height:0;}
.pro_cardydp .list .list_ul .list_li{display:inline-block; width:calc((100% - (23px * 3)) / 4); margin-right:23px; margin-bottom:30px; box-sizing: border-box; vertical-align:top;}
.pro_cardydp .list .list_ul .list_li:nth-child(4n){margin-right:0;}
.pro_cardydp .list .list_ul .list_li a{display:block;}
.pro_cardydp .list .list_ul .list_li a .imgbox{width:100%; height:0; padding-top:100%; background-size:cover; background-position:center; background-repeat:no-repeat;}
.pro_cardydp .list .list_ul .list_li a .imgbox img{width:100%;}
.pro_cardydp .list .list_ul .list_li a .textbox{padding:14px 7px; border-right:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0; border-left:1px solid #d0d0d0; text-align:center; box-sizing:border-box;}
.pro_cardydp .list .list_ul .list_li a .textbox .title{width:100%; font-size:16px; line-height:24px; letter-spacing:-0.025em; color:#4c4c4c; margin-bottom:2px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
.pro_cardydp .list .list_ul .list_li a .textbox .date{font-size:15px; line-height:20px; letter-spacing:-0.025em; color:#959595;}


.pro_cardydp .detail .top_title {padding-top:12px; padding-bottom:20px; border-top:2px solid #222; border-bottom:1px solid #e4e4e4; box-sizing:border-box;}
.pro_cardydp .detail .top_title h3{display:table; height:48px;}
.pro_cardydp .detail .top_title h3 span{display:table-cell; font-size:20px; line-height:24px; vertical-align:middle;}
.pro_cardydp .detail .top_title .date{font-size:15px; line-height:27px; letter-spacing:-0.035em; color:#808080;}
.pro_cardydp .detail .contents_box {margin-bottom:40px; padding:40px 20px; border-bottom:1px solid #cfcfcf; }
.pro_cardydp .detail .contents_box .card_news {width:550px; margin:0 auto;}
.pro_cardydp .detail .contents_box .card_news .slick-arrow {position:absolute; top:50%; z-index:60; border-radius:50%; background-repeat:no-repeat; background-position:center; font-size:0;}
.pro_cardydp .detail .contents_box .card_news .top_slide {position:relative;}
.pro_cardydp .detail .contents_box .card_news .top_slide .slick-arrow {width:84px; height:84px; background-color:#8f8f8f; margin-top:-42px;}
.pro_cardydp .detail .contents_box .card_news .top_slide .slick-prev {left:-118px; background-image:url('/site/main/images/program/vote_slide_prev.png');}
.pro_cardydp .detail .contents_box .card_news .top_slide .slick-next {right:-118px; background-image:url('/site/main/images/program/vote_slide_next.png');}
.pro_cardydp .detail .contents_box .card_news .bottom_slide {position:relative; padding:30px 35px; background-color:#f1f1f1;}
.pro_cardydp .detail .contents_box .card_news .bottom_slide .card_item {position:relative; padding:0 7px;}
.pro_cardydp .detail .contents_box .card_news .bottom_slide .card_item button{width:100%; position:relative; border:none;}
.pro_cardydp .detail .contents_box .card_news .bottom_slide .card_item button:before {display:block; position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.5); transition:.3s;}
.pro_cardydp .detail .contents_box .card_news .bottom_slide .card_item.slick-current button:before {background-color:rgba(0, 0, 0, 0);}
.pro_cardydp .detail .contents_box .card_news .bottom_slide .slick-arrow {width:16px; height:24px; margin-top:-12px;}
.pro_cardydp .detail .contents_box .card_news .bottom_slide .slick-prev {left:14px; background-image:url('/site/main/images/program/vote_slide_prev2.png');}
.pro_cardydp .detail .contents_box .card_news .bottom_slide .slick-next {right:14px; background-image:url('/site/main/images/program/vote_slide_next2.png');}


.pro_cardydp .detail .list .list_ul .list_li:nth-child(1){border:5px solid #052a4c;}

.pro_cardydp .p-button.list{height:40px; padding:0 30px; background-color:#252d6f; line-height:40px; color:#fff; }

@media all and (max-width: 1300px) {
    .pro_cardydp .list .list_ul .list_li{width:calc((100% - (23px * 2)) / 3);}
    .pro_cardydp .list .list_ul .list_li:nth-child(3n){margin-right:0;}
    .pro_cardydp .list .list_ul .list_li:nth-child(4n){margin-right:23px;}
    .pro_cardydp .detail .list .list_ul .list_li{width:calc((100% - (23px * 3)) / 4);}
    .pro_cardydp .detail .list .list_ul .list_li:nth-child(3n){margin-right:23px;}
    .pro_cardydp .detail .list .list_ul .list_li:nth-child(4n){margin-right:0;}

    .pro_cardydp .detail .contents_box .card_news .top_slide .slick-arrow {width:54px; height:54px; margin-top:-27px; background-size:20px;}
    .pro_cardydp .detail .contents_box .card_news .top_slide .slick-prev {left:-68px;}
    .pro_cardydp .detail .contents_box .card_news .top_slide .slick-next {right:-68px;}
}

@media all and (max-width: 1000px) {

}

@media all and (max-width: 800px) {
    .pro_cardydp .list .list_ul .list_li{width:calc((100% - 23px) / 2);}
    .pro_cardydp .list .list_ul .list_li:nth-child(3n){margin-right:23px;}
    .pro_cardydp .list .list_ul .list_li:nth-child(2n){margin-right:0;}
    .pro_cardydp .detail .contents_box .card_news {width:calc(100% - 90px);}
    .pro_cardydp .detail .contents_box .card_news .top_slide .slick-arrow {width:44px; height:44px; margin-top:-22px;}
    .pro_cardydp .detail .contents_box .card_news .top_slide .slick-prev {left:-45px;}
    .pro_cardydp .detail .contents_box .card_news .top_slide .slick-next {right:-45px;}

    .pro_cardydp .detail .list .list_ul .list_li:nth-child(2n){margin-right:23px;}
    .pro_cardydp .detail .list .list_ul .list_li:nth-child(4n){margin-right:0;}
}

@media all and (max-width: 640px) {
    .pro_cardydp .detail .contents_box .card_news {width:100%;}
    .pro_cardydp .detail .contents_box .card_news .bottom_slide {padding:10px;}

    .pro_cardydp .detail .list .list_ul .list_li{width:calc((100% - 23px) / 2);}
    .pro_cardydp .detail .list .list_ul .list_li:nth-child(2n){margin-right:0;}
}

.myPage .myPage_wrap{}
.myPage .form_list{width:100%;}
.myPage .input_element{margin:0 0 10px;font-size:0;}
.myPage .input_element label{display:inline-block;width:130px;font-size:16px;vertical-align:top;line-height:45px;}
.myPage .input_element span{display:inline-block;width:calc(100% - 130px);font-size:16px;vertical-align:top;line-height:45px;}
.myPage .input_element span.sd_input{width:auto;}
.myPage .input_element span textarea{box-sizing:border-box; border:1px solid #b1b1b1;}
.myPage .input_element input[type="text"]{display:block; width:calc(100% - 2px); height:43px; box-sizing:content-box;border:1px solid #b1b1b1;line-height:43px;}
.myPage textarea{width:calc(100% - 2px);box-sizing:content-box;border:1px solid #b1b1b1;}