@charset "UTF-8";

/* 개별공시지가 */
.cts1251 .warning{margin-top:3px;}
.cts1251 .warning a{color:#049bc1;}
.cts1251 .warning a:after{background:url('../images/program/blue_blank.png') no-repeat;}
.cts1251 .box.list .warning{margin-top:7px;}
.cts1251 .btn_group{margin-top:30px; text-align:center;}
.cts1251 .btn_group .btn + .btn{margin-left:12px;}

/* 개별주택가격 */
.cts4557 .warning{margin-top:3px;}
.cts4557 .warning a{color:#049bc1;}
.cts4557 .warning a:after{background:url('../images/program/blue_blank.png') no-repeat;}
.cts4557 .box.list .warning{margin-top:7px;}
.cts4557 .btn_group{margin-top:30px; text-align:center;}
.cts4557 .btn_group .btn + .btn{margin-left:12px;}

.public_landprice2 .complete_box{padding-top:3px; border-bottom:1px solid #c8c9ca; background: rgb(69,66,158); background: -moz-linear-gradient(left,  rgba(69,66,158,1) 0%, rgba(7,151,226,1) 25%, rgba(255,193,4,1) 50%, rgba(253,94,37,1) 75%, rgba(242,4,56,1) 100%); background: -webkit-linear-gradient(left,  rgba(69,66,158,1) 0%,rgba(7,151,226,1) 25%,rgba(255,193,4,1) 50%,rgba(253,94,37,1) 75%,rgba(242,4,56,1) 100%); background: linear-gradient(to right,  rgba(69,66,158,1) 0%,rgba(7,151,226,1) 25%,rgba(255,193,4,1) 50%,rgba(253,94,37,1) 75%,rgba(242,4,56,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45429e', endColorstr='#f20438',GradientType=1 ); text-align:center;}
.public_landprice2 .complete_box .box_wrap{position:relative; padding:46px 130px 57px 130px; background-color:#fff;}
.public_landprice2 .complete_box .box_wrap:before{display:block; position:absolute; top:209px; left:65px; width:98px; height:98px; background:url('../images/program/landprice_deco1.png') no-repeat;}
.public_landprice2 .complete_box .box_wrap:after{display:block; position:absolute; top:65px; right:20px; width:261px; height:268px; background:url('../images/program/landprice_deco2.png') no-repeat;}
.public_landprice2 .complete_box .title{margin-bottom:41px; text-align:center; font-size:22px; line-height:24px; color:#444;}
.public_landprice2 .complete_box .table{position:relative; z-index:10; margin-bottom:38px;}

@media all and (max-width:1300px){
    .public_landprice2 .complete_box .box_wrap{padding:40px 50px;}
}
@media all and (max-width:640px){
    .public_landprice1 .p-table textarea{height:180px;}
    .public_landprice2 .complete_box .box_wrap{padding-left:20px; padding-right:20px;}
    .public_landprice2 .complete_box .box_wrap:before{bottom:20px; width:60px; height:60px; background-size:contain;}
    .public_landprice2 .complete_box .box_wrap:after{top:15px; width:150px; height:160px; background-size:contain;}
    .public_landprice2 .complete_box .title{margin-bottom:35px; font-size:20px; line-height:22px;}
    .public_landprice2 .complete_box .table{margin-bottom:15px;}
}
@media all and (max-width:480px){
    .public_landprice2 .complete_box .title{font-size:17px; line-height:19px;}
}

/* 아이꿈누리터 */
.cts1614 .box:before{background-image:url('../images/program/cts1614_icon.png');}
.cts1614 .box .dl{margin-top:11px;}
.cts1614 .box .dl > li .title{width:90px;}
.cts1614 .box .dl > li:nth-child(3) .title{display:inline-block;}
.cts1614 .box .dl > li:nth-child(3) .text{display:inline-block;}
.dong_map_box{margin-top:45px; border:1px solid #9fa3af;}
.dong_map_box .info_area{padding:10px 21px 12px 21px; border-bottom:1px solid #9fa3af; background-color:#f8f8f8;}
.dong_map_box .map_area{height:520px; padding-top:31px;}
.dong_map_box .map_area .box_wrap{position:relative; width:100%; height:100%; background-image:url('../images/program/dong_map.png'); background-repeat:no-repeat; background-size:549px; background-position:top center;}
.dong_map_box .map_area .map_img{display:none; position:absolute; top:0; left:0; right:0; margin-left:auto; margin-right:auto; width:549px; height:447px;}
.dong_map_box .map_area .list .tab_btn{position:absolute; left:50%; z-index:10; font-size:16px; line-height:18px; letter-spacing:-0.025em; color:#1a4f94; text-shadow:-3px -3px 3px #fff, 3px -3px 3px #fff, -3px 3px 3px #fff, 3px 3px 3px#fff;}
.dong_map_box .map_area .li_1 .tab_btn{top:61px; margin-left:-160px;}
.dong_map_box .map_area .li_2 .tab_btn{top:59px; margin-left:-27px;}
.dong_map_box .map_area .li_3 .tab_btn{top:116px; margin-left:-159px;}
.dong_map_box .map_area .li_4 .tab_btn{top:175px; margin-left:-130px;}
.dong_map_box .map_area .li_5 .tab_btn{top:152px; margin-left:-68px;}
.dong_map_box .map_area .li_6 .tab_btn{top:163px; margin-left:10px;}
.dong_map_box .map_area .li_7 .tab_btn{top:167px; margin-left:118px;}
.dong_map_box .map_area .li_8 .tab_btn{top:207px; margin-left:280px;}
.dong_map_box .map_area .li_9 .tab_btn{top:230px; margin-left:-245px;}
.dong_map_box .map_area .li_10 .tab_btn{top:135px; margin-left:-280px;}
.dong_map_box .map_area .li_11 .tab_btn{top:237px; margin-left:-85px;}
.dong_map_box .map_area .li_12 .tab_btn{top:250px; margin-left:-10px;}
.dong_map_box .map_area .li_13 .tab_btn{top:292px; margin-left:100px;}
.dong_map_box .map_area .li_14 .tab_btn{top:316px; margin-left:-253px;}
.dong_map_box .map_area .li_15 .tab_btn{top:295px; margin-left:-169px;}
.dong_map_box .map_area .li_16 .tab_btn{top:326px; margin-left:-41px;}
.dong_map_box .map_area .li_17 .tab_btn{top:373px; margin-left:91px;}
.dong_map_box .map_area .list .tab_btn:before{display:block; position:absolute; background-repeat:no-repeat;}
.dong_map_box .map_area .li_8 .tab_btn:before{top:11px; left:-73px; width:63px; height:32px; background-image:url('../images/program/maptext_deco02.png');}
.dong_map_box .map_area .li_10 .tab_btn:before{top:9px; right:-69px; width:61px; height:62px; background-image:url('../images/program/maptext_deco01.png');}

.dong_map_box .map_area .list > li.active .tab_btn{transform:translateY(-17px);}
.dong_map_box .map_area .list > li.active .map_img{display:block; top:-1px; left:-3px;}

.dong_map_board{margin-top:66px;}
.dong_map_board .page_info{margin-bottom:12px;}

@media all and (max-width:1300px){
    .dong_map_board{margin-top:40px;}
}
@media all and (max-width:765px){
    .dong_map_board .p-table.simple tbody tr{display:block; width:100%;}
    .dong_map_board .p-table.simple tbody td{display:block; width:100%;}
}
@media all and (max-width:750px){
    .dong_map_box .map_area{height:430px;}
    .dong_map_box .map_area .box_wrap{background-size:440px;}

    .dong_map_box .map_area .list .tab_btn{font-size:15px; line-height:17px;}
    .dong_map_box .map_area .li_1 .tab_btn{top:50px; margin-left:-140px;}
    .dong_map_box .map_area .li_2 .tab_btn{top:49px; margin-left:-22px;}
    .dong_map_box .map_area .li_3 .tab_btn{top:95px; margin-left:-140px;}
    .dong_map_box .map_area .li_4 .tab_btn{top:143px; margin-left:-100px;}
    .dong_map_box .map_area .li_5 .tab_btn{top:117px; margin-left:-60px;}
    .dong_map_box .map_area .li_6 .tab_btn{top:132px; margin-left:8px;}
    .dong_map_box .map_area .li_7 .tab_btn{top:140px; margin-left:102px;}
    .dong_map_box .map_area .li_8 .tab_btn{top:158px; margin-left:233px;}
    .dong_map_box .map_area .li_9 .tab_btn{top:181px; margin-left:-195px;}
    .dong_map_box .map_area .li_10 .tab_btn{top:99px; margin-left:-243px;}
    .dong_map_box .map_area .li_11 .tab_btn{top:188px; margin-left:-70px;}
    .dong_map_box .map_area .li_12 .tab_btn{top:200px;}
    .dong_map_box .map_area .li_13 .tab_btn{top:235px; margin-left:79px;}
    .dong_map_box .map_area .li_14 .tab_btn{top:254px; margin-left:-200px;}
    .dong_map_box .map_area .li_15 .tab_btn{top:236px; margin-left:-137px;}
    .dong_map_box .map_area .li_16 .tab_btn{top:260px; margin-left:-30px;}
    .dong_map_box .map_area .li_17 .tab_btn{top:295px; margin-left:72px;}
    .dong_map_box .map_area .map_img{width:440px; height:358px;}
    .dong_map_box .map_area .list > li.active .tab_btn{transform:translateY(-10px);}
    .dong_map_box .map_area .list > li.active .map_img{left:-1px;}
}
@media all and (max-width:640px){
    .dong_map_box .map_area .list .tab_btn{font-size:13px; line-height:15px;}
    .dong_map_box .map_area .li_1 .tab_btn{margin-left:-127px;}
    .dong_map_box .map_area .li_3 .tab_btn{top:99px; margin-left:-129px;}
    .dong_map_box .map_area .li_8 .tab_btn{top:191px; margin-left:150px;}
    .dong_map_box .map_area .li_9 .tab_btn{top:192px; margin-left:-176px;}
    .dong_map_box .map_area .li_10 .tab_btn{top:166px; margin-left:-139px;}
    .dong_map_box .map_area .list .tab_btn:before{display:none;}
    .dong_map_box .map_area .list > li.active .tab_btn{transform:translateY(-7px);}
    .dong_map_board{margin-top:30px;}
}
@media all and (max-width:480px){
    .dong_map_box .map_area{height:335px;}
    .dong_map_box .map_area .box_wrap{background-size:330px;}
    .dong_map_box .map_area .li_1 .tab_btn{top:38px; margin-left:-113px;}
    .dong_map_box .map_area .li_2 .tab_btn{top:35px; margin-left:-20px;}
    .dong_map_box .map_area .li_3 .tab_btn{top:71px; margin-left:-106px;}
    .dong_map_box .map_area .li_4 .tab_btn{top:105px; margin-left:-80px;}
    .dong_map_box .map_area .li_5 .tab_btn{top:89px; margin-left:-50px;}
    .dong_map_box .map_area .li_6 .tab_btn{top:97px; margin-left:4px;}
    .dong_map_box .map_area .li_7 .tab_btn{top:105px; margin-left:77px;}
    .dong_map_box .map_area .li_8 .tab_btn{top:138px; margin-left:110px;}
    .dong_map_box .map_area .li_9 .tab_btn{top:140px; margin-left:-154px;}
    .dong_map_box .map_area .li_10 .tab_btn{top:121px; margin-left:-128px;}
    .dong_map_box .map_area .li_11 .tab_btn{top:141px; margin-left:-54px;}
    .dong_map_box .map_area .li_12 .tab_btn{top:150px; margin-left:-13px;}
    .dong_map_box .map_area .li_13 .tab_btn{top:175px; margin-left:57px;}
    .dong_map_box .map_area .li_14 .tab_btn{top:194px; margin-left:-151px;}
    .dong_map_box .map_area .li_15 .tab_btn{top:177px; margin-left:-107px;}
    .dong_map_box .map_area .li_16 .tab_btn{top:194px; margin-left:-30px;}
    .dong_map_box .map_area .li_17 .tab_btn{top:222px; margin-left:46px;}
    .dong_map_box .map_area .map_img{width:330px; height:269px;}

    .dong_map_box .map_area .list > li.active .tab_btn{transform:none;}
}

/* 초등돌봄교실 */
.cts1615 .box:before{background-image:url('../images/program/cts1615_icon.png');}
.cts1615 .box .dl{margin-top:11px;}
.cts1615 .box .dl > li .title{width:90px;}
.cts1615 .dong_map_box{margin-top:20px;}

/* 지역아동센터 */
.cts1616 .box:before{background-image:url('../images/program/cts1616_icon.png');}
.cts1616 .box .dl{margin-top:11px;}
.cts1616 .box .dl > li .title{width:105px;}

/*청소년방과후아카데미*/
.cts1617 .box:before{background-image:url('../images/program/cts1617_icon.png');}
.cts1617 .box .box_text p{word-break:keep-all;}
.cts1617 .box .dl{margin-top:11px;}
.cts1617 .box .dl > li .title{width:105px;}
.cts1617 .box .dl > li .text{word-break:keep-all;}
.cts1617 .dong_map_box{margin-top:31px;}

/*방과후어린이집*/
.cts1618 .box:before{background-image:url('../images/program/cts1618_icon.png');}
.cts1618 .box .dl{margin-top:11px;}
.cts1618 .box .dl > li .title{width:105px;}
.cts1618 .dong_map_box{margin-top:31px;}

/*이웃돌봄*/
.cts1619 .box:before{background-image:url('../images/program/cts1619_icon.png');}
.cts1619 .box .dl{margin-top:11px;}
.cts1619 .box .dl > li .title{width:90px;}
.cts1619 .dong_map_box{margin-top:31px;}

/*결재문서정보*/
.document_approval .search_box{margin-bottom:56px;}
.document_approval .search_box .search_piece{width:85%; padding:2px 0;}
.document_approval .search_box .search_piece .search_item{display:inline-block;}
.document_approval .search_box .search_title{position:relative; margin-top:12px; margin-right:10px; padding-left:15px; font-size:16px; line-height:22px; font-weight:600; color:#333; vertical-align:top;}
.document_approval .search_box .search_title:before{display:inline-block; position:absolute; top:10px; left:0; width:4px; height:4px; border-radius:100%; background-color:#4289e6;}
.document_approval .search_box .search_date{position:relative; padding-bottom:19px;}
.document_approval .search_box .search_date .p-form-inline{text-align:left;}
.document_approval .search_box .search_date .date_item{display:inline-block; position:relative;}
.document_approval .search_box .search_date .p-form__date-input{max-width:130px; height:42px;}
.document_approval .search_box .search_date .p-form__date-button{position:absolute; top:15px; right:12px; width:14px; height:15px; margin:0; border-radius:0; background:none;}
.document_approval .search_box .search_date .p-form__date-button .p-icon__calendar-alt{width:14px; height:15px; margin:0; background:url('/site/main/images/program/sd_calender_icon.png') no-repeat; background-size:contain;}
.document_approval .search_box .search_date .warning.type2{position:absolute; bottom:-5px; left:0; font-size:14px; letter-spacing:-0.01em;}
.document_approval .search_box .search_date .p-form__split{margin:0 8px; font-size:16px;}
.document_approval .search_box .sd_input.withbtn{width:auto; text-align:left;}
.document_approval .search_box .sd_input.withbtn input[type="text"]{width:280px;}
.document_approval .search_box .sd_input.withbtn  + .search_btn__box{display:inline-block;}
.document_approval .p-table .p-subject{position:relative; padding-left:70px;}
.document_approval .p-table .p-subject .public_status{position:absolute; top:11px; left:0; width:60px; height:26px; padding:5px 0; border-radius:5px; text-align:center; font-size:13px; line-height:16px; color:#fff;}
.document_approval .p-table .p-subject .public_status.type1{border:1px solid #cacaca; background-color:#f9f9f9; color:#666;}
.document_approval .p-table .p-subject .public_status.type2{background-color:#8292a2;}
.document_approval .p-table .p-subject .public_status.type3{background-color:#298fed;}
.document_approval .p-table .p-subject a{display:block; overflow:hidden; max-height:40px; font-size:16px; line-height:20px; letter-spacing:-0.025em; word-break:keep-all;}
.document_approval .p-table .p-subject a:hover{text-decoration:underline;}

@media all and (max-width:1300px){
    .document_approval .search_box{padding-left:0; padding-right:0;}
    .document_approval .search_box .search_piece{width:100%;}
    .document_approval .search_box .search_title{margin-right:6px;}
    .document_approval .search_box .search_date .p-form__date-input{width:120px;}
    .document_approval .search_box .search_date .p-form__split{margin:0 4px;}
    .document_approval .search_box .sd_input.withbtn input[type="text"]{width:220px;}
}
@media all and (max-width:1000px){
    .document_approval .search_box .search_piece{width:700px;}
}
@media all and (max-width:800px){
    .document_approval .search_box .search_piece{width:80%;}
    .document_approval .search_box .search_piece .search_item{display:block;}
    .document_approval .search_box .search_piece .search_item:last-child{margin-top:20px;}
    .document_approval .search_box .search_piece .search_interval{display:none;}
    .document_approval .search_box .search_date{width:auto;}
    .document_approval .search_box .search_title{margin-right:15px;}
}
@media all and (max-width:765px){
    .document_approval .p-table .p-subject{padding-left:0;}
    .document_approval .p-table .p-subject .public_status{position:relative; top:auto; left:auto; margin-right:10px; vertical-align:top;}
    .document_approval .p-table .p-subject a{display:inline; overflow:visible; max-height:none;}
}
@media all and (max-width:640px){
    .document_approval .search_box .search_title{margin-top:6px;}
    .document_approval .search_box .search_date .p-form__date-input{height:35px;}
    .document_approval .search_box .search_date .warning.type2{left:-40px;}
    .document_approval .search_box .sd_input.withbtn + .search_btn__box{display:block; margin-top:20px; text-align:center;}
}
@media all and (max-width:480px){
    .document_approval .search_box .search_piece{width:100%;}
    .document_approval .search_box .search_date .p-form__date-button{top:12px;}
    .document_approval .search_box .sd_input.withbtn{width:auto !important;}
    .document_approval .search_box .sd_input.withbtn + .search_btn__box{display:block !important;}
}

