@charset "UTF-8";
/* (주)한신정보기술 위상욱 - 2020.08.10 */

/*4차 산업혁명 체험센터*/
.cts1492 .dl > li .title{width:65px;}
.cts1492 .box .dl > li .title{width:100px;}
.cts1492 .box.no_icon .box_text p{word-break:keep-all;}
.cts1492 .dl > li .title{width:90px;}

/*온마을체험학습*/
.cts1493 .step .step_item{min-height:165px;}
.cts1493 .step .step_title{padding:0 3px; word-break:keep-all;}
.cts1493 .dl > li .title{width:210px;}
.cts1493 .dl > li .title.short{width:100px;}

@media all and (max-width:640px){
	.cts1493 .step .step_item{min-height:auto;}
}

/*외국인 화상학습지원센터*/
.cts1494 .box.icon{min-height:140px; background-position:right 50px top -38px, right 10px;}
.cts1494 .box.icon:before,
.cts1496 .box.icon:before,
.cts1507 .box.icon:before,
.cts1508 .box.icon:before,
.cts1509 .box.icon:before {width: 70px; height: 63px; background:url('../images/contents/cts1494_icon.png') no-repeat center;}
.cts1494 .dl > li .title{width:95px;}

.cts1494_org{padding:60px 0; margin:10px 0 20px 0; border:1px solid #9fa3af;}
.cts1494_org .org{margin:0 auto; max-width:730px; font-size:18px; text-align:center;}
.cts1494_org .org > li{position:relative; overflow:hidden; list-style:none; padding-left:260px; margin:0; min-height:150px;}
.cts1494_org .org > li:before{content:'';}
.cts1494_org .org li .group{position:absolute; top:0; left:0; width:150px; height:150px; line-height:150px; background:#0c96e3; color:#fff; font-weight:500; border-radius:75px;}
.cts1494_org .org li .group:before{display:block; position:absolute; left:180px; top:calc(50% - 5px); width:54px; height:9px; background:url('../images/contents/cts1494_arrow1.png') no-repeat right;}
.cts1494_org .org li.depth1 .text{position:relative; width:100%; height:80px; line-height:80px; margin:40px 0 45px 0; background:#094179; color:#fff;}
.cts1494_org .org li.depth1 .text:after{display:block; position:absolute; left:50%; top:81px; width:1px; height:45px; background:url('../images/contents/cts1494_dot1.png') repeat-y;}
.cts1494_org .org li.depth2{padding-bottom:35px;}
.cts1494_org .org li.depth2 .group{top:auto; bottom:0; background:#05a462; line-height:24px; padding-top:50px;}
.cts1494_org .org li.depth2 .group:before{background:url('../images/contents/cts1494_arrow2.png') no-repeat right;}
.cts1494_org .org li.depth2 .tit span{font-size:16px;}
.cts1494_org .org li.depth2 ul{position:relative; overflow:hidden; margin:0; width:100%;}
.cts1494_org .org li.depth2 ul:before{display:block; position:absolute; top:1px; left:23.5%; width:53%; height:1px; background:url('../images/contents/cts1494_dot2.png') repeat-x;}
.cts1494_org .org li.depth2 ul li{position:relative; float:left; width:47%; height:80px; line-height:22px; padding-top:17px; margin:45px 0 0 0; border:1px solid #094179; font-size:18px; color:#094179;}
.cts1494_org .org li.depth2 ul li:before{display:block; position:absolute; left:50%; top:-45px; width:1px; height:45px; background:url('../images/contents/cts1494_dot1.png') repeat-y;}
.cts1494_org .org li.depth2 ul li:last-child{margin-left:6%;}
.cts1494_org .org li.depth2 ul li span{display:block; font-size:16px; color:#636363;}

@media all and (max-width:1300px){
	.cts1494 .box.icon{background-position:right 50px top, right bottom;}
	.cts1494_org{padding:40px 30px;}
	.cts1494_org .org > li{padding-left:190px;}
	.cts1494_org .org li .group{top:7px; width:136px; height:136px; line-height:136px;}
	.cts1494_org .org li .group:before{left:150px; width:30px;}
	.cts1494_org .org li.depth2 .group{bottom:7px; padding-top:43px;}
}

@media all and (max-width:640px){
	.cts1494_org{padding:15px 10px 10px 10px; margin:5px 0 10px -10px;}
	.cts1494_org .org > li{padding-left:0;}
	.cts1494_org .org li .group{position:relative; top:auto; bottom:auto; font-size:16px;}
	.cts1494_org .org li .group:before{display:none;}
	.cts1494_org .org li .group span{font-size:14px;}
	.cts1494_org .org li.depth1 .group:after{display:block; position:absolute; left:50%; bottom:-30px; width:1px; height:30px; background:url('../images/contents/cts1494_dot1.png') repeat-y;}
	.cts1494_org .org li.depth1 .text{margin:20px auto 20px auto; max-width:340px; height:70px; line-height:70px;}
	.cts1494_org .org li.depth1 .text:after{top:60px;}
	.cts1494_org .org li.depth2{padding:0;}
	.cts1494_org .org li.depth2 .group{bottom:auto;}
	.cts1494_org .org li.depth2 .group:after{display:block; position:absolute; left:50%; bottom:-20px; width:1px; height:20px; background:url('../images/contents/cts1494_dot1.png') repeat-y;}
	.cts1494_org .org li.depth2 ul{margin-top:20px;}
	.cts1494_org .org li.depth2 ul:before{left:24.5%; width:51%;}
	.cts1494_org .org li.depth2 ul li{margin-top:20px; width:49%; font-size:16px;}
	.cts1494_org .org li.depth2 ul li:before{top:-30px; height:30px;}
	.cts1494_org .org li.depth2 ul li:last-child{margin-left:2%;}
	.cts1494_org .org li.depth2 ul li span{font-size:14px;}
}

/*사업소개*/
.cts1496 .box.icon{min-height:140px; background-position:right 50px top -38px, right 10px; word-break:keep-all;}
.cts1496 .img_box{background:#f9fcfe; border:1px solid #cad2d7; text-align:center;}
.cts1496 .img_box img{max-width:100%;}
.cts1496 .bu{}
.cts1496 .bu > li{margin-bottom:8px;}
.cts1496 .bu:last-child > li{margin-bottom:16px;}
.cts1496 .bu:last-child > li:last-child{margin-bottom:0;}
.cts1496 .bu > li > ul{margin-top:3px;}

@media all and (max-width:1300px){
	.cts1496 .box.icon{background-position:right 50px top, right bottom;}
}

@media all and (max-width:640px){
	.cts1496 .bu > li{margin-bottom:6px;}
	.cts1496 .bu:last-child > li{margin-bottom:12px;}
	.cts1496 .bu:last-child > li:last-child{margin-bottom:0;}
	.cts1496 .bu > li > ul{margin-top:2px;}
}

/*민관학거버넌스*/
.cts1497_org{margin-top:40px;}
.cts1497_org .org{margin:0 auto; width:100%; text-align:center;}
.cts1497_org .org li{list-style:none;}
.cts1497_org .org li .title{display:block; height:54px; line-height:54px; font-size:18px; color:#fff; font-weight:500;}
.cts1497_org .org li .text{padding:10px 40px; border:1px solid #9fa3af; border-top:0; word-break:keep-all; font-size:16px; color:#555; font-weight:300;}
.cts1497_org .org .depth1{position:relative; max-width:310px; margin:0 auto 40px auto;}
.cts1497_org .org .depth1:after{display:block; position:absolute; left:50%; bottom:-124px; width:1px; height:124px; background:url('../images/contents/cts1494_dot1.png') repeat-y;}
.cts1497_org .org .depth1 .title{background:#283047;}
.cts1497_org .org .depth2{position:relative; overflow:hidden; margin-bottom:30px;}
.cts1497_org .org .depth2 ul:before{display:block; position:absolute; top:27px; left:250px; right:250px; height:1px; background:url('../images/contents/cts1494_dot2.png') repeat-x;}
.cts1497_org .org .depth2 ul li{float:left; overflow:hidden; width:250px; background:#015acd;}
.cts1497_org .org .depth2 ul li:last-child{float:right;}
.cts1497_org .org .depth3{position:relative; max-width:310px; margin:0 auto 40px auto;}
.cts1497_org .org .depth3:after{display:block; position:absolute; left:50%; bottom:-40px; width:1px; height:40px; background:url('../images/contents/cts1494_dot1.png') repeat-y;}
.cts1497_org .org .depth3 .title{background:#049bc1;}
.cts1497_org .org .depth4{position:relative; overflow:hidden;}
.cts1497_org .org .depth4 > ul:before{display:block; position:absolute; top:0; left:0; right:0; margin:0 auto; width:75.75%; height:1px; background:url('../images/contents/cts1494_dot2.png') repeat-x;}
.cts1497_org .org .depth4 > ul > li{position:relative; float:left; overflow:hidden; padding-top:66px; margin-right:1%; width:24.25%;}
.cts1497_org .org .depth4 > ul > li:before{display:block; position:absolute; left:50%; top:0; width:1px; height:40px; background:url('../images/contents/cts1494_dot1.png') repeat-y;}
.cts1497_org .org .depth4 ul li:last-child{margin-right:0;}
.cts1497_org .org .depth4 ul li .title{position:absolute; top:40px; left:10px; right:10px; background:#009353;}
.cts1497_org .org .depth4 ul li .bu{padding:40px 30px 15px 30px; margin:0; border:1px solid #9fa3af;}
.cts1497_org .org .depth4 ul li .bu li{float:none; width:100%; word-break:keep-all;}

@media all and (max-width:1300px) {
	.cts1497_org .org li .title{font-size:17px;}
	.cts1497_org .org li .text{font-size:15px;}
	.cts1497_org .org .depth4 ul li .bu{padding:40px 15px 20px 15px;}
	.cts1497_org .org .depth4 ul li .bu li{padding-left:12px; font-size:15px;}
}
@media all and (max-width:1000px) {
	.cts1497_org .org .depth4{padding:0 10px 15px 10px; margin-bottom:30px; border:1px solid #9fa3af;}
	.cts1497_org .org .depth4 > ul:before{display:none;}
	.cts1497_org .org .depth4 > ul > li{padding-top:25px; width:49%; margin:15px 2% 0 0;}
	.cts1497_org .org .depth4 > ul > li:nth-child(2n){margin-right:0;}
	.cts1497_org .org .depth4 > ul > li:before{display:none;}
	.cts1497_org .org .depth4 ul li .title{top:0;}
}

@media all and (max-width:640px) {
	.cts1497_org{margin-top:20px;}
	.cts1497_org .org li .title{height:44px; line-height:44px; font-size:16px;}
	.cts1497_org .org li .text{font-size:14px;}
	.cts1497_org .org .depth1{margin-bottom:30px; max-width:100%;}
	.cts1497_org .org .depth1:after{bottom:-30px; height:30px;}
	.cts1497_org .org .depth2{position:relative; overflow:initial; padding:10px; margin-bottom:30px; border:1px solid #9fa3af;}
	.cts1497_org .org .depth2:after{display:block; position:absolute; left:50%; bottom:-31px; width:1px; height:30px; background:url('../images/contents/cts1494_dot1.png') repeat-y;}
	.cts1497_org .org .depth2 ul:before{display:none;}
	.cts1497_org .org .depth2 ul li{float:none; width:100%;}
	.cts1497_org .org .depth2 ul li:last-child{float:none; margin-top:10px;}
	.cts1497_org .org .depth3{max-width:100%; margin-bottom:30px;}
	.cts1497_org .org .depth3:after{bottom:-30px; height:30px;}
	.cts1497_org .org .depth4 ul li .bu{padding:40px 10px 15px 10px;}
	.cts1497_org .org .depth4 ul li .bu li{padding-left:10px; font-size:14px;}
}

@media all and (max-width:480px) {
	.cts1497_org .org .depth4 > ul > li{padding-top:25px; margin:15px 0 0 0; width:100%; }
	.cts1497_org .org .depth4 ul li .bu{overflow:hidden;}
	.cts1497_org .org .depth4 ul li .bu li{float:left; width:50%;}

}

/*마을과 함께하는 교육*/
.cts1498 .list_rainbow .rainbow_text{background:url('../images/contents/cts1498_bg.png') repeat-x; background-size:100% 32px; word-break:keep-all; -webkit-box-decoration-break:clone; box-decoration-break:clone;}
.cts1498 .list_rainbow .area_info li{word-break:keep-all;}

/*청소년자치활동*/
.cts1499 .dl > li .title{width:260px;}
.cts1499 .list_rainbow .area_title{width:42%; padding:27px 20px;}
.cts1499 .list_rainbow .rainbow_text{background:url('../images/contents/cts1498_bg.png') repeat-x; background-size:100% 32px; word-break:keep-all; -webkit-box-decoration-break:clone; box-decoration-break:clone;}
.cts1499 .list_rainbow .area_info li{word-break:keep-all;}
.cts1499 .list_rainbow .dl > li .title{width:125px;}

@media all and (max-width:640px){
	.cts1499 .list_rainbow .area_title{width:100%;}
}

/*온마을축제*/
.cts1500 .dl > li .title{width:100px;}
.cts1500 .table td{text-align:left;}
.cts1500 .table td ul.dl li{display:block;}
.cts1500 .table td ul.dl li .title{width:auto; padding-left:0;}
.cts1500 .table td span.title{width:121px;}
.cts1500 .img_frame{margin-top:45px;}

/*성동혁신교육플랫폼*/
.cts1501 .box.link{padding-bottom:104px;}
.cts1501 h3.margin{margin-top:45px !important; margin-bottom:25px !important;}
.cts1501 .dl > li .title{width:100px;}

@media all and (max-width:640px){
	.cts1501 .box.link{padding-bottom:40px;}
	.cts1501 h3.margin{margin-top:30px !important; margin-bottom:20px !important;}
}

/*평생학습관*/
.cts1503 .box.link{padding-bottom:104px;}
.cts1503 h3.margin{margin-top:45px !important; margin-bottom:25px !important;}
.cts1503 .dl > li .title{width:100px;}
.cts1503 .img_frame{margin-top:35px;}
.cts1503 .directions .method{padding-right:0;}
.cts1503 .directions .method.divide2 .bu > li{width:100%; margin-right:0;}
.cts1503 .emphasis .emphasis_title{min-width:206px;}
.cts1503 .directions .method .way{word-break:keep-all;}

@media all and (max-width:640px){
	.cts1503 .box.link{padding-bottom:40px;}
	.cts1503 h3.margin{margin-top:30px !important; margin-bottom:20px !important;}
	.cts1503 .img_frame{margin-top:20px;}
	.cts1503 .directions .method{padding-right:25px;}

}

/*소개*/
.cts1505 .box:before{background-image:url('../images/contents/cts1505_bg.png');}
.cts1505 .dl > li .title{width:100px;}

/*방명록*/
.cts1506.geust{margin-top:30px;}
.cts1506.geust li{overflow:hidden; float:left; width:32%; margin-right:2%; margin-bottom:20px; padding:20px 30px 20px 175px;}
.cts1506.geust li:nth-child(3n){margin-right:0;}
.cts1506.geust li img{}
.cts1506.geust li p{}
.cts1506.geust li p span{}
.cts1506.geust li a{}

/*동네배움터*/
.cts1507 .box.icon{min-height:140px; background-position:right 50px top -38px, right 10px; word-break:keep-all;}
.cts1507 .dl > li .title{width:130px;}
.cts1507 .dl.short > li .title{width:100px;}

@media all and (max-width:1300px){
	.cts1507 .box.icon{background-position:right 50px top, right bottom;}
}

/*성동구민대학*/
.cts1508 .box.icon{min-height:140px; background-position:right 50px top -38px, right 10px; word-break:keep-all;}
.cts1508 .dl > li .title{width:110px;}
.cts1508 .dl.short > li .title{width:90px;}

@media all and (max-width:1300px){
	.cts1508 .box.icon{background-position:right 50px top, right bottom;}
}

/*자격증취득 사이버강좌*/
.cts1509 .box.icon{min-height:140px; background-position:right 50px top -38px, right 10px; word-break:keep-all;}
.cts1509 .warning_box{margin-top:30px;}

@media all and (max-width:1300px){
	.cts1509 .box.icon{background-position:right 50px top, right bottom;}
	.cts1509 .warning_box{margin-top:15px;}
}

/*사이버교육*/
.cts1510 .dl > li .title{width:95px;}
.cts1510 .box:last-child{margin-top:30px;}

@media all and (max-width:640px){
	.cts1510 .box:last-child{margin-top:15px;}
}

/*아동수당*/
.cts1592 .box.type2:before{background: url('../images/contents/cts1592_bg.png') no-repeat center top}
.cts1592 .dl > li .title{width:110px;}
.cts1592 .dl > li .title.short{width:95px;}

@media all and (max-width:640px){
	.cts1592 h3.margin_t_40{margin-top:25px !important;}
}

/* 대형폐기물 변경안내 - 한신정보기술 송정은 */
.waste_cont {overflow:hidden; position:relative; padding-top:53px; border-radius:20px; background-color:#d1e9ff; text-align: center}
.waste_cont .title_area {position:relative; min-height: 200px; padding:0 50px 39px; text-align: left; z-index: 1}
.waste_cont .title_area p {font-size:18px}
#contents .waste_cont h3.h0 {padding-bottom:25px; margin-bottom:17px;}
#contents .waste_cont h3.h0:after {display:inline-block; position:absolute; bottom:0; left:1px; width:30px; height:3px; background-color:#2b2b2b; content:'';}
#contents .waste_cont h3.h0 img:nth-child(1) {margin-right:10px;}
.waste_cont .br_mobile {display:none;}
.waste_cont .text_area {position:relative; padding:34px 50px 30px; background-color:#37658f; color:#fff;}
.waste_cont .text_area:before,
.waste_cont .text_area:after,
.waste_cont .inquiry_txt .tel_num:before {display:inline-block; background:url('/site/main/images/program/waste_template.png') no-repeat 0 0; content:'';}
.waste_cont .text_area:before {position:absolute; top:-238px; right:8px; width:470px; height: 238px; background-position:-70px 0}
.waste_cont .text_area:after {position:absolute; top:-211px; right:87px; width: 272px; height: 263px; background-position:0 -268px;}
.waste_cont .text_area strong {font-weight:400;}
.waste_cont .text_area .table {margin:0; border-top:none; background-color:#2e5882}
.waste_cont .text_area .table tbody th,
.waste_cont .text_area .table tbody td {padding:12px; border:none; border-left:1px solid #58799b; border-top:1px solid #58799b; font-weight:100; font-size:15px; line-height:19px; word-break:keep-all}
.waste_cont .text_area .table thead th {padding:4px 5px 6px; border:1px solid #fff; line-height:19px; color:#0e3b64; background-color:#fff;}
.waste_cont .text_area .table tbody th:first-child,
.waste_cont .text_area .table tbody td:first-child {border-left:none;}
.waste_cont .text_area .bu {margin-top:0; margin-bottom:14px;}
.waste_cont .text_area .bu > li:before {background-color:#fff;}
.waste_cont .text_area .dl > li .title {padding-right:31px; color:#fff; font-weight:300;}
.waste_cont .text_area .dl > li .title:before {background-color:#9bb2c7}
.waste_cont .text_area .dl > li .text {font-weight:100;}
.waste_cont a.blank {color:#fff;}
.waste_cont a.blank:after {background-position:3px -193px;}
.waste_cont .inquiry_txt {display:inline-block; padding:6px 18px; margin-top:30px; border:2px solid #ffdd41; background-color:#2e5983; color:#ffdd41; font-size:15px;}
.waste_cont .inquiry_txt .tel_num:before {width:13px; height:13px; margin:0 6px 0 6px;}


.cts1670 .step .step_title {word-break: keep-all}

@media all and (max-width:1300px){
	.waste_cont .text_area:before,
	.waste_cont .text_area:after {opacity:0.35}
	.waste_cont .text_area:after {height: 211px;}
	.waste_cont .title_area {padding:0 40px 35px;}
	.waste_cont .text_area {padding:30px 40px;}
}

@media all and (max-width:640px){
	.waste_cont {padding-top:30px; margin-top:20px; border-radius:15px;}
	#contents .waste_cont h3.h0 {padding-bottom: 15px; margin-bottom: 10px; text-align: center}
	#contents .waste_cont h3.h0 img:nth-child(1) {width:145px; margin-right:0;}
	#contents .waste_cont h3.h0 img:last-child {width:188px;}
	#contents .waste_cont h3.h0:after {left:calc(50% - 15px)}
	.waste_cont .br_mobile {display: inline-block; margin-top:5px;}
	.waste_cont .title_area {min-height:0; padding:0 25px 20px;}
	.waste_cont .title_area p {text-align: center; word-break: keep-all}
	.waste_cont .text_area {word-break: keep-all}
	.waste_cont .text_area:before,
	.waste_cont .text_area:after {transform: scale(0.7); opacity:0.2}
	.waste_cont .text_area:before {top:-202px; right:calc(50% - 238px);}
	.waste_cont .text_area:after {top:-179px; right:calc(50% - 153px);}
	.waste_cont .text_area {padding:20px 25px 30px;}
	.waste_cont .text_area .table {border-top:1px solid #fff;}
	.waste_cont .text_area .table tbody th, .waste_cont .text_area .table tbody td {border-left:none; border-top:none}
	.waste_cont table.table.responsive tbody tr {border-bottom:1px solid #fff;}
	.waste_cont .inquiry_txt {margin-top:20px;}
}

/* 기후변화 - 한신정보기술 송정은 */
.cts3919_title_box {overflow:hidden; position:relative; min-height:326px; margin-bottom:38px; background:url('/site/main/images/contents/cts3919_bg.jpg') repeat 0 0;font-size:0; line-height:0;}
.cts3919_title_box:before,
.cts3919_title_box .text_area:before,
.cts3919_title_box .text_area:after {display: inline-block; position:absolute; background:url('/site/main/images/contents/cts3919_template.png') no-repeat 0 0;}
.cts3919_title_box:before {bottom:-76px; right:-25px; width: 371px; height: 230px; background-position:-46px -277px;}
.cts3919_title_box a {display:inline-block; width:calc(100% - 407px); }
.cts3919_title_box .text_area {display: inline-block; position:relative; padding-top:60px; width:407px; text-align: center; z-index: 1; vertical-align: top;}
.cts3919_title_box .text_area.mobile {display: none;}
.cts3919_title_box .text_area:before {top:-103px; right:24px; width: 304px; height: 210px; background-position:-64px 0; z-index: -1}
.cts3919_title_box .text_area:after {left:15px; bottom:-6px; width: 26px; height: 26px;}

.cts3920_cont {overflow:hidden; padding-bottom:45px; margin-top:60px; border-radius:20px; background:#f5f5fd; text-align: center; word-break: keep-all}
#contents .cts3920_cont h3 {margin:0; padding:21px 20px 23px; background:#6162b8; text-align: center; color:#fff; font-size:24px; line-height:33px; font-weight:200;}
#contents .cts3920_cont h3:before {display:none;}
.cts3920_cont .list {padding:57px 50px 0;}
.cts3920_cont .list > li {position:relative; padding:44px 30px 27px; margin-bottom:47px; border:1px solid #c8c9d5; border-radius:10px; background-color:#fff; text-align: center; word-break: keep-all}
.cts3920_cont .list > li:last-child {margin-bottom:35px;}
.cts3920_cont .list .title {display:block; padding-bottom:16px; margin-bottom:16px; border-bottom:1px dotted #8c8c8c; font-size:22px; line-height:27px; color:#3d3d3d; font-weight:400;}
.cts3920_cont .list .title em {display:inline-block; position:absolute; top:-17px; left:calc(50% - 70px); width:140px; border-radius:40px; background-color:#3e40a4; font-size:17px; line-height:35px; font-weight:200; color:#fff;}
.cts3920_cont .warning {display: inline-block}

.cts3923 .emphasis .emphasis_list {float: left; width: calc(50% - 10px); margin-right: 20px; margin-bottom: 0;}
.cts3923 .emphasis .emphasis_list:nth-child(2n) {margin-right:0;}

@media all and (max-width:1300px){
	.cts3919_title_box a {overflow:hidden; position: relative; width:100%; text-align: center; z-index:0}
	.cts3919_title_box a:before {display: inline-block; position:absolute; top:0; left:0; width:100%; height:100%; background-image:url('/site/main/images/contents/cts3919_img.jpg'); background-size:100%;  -webkit-filter: blur(20px); -moz-filter: blur(20px); -o-filter: blur(20px); -ms-filter: blur(20px); filter: blur(20px); z-index: -1; opacity:0.8}
	.cts3919_title_box:before {right:-60px; opacity: 0.6; transform: scale(0.7)}
	.cts3919_title_box .text_area {overflow:hidden; width:100%; padding:20px;}
	.cts3919_title_box .text_area.mobile {display:inline-block;}
	.cts3919_title_box .text_area.pc {display: none;}
	.cts3919_title_box .text_area:before {/* right:0; */ left:-87px; transform: rotate(63deg) scale(0.7);}
	.cts3919_title_box .text_area:after {display:none;}

	.cts3923 .emphasis .emphasis_list {float: none; width:100%; margin-right:0;}
}
@media all and (max-width:640px){
	.cts3919_title_box {min-height:0; margin-top:20px; margin-bottom:20px;}
	.cts3919_title_box:before {opacity: 0.2;}
	.cts3919_title_box a img {width:100%;}
	.cts3919 .emphasis.margin_t_45 {margin-top:20px !important;}

	.cts3920_cont {margin-top:25px; padding-bottom:25px;}
	#contents .cts3920_cont h3 {padding:16px 10px 16px; font-size:18px; line-height:24px;}
	.cts3920_cont .list {padding:40px 25px 0}
	.cts3920_cont .list > li {padding:20px 20px 15px; margin-bottom: 30px;}
	.cts3920_cont .list > li:last-child {margin-bottom:20px;}
	.cts3920_cont .list .title em {top:-15px; font-size:14px; line-height:30px;}
	.cts3920_cont .list .title {padding-bottom:10px; margin-bottom:10px; font-size:16px; line-height:24px;}
}
@media all and (max-width:480px){
	.cts3919_title_box .text_area:before {display:none;}

	.cts3920_cont {text-align: left;}
	.cts3920_cont .list {padding:40px 15px 0}
	.cts3920_cont .warning {margin-left:15px; word-break: break-all}
}

/* 성동지역경제혁신센터 조직도 - 송정은 */
.cts1726_organ {position:relative; text-align:center; font-size:18px; line-height:22px;}
.cts1726_organ .ceo1,
.cts1726_organ .ceo2 {position:relative;}
.cts1726_organ .ceo1 span,
.cts1726_organ .ceo2 span,
.cts1726_organ ul > li {display:inline-block; width:calc(100% / 3 - 89px); padding:15px 15px 16px; color:#fff; box-sizing: border-box; vertical-align: top;}
.cts1726_organ .ceo1 span,
.cts1726_organ .ceo2 span {margin-bottom:50px; background-color:#1448b5;}
.cts1726_organ .ceo2 span {background-color:#008dd2;}
.cts1726_organ ul {position:relative; font-size:0; line-height:0;}
.cts1726_organ ul > li {padding:0; margin-top:51px; background-color:#3d4657; }
.cts1726_organ ul > li:nth-child(2) {margin:51px 76px 0;}
.cts1726_organ ul > li span {position:relative; height:75px; padding:15px 15px 16px; font-size:18px; line-height:22px; box-sizing: border-box;}
.cts1726_organ ul > li span:after {display:inline-block; position:relative; height:100%; content:''; vertical-align: middle}
.cts1726_organ .ceo1:before,
.cts1726_organ .ceo2:before,
.cts1726_organ ul > li span:before {display:inline-block; position:absolute; left:50%; height:49px; width:1px; border-right:1px dotted #8b8b8b;}
.cts1726_organ .ceo1:before,
.cts1726_organ .ceo2:before {bottom:0; border-left:1px dotted #8b8b8b; border-right:none;}
.cts1726_organ ul > li span:before {top:-50px;}
.cts1726_organ ul > li:first-child:after {display:inline-block; position:absolute; top:0; width:64%; border-bottom:1px dotted #8b8b8b;}
.cts1726_organ ul > li:first-child:after {right:calc(18% - 2px);}


@media all and (max-width:1300px){
	.cts1726_organ .ceo1 span,
	.cts1726_organ .ceo2 span {width:240px;}
	.cts1726_organ ul > li {width:calc(100% / 3 - 34px);}
	.cts1726_organ ul > li:nth-child(2) {margin: 51px 25px 0;}
}

@media all and (max-width:640px){
	.cts1726_organ {margin-top:25px; font-size:15px; line-height:19px;}
	.cts1726_organ ul > li {width:calc(100% / 3 - 6px);}
	.cts1726_organ ul > li:first-child:after {right: calc(16% - 2px); width:68%;}
	.cts1726_organ ul > li span { font-size:15px; line-height:19px; }
	.cts1726_organ .ceo1 span,
	.cts1726_organ .ceo2 span,
	.cts1726_organ ul > li span {padding: 7px 15px 7px;}
	.cts1726_organ ul > li span {height:auto;}
	.cts1726_organ ul > li:nth-child(2) {margin: 51px 9px 0;}
}

/* cts3952 컨텐츠 - 송정은 */
.cts3952 .box.icon:before {bottom:16px; right:60px; width: 40px; height: 71px; background-image:url('../images/centents/cts3952_icon.png');}
.cts3952 .img_link {margin-bottom:47px;}
.cts3952 .img_link .img_area {overflow: hidden; border-radius:0 0 50px 0;}
.cts3952 .img_link .inner {min-height:317px;}
@media all and (max-width:640px){
	.cts3952 .box.icon:before { z-index:-1;}
	.cts3952 .img_link {margin-bottom:0;}
}

/* 스크롤테이블 속의 테이블 - 송정은 */
.cts3998 .table_scroll {margin:20px 0 10px}
.cts3998 .table_scroll table table {min-width:300px;}

/* 성동 명예의 전당 - 송정은 */
.cts4178 .img_frame {font-size:0; line-height:0;}
.cts4178 .img_frame .img_area {display:inline-block; position:relative; margin:14px;}
.cts4178 .img_frame.divide3 img {min-width:100%; margin:0}
.cts4178 .img_frame .img_area span {display:inline-block; position:absolute; bottom:0; left:0; padding:5px 10px; background:rgba(0,0,0,0.8); font-size:14px; line-height:24px; color:#fff;}