/* 초기화 */
.side{display:none;}
.colgroup{float:none; width:100%; margin-top:0;}
.sub_head{display:none;}
#contents{margin-top:0; margin-bottom:0; padding-bottom:120px;}

/* wrap */
.colgroup .wrap{width:1280px;}
@media all and (max-width:1280px){
    .colgroup .wrap{width:1000px;}
    #contents{padding-bottom:96px;}
}
@media all and (max-width:1000px){
    .colgroup .wrap{width:auto;}
    #contents{padding-bottom:65px;}
}
@media all and (max-width:640px){
    #contents{padding-bottom:41px;}
}

/* sub_visual */
.sub_visual{position:relative; z-index:1; height:410px; background-image:url('/site/main/images/sub/sub_main_visual.jpg'); background-position:center center; background-repeat:no-repeat; background-size:cover;}
.sub_visual .wrap{padding-left:68px;}
.sub_visual:after{display:block; position:absolute; top:15px; left:56.8%; width:374px; height:380px; background-image:url('/site/main/images/sub/sub_main_sprite.png'); background-size:118.18% 286.31%;}
.sub_visual .visual_title{width:442px; height:108px; margin-top:110px; background-image:url('/site/main/images/sub/sub_main_sprite.png'); background-position:left 39.79%; background-size:100% 1007.4%; font-size:0; line-height:0; vertical-align:top;}
.sub_visual .visual_slogan{margin-top:23px; margin-left:3px; color:#333; font-size:24px; line-height:35px; letter-spacing:-0.05em;}
.sub_visual .visual_slogan span{font-weight:600;}

@media all and (max-width:1280px){
    .sub_visual{height:328px;}
    .sub_visual .wrap{padding-left:3%;}
    .sub_visual:after{left:61%; width:299px; height:304px;}
    .sub_visual .visual_title{width:286px; height:70px; margin-top:88px;}
    .sub_visual .visual_slogan{margin-top:15px; font-size:15px; line-height:23px;}
}
@media all and (max-width:640px){
    .sub_visual{height:320px; background:none;}
    .sub_visual:before{display:block; position:absolute; top:0; left:50%; width:483px; height:339px; margin-left:-241px; background:url('/site/main/images/sub/sub_main_visual2.png') left top no-repeat;}
    .sub_visual .wrap{padding-left:5%; padding-right:5%;}
    .sub_visual:after{left:59%; width:187px; height:190px;}
    .sub_visual .visual_title{width:221px; height:54px; margin-top:50px;}
    .sub_visual .visual_slogan{margin-top:12px; margin-left:0; font-size:14px; line-height:18.4px;}
    .sub_visual:after{top:auto; bottom:-63px; left:auto; right:5%; width:204px; height:207px;}
}
#contents{background: rgb(250,254,222); background: -moz-linear-gradient(-45deg, rgba(250,254,222,1) 0%, rgba(219,234,240,1) 46%, rgba(187,210,243,1) 100%); background: -webkit-linear-gradient(-45deg, rgba(250,254,222,1) 0%,rgba(219,234,240,1) 46%,rgba(187,210,243,1) 100%); background: linear-gradient(135deg, rgba(250,254,222,1) 0%,rgba(219,234,240,1) 46%,rgba(187,210,243,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafede', endColorstr='#bbd2f3',GradientType=1 );}
#contents:before{display:block; position:absolute; top:0; left:0; width:100%; height:80%; background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%); background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 100%); background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#00ffffff',GradientType=0 );}

/* depart_head */
.depart_head{position:relative; padding-top:110px;}
.depart_head .depart_title{display:block; padding-left:220px; padding-right:220px; color:#082752; font-size:40px; line-height:42px; font-weight:600; letter-spacing:-0.05em; text-align:center; vertical-align:top;}
.depart_all{position:absolute; top:113px; left:0; z-index:20; width:200px;}
.depart_head button{width:100%; height:50px; border-radius:30px; font-size:17px; line-height:12px; letter-spacing:-0.05em;}
.depart_head button:after{display:inline-block; width:17px; margin-left:40px; margin-bottom:2px; background-image:url('/site/main/images/sub/sub_main_sprite.png'); background-repeat:no-repeat; vertical-align:middle;}
.depart_head .depart_btn{position:relative; z-index:10; border:2px solid #082752; color:#082752;}
.depart_head .depart_btn:after{height:10px; background-position:left 73.09%; background-size:2600% 10880%;}
.depart_head .depart_all.active .depart_btn{background-color:#082752; color:#fff;}
.depart_head .depart_all.active .depart_btn:after{background-position:left 7% top 73.09%;}
.depart_head .depart_select{display:none; position:relative; z-index:0; padding:9px 8px 23px 30px; border-width:0 2px 2px 2px; border-style:solid; border-color:#082752; border-radius:0 0 30px 30px; background-color:#fff;}
.depart_head .depart_all.active .depart_select{display:block;}
.depart_head .depart_select:before{display:block; position:absolute; top:-28px; left:-2px; z-index:-1; width:100%; height:30px; border-right-width:2px; border-left-width:2px; border-bottom-width:0; border-style:solid; border-color:#082752; background-color:#fff; box-sizing:content-box;}
.depart_head .depart_select ul{height:262px; padding-right:18px; overflow-x:hidden; overflow-y:scroll;}
.depart_head .depart_select ul li a{display:block; position:relative; z-index:0; color:#082752; font-size:16px; line-height:30px; letter-spacing:-0.05em;}
.depart_head .depart_select ul li a:before{display:none; position:absolute; bottom:3px; left:-7px; z-index:-1; width:100%; height:11px; padding-left:6px; border-radius:10px; background-color:#e7f4ff;}
.depart_head .depart_select ul li a:after{display:none; position:absolute; top:12px; right:10px; width:7px; height:9px; background-image:url('/site/main/images/sub/sub_main_sprite.png'); background-position:left 15% top 73.09%; background-repeat:no-repeat;}
.depart_head .depart_select ul li a:hover:before,.depart_head .depart_select ul li a:hover:after{display:block;}
.depart_head .depart_select ul::-webkit-scrollbar{width:5px;}
.depart_head .depart_select ul::-webkit-scrollbar-thumb{border-radius:30px; background-color: #798089;}
.depart_head .depart_select ul::-webkit-scrollbar-track{border-radius:30px; background-color: #e1e1e1;}
@media all and (max-width:1280px){
.depart_head{padding-top:58px;}
    .depart_head .depart_title{font-size:32px; line-height:33.6px;}
    .depart_all{top:60px;}
    .depart_head button{width:161px; height:40px; font-size:14px;}
    .depart_head button:after{width:13.6px; margin-bottom:3px; margin-left:32px;}
    .depart_head .depart_btn:after{height:8px;}
    .depart_all{width:161px;}
    .depart_head .depart_select{padding-left:15px; border-radius:0 0 24px 24px;}
    .depart_head .depart_select:before{top:-21px;}
    .depart_head .depart_select ul li a{font-size:14px;}
}

@media all and (max-width:640px){
    .depart_head{padding-top:113px; padding-bottom:40px; text-align:center;}
    .depart_head .depart_title{margin-bottom:18px; padding-left:0; padding-right:0; font-size:24px; line-height:24px;}
    .depart_head button{width:100%; height:40px; padding-left:19px; text-align:left;}
    .depart_head button:after{width:10px; margin-left:21px;}
    .depart_head .depart_btn:after{float:right; width:13px; height:8px; margin-top:3px; margin-right:21px; margin-left:0;}
    .depart_head .depart_select{padding:18px 16px 20px 23px;}
    .depart_head .depart_select ul{height:187px; padding-right:14px; border-left-width:1px; border-style:solid; border-color:#d7d7d7; font-size:0; line-height:0; text-align:left;}
    .depart_head .depart_select ul li{display:inline-block; width:50%; border-right-width:1px; border-bottom-width:1px; border-style:solid; border-color:#d7d7d7;}
    .depart_head .depart_select ul li:nth-child(-n + 2){border-top:1px solid #d7d7d7;}
    .depart_head .depart_select ul li a{padding-left:8px;}
    .depart_head .depart_select ul li a:after{display:block; top:11px; right:12px;}
    .depart_all{top:155px; width:100%;}
    .depart_head .depart_select ul::-webkit-scrollbar{width:4px;}
}


/* depart_box */
.depart_box{min-height:200px; margin-top:81px; padding-left:50px; padding-right:50px; padding-bottom:80px; background-color:#fff; box-shadow:5px 9px 22px 0 rgba(103, 117, 133, 0.75);}
.depart_box .depart_list{padding-top:63px; font-size:0; line-height:0; text-align:center;}
.depart_box .depart_item{display:inline-block; position:relative; width:99px; height:25px; margin-bottom:7px; margin-left:30px; margin-right:30px; vertical-align:middle;}
.depart_box .depart_item:after{display:inline-block; position:absolute; top:11px; right:-31px; width:5px; height:5px; background-color:#d0d0d0;}
.depart_box .depart_item:before{display:none; position:absolute; bottom:-6px; left:-8px; z-index:0; width:100%; height:15px; padding-right:16px; background-color:#cecdf4; box-sizing:content-box;}
.depart_box .depart_item.n4{width:172px;}
.depart_box .depart_item.n5{width:125px;}
.depart_box .depart_item:last-child:after{display:none;}
.depart_box #board{margin-top:20px;}

.depart_box .depart_anchor{display:block; position:relative; z-index:10; width:100%; height:100%; background-image:url('/site/main/images/sub/sub_main_sprite.png'); background-repeat:no-repeat;}
.depart_box .n1 .depart_anchor{background-position:left 51.08%; background-size:446.46% 4352%;}
.depart_box .n2 .depart_anchor{background-position:left 57.66%; background-size:451.02% 4352%;}
.depart_box .n3 .depart_anchor{background-position:right 51.08%; background-size:446.46% 4352%;}
.depart_box .n4 .depart_anchor{background-position:right 70.83%; background-size:253.46% 4352%;}
.depart_box .n5 .depart_anchor{background-position:left 64.25%; background-size:353.6% 4352%;}

.depart_box .depart_item.active:before{display:block;}
.depart_box .n1.active .depart_anchor{background-position:left 47.78%; background-size:446.46% 4352%;}
.depart_box .n2.active .depart_anchor{background-position:left 54.37%; background-size:451.02% 4352%;}
.depart_box .n3.active .depart_anchor{background-position:right 47.78%; background-size:446.46% 4352%;}
.depart_box .n4.active .depart_anchor{background-position:right 67.54%; background-size:253.46% 4352%;}
.depart_box .n5.active .depart_anchor{background-position:left 60.95%; background-size:353.6% 4352%;}

.depart_contents{position:relative; margin-top:33px; color:#333; font-size:17px; line-height:25px; letter-spacing:-0.05em;}
.depart_contents:before,.depart_contents:after{display:block; position:absolute; top:0; left:0;}
.depart_contents:before{width:10px; height:120px; background-color:#005ebe;}
.depart_contents:after{width:120px; height:10px; background-color:#3632a0;}
.depart_contents .inner{position:relative; min-height:120px; padding:37px 20px 32px 250px; border:1px dotted #404040;}
.depart_contents .inner:before,.depart_contents .inner:after{display:block; position:absolute; bottom:-1px; right:-1px;}
.depart_contents .inner:before{width:10px; height:120px; background-color:#005ebe;}
.depart_contents .inner:after{width:120px; height:10px; background-color:#3632a0;}

.depart_contents .depart_icon{display:block; position:absolute; top:50px; left:64px; width:125px; height:125px; border-radius:70px; background-color:#e7f4ff; background-image:url('/site/main/images/sub/sub_main_sprite.png'); background-position:left 88.78%; background-size:353.6% 870.4%; font-size:0; line-height:0;}
.depart_contents .depart_title{display:block; margin-bottom:13px; margin-left:-2px; color:#111; font-size:22px; line-height:26px; font-weight:600;}
.depart_bu{margin-top:27px; padding-top:18px; padding-bottom:13px; border-top-width:1px; border-bottom-width:1px; border-style:solid; border-color:#dce2e7; font-size:0; line-height:0;}
.depart_bu > li{display:inline-block; width:auto; margin-bottom:7px; color:#144d9b; font-size:17px; line-height:18px; vertical-align:middle;}
.depart_bu > li > a{display:inline-block; width:auto; height:auto; padding-left:0; padding-right:0; background:none; border:none; color:#144d9b;}
.depart_bu > li:after{display:inline-block; width:5px; height:13px; margin-left:19px; margin-right:19px; background-image:url('/site/main/images/sub/sub_main_sprite.png'); background-position:left 77.39%; background-size:8840% 8369.23%; vertical-align:middle;}
.depart_bu > li:last-child:after{display:none;}

.depart_box .depart_search{display:none;}

.depart_info{display:block; margin-top:23px;}
.depart_contents p{display:block;}
.depart_info > li{display:inline-block; margin-right:27px; margin-bottom:8px; color:#111; font-size:17px; line-height:18px; letter-spacing:0; vertical-align:top;}
.depart_info > li.call{margin-right:18px;}
.depart_info > li:last-child{margin-right:0;}
.depart_info > li:before{display:inline-block; width:26px; height:26px; margin-top:-2px; margin-right:6px; background-image:url('/site/main/images/sub/sub_main_sprite.png'); background-repeat:no-repeat; vertical-align:middle;}
.depart_info .address:before{background-position:left 93.22%; background-size:1700% 4184.61%;}
.depart_info .call:before{background-position:left 96.61%; background-size:1700% 4184.61%;}
.depart_info .call2:before{background-position:left 100%; background-size:1700% 4184.61%;}

@media all and (max-width:1280px){
    .depart_box{margin-top:65px; padding-left:5%; padding-right:5%; padding-bottom:44px;}
    .depart_box .depart_list{padding-top:50.4px;}
    .depart_box .depart_item{width:79.2px; height:20px; margin-left:24px; margin-right:24px;}
    .depart_box .depart_item.n4{width:145px;}
    .depart_box .depart_item.n5{width:100px;}
    .depart_box .depart_item:before{bottom:-5px; left:-6px; height:13px; padding-right:13px;}
    .depart_box .depart_item:after{top:9px; right:-28px; width:4px; height:4px;}
    .depart_contents{margin-top:25px; font-size:14px; line-height:20px;}
    .depart_contents:before{width:8px; height:96px;}
    .depart_contents:after{width:96px; height:8px;}
    .depart_contents .inner{padding:30px 5% 19px 200px;}
    .depart_contents .inner:after{width:96px; height:8px;}
    .depart_contents .inner:before{width:8px; height:96px;}
    .depart_contents .depart_icon{top:40px; left:51px; width:100px; height:100px;}
    .depart_contents .depart_title{margin-bottom:10px; font-size:18px; line-height:21px;}
    .depart_bu{margin-top:18px; margin-left:0; padding-top:12px; padding-bottom:2px;}
    .depart_bu > li{width:auto; margin-bottom:6px; padding-top:0; padding-left:0; font-size:14px; line-height:18px;}
    .depart_bu > li:after{width:4px; height:10.4px; margin-left:15.2px; margin-right:15.2px;}
    .depart_info{margin-top:18px;}
    .depart_info > li{font-size:14px; margin-right:19px;}
    .depart_info > li.call{margin-right:10px;}
    .depart_info > li:before{width:21px; height:21px; margin-top:-4px;}
}
@media all and (max-width:900px){
    #contents .prepare{margin-top:10px;}
    .depart_box #board{margin-top:10px;}
    .depart_box{margin-top:26px; padding-bottom:25px;}
    .depart_box .depart_list{padding-top:28px; padding-right:50px; padding-left:50px;}
    .depart_box .depart_item{width:33.33%; margin-bottom:9px; margin-right:0; margin-left:0;}
    .depart_box .depart_item.n3:after{display:none;}
    .depart_box .depart_item.n4{width:50%;}
    .depart_box .depart_item.n5{width:50%;}
    .depart_box .depart_item.n5,.depart_box .depart_item.n5{margin-bottom:5px;}
    .depart_box .depart_anchor{display:inline-block; width:58px; height:15px;}
    .depart_box .n4 .depart_anchor{width:108px;}
    .depart_box .depart_item.n5 .depart_anchor{width:73px;}
    .depart_box .depart_item:before{left:50%; bottom:2px; width:65px; height:10px; margin-left:-32px; padding-right:0;}
    .depart_box .depart_item:after{width:3px; height:3px; top:6px; right:-5px;}
    .depart_contents{margin-top:0; font-size:14px; line-height:18px;}
    .depart_contents:after{width:77px; height:6px;}
    .depart_contents:before{width:6px; height:77px;}
    .depart_contents .inner{padding-top:23px; padding-bottom:8px; padding-left:5%;}
    .depart_contents .inner:after{width:77px; height:6px;}
    .depart_contents .inner:before{width:6px; height:77px;}
    .depart_contents .depart_icon{position:relative; top:auto; left:auto; width:81px; height:81px; margin-right:auto; margin-left:auto;}
    .depart_contents .depart_title{display:block; margin-top:7px; font-size:14px; line-height:16px; text-align:center;}
    .depart_bu{margin-top:11px; padding-top:7px; padding-bottom:5px;}
    .depart_bu > li{margin-bottom:2px; font-size:14px;}
    .depart_bu > li:after{width:3px; height:8px; margin-right:13px; margin-left:13px;}
    .depart_info{margin-top:10px;}
    .depart_info > li{font-size:14px; line-height:16px;}
    .depart_info > li:before{width:20px; height:20px;}
}
@media all and (max-width:640px){
    .depart_box .depart_list{padding-right:20px; padding-left:20px;}
}