@charset "UTF-8";

/* 우리동 현황/역사 */
.cts2547 .box:before{background-image:url('/site/dong/images/contents/dong_mapicon.png');}
.sisterbox{padding:14px 40px 26px ; background-color:#f7f7f7; background-image:url('/site/dong/images/contents/dong_sisterbox_bg.jpg'); background-position:right bottom; background-repeat:no-repeat;}
.sisterbox .sister_item{position:relative; padding-top:24px;}
.sisterbox .sister_title{padding-bottom:14px; border-bottom:2px solid #283047; font-size:24px; font-weight:600; line-height:34px; letter-spacing:-0.03em; color:#283047;}
.sisterbox .sister_item a.btn{position:absolute; right:0; top:25px;}

/* 우리동 명소/문화소개 */
.cts2548 .box.img .text_cts{padding:6px 0 0 0;}
.cts2548 .box.img .text_cts p.warning{margin-top:10px;}
.cts2548 .box.img .text_cts ul{margin:20px 0;}

@media all and (max-width:640px){
    .sisterbox{padding:7px 25px 13px;}
    .sisterbox .sister_title{font-size:20px; line-height:30px;}
    .sisterbox .bu li .text br{display:none;}
}
