@charset "UTF-8";

@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


body{margin:0; font-family: 'S-CoreDream';}
.kiosk_wrap{position:relative; width:1080px; overflow:hidden;}
.kiosk_wrap .vertical_list .vertical_item{font-size:0; line-height:0;}
.kiosk_wrap .vertical_prograssBar{position:absolute; z-index:10; top:0; left:0; width:100%; height:3px; background-color:#0c59cd;}

.kiosk_vertical, .kiosk_top, .kiosk_bottom .bottom_right{position:relative;}
.kiosk_wrap .pagingInfo{position:absolute; bottom:20px; right:30px; padding:10px 20px; border-radius:21px; background-color:rgba(0,0,0,0.7); color:#fff; font-size:20px; line-height:22px;}
.slide_prograssBar{position:absolute; z-index:100; top:0; left:0; height:5px; background-color:#0c59cd;}
.slide_prograssBar.active{animation-name:prograssBar; animation-timing-function:linear;}
.kiosk_vertical .slide_item{width:100vw; height:100vh;}
.kiosk_vertical .pagingInfo{display:none;}

@keyframes prograssBar{
    0%{width:0;}
    100%{width:100%;}
}
.kiosk_vertical .slide_item img,
.kiosk_vertical a,
.kiosk_vertical .image,
.kiosk_vertical .visualpopup_item img {width:100%;}

/* kiosk1 */
.kiosk1 .kiosk_vertical .slide_item img,
.kiosk5 .kiosk_vertical .visualpopup_item img{height:100vh;}

/* kiosk2 */
.kiosk_mid{padding:60px 80px 56px;  background-color:#e2eeff;}
.kiosk_mid .mid_inner{position:relative; height:388px; padding:57px 65px 45px; border-radius:50px; background-color:#fff; box-shadow: 0px 12px 18px 0px rgba(168, 200, 246, 0.75);}
.kiosk_mid .mid_inner .mid_title{position:absolute; top:0; left:50%; padding:11px 36px; border-radius:26px; background-color:#104396; font-size:27px; line-height:29px; font-weight:600; color:#fff; transform:translate(-50%, -50%);}
.kiosk_mid .mid_inner .mid_table th{padding:14px 0; background-color:#2490f8; color:#fff; font-size:20px; line-height:22px; text-align:center;}
.kiosk_mid .mid_inner .mid_table th:first-child{width:145px;}
.kiosk_mid .mid_inner .mid_table th:nth-child(2){width:255px;}
.kiosk_mid .mid_inner .mid_table th:nth-child(3){width:229px;}
.kiosk_mid .mid_inner .mid_table th:last-child{width:161px;}
.kiosk_mid .mid_inner .mid_table td{padding:14px 0; border-bottom:1px solid #c4cbd2; color:#545454; font-size:16px; line-height:18px; text-align:center;}
.kiosk_bottom{margin-top:30px;}
.kiosk_bottom .bottom_left{float:left; width:600px; padding-left:33px; padding-right:47px;}
.kiosk_bottom .bottom_left .left_title{font-size:32px; line-height:34px; color:#212121; font-weight:600;}
.kiosk_bottom .bottom_left .left_title:before{display:inline-block; width:42px; height:42px; margin-right:15px; background:url('/site/kiosk/images/main/new_icon.png') no-repeat center/cover; vertical-align:-7px; content:'';}
.kiosk_bottom .bottom_left .slide_list{margin-top:20px;}
.kiosk_bottom .bottom_left .slide_list .slide_item{display:flex !important; padding:0 10px; justify-content:center; align-items:center; float:left; width:calc(50% - 10px) !important; margin-right:20px; margin-bottom:20px; height:110px; border:1px solid #c1c1c1; text-align:center; font-size:18px; line-height:28px; color:#212121; word-break: keep-all;}
.kiosk_bottom .bottom_left .slide_list .slide_item:nth-child(2n){margin-right:0;}
.kiosk_bottom .bottom_right{float:left; width:480px;}
.kiosk_bottom .bottom_right img{height:842px;}

/* kiosk3 */
.kiosk3{width:768px; padding:200px 59px 25px; background-color:#e2eeff;}
.kiosk3 .festival_wrap{position:relative;height: 978px;padding: 65px 56px 27px;background-color:#fff;border-radius:50px;box-shadow: 0 12px 18px 0 rgba(205, 221, 245, 0.75);text-align:center;}
.kiosk3 .festival_wrap:before{display:block; position:absolute; top:-155px; left:0; right:0; width:500px; height:185px; margin:0 auto; background:url('/site/kiosk/images/main/kiosk3_deco.png') no-repeat center/cover; content:'';}
.kiosk3 .festival_wrap .festival_desc{font-size: 18px;line-height:22px;color:#737c8b;text-align:center;}
.kiosk3 .festival_wrap .festival_data{display:inline-block;margin-top: 45px;padding: 12px 40px;border-radius:27px;background-color:#104396;font-size: 24px;line-height:29px;color:#fff;font-weight:600;}
.kiosk3 .festival_wrap .festival_info{margin-top: 27px;}
.kiosk3 .festival_wrap .festival_info th{padding:14px 10px; background-color:#2490f8; font-size:20px; line-height:22px; color:#fff; font-weight:600;}
.kiosk3 .festival_wrap .festival_info td{padding:14px 10px;border-bottom:1px solid #c4cbd2;font-size: 14px;line-height:18px;color:#545454;}
.kiosk3 .festival_wrap .festival_info td:first-child{width:145px;}
.kiosk3 .festival_wrap .festival_info td:nth-child(2){overflow-x:hidden; max-width:225px; white-space:nowrap; text-overflow:ellipsis;}
.kiosk3 .festival_wrap .festival_info td:nth-child(3){width:228px;}
.kiosk3 .festival_wrap .festival_info td:last-child{width:162px;}
.kiosk3 .footer_logo{margin-top:23px; text-align:center;}

/* kiosk3 팝업존 레이아웃 */
.kiosk4 .kiosk_wrap {width:100%;}
.kiosk4 .kiosk_wrap .slide_list img {width:100%;}

.kiosk5 .m_image {display:none;}

/* kiosk_new */
.kiosk_new {overflow:hidden; width:100%;}
.kiosk_new .vertical_list {position:absolute; left:0; width:30000px;}
.kiosk_new .vertical_list .visualpopup_item {float:left; width:1080px;}
.kiosk_new .vertical_list .visualpopup_item img{width:100%; height:100vh;}
.kiosk_new .vertical_list .visualpopup_item a,
.kiosk_new .vertical_list .visualpopup_item .image {width:100%;}

/* 성동구 선별진료소 실시간 대기현황 */
.kiosk6 {font-family:'NotoKr'}
.kiosk6 #wrapper {position:relative; width:1920px; height:1080px; background: linear-gradient(45deg, #6783db 0%,#2e4cac 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6783db', endColorstr='#2e4cac',GradientType=1 ); z-index:0}
.kiosk6 #wrapper:before,
.kiosk6 #wrapper:after {display:inline-block; position:absolute; content:''; z-index:-1}
.kiosk6 #wrapper:before {top:0; left:0; width:592px; height:675px; background:url('/site/kiosk/images/main/kiosk6_bg1.png') no-repeat 0 0;}
.kiosk6 #wrapper:after {top:0; right:0; width:771px; height:1084px; background:url('/site/kiosk/images/main/kiosk6_bg2.png') no-repeat 0 0;}
.kiosk6 .kiosk_wrap {position:relative; width:1610px; height:100%; margin:0 auto;}
.kiosk6 .kiosk_wrap h1 {margin-top:110px; font-size:66px; line-height:88px; color:#fff; font-weight:600;}
.kiosk6 .kiosk_wrap h1 span {color:#ffeb9d;}
.kiosk6 .kiosk_wrap .title_text {margin-top:10px; font-size:37px; line-height:47px; color:#fff; font-weight: 400;}
.kiosk6 .kiosk_wrap .title_text em {position:relative;}
.kiosk6 .kiosk_wrap .title_text em:before {display:inline-block; position:absolute; bottom:-11px; left:0; width:100%; height:2px; background:#fff; content:'';}
.kiosk6 .kiosk_wrap .title_text span {display: block; font-size: 0.7em; margin-top: 13px;}
.kiosk6 .kiosk_wrap .refresh_btn {position:absolute; top:123px; right:0; padding:0 48px; border:4px solid #fff; font-size:33px; line-height:66px; color:#fff;}
.kiosk6 .kiosk_wrap .refresh_btn span:before {display:inline-block; width:28px; height:27px; margin-right:8px; background:url('/site/kiosk/images/main/kiosk6_refresh.png') no-repeat 0 0; content:'';}

.kiosk6 .kiosk_wrap .cont_area {position:relative; margin-top:52px; text-align: center; }
.kiosk6 .kiosk_wrap .cont_box {display:inline-block; overflow:hidden; position:relative; width:calc(50% - 13px); margin-right:20px; background-color:#f0cbf6; z-index:0; text-align: left}
.kiosk6 .kiosk_wrap .cont_box:last-child {margin-right:0;}
.kiosk6 .kiosk_wrap .cont_box.n2 {background-color:#fdd8c7; margin-right:0;}
.kiosk6 .kiosk_wrap .cont_box.n3 {margin-right:0; background-color:#adeee6;}
.kiosk6 .kiosk_wrap .cont_box .title {position:relative; padding:75px 60px 0; margin-bottom:128px;}
.kiosk6 .kiosk_wrap .cont_box .title:before,
.kiosk6 .kiosk_wrap .cont_box .content:before {display:inline-block; position:absolute; content:''; }
.kiosk6 .kiosk_wrap .cont_box .title:before {top:45px; right:-73px; width: 293px; height: 293px; background:url('/site/kiosk/images/main/kiosk6_icon_template.png') no-repeat 0 0; z-index: -2}
.kiosk6 .kiosk_wrap .cont_box.n2 .title:before {background-position: -554px -3px;}
.kiosk6 .kiosk_wrap .cont_box.n3 .title:before {background-position: -1103px -3px;}
.kiosk6 .kiosk_wrap .cont_box .content {position:relative; padding:0 60px 95px; background-color:#fff; z-index:1}
.kiosk6 .kiosk_wrap .cont_box .content:before {width:0; height:0; top:-63px; left:0; border-bottom: 63px solid #fff; border-right: 1000px solid transparent; z-index:-1;}
.kiosk6 .kiosk_wrap .cont_box h2 {display:inline-block; padding:0 5px; background:url('/site/kiosk/images/main/kiosk6_title_line.png') repeat 0 0; font-size:37px; line-height:49px; color:#2a2a2a; text-align: center;}
.kiosk6 .kiosk_wrap .cont_box h2 br {display: none}
.kiosk6 .kiosk_wrap .cont_box .inner .call_text {font-size:30px; line-height:30px; color:#4e4e4e}
.kiosk6 .kiosk_wrap .cont_box .inner .call_num {margin-top:18px; font-size:69px; line-height:68px; color:#9d16b3; font-weight:600;}
.kiosk6 .kiosk_wrap .cont_box .inner .call_num span {font-size:67px; line-height:68px;}
.kiosk6 .kiosk_wrap .cont_box.n2 .inner .call_num {color:#ee4b04}
.kiosk6 .kiosk_wrap .cont_box.n3 .inner .call_num {color:#098777}
.kiosk6 .kiosk_wrap .cont_box .waiting_box {margin-top:34px; padding-top:43px; background:url('/site/kiosk/images/main/kiosk6_cont_line.gif') repeat-x 0 0; font-size:37px; line-height:37px; color:#404040; font-weight:500;}

.kiosk6 .kiosk_wrap .time_area {display:block;margin-top:20px; color:#4e4e4e; font-size:0; line-height:0;}
.kiosk6 .kiosk_wrap .time_area li {display:inline-block; position:relative; font-size: 25px; line-height: 25px; font-weight:300;}
.kiosk6 .kiosk_wrap .time_area li:first-child {margin-right:13px; padding-right:15px;}
.kiosk6 .kiosk_wrap .time_area li:first-child:before {display:block; position:absolute; top:5px; right:0; width:2px; height:20px; background-color:#adadad; content:''}
.kiosk6 .kiosk_wrap .cont_box.n3 .time_area li:first-child:before {display:none;}
.kiosk6 .kiosk_wrap .time_area li:last-child {color:#4661c1}

.kiosk6 .kiosk_wrap .screening_center_day {position: absolute; top: 16px; left: 25px;}
.kiosk6 .kiosk_wrap .screening_center_day li {float:left; position:relative; font-size: 20px;line-height: 24px;padding: 0 16px 0 14px; font-weight:500; color:#80408a;}
.kiosk6 .kiosk_wrap .cont_box.n2 .screening_center_day li {color:#945148;}
.kiosk6 .kiosk_wrap .cont_box.n3 .screening_center_day li {color:#09665a;}
.kiosk6 .kiosk_wrap .screening_center_day li:before {display: inline-block; position:absolute; right:0; top:4px; width:3px; height:17px; background:#fff;}
.kiosk6 .kiosk_wrap .screening_center_day li:first-child {padding-left:0;}
.kiosk6 .kiosk_wrap .screening_center_day li:last-child {padding-right:0;}
.kiosk6 .kiosk_wrap .screening_center_day li:last-child:before {display:none;}

/* 전자문진표작성버튼 */
.kiosk6 .write_btn {display:inline-block; position:absolute; bottom: -40px; left:60px; padding:4px 28px 5px 13px; font-size: 20px;background-color: #4e0d7e;color: #fff;vertical-align: top;}
.kiosk6 .cont_box.n2 .write_btn {background-color:#812e0a;}
.kiosk6 .cont_box.n3 .write_btn {background-color:#065e53;}
.kiosk6 .write_btn:before {display:inline-block; position:absolute; top:7px; right:11px; width:11px; height:17px; background:url('/site/kiosk/images/main/kiosk6_icon_arrow.png') no-repeat 0 0; content:'';}

.kiosk6 .warning_txt {position: absolute; top: 45px;font-size: 19px;font-weight: 500;background: rgba(233,157,157,0.5); color: #b50d0d;left: 25px;}
.kiosk6 .warning_txt.type2 {background: rgba(179, 157, 233, 0.5); color:#2f0db5;}

/* 접수마감 */
.kiosk6 .end_time {display:block; position:absolute; bottom:0; left:0; width:100%; font-size:0; line-height:0; background-color: #80408a;}
.kiosk6 .cont_box.n2 .end_time { background-color: #a5594f;}
.kiosk6 .cont_box.n3 .end_time { background-color: #09665a;}
.kiosk6 .end_time h3 {display:inline-block; width:55px; font-size:19px; line-height:22px; color:#fff; font-weight:400; text-align: center; vertical-align: middle;}
.kiosk6 .end_time .cont {display:inline-block; width:calc(100% - 55px); min-height:71px; padding:13px 12px; font-size:16px; line-height:22px; background-color:#edf0f8; vertical-align: middle;}
.kiosk6 .end_time .cont ul li {position:relative; margin-bottom:1px; padding-left:8px; font-weight: 400;}
.kiosk6 .end_time .cont ul li:last-child {margin-bottom:0;}
.kiosk6 .end_time .cont ul li:before {display:inline-block; position:absolute; top:10px; left:0; width:3px; height:3px; background-color: #404040;}
.kiosk6 .end_time .cont ul li strong {color:#404040}

.kiosk6 .warning_text {font-size: 24px; font-weight: 400; color: #ffd0d0; margin-top: 10px; word-break: keep-all}

@media all and (max-width:1300px){
    .kiosk6 {overflow:hidden; background: linear-gradient(45deg, #6783db 0%,#2e4cac 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6783db', endColorstr='#2e4cac',GradientType=1 ); }
    .kiosk6 #wrapper {width:100%; height:100%; background:none;}
    .kiosk6 .kiosk_wrap {width:100%; height:auto; padding:0 3%;}
    .kiosk6 .kiosk_wrap h1 {margin-top: 42px; font-size:30px; line-height:38px; text-align: center;}
    .kiosk6 .kiosk_wrap .title_text {font-size:26px; line-height: 34px; text-align: center;}
    .kiosk6 .kiosk_wrap .title_text em:before {bottom: -5px; height: 1px;}
    .kiosk6 .kiosk_wrap .refresh_btn {position:static; width:100%; border:2px solid #fff; border-top:none; background-color:rgba(255,255,255,0.09); font-size: 20px; line-height: 48px; text-align: center}
    .kiosk6 .kiosk_wrap .refresh_btn span:before {margin-right:0; transform: scale(0.7); vertical-align: sub;}
    .kiosk6 .kiosk_wrap .cont_area {margin-top:55px;}
    .kiosk6 .kiosk_wrap .cont_box {width:calc(50% - 10px); margin-right: 20px; margin-bottom:40px;}
    .kiosk6 .kiosk_wrap .cont_box h2 {font-size: 26px; line-height: 43px; background-size: 50% 50%;}
    .kiosk6 .kiosk_wrap .cont_box h2 br {display: inline-block}
    .kiosk6 .kiosk_wrap .cont_box .title {padding: 50px 30px 0; margin-bottom: 91px;}
    .kiosk6 .kiosk_wrap .cont_box .title:before {top:0; transform:scale(0.8)}
    .kiosk6 .kiosk_wrap .cont_box .content {padding: 0 30px 25px;}
    .kiosk6 .kiosk_wrap .cont_box .content:before {top: -41px; border-bottom: 41px solid #fff;}
    .kiosk6 .kiosk_wrap .cont_box .inner .call_text {font-size: 24px; line-height: 26px;}
    .kiosk6 .kiosk_wrap .cont_box .inner .call_num {margin-top: 7px; font-size: 35px;line-height: 45px;}
    .kiosk6 .kiosk_wrap .cont_box .inner .call_num span {margin-right:5px; font-size: 45px;line-height: 45px; }
    .kiosk6 .kiosk_wrap .cont_box .waiting_box {margin-top: 20px; padding-top: 26px; background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAYAAAAPDoR2AAAAGElEQVQYV2M8dOjQfzs7O0YGLIBxsEkCADoOGAdWlCnlAAAAAElFTkSuQmCC') repeat-x 0 0; font-size: 27px; line-height: 27px;}
    .kiosk6 .kiosk_wrap .time_area {margin-top:9px;}
    .kiosk6 .kiosk_wrap .time_area li {font-size: 20px;line-height: 23px;}

    .kiosk6 .kiosk_wrap .screening_center_day li {font-size:18px; line-height: 21px; padding: 0 11px 0 9px;}
    .kiosk6 .kiosk_wrap .screening_center_day li:before {width:1px; height:14px;}

    .kiosk6 .warning_txt {top: 35px; font-size: 16px;}

    /* 접수마감 */
    .kiosk6 .end_time {position:static; margin-top:20px;}
    .kiosk6 .end_time ul li { word-break: keep-all}


    .kiosk6 .warning_text {font-size:18px; text-align: center; text-shadow: 1px 1px 3px rgba(0,0,0,0.5);}
}

@media all and (max-width:1000px){
    .kiosk6 .kiosk_wrap .time_area li {font-size:17px; }
    .kiosk6 .kiosk_wrap .time_area li:first-child {margin-right: 7px;padding-right: 11px;}
    .kiosk6 .kiosk_wrap .time_area li:first-child:before {top: 5px; width: 1px; height: 15px;}
}

@media all and (max-width:880px){
    .kiosk6 #wrapper {overflow-y: scroll;}
    .kiosk6 .kiosk_wrap .cont_box {width:100%; margin-right:0;}
    .kiosk6 .kiosk_wrap .cont_box .title {padding: 44px 30px 0;margin-bottom: 61px;}
    .kiosk6 .kiosk_wrap .cont_box .title:before {top: -37px;transform: scale(0.6);}
    .kiosk6 .kiosk_wrap .cont_box .content:before {border-right: 902px solid transparent;}
}

@media all and (max-width:640px){
    .kiosk6 .kiosk_wrap h1 {margin-top: 35px; word-break: keep-all }
    .kiosk6 .kiosk_wrap .cont_area {margin-top: 41px;}
    .kiosk6 .kiosk_wrap .title_text {position:relative; padding:5px; font-size: 21px; line-height: 28px; word-break: keep-all; z-index:0;}
    .kiosk6 .kiosk_wrap .title_text:before {display: inline-block; position:absolute; top:0; left:-100px; width:calc(100% + 200px); height:100%; background-color:rgba(0,0,0,0.5); z-index:-1}
    .kiosk6 .kiosk_wrap .title_text em:before {bottom: 0px;}
    .kiosk6 .kiosk_wrap .screening_center_day {top: 13px; left: 16px;}
    .kiosk6 .kiosk_wrap .screening_center_day li {font-size: 15px; line-height: 21px; padding: 0 7px 0 5px; }

    .kiosk6 .write_btn {position: relative; bottom: 0; left: 0; margin-top:10px; padding: 2px 25px 3px 13px; font-size:15px;}
    .kiosk6 .write_btn:before {right:4px; transform: scale(0.7)}

    .kiosk6 .kiosk_wrap .title_text span {margin-top:5px;}
    .kiosk6 .warning_txt,
    .kiosk6 .warning_txt.type2 {position: static; display: block;margin-left: -15px;background: none;margin-top: -10px;}
}
/*
.kiosk6 .kiosk_wrap .time_area {display:block; position:absolute; bottom:0; left:0; width:100%; padding:35px 0; background-color:rgba(255,255,255,0.05); border:2px solid #fff; border-bottom:none; text-align:center; color:#fff; font-size:0; line-height:0;}
.kiosk6 .kiosk_wrap .time_area li {display:inline-block; position:relative; font-size:35px; line-height:35px; font-weight:300;}
.kiosk6 .kiosk_wrap .time_area li:first-child {margin-right:23px; padding-right:30px;}
.kiosk6 .kiosk_wrap .time_area li:first-child:before {display:block; position:absolute; top:5px; right:0; width:3px; height:30px; background-color:#fff; content:''}
.kiosk6 .kiosk_wrap .time_area li:last-child {color:#fff0b5}*/

.em_red {color: #c70909}