/* (주)한신정보기술 송경배 - 2020.05.19 */

/* 초기화 */
a:link{color:#555; text-decoration:none;}
a:visited{color:#555; text-decoration:none;}
a:hover{color:#555; text-decoration:none;}
a:focus{text-decoration:underline;}
a:active{color:#555; text-decoration:none;}

video, audio{display:block; width:100%;}
iframe, textarea{width:100%; max-height:100%;}
textarea{max-width:100%;}
mark{background-color:transparent; color:inherit;}
[type='checkbox'], [type='radio'], select{cursor:pointer;}
[disabled], [readonly]{cursor:default;}
button, input, optgroup, select, textarea{border-width:0; font-weight:200;}
select{overflow:visible; background-color:transparent;}
@media screen and (max-width:768px){
    .skip, caption, legend{overflow:hidden; font-size:0 !important;}
}

/* 레이아웃 공통 */
html, body{position:relative; height:100%;}
#wrapper{overflow:hidden; position:relative; width:100%; min-width:1280px;}
body{background-color:#fff; color:#555; font-size:16px; line-height:24px; font-weight:200; letter-spacing:-0.03em; font-family:'NotoKr', 'Malgun Gothic', '맑은 고딕', 'Dotum', '돋움', 'Gulim', '굴림', sans-serif; word-wrap:break-word; -webkit-text-size-adjust:none;}
@media all and (max-width:640px){
    body{font-size:14px; line-height:22px;}
}
.wrap{position:relative; width:1280px; margin-right:auto; margin-left:auto;}
@media all and (max-width:1280px){
    #wrapper{min-width:1000px;}
    .wrap{width:1000px;}
}
@media all and (max-width:1000px){
    #wrapper{min-width:0;}
    .wrap{width:auto; margin-right:0; margin-left:0; padding-right:3%; padding-left:3%;}
}

/* 상단 */
#header{position:relative; z-index:30; width:100%; background-color:#fff;}

/* 본문 */
#container{position:relative; z-index:10; width:100%; background-color:#fff;}

/* 하단 */
#footer{position:relative; z-index:20; width:100%; background-color:#fff;}

/* screen */
#screen{visibility:hidden; overflow:scroll; position:absolute; width:100px; height:100px;}

/* slick */
.slick-slider{position:relative;}
.slick-list{overflow:hidden; position:relative;}
.slick-track{position:relative; top:0; left:0; margin-right:auto; margin-left:auto;}
.slick-track:before, .slick-track:after{display:table;}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none; float:left;}
.slick-slide.slick-loading img{display:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;}

/* 탭메뉴 */
/*
.tab_menu{overflow:hidden; position:relative;}
.tab_nav{position:relative; z-index:20;}
.tab_list{position:relative;}
.tab_list.center{fonts-size:0; text-align:center;}
.tab_list.clearfix > .tab_item {float:left;}
.tab_list.center > .tab_item {display:inline-block; vertical-align:top;}
.tab_contents{position:relative; z-index:10;}
.tab_content{display:none;}
.tab_content.active {display:block;}
.tab_item > .tab_content{position:absolute;}
*/

/* 본문 바로가기 */
.accessibility{position:fixed; top:0; left:0; z-index:16777271; width:100%;}
.accessibility a{display:block; overflow:hidden; position:relative; height:0; padding-right:5px; padding-left:5px; text-align:center;}
.accessibility a:focus{height:auto; padding-top:5px; padding-bottom:5px; background-color:#000; color:#fff;}

/* 만족도조사 및 담당자 정보 */
.satisfaction{margin-top:50px; margin-bottom:50px; border:1px solid #e9e9e9; color:#666; font-size:15px; line-height:22px;}
.satisfaction .manager_info{overflow:hidden; position:relative; padding:15px 3%;}
.satisfaction .manager_info ul{margin-top:-5px; margin-left:-45px;}
.satisfaction .manager_info ul li{float:left; margin-top:5px; margin-left:45px;}
.satisfaction .manager_info ul li span{display:inline-block; position:relative; margin-right:10px; padding-right:11px; color:#000;}
.satisfaction .manager_info ul li span:before{display:block; position:absolute; top:4px; right:0; width:1px; height:15px; background-color:#ccc;}
.satisfaction .satisfaction_list{padding:20px 3% 11px; background-color:#f7f7f7;}
.satisfaction .question{padding-bottom:6px; padding-left:36px; background:url('/common/images/program/comment_smile.png') no-repeat left top; color:#000;}
.satisfaction .satisfaction_list label{margin-right:20px; vertical-align:middle;}
.satisfaction .satisfaction_list label:last-child{margin-right:0;}
.satisfaction .satisfaction_list .input_radio{margin-top:8px;}
.satisfaction .satisfaction_list .opinion{position:relative; margin-top:8px; padding-right:115px;}
.satisfaction .satisfaction_list .opinion [type='text']{display:block; width:100%; height:39px; padding-right:5px; padding-left:10px; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1;}
.satisfaction .satisfaction_list .opinion_submit{display:block; position:absolute; top:0; right:0; width:115px; height:100%;}
.satisfaction .satisfaction_list .opinion [type='submit']{display:block; width:100%; height:100%; padding:5px; border:1px solid #5f6a89; background-color:#f2f4f7; color:#000;}
.satisfaction .limit{margin-top:7px; color:#333; font-size:13px; line-height:20px;}
.satisfaction .kogl_open{padding:13px 3% 15px;}
.satisfaction .kogl_open img{margin-right:20px;}
.satisfaction .kogl_open em{display:inline;}
@media all and (max-width:640px){
    .satisfaction{margin-top:25px; margin-bottom:25px;}
    .satisfaction .manager_info ul{margin-left:-30px;}
    .satisfaction .manager_info ul li{margin-left:30px;}
}

/* 메뉴 */
.menu.init, .menu.init:before, .menu.init:after, .menu.init .depth, .menu.init .depth:before, .menu.init .depth:after, .menu.init .depth_list, .menu.init .depth_list:before, .menu.init .depth_list:after, .menu.init .depth_item, .menu.init .depth_item:before, .menu.init .depth_item:after, .menu.init .depth_text, .menu.init .depth_text:before, .menu.init .depth_text:after, .menu.init .depth_title, .menu.init .depth_title:before, .menu.init .depth_title:after{transition-property:all; transition-duration:0.25s; transition-timing-function:linear;}
.menu, .menu .depth, .menu .depth_list, .menu .depth_item, .menu .depth_text{position:relative;}
.menu{font-size:0; line-height:0;}
.menu .depth:not(.depth1){visibility:hidden; opacity:0; overflow:hidden;}
.menu .depth1{z-index:30;}
.menu .depth_list{z-index:10;}
.menu .depth_text{display:inline-block;}

/* 1, 2차 메뉴 배경 */
.menu.before:before, .menu.after:after{display:block; position:absolute;}
.menu.before:before{z-index:10;}
.menu.after:after{z-index:20;}

/* 제목 상자 */
.menu .depth_title{overflow:hidden; position:absolute; z-index:20;}

/* 옵션 */
.menu .depth1.clearfix .depth1_list{float:right;}
.menu .depth_list.clearfix > .depth_item{float:left;}
.menu .depth_list.cut > .depth_item{display:inline-block; vertical-align:top;}

/* 풀 다운 */
.menu.pulldown .depth1{height:inherit;}
.menu.pulldown .depth1_list, .menu.pulldown .depth1_item{height:inherit;}
.menu.pulldown .depth2{position:absolute; bottom:0; left:0; width:100%;}

/* 이치 다운 */
.menu.eachdown .depth1{height:inherit;}
.menu.eachdown .depth1_list, .menu.eachdown .depth1_item{position:static; height:inherit;}
.menu.eachdown .depth2{position:absolute; bottom:0; left:0; width:100%;}

/* 드롭 다운 */
.menu.dropdown .depth2{position:absolute; top:100%; left:0; width:100%; transform-origin:center top; transform:scaleY(0);}

/* 주메뉴 */
.lnb{font-size:0; line-height:0;}
@media all and (min-width:1001px){
    /* 메뉴 열기, 메뉴 닫기 */
    .lnb .menu_show, .lnb .menu_hide{display:none;}
}
@media all and (max-width:1000px){
    /* 1, 2차 메뉴 배경 */
    .menu.before:before, .menu.after:after{display:none;}

    /* 제목 상자 */
    .menu .depth_title{display:none;}

    /* 옵션 */
    .menu .depth1.clearfix .depth1_list{float:none;}
    .menu .depth_list.clearfix > .depth_item{float:none;}
    .menu .depth_list.cut > .depth_item{display:block;}

    /* 풀 다운 */
    .menu.pulldown .depth1, .menu.pulldown .depth1_list, .menu.pulldown .depth1_item{height:auto;}
    .menu.pulldown .depth2{position:relative; bottom:auto; left:auto;}

    /* 이치 다운 */
    .menu.eachdown .depth1{height:auto;}
    .menu.eachdown .depth1_list, .menu.eachdown .depth1_item{position:relative; height:auto;}
    .menu.eachdown .depth2{position:relative; bottom:auto; left:auto;}

    /* 드롭 다운 */
    .menu.dropdown .depth2{position:relative; top:auto; left:auto; transform:scaleY(1);}

    /* 메뉴 영역 */
    .lnb:before{display:block; visibility:hidden; opacity:0; position:fixed; top:0; left:0; z-index:40; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.7); transition-property:visibility, opacity; transition-duration:0.25s; transition-timing-function:linear;}
    .lnb .menu{visibility:hidden; overflow-x:hidden; overflow-y:auto; position:fixed; top:0; right:-302px; z-index:50; width:302px; height:100%; transition-property:visibility, right; transition-duration:0.25s; transition-timing-function:linear;}
    .lnb .wrap{padding-right:0; padding-left:0;}

    /* 메뉴 열었을 때 */
    .lnb_show, .lnb_show body{overflow:hidden;}
    .lnb_show .lnb .menu{visibility:visible; right:0;}
    .lnb_show .lnb:before{visibility:visible; opacity:1;}

    /* 1차 메뉴 */
    .lnb .menu .depth1{z-index:10;}

    /* 열기 버튼 */
    .lnb .menu_show{position:absolute; z-index:30;}

    /* 닫기 버튼 */
    .lnb .menu_hide{position:absolute; z-index:30;}
}

/* gnb */
.gnb{position:relative; z-index:30; width:100%; font-size:0; line-height:0; background-color:#fff;}

/* gnb 사이트 */
.gnb .site_item{display:inline-block; margin-left:5px; padding:6px 15px 9px 15px; background-color:#e2e7eb; border-bottom-left-radius:10px; border-bottom-right-radius:10px; text-align:center;}
.gnb .site_item:first-child{margin-left:0;}
.gnb .site_anchor{display:block; position:relative; color:#414242; font-size:14px; line-height:24px; letter-spacing:-0.025em;}
.gnb .site_anchor:hover{text-decoration:underline;}
.gnb .site_item.n1{background:#2fa7f5; background:-moz-linear-gradient(-45deg, #2fa7f5 0%, #1f8cdb 50%, #0a68b8 100%); background:-webkit-linear-gradient(-45deg, #2fa7f5 0%,#1f8cdb 50%,#0a68b8 100%); background:linear-gradient(135deg, #2fa7f5 0%,#1f8cdb 50%,#0a68b8 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2fa7f5', endColorstr='#0a68b8',GradientType=1);}
.gnb .site_item.n1 .site_anchor{padding-left:37px; color:#fff; }
.gnb .site_item.n1 .site_anchor:before{display:block; position:absolute; top:0; left:0; width:29px; height:24px; background:url('/common/images/layout/gnb_sprite.png') no-repeat 0 0;}

/* 로고 */
#header .logo{position:relative; width:100%; padding-top:26px; padding-bottom:23px; background-color:#fff; line-height:0;}
#header .logo_anchor{position:relative; z-index:30;}
#header .logo_image{display:inline-block; margin-left:2px; vertical-align:top;}
#header .logo_name{display:inline-block; margin-left:15px; color:#262626; font-family:'SDGothic'; font-size:22px; line-height:42px; letter-spacing:-0.03em; vertical-align:top;}
@media all and (max-width:1000px) {
    #header .logo{z-index:30; padding-top:20px; padding-bottom:20px;}
}
@media all and (max-width:640px) {
    #header .logo{padding-top:19px; padding-bottom:19px;}
    #header .logo_image img{width:82px;}
    #header .logo_name{margin-left:11px; font-size:16px; line-height:26px;}
}

/* 하단 */
#footer{padding-bottom:45px;}

/* 하단 사이트 */
#footer .site{position:relative; background-color:#ccc; width:100%;}
#footer .site:before{display:block; position:absolute; top:0; left:50%; width:100vw; height:100%; margin-left:-50vw; background-color:#252525;}
#footer .site_list{position:relative; z-index:10; line-height:0;}
#footer .site_item{float:left; width:20%;}
#footer .site_open{position:relative; width:100%; color:rgba(255, 255, 255, 0.7); text-align:left; font-size:16px; line-height:18px; letter-spacing:-0.03em;}
#footer .site_open:before{display:block; position:absolute; top:0; bottom:0; right:22px; z-index:10; width:12px; height:7px; margin-top:auto; margin-bottom:auto; background-image:url('../images/layout/site_sprite.png'); background-repeat:no-repeat; background-position:left top;}
#footer .site_open:after{display:none; position:absolute; top:0; left:0; width:100%; height:100%; background-color:#536281;}
#footer .site_open span{display:block; position:relative; z-index:10; padding:22px 33px 24px 20px;}
#footer .site_open span:before{display:block; position:absolute; top:0; bottom:0; left:0; width:1px; height:22px; margin-top:auto; margin-bottom:auto; background-color:#515151;}
#footer .site_item:first-child .site_open span:before{display:none;}
#footer .site_panel{overflow:hidden; display:none; position:absolute; bottom:100%; left:50%; width:100vw; margin-left:-50vw; background-color:#536281;}
#footer .site_panel .wrap:after{display:block; position:absolute; bottom:0; left:100%; width:464px; height:212px; margin-left:20px; background:url('/common/images/layout/site_deco.gif') no-repeat;}
#footer .site_panel ul{position:relative; margin-left:-30px; padding-top:23px; padding-bottom:33px;}
#footer .site_panel li{float:left; width:20%; padding-left:30px;}
#footer .site_panel a{display:block; position:relative; padding:8px 10px 8px 20px; border-bottom:1px solid #75819a; color:#bac0cb; font-size:15px; line-height:17px; letter-spacing:-0.025em;}
#footer .site_panel a:after{display:block; position:absolute; top:0; bottom:0; right:10px; width:10px; height:7px; margin-top:auto; margin-bottom:auto; background-image:url('../images/layout/site_sprite.png'); background-repeat:no-repeat; background-position:left -34px;}
#footer .site_panel a:hover{border-color:#fff; color:#fff;}
#footer .site_panel a:hover:after{background-position:left -51px;}
#footer .site_item.n2 .site_panel{padding-left:150px; padding-right:150px;}
#footer .site_item.n2 .site_panel li{width:25%;}
#footer .site_close{display:none;}

/* 하단 사이트 활성화 */
#footer .site_item.active{background-color:#536281;}
#footer .site_item.active .site_open:before{background-position:left -17px;}
/*#footer .site_item.active .site_open:after{display:block;}*/
/*#footer .site_item.active .site_panel{display:block;}
#footer .site_item.active .site_panel:before{visibility:visible; opacity:1;}*/

@media all and (min-width:800px){
    #footer .site_item.active .site_open span:before,
    #footer .site_item.active + .site_item .site_open span:before{display:none;}
}
@media all and (max-width:1280px) {
    #footer .site_panel{background-image:none;}
    #footer .site_open span{padding-top:18px; padding-bottom:18px; font-size:15px; line-height:17px;}
    #footer .site_item.n2 .site_panel{padding-left:0; padding-right:0;}
    #footer .site_panel:after{display:none;}
    #footer .site_panel li{width:25%;}
}
@media all and (max-width:1000px) {
    #footer .site_open span{padding-left:14px; padding-right:26px;}
    #footer .site_open span:before{right:14px;}
    #footer .site_panel li{width:33.33%;}
}
@media all and (max-width:800px) {
    #footer .site .wrap{padding-left:0; padding-right:0;}
    #footer .site_item{width:50%;}
    #footer .site_open:after{width:100vw;}
    #footer .site_open span{padding-left:20px; padding-right:0;}
    #footer .site_open span:before{display:none; left:auto; right:0; height:100%;}
    #footer .site_open span:after{display:block; position:absolute; bottom:0; left:50%; width:100vw; height:1px; margin-left:-50vw; background-color:#515151;}
    #footer .site_item:nth-child(-2n+5) .site_open:after{left:auto; right:0;}
    #footer .site_item:nth-child(-2n+5) .site_open span:before{display:block;}
    /*#footer .site_item:nth-child(-2n+4) .site_open span{padding-left:20px;}
    #footer .site_item:nth-child(-2n+4) .site_open:before{right:0;}*/
    #footer .site_panel{overflow-y:auto; left:50%; width:100vw; max-height:300px; margin-left:-50vw; padding-top:0; padding-bottom:0;}
    #footer .site_panel li{width:50%;}
    #footer .site_item.n2 .site_panel li{width:50%;}
}
@media all and (max-width:640px) {
    #footer .site_open span{padding-top:14px; padding-bottom:14px; font-size:14px; line-height:16px;}
    #footer .site_panel a{font-size:14px;}
    /*#footer .site_panel li{width:100%;}*/
}
@media all and (max-width:480px) {
    #footer .site_panel ul{margin-left:-20px;}
    #footer .site_panel li{padding-left:20px;}
    #footer .site_item.n4 .site_panel li,
    #footer .site_item.n5 .site_panel li{width:100%;}
}

/* 하단 링크 */
#footer .link{position:relative;}
#footer .link:before{display:block; position:absolute; bottom:0; left:50%; width:100vw; height:1px; background-color:#c7c7c7; margin-left:-50vw;}
#footer .link_item{float:left; position:relative; padding:19px 20px 19px 20px;}
#footer .link_item:before{display:block; position:absolute; top:0; bottom:0; left:0; width:1px; height:15px; margin-top:auto; margin-bottom:auto; background-color:#b1b1b1; transform:rotate(35deg);}
#footer .link_item:first-child:before{display:none;}
#footer .link_anchor{display:block; padding-top:1px; color:#616161; font-size:15px; letter-spacing:-0.03em;}
#footer .link_item.n2 .link_anchor{color:#015acd;}
@media all and (max-width:1280px){
    #footer .link_item{padding-left:12px; padding-right:12px;}
}
@media all and (max-width:1000px) {
    #footer .link{padding-top:16px; padding-bottom:16px; text-align:center;}
    #footer .link_list{padding-top:1px;}
    #footer .link_item{width:25%; margin-left:-1px; margin-top:-1px; padding:9px 0; border:1px solid #acacac;}
    #footer .link_item:before{display:none;}
    #footer .link_anchor{font-size:14px; line-height:16px;}
}
@media all and (max-width:800px) {
    #footer .link_item{width:33.33%;}
}
@media all and (max-width:640px) {
    #footer .link_item{width:50%; padding-top:7px; padding-bottom:7px;}
    #footer .link_anchor{font-size:13px; line-height:15px;}
}
@media all and (max-width:340px) {
    #footer .link_item{width:40%;}
    #footer .link_item:nth-child(-2n+7){width:60%;}
}

/* 하단 상단으로 */
#footer .up,
#footer .up .up_button{transition-property:all; transition-duration:0.25s; transition-timing-function:linear;}
#footer .up{position:absolute; top:-180px; right:0; width:86px; height:86px; margin-bottom:30px; margin-left:30px; margin-right:-120px; padding-top:7px; padding-left:7px; background-color:rgba(37, 37, 37, 0.15); border-radius:50%; transition-property:top, margin-right, background-color;}
#footer .up .up_button{display:block; position:relative; width:72px; height:72px; background-color:#252525; border-radius:50%; font-size:0; line-height:0;}
#footer .up .up_button:before{display:block; position:absolute; top:0; bottom:0; left:0; right:0; width:24px; height:28px; margin:auto; background-image:url('/common/images/layout/up_sprite.png'); background-repeat:no-repeat; background-size:100% 100%;}
@media all and (min-width:1501px){
    /* 최하단 일때 */
    #footer .up.bottom{top:-75px; background:none;}
    #footer .up.bottom .up_button{background:none;}
}
@media all and (max-width:1500px) {
    #footer .up{margin-right:0;}
}
@media all and (max-width:800px) {
    #footer .up{top:-275px; right:3%;}
}
@media all and (max-width:640px) {
    #footer .up{top:170px; width:52px; height:52px; padding-top:4px; padding-left:4px;}
    #footer .up .up_button{width:44px; height:44px;}
    #footer .up .up_button:before{width:16px; height:17px;}
}

/* 하단 정보 */
#footer .footer_content{margin-top:26px;}
#footer .logo{display:inline-block; margin-left:10px; vertical-align:top;}
#footer .logo_image{display:inline-block; vertical-align:top;}
#footer .logo_name{display:inline-block; margin-left:15px; color:#868686; font-family:'SDGothic'; font-size:22px; line-height:42px; letter-spacing:-0.025em; vertical-align:top;}
#footer .footer_info{display:inline-block; margin-top:8px; margin-left:49px; vertical-align:top; color:#5a5a5a; font-size:15px; line-height:24px; letter-spacing:-0.04em;}
#footer .tel.n1{padding-left:16px;}
#footer .divide{padding-left:2px; padding-right:2px;}
@media all and (max-width:1280px) {
    #footer .logo{vertical-align:middle;}
    #footer .footer_info{vertical-align:middle;}
    #footer .tel.n2{display:block;}
    #footer .divide{display:none;}
}
@media all and (max-width:1000px) {
    #footer .footer_content{margin-top:17px;}
    #footer .logo{display:block;}
    #footer .footer_info{display:block; margin-top:17px; margin-left:11px;}
    #footer .divide{display:inline-block;}
    #footer .tel.n2{display:inline-block;}
}
@media all and (max-width:820px) {
    #footer .divide{display:none;}
}
@media all and (max-width:640px) {
    #footer .footer_content{margin-top:20px;}
    #footer .logo_image img{width:83px; height:28px;}
    #footer .logo_name{padding-top:2px; font-size:16px; line-height:28px;}
    #footer .footer_info{font-size:13px; line-height:23px;}
    #footer .tel.n1{display:block; padding-left:0;}
    #footer .copyright{margin-top:13px; vertical-align:middle; font-size:13px; line-height:15px;}
}