@CHARSET "euc-kr";

body {
	font-size: 12px;
	scrollbar-face-color: #9BC3DD;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF
}

img {
	border: 0px;
	vertical-align:middle;
}

div {
	FONT-FAMILY: "돋움", "Verdana";
}

select {
	vertical-align:middle;
}

input {
	vertical-align:middle;
}

A:link, A:visited {	text-decoration: none; 	color: #000000; }
A:hover { text-decoration: none; color: #000000; }

form {
	margin: 0px;
}

.InputCheckBox {
	vertical-align:middle;
}

.InputText {
	border:solid 1px #CCCCCC;
	height:19px;
	vertical-align:middle;
}

.InputButton {
	border:solid 1px #B2B2B2;
	height:21px;
	background-color: #F2F2F2;
}

.top_table {
	width: 100%;
}

.top_table td {
	font-size: 12px;
}

#logout {
	background: url(./images/icon_x.gif) 0px 0px no-repeat;
	padding-left: 20px;
}

#navi {
	background: url(./images/icon_arrow_r.gif) 0px 0px no-repeat;
	padding-left: 23px;
}

table td {
	font-size: 12px;
	font-family: 돋움,돋움체;
}

.top A:link {
	text-decoration: none;
	color: #000000;
}

.top A:visited {
	text-decoration: none;
	color: #000000;
}

.menu A:link {
	text-decoration: none;
	color: #FFFFFF;
}

.menu A:visited {
	text-decoration: none;
	color: #FFFFFF;
}

#menu_bg {
	background: url(./images/menu_bg.gif) repeat-x;
}

#menu_user {
	background: url(./images/menu_user.gif) no-repeat;
	color: #FFFFFF;
}

#menu_user_txt {
	padding: 6px 0px 0px 45px;
}

#menu_item_bg {
	padding: 8px 0px 0px 8px;
}

#menu_item_txt {
	height: 18px;
	padding: 3px 0px 0px 20px;
	color: #FFFFFF;
}

.sub_menu {
	padding: 10px 10px 0px 10px;
}

.contents {
	margin-top: 10px;
}

.sub_menu A:link {
	text-decoration: none;
	color: #000000;
}

.sub_menu A:visited {
	text-decoration: none;
	color: #000000;
}

#sub_menu_ul {
	list-style: none;
	list-style-position: outside;
	margin: 0px;
}

.sub_menu_li {
	padding: 5px;
	background: url(./images/sub_menu_bg.gif) 0px 0px repeat-x;
	list-style-position: outside;
	display: inline;
	height: 22px;
	margin-right: 1px;
}

.sub_menu_li_on {
	padding: 5px;
	background: url(./images/sub_menu_bg_on.gif) 0px 0px repeat-x;
	list-style-position: outside;
	display: inline;
	height: 22px;
	margin-right: 1px;
}

.Table_List2 { border: 2px solid #7CB6E8; border-collapse: collapse; }
.Table_List2 CAPTION { display: none; }
.Table_List2 TD { border-bottom: 1px solid #BDDAF3; padding:5px; }
.Table_List2 TH { border-bottom: 1px solid #BDDAF3; background-color: #E3E9F2; height: 25px; }

.TableV { background-color: #D8DBDE; }
.TableV TH { height: 24px; border-top: solid 2px #9BC3DD; background-color: #F6F7F8; font-size: 12px; font-family: 돋움,돋움체 }
.TableV TD { font-size: 12px; font-family: 돋움,돋움체 }

.TableI { background-color: #D8DBDE; border-top: solid 2px #9BC3DD; }
.TableI TH { height: 24px; background-color: #F6F7F8; font-size: 12px; font-family: 돋움,돋움체 }
.TableI TD { background-color: #FFFFFF; font-size: 12px; font-family: 돋움,돋움체 }

.TableS { background-color: #D8DBDE; border-top: solid 1px #9BC3DD; }
.TableS TH { background-color: #F6F7F8; font-size: 12px; font-family: 돋움,돋움체 }
.TableS TD { background-color: #FFFFFF; font-size: 12px; font-family: 돋움,돋움체 }

.MenuNavi { background: url('./images/icon_menu_bult.gif') 10px 8px no-repeat #F6F7F8; border:solid 2px #9BC3DD; padding: 5px 5px 5px 25px; margin-bottom:10px; font-weight:bold; }
.Controls { border:solid 1px #9BC3DD; background-color:#F6F7F8; margin-top:10px; text-align:right }
#indispensable { font-weight:bold; color:RED; }
#table_bult { background: url('./images/icon_bult.gif') 10px 8px no-repeat #F6F7F8; padding-left: 20px; }
#warning { background: url('./images/icon_warning.gif') 8px 0px no-repeat #FFFFFF; padding-left: 25px; color:#AAAAAA; flat:left }
#part_title_bg { background: url('./images/bg_part_title.gif'); }

#part_title { background: url('./images/icon_part_sub.gif') 10px 2px no-repeat; padding: 2px 0px 0px 30px; height:27; }

#part_title2 { background: url('./images/icon_part_sub.gif') 10px 8px no-repeat; padding: 3px 0px 0px 30px; height:27; }
#menu_title { background: url('./images/icon_menu_sub.gif') 10px 8px no-repeat; padding: 9px 0px 0px 30px; height:27; }
#menu_title2 { background: url('./images/icon_menu_sub.gif') 10px 8px no-repeat; padding: 3px 0px 0px 30px; height:27; }
#staff_title_bg { background: url('./images/bg_part_title.gif'); }
#staff_title { background: url('./images/btn_c_add.gif') 10px 9px no-repeat; padding: 9px 0px 0px 30px; height:27; }
.PartSelected { color:#000000; background:#000080;}
.PartSelectNone { background-color:#FFFFFF; color:#000000; }
#bult2 { background: url('./images/icon_bult2.gif') 0px 6px no-repeat; padding: 5px 5px 5px 15px; margin: 10px 10px 0px 10px; font-weight:bold;}




/* Anchor Button */
a.button,
a.button span { position:relative; display:inline-block; text-decoration:none !important; background:url(images/buttonWhite.gif) no-repeat; cursor:pointer; white-space:nowrap; vertical-align:middle; *vertical-align:top;}
a.button { padding:0; background-position:left top; overflow:visible;}
a.button span { left:2px; padding:6px 10px 5px 8px; color:#000; font:12px/12px Sans-serif; background-position:right top;}
a.button, x:-moz-any-link { font:0/23px Sans-serif; padding:12px 0; top:1px;} /* Firefox 2 Fix */
a.button, x:-moz-any-link, x:default { padding:0; top:0;} /* Firefox 2 Fix */
/* Large Size */
a.button.large { background-position:left -30px; }
a.button.large span { padding:7px 10px 6px 8px; font:16px/16px Sans-serif; background-position:right -30px;}
a.button.large, x:-moz-any-link { font:0/29px Sans-serif; padding:15px 0;} /* Firefox 2 Fix */
a.button.large, x:-moz-any-link, x:default { padding:0;} /* Firefox 2 Fix */
/* xLarge Size */
a.button.xLarge { background-position:left -65px; }
a.button.xLarge span { padding:8px 10px 7px 8px; font:20px/20px Sans-serif; background-position:right -65px;}
a.button.xLarge, x:-moz-any-link { font:0/35px Sans-serif; padding:18px 0;} /* Firefox 2 Fix */
a.button.xLarge, x:-moz-any-link, x:default { padding:0;} /* Firefox 2 Fix */
/* Small Size */
a.button.small { background-position:left -107px; }
a.button.small span { padding:4px 6px 3px 4px; font:11px/11px Sans-serif; background-position:right -107px;}
a.button.small, x:-moz-any-link { font:0/18px Sans-serif; padding:9px 0;} /* Firefox 2 Fix */
a.button.small, x:-moz-any-link, x:default { padding:0;} /* Firefox 2 Fix */

/* Control Button + Submit Button */
span.button,
span.button button,
span.button input { position:relative; margin:0; display:inline-block; border:0; font:12px Sans-serif; white-space:nowrap; background:url(images/buttonWhite.gif) no-repeat; vertical-align:middle;}
span.button { padding:0; background-position:left top;}
span.button, x:-moz-any-link{ font:0/23px Sans-serif; padding:11px 0;} /* Firefox 2 Fix */
span.button, x:-moz-any-link, x:default{ padding:0;} /* Firefox 2 Fix */
span.button button,
span.button input { height:23px; left:2px; *top:-1px; _top:0; padding:0 10px 0 8px; *padding:0 5px 0 3px; line-height:24px; background-position:right top; cursor:pointer;}
/* Large Size */
span.button.large { background-position:left -30px; *top:-1px;}
span.button.large, x:-moz-any-link{ font:0/29px Sans-serif; padding:15px 0;} /* Firefox 2 Fix */
span.button.large, x:-moz-any-link, x:default{ padding:0;} /* Firefox 2 Fix */
span.button.large button,
span.button.large input { height:30px; *top:0; _top:-1px; padding:0 10px 0 8px; *padding:0 5px 0 3px; font:16px/30px Sans-serif; background-position:right -30px;}
/* xLarge Size */
span.button.xLarge { background-position:left -65px;}
span.button.xLarge, x:-moz-any-link{ font:0/35px Sans-serif; padding:17px 0;} /* Firefox 2 Fix */
span.button.xLarge, x:-moz-any-link, x:default{ padding:0;} /* Firefox 2 Fix */
span.button.xLarge button,
span.button.xLarge input { height:35px; padding:0 10px 0 8px; *padding:0 5px 0 3px; font:20px/36px Sans-serif; background-position:right -65px;}
/* Small Size */
span.button.small { background-position:left -107px;}
span.button.small, x:-moz-any-link{ font:0/18px Sans-serif; padding:9px 0 8px 0;} /* Firefox 2 Fix */
span.button.small, x:-moz-any-link, x:default{ padding:0;} /* Firefox 2 Fix */
span.button.small button,
span.button.small input { height:18px; *top:0; _top:-1px; padding:0 6px 0 4px; *padding:0 3px 0 2px; font:11px/18px Sans-serif; background-position:right -107px;}

/* Strong Button */
a.button.strong *,
span.button.strong * { font-weight:bold !important;}

/* Icon Add */
a.button .icon { position:relative; border:0; vertical-align:middle;}
span.button .icon { position:relative; left:10px; margin-right:8px; vertical-align:middle;}

/* Color Preset */
a.button.green,
a.button.green span,
span.button.green,
span.button.green button,
span.button.green input { background-image:url(images/buttonGreen.gif); color:#fff;}
a.button.black,
a.button.black span,
span.button.black,
span.button.black button,
span.button.black input { background-image:url(images/buttonBlack.gif); color:#fff;}
a.button.red,
a.button.red span,
span.button.red,
span.button.red button,
span.button.red input { background-image:url(images/buttonRed.gif); color:#fff;}
a.button.blue,
a.button.blue span,
span.button.blue,
span.button.blue button,
span.button.blue input { background-image:url(images/buttonBlue.gif); color:#fff;}

/* Offset Debug */
a.button,
span.button{ margin-right:2px;}