@charset "UTF-8";

#lnb .nav:before{background-color:transparent}
#container{position:relative; z-index:1}

/* 비주얼 */
.visual{position:relative}
.visual:before{display:block;position:absolute;bottom: 68px;left:84px;width:620px;height:136px;background:url(../img/main/visual_en.png) 0 0 no-repeat}
body[data-slide="slide1"] .visual:before{left: 79px; width:973px;height: 136px;background-image:url(../img/main/visual_en2.png)}
body[data-slide="slide2"] .visual:before{bottom: 63px; left: 62px; width:1018px; height:138px; background-image:url(../img/main/visual_en3.png)}
body[data-slide="slide3"] .visual:before{left:80px; width:678px; height:138px; background-image:url(../img/main/visual_en4.png)}
.visual:after{display:block;position:absolute;z-index:-1;top:0;left:0;width:100%;height: calc(100% - 68px);background-color:#fdeef2;transition-property: background-color, height;transition-duration: .5s;transition-timing-function: ease-in-out}
body[data-slide="slide1"] .visual:after{background-color:#e8f1fd}
body[data-slide="slide2"] .visual:after{background-color:#e6f6f4}
body[data-slide="slide3"] .visual:after{background-color:#f6ecf7}
.visual .wrap{margin:0 auto; text-align:center}
.visual .search_box{position:relative; z-index: 100; padding-top: 68px}
.visual .search_box .find_input{position:relative; width: 700px; margin: 0 auto}
.visual .search_box .find_input .search_input{width: 100%; height:80px; border:3px solid #f05880; background: transparent; border-radius:11px 11px 34px 11px; padding-left: 10px; padding-right: 100px; transition: border-color .5s ease-in-out}
body[data-slide="slide1"] .visual .search_box .find_input .search_input{border-color:#2076eb}
body[data-slide="slide2"] .visual .search_box .find_input .search_input{border-color:#0ea698}
body[data-slide="slide3"] .visual .search_box .find_input .search_input{border-color:#a348b2}
.visual .search_box .find_submit{display:block; position:absolute; top: 34%; right: 25px; width:28px; height:27px; background:url(../img/main/find_icon.png) 0 0/100% auto no-repeat; transition: background-image 0s .15s ease-in-out}
body[data-slide="slide1"] .visual .search_box .find_submit{background-image:url(../img/main/find_icon2.png)}
body[data-slide="slide2"] .visual .search_box .find_submit{background-image:url(../img/main/find_icon3.png)}
body[data-slide="slide3"] .visual .search_box .find_submit{background-image:url(../img/main/find_icon4.png)}
.visual .search_box .find_submit:before{display:block; position:absolute; top: -3px; left: -28px; width:1px; height:30px; background-color:#f05880; transition: background-color .5s ease-in-out}
body[data-slide="slide1"] .visual .search_box .find_submit:before{background-color:#2076eb}
body[data-slide="slide2"] .visual .search_box .find_submit:before{background-color:#0ea698}
body[data-slide="slide3"] .visual .search_box .find_submit:before{background-color:#a348b2}

@media all and (max-width:1400px){
    .visual:before{bottom: 19px}
    body[data-slide="slide2"] .visual:before{bottom: 19px}
    .visual:after{height:calc(100% - 20px);}
}
@media all and (max-width:1200px){
    .visual:before{bottom: 40px}
    body[data-slide="slide2"] .visual:before{bottom: 40px}
    .visual:after{height:calc(100% - 60px)}
    .visual .search_box{padding-top: 170px}

}

@media all and (max-width:1000px){
    .visual:before{bottom: 14px; transform:scale(0.8)}
    body[data-slide="slide1"] .visual:before{left: 0;}
    body[data-slide="slide2"] .visual:before{left: 0; bottom: 15px;}
    .visual:after{height:calc(100% - 28px)}
    .visual .search_box .find_input{width: 550px}
    .visual .search_box .find_submit{top: 32%}
}

@media all and (max-width:800px){
    .visual:before{left: 0; bottom:-60px; transform:scale(0.7)}
    body[data-slide="slide1"] .visual:before{left: -120px; bottom:-61px; transform:scale(0.7)}
    body[data-slide="slide2"] .visual:before{left: -120px; bottom:-61px; transform:scale(0.7)}
    body[data-slide="slide3"] .visual:before{left: -30px; bottom:-55px; transform:scale(0.8)}
    .visual:after{height:100%; padding-bottom: 40px;}
    .visual .search_box .find_input{width:480px}
}

/*@media all and (max-width:760px){*/
/*}*/

@media all and (max-width:640px){
    .visual:before{left: -139px; bottom:5px; transform:scale(0.6)}
    body[data-slide="slide1"] .visual:before{left: -150px; bottom: 5px; transform:scale(0.6)}
    body[data-slide="slide2"] .visual:before{left: -200px; bottom: 5px; transform:scale(0.6)}
    body[data-slide="slide3"] .visual:before{left: -134px; bottom: 5px; transform: scale(0.6)}
    .visual:after{height:calc(100% - 72px)}
    .visual .search_box{margin-top:0; padding-top: 30px}
    .visual .search_box .find_input{width: 320px}
    .visual .search_box .find_input .search_input{height: 55px;margin-top: 72px;border: 2px solid #fff;background-color: unset;border-radius: 10px;box-shadow: 3px 4px 25px 0 rgba(179, 76, 196, 0.1)}
    .visual .search_box .find_submit{top: 88px;right: 17px;width: 19px;height: 19px}
    .visual .search_box .find_submit:before{top: 0; left: -16px; height: 17px}
    body[data-slide="slide1"] .visual .search_box .find_submit:before{background-color:#2076eb; box-shadow: 3px 4px 25px 0 rgba(179, 76, 196, 0.1)}
    body[data-slide="slide2"] .visual .search_box .find_submit:before{background-color:#0ea698; box-shadow: 3px 4px 25px 0 rgba(179, 76, 196, 0.1)}
    body[data-slide="slide3"] .visual .search_box .find_submit:before{background-color:#a348b2; box-shadow: 3px 4px 25px 0 rgba(179, 76, 196, 0.1)}
    body[data-slide="slide1"] .visual .search_box .find_input .search_input{border-color:#fff}
    body[data-slide="slide2"] .visual .search_box .find_input .search_input{border-color:#fff}
    body[data-slide="slide3"] .visual .search_box .find_input .search_input{border-color:#fff}
}

@media all and (max-width:580px){
    .visual:before{left: -100px; bottom:24px;}
    body[data-slide="slide1"] .visual:before{bottom:24px;}
    body[data-slide="slide2"] .visual:before{bottom:24px;}
    body[data-slide="slide3"] .visual:before{bottom:24px;}
}

@media all and (max-width:480px){
    .visual:before{display: none}
    body[data-slide="slide1"] .visual:before{display: none}
    body[data-slide="slide2"] .visual:before{display: none}
    body[data-slide="slide3"] .visual:before{display: none}
}

/* 비주얼 슬릭*/
.visual .depth_list{position:relative}
.visual .depth_list .slick-list{margin: -48px -240px 0;padding-top: 50px;padding-bottom: 149px;}
.visual .depth_list .slick-slide {margin: 0 240px}
.visual .depth_list .depth_item:before{display:block; position:absolute; top: -34px; left:26px; width:316px; height:379px; background:url(../img/main/lefttop_wo.png) 0 0 no-repeat}
.visual .depth_list .depth_item.n2:before{top: 64px; left:-70px; width:303px; height:395px; background-image:url(../img/main/lefttop_gm.png)}
.visual .depth_list .depth_item.n3:before{z-index: 10; top: 44px; left:-20px; width:290px; height:357px; background-image:url(../img/main/lefttop_senior.png)}
.visual .depth_list .depth_item.n4:before{top: 39px; left:-47px; width:289px; height:365px; background-image:url(../img/main/lefttop_teen.png)}
.visual .depth_list .depth_item:after{display:block; position:absolute; z-index:5; top:148px; right:0; width:246px; height:575px; background:url(../img/main/rightbottom_wo.png) 0 0 no-repeat}
.visual .depth_list .depth_item.n2:after{top:272px; right:-3px; width:209px; height:438px; background-image:url(../img/main/rightbottom_girl.png)}
.visual .depth_list .depth_item.n3:after{top:176px; right:-22px; width:216px; height:542px; background-image:url(../img/main/rightbottom_senior.png)}
.visual .depth_list .depth_item.n4:after{z-index: unset; top:88px; right:-83px; width:318px; height:486px; background-image:url(../img/main/rightbottom_teen.png)}
.visual .depth_list .depth_item{display:inline-block; position:relative}
.visual .depth_item .text_box .visual_title{display: block; position: relative; left: 14px; margin: 25px auto 0; text-align: center; width:700px; height:95px; background:url(../img/main/welfare_title.png) 0 0 no-repeat}
.visual .depth_item.n2 .text_box .visual_title{top: 5px; left: 1px; width:726px; height:101px; background-image:url(../img/main/welfare_title2.png)}
.visual .depth_item.n3 .text_box .visual_title{ height:96px; background-image:url(../img/main/welfare_title3.png)}
.visual .depth_item.n4 .text_box .visual_title{top: -10px; left: 8px; width:766px; height:107px; background-image:url(../img/main/welfare_title4.png)}
.visual .depth_item .text_box p{margin-top:17px; color:#4c4c4c; font-size:20px; font-weight:200; font-family:'NotoKr'; line-height:24px; letter-spacing:-0.025em}
.visual .depth_item.n4 .text_box p{margin-top:11px}

.visual .wrap .visual_list{position:relative; z-index:5; margin-right:130px; margin-left:130px; font-size:0; line-height:0}
.visual .wrap .visual_list .visual_item{display:inline-block; position:relative; width:calc((100% - 150px)/3); height:335px; margin-top:56px; margin-right:75px; border-radius:29px 29px 125px 29px; background-color:#0ea698; vertical-align:top}
.visual .depth_item.n1 .visual_item{ margin-top:60px}
.visual .depth_item.n1 .visual_item.n2:before{display:block; position:absolute; bottom: -22px; left: -17px; width:51px; height:44px; background:url(../img/main/visual_flower.png) 0 0 no-repeat}
.visual .depth_item.n4 .visual_list .visual_item{margin-top:54px}
.visual .wrap .visual_list .visual_item.n2{position:relative; background-color:#c179cd}
.visual .wrap .visual_list .visual_item:last-child{margin-right:0; padding:38px 26px 0; background-color:#7986cc}
.visual .depth_item.n2 .visual_list .visual_item{background-color:#f05880}
.visual .depth_item.n2 .visual_list .visual_item.n2{background-color:#7986cc}
.visual .depth_item.n2 .visual_list .visual_item.n3{position:relative; background-color:#1aaec0}
.visual .depth_item.n2 .visual_list .visual_item.n3:before{display:block;position:absolute;top:357px;left: 34px;width:155px;height:63px;background:url(../img/main/chick.png) 0 0 no-repeat}
.visual .depth_item.n3 .visual_list .visual_item{background-color:#e96f6b}
.visual .depth_item.n3 .visual_list .visual_item.n2{ background-color:#6982ab}
.visual .depth_item.n3 .visual_list .visual_item.n3{position:relative; background-color:#f8d23a}
.visual .depth_item.n3 .visual_list .visual_item.n3:before{display:block; position:absolute; top:270px; left:-116px; width:190px; height:153px; background:url(../img/main/senior-tulip.png) 0 0 no-repeat}
.visual .depth_item.n4 .visual_list .visual_item{background-color:#3e84e4}
.visual .depth_item.n4 .visual_list .visual_item.n2{background-color:#0ea698}
.visual .depth_item.n4 .visual_list .visual_item.n3{background-color:#f05880}
.visual .wrap .visual_list .visual_item .item_title{margin-top: 49px; padding-left:0; text-align:center; font-size:32px; font-weight:600; font-family:'SCDream'; line-height:1.5em; color:#fff}
.visual .wrap .visual_list .visual_item .item_title.hide{display:none}
.visual .wrap .depth_item.n1 .visual_list .visual_item .item_title{padding-left:44px; text-align:left}
.visual .wrap .visual_list .visual_item .item_title + ul{margin-left:15px; padding-left:44px}
.visual .wrap .visual_list .visual_item li{position:relative; text-align:left}
.visual .wrap .visual_list .visual_item li:first-child{margin-top:22px}
.visual .wrap .visual_list .visual_item li:before{display:block; position:absolute; top:47%; left:-12px; width:5px; height:5px; background-color:#fff; border-radius:50%}
.visual .wrap .visual_list .visual_item li .item_anchor{position:relative; color:#fff; font-size:20px; line-height:48px; text-decoration:none; transition-property: color, font-weight}
.visual .wrap .visual_list .visual_item li:hover:before{background-color:#fff59c}
.visual .wrap .visual_list .visual_item li:hover .item_anchor{font-weight:500; color:#fff59c}
.visual .wrap .visual_list .visual_item li:hover .item_anchor:after{display:block; position:absolute; top:43%; right:-37%; transform:translate(-50%, -50%); width:16px; height:10px; background:url(../img/main/item_anchor.png) 0 0 no-repeat; animation: .7s ease-in-out infinite alternate left-right}
.visual .wrap .visual_list .visual_item:first-child li:first-child:hover .item_anchor:after{right:-50%}
.visual .wrap .visual_list .visual_item p{margin-top:40px;margin-bottom:30px;font-size:20px;line-height:1.5em;color:#fff;text-align:center;word-break: keep-all;}
.visual .wrap .visual_list .visual_item:not(first-child) p{margin-top:26px}
.visual .depth_item .visual_item .helf_img{width:278px; height:242px}
.visual .depth_item.n4 .visual_item p{margin-top:27px}
.visual .wrap .visual_list .visual_item .helf_link{display: block; position: absolute; bottom: 53px; left: 50%; transform: translate(-50%); width:58px; height:58px; border-radius:50%; background-color:#fff; box-shadow:13px 22px 54px 6px rgba(0, 0, 0, 0.15)}
.visual .depth_item.n1 .visual_item.n1 .helf_link{display: none}
.visual .depth_item.n1 .visual_item.n2 .helf_link{display: none}
.visual .wrap .visual_list .visual_item .helf_link:after{display:block; position:absolute; top: 0; left: 0; bottom: 0; right: 0; width:21px; height:21px; background:url(../img/main/link_more.png) 0 0 no-repeat; margin: auto}
.visual .wrap .depth_item .visual_list .visual_item:last-child .helf_link{position: absolute; left: 50%; bottom: 53px; transform: translate(-50%)}

@media all and (max-width:1400px){
    .visual .depth_list .slick-list{padding-bottom:117px}
    .visual .depth_list .depth_item:before{top:-40px; left:-104px; transform:scale(0.8); background-size:contain}
    .visual .depth_list .depth_item:after{top:180px; right:-100px; transform:scale(0.8); background-size:contain}
    .visual .depth_list .depth_item.n2:after{top:290px; right:-80px}
    .visual .depth_list .depth_item.n2:before{top: -15px; left: -90px}
    .visual .depth_list .depth_item.n3:before{top: 48px; left: -147px}
    .visual .depth_list .depth_item.n3:after{top: 202px;right: -124px;}
    .visual .depth_list .depth_item.n4:before{left: -67px}
    .visual .depth_list .depth_item.n4:after{top: 60px}
    .visual .depth_item .text_box .visual_title{transform:scale(0.8); background-size:contain}
    .visual .wrap .visual_list{margin-left:0; margin-right:0}
    .visual .wrap .visual_list .visual_item{width: calc((100% - 50px)/3); margin-right: 25px}
    .visual .depth_item.n2 .visual_list .visual_item.n3:before{top: 371px;}
    .visual .depth_item.n3 .visual_list .visual_item.n3:before{transform:scale(0.8); background-size:contain; top: 299px}
}

@media all and (max-width:1200px){
    .visual .depth_list .slick-list{padding-bottom:130px}
    .visual .depth_list .depth_item:before{transform:scale(0.7); top: -72px; left: -36px}
    .visual .depth_list .depth_item:after{transform:scale(0.7); top: 125px; right: -80px}
    .visual .depth_list .depth_item.n2:before{top: -51px; left: -22px}
    .visual .depth_list .depth_item.n2:after{top: 251px;right: -64px;}
    .visual .depth_list .depth_item.n3:before{top: -9px; left: -20px; z-index:-1}
    .visual .depth_list .depth_item.n3:before{top: -10px; left: -20px}
    .visual .depth_list .depth_item.n3:after{top: -164px; right: -38px; z-index: -1}
    .visual .depth_list .depth_item.n4:after{top: -14px; right: -65px}
    .visual .depth_list .depth_item.n4:before{left: -27px; top: -9px}
    .visual .depth_item .text_box .visual_title{margin-top:0; transform: scale(0.7)}

    .visual .wrap .visual_list .visual_item{width: calc((100% - 30px)/3); margin-top:20px; margin-right: 10px}
    .visual .depth_item.n4 .visual_list .visual_item{margin-top:20px}
    .visual .depth_item .visual_list .visual_item:before{transform: scale(0.8); background-size:contain}
    .visual .depth_item.n2 .visual_list .visual_item.n3:before{top: 368px;left: -115px;}
    .visual .depth_item.n3 .visual_list .visual_item.n3:before{top: 272px}
}

@media all and (max-width:1000px){
    .visual .depth_list .slick-list{padding-bottom:107px}
    body[data-slide="slide1"] .visual .depth_list .slick-list{padding-bottom:95px}
    body[data-slide="slide2"] .visual .depth_list .slick-list{padding-bottom:95px}
    body[data-slide="slide3"] .visual .depth_list .slick-list{padding-bottom:95px}
    .visual .depth_list .depth_item.n1:before{top: -26px; left: -86px}
    .visual .depth_list .depth_item.n1:after{top: 25px}
    .visual .depth_list .depth_item.n2:before{left: -101px}
    .visual .depth_list .depth_item.n2:after{top: 125px; right: -69px}
    .visual .depth_list .depth_item.n3:before{top:-11px; left:-143px}
    .visual .depth_list .depth_item.n4:before{z-index:-1; left: -97px}
    .visual .depth_list .depth_item.n4:after{z-index:-1; top: -30px; right: -152px}
    .visual .depth_item.n2 .visual_list .visual_item.n3:before {top: 247px; left: -11px;}
    .visual .depth_item.n3 .visual_list .visual_item.n3:before{top: 170px; transform: scale(0.6)}
    .visual .depth_item .text_box .visual_title{transform: scale(0.6); background-size:contain}
    .visual .wrap .visual_list .visual_item{height:220px; padding-left:10px; padding-right:10px; border-radius: 15px 15px 60px 15px}
    .visual .wrap .visual_list .visual_item li:first-child{margin-top:10px}
    .visual .wrap .visual_list .visual_item:last-child{padding-top: 0; padding-left:0; padding-right:0}
    .visual .wrap .visual_list .visual_item li .item_anchor{line-height: 35px}
    .visual .wrap .depth_item .visual_list .visual_item .item_title{margin-top: 20px; font-size: 27px}
    .visual .wrap .visual_list .visual_item .item_title + ul{padding-left:23px}
    .visual .wrap .visual_list .visual_item:not(first-child) p{margin-top: 15px}
    .visual .wrap .visual_list .visual_item:not(first-child) p br{display:none}
    .visual .depth_item .visual_item .helf_img{transform: scale(0.9); background-size:cover}
    .visual .depth_item.n4 .text_box p{word-break: keep-all; margin-bottom: 0; padding-left: 200px; padding-right: 200px}
    .visual .depth_item.n4 .text_box p br{display:none}
    .visual .wrap .depth_item .visual_list .visual_item .helf_link{bottom: 10px; width:45px; height:45px;}
    .visual .wrap .depth_item .visual_list .visual_item:last-child .helf_link{bottom: 10px}
    /*.visual .wrap .visual_list .visual_item .helf_link{display: block; position: absolute; bottom: 53px; left: 50%; transform: translate(-50%);  border-radius:50%; background-color:#fff; box-shadow:13px 22px 54px 6px rgba(0, 0, 0, 0.15)}*/

}

@media all and (max-width:813px){
    .visual .wrap .depth_item .visual_list .visual_item .item_title{font-size: 25px}
    .visual .depth_item.n3 .visual_list .visual_item.n3:before{top: 233px;}
}

@media all and (max-width:800px){
    .visual .depth_list .slick-list{padding-bottom: 0;}
    body[data-slide="slide1"] .visual .depth_list .slick-list{padding-bottom:0}
    body[data-slide="slide2"] .visual .depth_list .slick-list{padding-bottom:0}
    body[data-slide="slide3"] .visual .depth_list .slick-list{padding-bottom:0}

    .visual .depth_item .text_box .visual_title{left: unset; display: block; width: 100%}
    .visual .depth_item.n2 .text_box .visual_title{left: unset; display: block; width: 100%}
    .visual .depth_item.n3 .text_box .visual_title{left: unset; display: block; width: 100%}
    .visual .depth_item.n4 .text_box .visual_title{left: unset; display: block; width: 100%}
    .visual .depth_item.n4 .text_box p{font-size: 19px; padding-left: 160px; padding-right: 160px}
    .visual .wrap .visual_list{margin-left:160px; margin-right:160px}
    .visual .wrap .visual_list .visual_item{display:block;width:100%; height:auto; padding-left: 20px;padding-right: 20px; padding-bottom: 46px;/* word-break: keep-all; */}
    .visual .depth_item.n2 .visual_list .visual_item.n3:before {top: 184px; left: -31px;}
    .visual .depth_item.n3 .visual_list .visual_item.n3:before{top: 119px; left:-42px}
    .visual .wrap .visual_list .visual_item .item_title{margin-top: 0}
    .visual .wrap .depth_item .visual_list .visual_item .item_title{padding-top: 25px;padding-left:27px}
    .visual .wrap .depth_item.n1 .visual_list .visual_item .item_title{padding-left:27px}
    .visual .depth_list .depth_item.n1:before{top: 50px}
    .visual .depth_list .depth_item.n1:after{top: -50px; right: -60px}
    .visual .depth_list .depth_item.n2:before{top: 150px; left: -82px}
    .visual .depth_list .depth_item.n2:after{top: 150px; right: -32px}
    .visual .depth_list .depth_item.n3:before{top: 127px; left: -8px; background-image: url(../img/main/lefttop_senior-m.png)}
    .visual .depth_list .depth_item.n3:after{top: 93px; right: -1px; background-image: url(../img/main/rightbottom_senior-m.png)}
    .visual .depth_list .depth_item.n4:before{left: -67px;top: 9px}
    .visual .depth_list .depth_item.n4:after{top: -9px;right: -60px;}

    .visual .wrap .depth_item .visual_list .visual_item .helf_link{width:44px; height:44px; bottom:21px}
}



@media all and (min-width:641px){
    .visual .wrap .visual_list .visual_item .helf_link:after{transition:transform .25s ease-in-out}
    .visual .wrap .visual_list .visual_item .helf_link:hover:after{transform:rotate(180deg)}
}
@media all and (max-width:640px){
    .visual .depth_list .slick-list{padding-bottom: 0}
    .visual .depth_list .depth_item:before{transform: scale(0.6)}
    .visual .depth_list .depth_item:after{transform: scale(0.6)}
    .visual .depth_list .depth_item.n1:before{top:-11px; left: -98px}
    .visual .depth_list .depth_item.n1:after{top: unset; bottom: 129px; right:-23px; z-index: 1; width: 141px; height: 205px; background-size: cover; transform: unset; background-position-y: -145px}
    .visual .depth_list .depth_item.n2:before{top: -3px; left: -113px; z-index: -1}
    .visual .depth_list .depth_item.n2:after{top: -3px; right: -71px}
    .visual .depth_list .depth_item.n3:before{top: 16px; left: -22px; width:290px; height:357px; background-image:url(../img/main/lefttop_senior-m.png); transform: scale(0.49)}
    .visual .depth_list .depth_item.n3:after{top: -18px; right: -5px; transform: scale(0.5)}
    .visual .depth_list .depth_item.n4:before{left: -39px; top: 9px}
    .visual .depth_list .depth_item.n4:after{top: -24px; right: -43px}

    .visual .depth_item .text_box p{word-break: keep-all; padding-left: 60px; padding-right: 60px; padding-bottom: 24px; font-size:14px; line-height: 1.2em}
    .visual .depth_item.n4 .text_box p{margin-top:17px; padding-left: 180px; padding-right: 180px; font-size:14px;}
    .visual .wrap .visual_list{margin:13px 0 0}
    .visual .wrap .visual_list .visual_item{width:320px;height:auto;margin:5px auto 0;padding: 0 0 23px 0;border-radius: 10px 10px 30px 10px}
    .visual .wrap .visual_list .visual_item:last-child{margin: 0 auto; padding-bottom:24px}
    .visual .wrap .visual_list .visual_item:after{display:block}
    .visual .wrap .depth_item .visual_list .visual_item .item_title{margin-top:5px; text-align:left; margin-left:0; padding-left:27px; font-size: 18px}
    .visual .wrap .depth_item.n1 .visual_list .visual_item .item_title{margin-top:5px}
    .visual .wrap .visual_list .visual_item .item_title.hide{display:block}
    .visual .wrap .visual_list .visual_item .item_title + ul {display:none}
    .visual .depth_item.n1 .visual_item.n2:before{display:none}
    .visual .depth_item.n2 .visual_list .visual_item.n3:before{display:none}
    .visual .depth_item.n3 .visual_list .visual_item.n3:before{display:none}
    .visual .depth_item.n4 .visual_list .visual_item{margin-top:5px}
    .visual .depth_item .text_box .visual_title{top: 15px; width: 70%; height: 76px; background-size:contain}
    .visual .depth_item.n2 .text_box .visual_title{top: 15px; width: 70%; height: 76px; background-size:contain}
    .visual .depth_item.n3 .text_box .visual_title{top: 15px; width: 70%; height: 76px; background-size:contain}
    .visual .depth_item.n4 .text_box .visual_title{top: 11px;width: 70%;height: 61px;background-size:contain}
    .visual .wrap .visual_list .visual_item img{display:none}
    /*.visual .wrap .visual_list .visual_item .helf_link{left: unset; right: 25px; bottom: 21px; width: 30px; height: 30px; transform: translate(0)}*/
    /*.visual .depth_item.n1 .visual_item .helf_link{display: block; left: unset; right: 25px; bottom: 21px; width: 30px; height: 30px; transform: translate(0)}*/
    .visual .depth_item.n1 .visual_item.n2 .helf_link{display: block}
    .visual .depth_item.n1 .visual_item.n1 .helf_link{display: block}
    .visual .wrap .depth_item .visual_list .visual_item .helf_link{left: unset; right: 25px; bottom: 21px; width: 30px; height: 30px; transform: translate(0)}
    .visual .wrap .depth_item .visual_list .visual_item:last-child .helf_link{left: unset; right: 25px; bottom: 21px; width: 30px; height: 30px; transform: translate(0)}
    .visual .wrap .visual_list .visual_item .helf_link:after{width:14px; height:14px; background: url(../img/main/link_more-m.png) 0 0 no-repeat}
    .visual .wrap .visual_list .visual_item p{display:none}
    .visual .wrap .depth_item .visual_list .visual_item .helf_link{bottom: 21px}

}

@media all and (max-width:580px){
    .visual:after{height: calc(100% - 92px);}
    .visual .depth_item .text_box .visual_title{width: 72%; height: 54px}
    .visual .depth_item.n2 .text_box .visual_title{width: 72%; height: 54px}
    .visual .depth_item.n3 .text_box .visual_title{width: 72%; height: 54px}
    .visual .depth_item.n4 .text_box .visual_title{width: 72%; height: 54px}
    .visual .depth_list .depth_item.n3:before{top:-16px; left: -48px}
    .visual .depth_list .depth_item.n3:after{top:-34px;  right: -32px}
    .visual .depth_list .depth_item.n4:before{top: 9px; left: -82px}
    .visual .depth_list .depth_item.n4:after{top: -9px; right: -110px}
    .visual .depth_item.n3 .text_box p br{display:none}
    .visual .depth_item.n4 .text_box p{padding-left: 100px; padding-right: 100px}
    .visual .wrap .depth_item .visual_list .visual_item .item_title{font-size: 16px}

}

@media all and (max-width:520px){
    .visual .depth_list .depth_item.n2:after{right: -86px}
    .visual .depth_list .depth_item.n3:before{left: -78px;}
    .visual .depth_list .depth_item.n3:after {right: -60px;}
    .visual .depth_list .depth_item.n4:before{left: -108px}
    .visual .depth_list .depth_item.n4:after{right: -130px}
}

@media all and (max-width:480px){
    .visual .depth_item .text_box .visual_title{width: 97%;}
    .visual .depth_item.n2 .text_box .visual_title{width: 97%; height: 54px}
    .visual .depth_item.n3 .text_box .visual_title{width: 97%; height: 54px}
    .visual .depth_item.n4 .text_box .visual_title{width: 97%; height: 54px}
    .visual .depth_list .depth_item.n1:before{display: none}
    .visual .depth_list .depth_item.n1:after{display: none}
    .visual .depth_list .depth_item.n2:before{display: none}
    .visual .depth_list .depth_item.n2:after{display: none}
    .visual .depth_list .depth_item.n3:before{display: none}
    .visual .depth_list .depth_item.n3:after{display: none}
    .visual .depth_list .depth_item.n4:before{display: none}
    .visual .depth_list .depth_item.n4:after{display: none}
    .visual .depth_item .text_box p{padding-left: 60px; padding-right: 60px}
    .visual .depth_item.n4 .text_box p{padding-left: 60px; padding-right: 60px}
}


/*타겟 아이콘 바로가기*/
.visual .shortcut_list{position: absolute;top: 202px;right: 69px;z-index:10;font-family:'SCDream'}
.visual .shortcut_list .shortcut_btn{display:block; position:relative; width:90px; height:90px; margin-bottom:28px; border-radius:24px; border:2px solid #fff; background-color: rgba(255, 255, 255, 0.2); box-shadow:3px 4px 25px 0 rgba(245, 109, 145, 0.1); transition-property:background-color,box-shadow; transition-duration:.25s; transition-timing-function:ease-in-out}
.visual .shortcut_list .shortcut_btn:before{display:block; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:38px; height:38px;
    background-image:url(../img/main/shortcut_item.png); background-size:204px 38px; background-position:0 50%; background-repeat:no-repeat; opacity:0.5}
.visual .shortcut_list .shortcut_btn.n2:before{width:43px; background-position:29% 50%}
.visual .shortcut_list .shortcut_btn.n3:before{background-position:66% 50%}
.visual .shortcut_list .shortcut_btn.n4:before{width:43px; background-position:99% 50%}
.visual .shortcut_list .shortcut_btn:hover,
.visual .shortcut_list .shortcut_btn.active{background-color:rgba(255,255,255, 1); box-shadow:3px 4px 25px 0 rgba(245, 109, 145, 0.35)}
.visual .shortcut_list .shortcut_btn.n2:hover, .visual .shortcut_list .shortcut_btn.n2.active{box-shadow:3px 4px 25px 0 rgba(32, 118, 235, 0.35)}
.visual .shortcut_list .shortcut_btn.n3:hover, .visual .shortcut_list .shortcut_btn.n3.active{box-shadow:3px 4px 25px 0 rgba(14, 166, 152, 0.35)}
.visual .shortcut_list .shortcut_btn.n4:hover, .visual .shortcut_list .shortcut_btn.n4.active{box-shadow:3px 4px 25px 0 rgba(179, 76, 196, 0.35)}
.visual .shortcut_list .shortcut_btn:hover:before,
.visual .shortcut_list .shortcut_btn.active:before{background-image:url(../img/main/shortcut_item_after.png); opacity:1}
.visual .shortcut_list .shortcut_btn:after{opacity:0; visibility:hidden; display:block; position:absolute; top: -18px; right:0; width:70px; height:51px; background-image:url(../img/main/speech_bubble.png); background-position:0 50%; background-repeat:no-repeat; content:'여성'; font-size:15px; line-height: 44px; color:#fff; text-align:center; font-weight: 500; transition-property:opacity,visibility,top,right; transition-duration:.25s; transition-timing-function:ease-in-out}
.visual .shortcut_list .shortcut_btn.n2:after{background-position:-78px 50%; content:"장애인"}
.visual .shortcut_list .shortcut_btn.n3:after{background-position:-156px 50%; content:"어르신"}
.visual .shortcut_list .shortcut_btn.n4:after{background-position:-233px 50%; content:"청소년"}
.visual .shortcut_list .shortcut_btn:hover:after,.visual .shortcut_list .shortcut_btn.active:after{opacity:1;visibility:inherit;top: -35px;right: -10px}

@media all and (max-width:1600px){
    .visual .shortcut_list{right:30px}
}
@media all and (max-width:1400px){
    .visual .shortcut_list{right:40px}
}

@media all and (max-width:1200px){
    .visual .shortcut_list{top:50px; left:50%; right:unset; transform:translateX(-50%); width: 100%; text-align: center; z-index: 110}
    .visual .shortcut_list .shortcut_btn{display:inline-block; margin-right:15px}
    .visual .shortcut_list .shortcut_btn:last-child{margin-right:0}
}

@media all and (max-width:1000px){
    .visual .shortcut_list .shortcut_btn{width: 75px; height: 75px}
}

@media all and (max-width:640px){
    .visual .shortcut_list{top:46px; width: 320px; height:55px; background-color:#f05880; border-radius:10px; transition: background-color .5s ease-in-out}
    body[data-slide="slide1"] .visual .shortcut_list{background-color:#2076eb}
    body[data-slide="slide2"] .visual .shortcut_list{background-color:#0ea698}
    body[data-slide="slide3"] .visual .shortcut_list{background-color:#a348b2}
    .visual .shortcut_list .shortcut_btn{width: 0; height: 0; background-color:transparent; margin-right: 57px; margin-top: 27px; border:none}
    .visual .shortcut_list .shortcut_btn.n4:before{background-position: 106% 50%}
    .visual .shortcut_list .shortcut_btn:before{background-image:url(../img/main/shortcut_item-wh.png); width: 27px; height: 26px; background-size: cover}
    .visual .shortcut_list .shortcut_btn:hover:before, .visual .shortcut_list .shortcut_btn.active:before{background-image:url(../img/main/shortcut_item-wh.png)}
    .visual .shortcut_list .shortcut_btn:after{transition-duration:0s}
    .visual .shortcut_list .shortcut_btn:hover:after, .visual .shortcut_list .shortcut_btn.active:after{top: -61px; right: -38px; background-image: url(../img/main/speech_bubble-m.png); color:#f05880;  transform: scale(0.8); font-weight: 600}
    .visual .shortcut_list .shortcut_btn.n2:hover:after, .visual .shortcut_list .shortcut_btn.n2.active:after{color:#2076eb}
    .visual .shortcut_list .shortcut_btn.n3:hover:after, .visual .shortcut_list .shortcut_btn.n3.active:after{color:#0ea698}
    .visual .shortcut_list .shortcut_btn.n4:hover:after, .visual .shortcut_list .shortcut_btn.n4.active:after{color:#a348b2}
}

/* 바로가기 */
.rowgroup2{position:relative;}
.target_list{position: relative; margin-right:130px;margin-left:130px; padding-bottom: 36px;text-align:center}
.target_list .slick-list {overflow:visible; margin: 0 -160px; transition: margin-top, .5s easy-in-out;}
.target_list .slick-slide {opacity:0; visibility:hidden; margin:0 160px; transition-property:opacity, visibility; transition-duration:.5s; transition-timing-function:ease-in-out}
.target_list .slick-slide.slick-active{opacity:1; visibility:inherit}
/*body[data-slide="slide0"].target_list .slick-slide {padding-top: 100px}*/
.target_item{display:block; position:relative; font-size:0; line-height:0}
.target_item .target_anchor{display:inline-block; position:relative; vertical-align:top; width:calc((100% - 150px)/3); height:121px; margin-right:75px; margin-bottom:10px; padding-left: 118px; background-color:#fff; border-radius:15px; box-shadow: 3px 4px 50px 0 rgba(0, 0, 0, 0.1); text-align: left; text-decoration:none}
.target_item .target_anchor:nth-child(3n){margin-right:0}
.target_item .target_anchor:before{display:inline-block; position:absolute; vertical-align:middle; top: 23%; left: 29px; width: 33px; height:34px; background-image:url(../img/main/woman_list.png); background-size: 170px 34px; background-position: 16px 50%; background-repeat:no-repeat; background-color: #e6f6f4; padding: 18px 18px 18px 19px; border-radius: 23px}
.target_item .target_anchor.n2:before{width: 31px; background-position: -51px 50%; background-color: #f9f1fa}
.target_item .target_anchor.n3:before{width: 31px; background-position: -120px 50%; background-color: #f1f3fa}
.target_item.disabled .target_anchor:before{width: 35px; background-size: 360px 34px; background-image:url(../img/main/disabled_list.png)}
.target_item.Teenager .target_anchor:before{width: 35px; background-size: 360px 34px; background-image:url(../img/main/Teenager_list.png)}
.target_item.senior .target_anchor:before{width: 36px; background-size: 360px 37px; background-image:url(../img/main/senior_list.png)}
.target_item:not(:first-child) .target_anchor.n1:before{background-position:9px 50%}
.target_item:not(:first-child) .target_anchor.n2:before{background-position: -47px 50%; background-color: #f9f1fa }
.target_item:not(:first-child) .target_anchor.n3:before{background-position: -109px 50%; background-color: #f1f3fa}
.target_item .target_anchor.n4:before{background-position: -169px 50%; background-color: #ebf2fc}
.target_item .target_anchor.n5:before{background-position: -229px 50%; background-color: #e6f6f4}
.target_item .target_anchor.n6:before{background-position: -290px 50%; background-color: #fdeef2}
.target_item.senior .target_anchor.n4:before{background-color: #fcf0f0}
.target_item.senior .target_anchor.n5:before{background-color: #f0f2f6}
.target_item.senior .target_anchor.n6:before{background-color: #fefaeb}
.target_item .target_anchor:after{display:inline-block; position:absolute; vertical-align:middle; top: 46%; right:25px; width: 9px; height:12px; background-image:url(../img/main/arrow2.png); background-position: 0 0; background-repeat:no-repeat}
.target_item .target_anchor:hover:after{background-image:url(../img/main/arrow2-1.png)}
body[data-slide="slide1"] .target_item .target_anchor:hover:after{background-image:url(../img/main/arrow2-2.png)}
body[data-slide="slide2"] .target_item .target_anchor:hover:after{background-image:url(../img/main/arrow2-3.png)}
body[data-slide="slide3"] .target_item .target_anchor:hover:after{background-image:url(../img/main/arrow2-4.png)}

.target_item .target_anchor span{display:inline-block; vertical-align:middle; font-size:18px; line-height: 117px; font-weight: 400; letter-spacing:-0.025em}
.target_item .target_anchor span.except{display:block; line-height:1.35em; text-decoration:none}
.target_item .target_anchor span.except.n1{margin-top:38px}

@media all and (max-width:1400px){
    .target_list{margin:70px 0 -36px 0}
    body[data-slide="slide1"] .target_list{margin:30px 0 0; padding-bottom: 30px;}
    body[data-slide="slide2"] .target_list{margin:30px 0 0; padding-bottom: 30px;}
    body[data-slide="slide3"] .target_list{margin:30px 0 0; padding-bottom: 30px;}
    .target_list .slick-list {margin: 0 -60px; transition: margin-top, .5s easy-in-out;}
    .target_list .slick-slide {margin: 0 60px}
    .target_item .target_anchor{width:calc((100% - 50px)/3); margin-right:25px}
    body[data-slide="slide1"] .target_item.woman .target_anchor{ margin-top:0}
    body[data-slide="slide2"] .target_item.woman .target_anchor{ margin-top:0}
    body[data-slide="slide3"] .target_item.woman .target_anchor{ margin-top:0}

}
@media all and (max-width:1200px){
    .target_list .slick-slide {z-index: -1}
    .target_item .target_anchor{width:calc((100% - 30px)/3); margin-right:15px}
}
@media all and (max-width:1000px){
    .target_list{height:200px; margin:0}
    body[data-slide="slide1"] .target_list{height:unset; margin-top: 0}
    body[data-slide="slide2"] .target_list{height:unset; margin-top: 0}
    body[data-slide="slide3"] .target_list{height:unset; margin-top: 0}
    .rowgroup3 .board_list:before{right: unset}
    .target_list .slick-slide{padding-top: 32px}
    .target_item .target_anchor{padding-left:70px; padding-right:40px}
    .target_item .target_anchor:before{top:26%; left: 6px}
    .target_item .target_anchor:after{right:14px}
    .target_item .target_anchor span{padding-top: 47px; line-height: 1.5em; letter-spacing: -.06em; font-size: 17px;}
    .target_item .target_anchor span.except.n1{margin-top:0; padding-top: 36px; line-height: 1.5em; }
    .target_item .target_anchor span.except{padding-top:0;line-height: 1.5em; letter-spacing: -.06em; font-size: 17px;}
    .target_item .target_anchor:before{width: 27px; height:27px; padding: 16px; transform: scale(0.8)}
    .target_item .target_anchor:before{background-position-x: 12px;}
    .target_item .target_anchor.n2:before{background-position-x: -52px}
    .target_item .target_anchor.n3:before{background-position-x: -123px}
    .target_item.disabled .target_anchor:before{width:27px}
    .target_item.senior .target_anchor:before{width:27px}
    .target_item.Teenager .target_anchor:before{width:27px}
    .target_item:not(:first-child) .target_anchor.n1:before{background-position-x:3px}
    .target_item:not(:first-child) .target_anchor.n2:before{background-position-x:-53px}
    .target_item:not(:first-child) .target_anchor.n3:before{background-position-x:-115px}
    .target_item .target_anchor.n4:before{background-position-x:-174px}
    .target_item .target_anchor.n5:before{background-position-x:-235px}
    .target_item .target_anchor.n6:before{background-position-x:-298px}
}

@media all and (max-width:800px){
    .target_list{top: 0; margin:0; height:430px}
    .target_list .slick-slide{padding-top: 92px}
    .target_item .target_anchor{display:block; width:500px; height: 80px; margin: 15px auto 0}
    .target_item .target_anchor:nth-child(3n){margin: 15px auto 0}
    .target_item .target_anchor:before{top:13%}
    .target_item .target_anchor span{padding-top: 30px; line-height: 1.5em}
    .target_item .target_anchor span.except{display:inline-block; vertical-align:top; margin-top: 30px}
    .target_item .target_anchor span.except.n1{margin-top: 30px; padding-top: 0;}


}
@media all and (max-width:640px){
    .target_list{height:260px }
    body[data-slide="slide3"] .target_list{padding-bottom: 16px;}
    .target_item:not(:first-child) .target_anchor.n2:before{background-position-x:-55px}

}
@keyframes left-right{
    from{transform:translateX(-15px)}
    to{transform:translateX(0)}
}
@media all and (min-width:641px){
    /*.target_item .target_anchor:after{right: 25px} */
    .target_item .target_anchor:hover:after{transition: background-color .5s ease-in-out; animation: .7s ease-in-out infinite alternate left-right}

}
@media all and (max-width:640px){
    .target_list .slick-slide{padding-top: 32px}
    .target_item .target_anchor{width: 320px; height: 60px; margin-top: 5px}
    .target_item .target_anchor:nth-child(3n){margin-top: 5px}
    .target_item .target_anchor:before{top:0}
    .target_item .target_anchor span{padding-top: 0; font-size:16px; line-height: 60px}
    .target_item .target_anchor:before{ transform: scale(0.68); background-position: 15px 50%}
    .target_item .target_anchor span.except{margin-top:0; line-height:60px}
    .target_item .target_anchor span.except.n1{margin-top:0; line-height:60px}
}
/*공지사항*/

.rowgroup3 .wrap{position:relative; width:1141px; margin-bottom: 43px}
.rowgroup3 .wrap:before{display:block; position:absolute; top:25px; right: 123px; width:100vw; height:100%; border-top-right-radius:260px; border-bottom-right-radius: 26px; background-color:#f8f8fa}
.rowgroup3 .board_list{position:relative; border-top-right-radius:170px; border-bottom-right-radius:27px; padding-right:373px}

.rowgroup3 .board_list .slick-list{margin: 0 -13px 0 0}
.rowgroup3 .board_list .slick-slide {margin: 0 13px 0 0}

.rowgroup3 .board_list .board_item{display:inline-block; position:relative; overflow: hidden}

.notice_title{position:relative; font-family:'NotoKr'; font-size:26px; line-height:84px; font-weight:700; color:#000}
.notice_title:before{display:block; position:relative; z-index:50; top: 0; left:0; width:68px; height:56px; overflow: visible; background:url(../img/main/quotation.png) 0 0 no-repeat}
body[data-slide="slide1"] .rowgroup3 .board_list .notice_title:before{background-image:url(../img/main/quotation2.png)}
body[data-slide="slide2"] .rowgroup3 .board_list .notice_title:before{background-image:url(../img/main/quotation3.png)}
body[data-slide="slide3"] .rowgroup3 .board_list .notice_title:before{background-image:url(../img/main/quotation4.png)}
.notice_title:after{display:inline-block; vertical-align:middle; width: 477px; height:1px; margin-left: 25px; background-color:#e6e6e6}

.rowgroup3 .board_list .notice_more{position: absolute; top: 89px; right: 25px}
.rowgroup3 .board_list .notice_more a{padding-right: 22px}
.rowgroup3 .board_list .notice_more:after{display:block; position:absolute; z-index:-1; top: -3px; left: 46px; width:100px; height:35px; border-radius:35px; background-color:#e2e5e8}
.rowgroup3 .board_list .notice_more span{position:relative; z-index:5; font-weight:400; font-size:17px; line-height:24px; letter-spacing: -0.06em; color:#000}
.rowgroup3 .board_list .notice_more span:after{display:block; position:absolute; top:8px; right:-22px; width:11px; height:11px; background:url(../img/main/arrow3.png) 0 0 no-repeat}
@keyframes left-right2{
    from{transform:translateX(-7px)}
    to{transform:translateX(0)}
}
.rowgroup3 .board_list .notice_more:hover span:after{animation: .5s ease-in-out infinite alternate left-right2}

.rowgroup3 .board_list .notice_list{position:relative; font-size:0; line-height:0}
.rowgroup3 .board_list .notice_list .slick-list{margin-right:-20px}
.rowgroup3 .board_list .notice_item{height:185px; margin-top: 18px; margin-bottom: 81px}
.rowgroup3 .board_list .notice_item.slick-slide{margin-right: 25px}
.rowgroup3 .board_list .notice_item.slick-slide:last-child{margin-right: 0}

.rowgroup3 .board_list .notice_anchor{display:inline-block; width:100%; height:100%; padding-top: 32px; padding-left:36px; padding-right: 27px; background-color:#fff; border-radius:15px}
.rowgroup3 .board_list .notice_date{font-size: 15px; line-height: 30px; color:#8c8c8c; padding-bottom: 18px}
.rowgroup3 .board_list .notice_content{font-size:20px; line-height:30px; color:#4c4c4c; letter-spacing:-0.08em }
.rowgroup3 .popup_list{float:left; position:relative; width:330px; height:390px; margin-left: -165px; margin-top: 60px; background-color: #ccc; border-radius:30px}

@media all and (max-width:1200px){
    .rowgroup3 .wrap{width:1000px}
    .rowgroup3 .board_list .notice_item{}
    .rowgroup3 .board_list{padding-right: 350px; padding-left: 34px}
    .rowgroup3 .board_list:before{border-top-right-radius: 200px}
    .notice_title{margin-left:10px}
    .notice_title:after{width:331px}
    .notice_anchor{padding-top: 10px}
    .notice_date{padding-bottom: 8px}
    .notice_anchor > p br{display:none}

}

@media all and (max-width:1000px){
    .rowgroup3 .wrap{width:800px}
    .notice_title:after{width:139px}
}

@media all and (max-width:800px){
    .rowgroup3 .wrap{width:unset}
    .rowgroup3 .wrap:before{right: 90px}
    .rowgroup3 .board_list {margin: 0 0 0 25%; padding-top: 498px; padding-left: 0; padding-right: 0}
    .rowgroup3 .board_list .notice_item{width: 430px; margin-right:20px}
    .popupzone {top: 40px; left: 0; height: 370px; margin-right: auto; margin-left: auto}
    .notice_title{margin-top: 30px; margin-bottom: 10px; margin-left: 109px; line-height: 0}
    .notice_title:before{display:block; top: 19px; left: -81px}
    .notice_title:after{position: absolute; top: 58px; width: 389px}
    .rowgroup3 .board_list .notice_anchor{border-radius:10px; margin: 12px 0 0 50px; padding: 19px 26px; box-shadow: 3px 4px 50px 0 rgba(0 0 0, 0.1)}
    .rowgroup3 .board_list .notice_more{display: block; top: 345px; right: 167px}

}
@media all and (max-width:700px){
}

@media all and (max-width:640px){
    .rowgroup3 .wrap:before{right: 104px; border-top-right-radius:188px;}
    .rowgroup3 .board_list {padding-top: 446px}
    .rowgroup3 .board_list > .slick-list{margin-left:-22px}
    .notice_list .slick-track{height: 200px}
    .rowgroup3 .board_list .notice_more{position: absolute; top:256px; left: 214px; right: unset}
    .notice_title{margin-top: 0; margin-left: 91px; margin-bottom: 10px; font-size: 21px}
    .notice_title:before{display:block; top: 25px; left: -65px; transform: scale(0.7)}
    .notice_title:after{top: 98%}
    .rowgroup3 .board_list .notice_item{ width:320px; margin-top:0; padding-top: 25px; padding-bottom: 30px; box-sizing: border-box}
    .rowgroup3 .board_list .notice_anchor{ margin:0 0 0 27px; padding: 19px 24px 19px 27px; box-shadow: 3px 4px 36px 0 rgba(0 0 0 0.1)}
    .rowgroup3 .board_list .notice_date{font-size: 14px; line-height: 26px; padding-bottom: 18px}
    .rowgroup3 .board_list .notice_content{font-size: 17px; line-height: 23px}
    .rowgroup3 .board_list .notice_more:after{top: -4px;left: 37px;}
    .rowgroup3 .board_list .notice_more span{font-size:15px; letter-spacing: -0.05em;}
    .rowgroup3 .board_list .notice_more span:after{top: 7px;}
    .rowgroup3 .board_list .notice_item{margin-bottom: 58px;}
}
@media all and (max-width:580px){
    .rowgroup3 .wrap:before{right: 0}
    .rowgroup3 .board_list .notice_more span{line-height: 19px;}
    .rowgroup3 .board_list .notice_more:after{top: -4px;}
    .rowgroup3 .board_list .notice_more span:after{top: 4px;}

}
@media all and (max-width:440px){
    .rowgroup3 .board_list{margin: 0 0 0 15%}

}
@media all and (max-width:390px){
    .rowgroup3 .board_list{margin: 0 0 0 9%}
    .rowgroup3 .board_list .notice_item{ width:300px; height:200px}
    .rowgroup3 .board_list .notice_anchor{padding-left: 15px; padding-right: 15px}
}
/* 팝업존 */
.popupzone{position:absolute; top:83px; right:0; z-index:20; width:330px; height:390px; padding:28px 30px 30px; border-radius:30px; box-shadow:10px 17px 28px 0 #eaedf5; background-color:#fff}
.popupzone .popupzone_title{margin-bottom: 15px;color:#2a313f;font-weight:600;font-size: 20px;line-height: 31px;}
.popupzone .popupzone_item .popupzone_anchor{display:block; width:270px; height:290px; margin-right:auto; margin-left:auto}
.popupzone .popupzone_item .popupzone_image{width:100%; height:100%}
.popupzone .popupzone_control{display:block;position:absolute;top: 29px;right:25px}
.popupzone .popupzone_control .popupzone_count{display:inline-block; position:relative; margin-right:5px; color:#2a313f; font-family:'Montserrat'; font-size:15px}
.popupzone .popupzone_control .popupzone_count:before{display:block; position:absolute; top:12px; left:calc(50% - 4px); width:8px; height:1px; background-color:rgba(84,92,98,0.5)}
.popupzone .popupzone_control .popupzone_count .popupzone_current{font-weight:700}
.popupzone .popupzone_control .popupzone_count .popupzone_total{margin-left:20px; font-weight:600}
.popupzone .popupzone_control > button{width:20px; height:20px; background-repeat:no-repeat; background-position:center center; font-size:0; line-height:0}
.popupzone .popupzone_control .popupzone_prev{background-image:url(../img/main/popupzone_prev.png)}
.popupzone .popupzone_control .popupzone_auto.slick-pause{background-image:url(../img/main/popupzone_pause.png)}
.popupzone .popupzone_control .popupzone_auto.slick-play{background-image:url(../img/main/popupzone_play.png)}
.popupzone .popupzone_control .popupzone_next{background-image:url(../img/main/popupzone_next.png)}

@media all and (max-width:1200px){
    .popupzone{width:320px; height:390px; padding:30px 30px 27px}
    .popupzone .popupzone_title{margin-bottom:20px}
    .popupzone .popupzone_item .popupzone_anchor{width:260px; height:279px}
    .popupzone .popupzone_control{top:27px}
}

@media all and (max-width:1000px){
    .popupzone{}
    .popupzone .popupzone_title{margin-bottom:10px}

}
@media all and (max-width:641px){
    .popupzone .popupzone_item .popupzone_anchor:focus{border:2px solid darkkhaki}
}

@media all and (max-width:640px){
    .popupzone{top: 62px; height: 369px; padding:29px 34px 37px; border-radius:20px}
    .popupzone .popupzone_title{top: 60px; margin-bottom:14px; font-size:18px; line-height:20px}
    .popupzone .popupzone_control{top:24px; right:29px}
    .popupzone .popupzone_control .popupzone_count{margin-right:0; font-size:12px}
    .popupzone .popupzone_control .popupzone_count:before{top:13px; left:calc(50% - 6px)}
    .popupzone .popupzone_control .popupzone_count .popupzone_total{margin-left:17px}
    .popupzone .popupzone_item .popupzone_anchor{width:252px; height:270px}

}

.rowgroup4{position:relative; margin-bottom: 77px; padding-bottom:66px}
.rowgroup4 .wrap{width:1141px}
.rowgroup4 .wrap:after{display:block; position:absolute; z-index:-1; top: -310px; left:-61px; width:calc(100% + 119px); height:530px; border:1px solid #e0e0e0; border-radius:0 29px 29px 197px}
.tel_group{font-size:0; line-height:0}
.link_wrap{display:inline-block; margin-left:38px; font-size:0; line-height:0; vertical-align:middle}
.link_wrap .go_link{display:inline-block; position:relative; vertical-align: top; top:0; width:130px; height:130px; margin-top: 23px; margin-right:20px; padding-top:40px; border-radius:29px 29px 59px 29px; background-color:#02b9f0; text-align:center}
.link_wrap .go_link:nth-child(2n){margin-right:0; background-color:#5163c8}
.link_wrap .go_link:hover{top:-15px; transition: top .2s ease-in-out}

.link_wrap .go_link:after{display:block; position:absolute; bottom:0; right:0; width:36px; height:36px; background:url(../img/main/arrow4.png) 0 0 no-repeat; border-radius:15px; box-shadow: 10px 17px 35px 0 rgba(0, 0, 0, 0.1)}

.tel_wrap{display:inline-block; margin-top: 54px; margin-left:70px; font-size:0; line-height:0; vertical-align:middle; text-align:center}
.tel_wrap .tell_list{position:relative; font-size:0; line-height:0}
.tel_wrap .tell_list li{position:relative; display:inline-block; vertical-align:top; margin-right:110px}
.tel_wrap .tell_list li:last-child{margin-right:0}
.tel_wrap .tell_list li:after{display:block; position: absolute; top: 24%; margin-left: 150px; width:8px; height:8px; border-radius:50%; background-color:#e2e5e8}
.tel_wrap .tell_list li:last-child:after{display:none}
.tel_wrap .tell_list li a{text-decoration:none}

.tel_wrap .tel_link span{display:block}
.tel_wrap .tel_link .tel_num {margin-bottom:10px; font-family: 'jalnan'; font-size:36px; line-height:33px; font-weight:600; color:#1e84da}
.tel_wrap .tel_link .tel_num.n2{color:#43a047}
.tel_wrap .tel_link .tel_num.n3{color:#f05880}
.tel_wrap .tel_link .tel_num.n4{color:#fa6514}
.welfare_institution{font-size:18px; line-height:42px; color:#4c4c4c}

@media all and (max-width:1200px){
    .tel_wrap .tell_list li{margin-right:90px}
    .tel_wrap .tell_list li:after{margin-left: calc(100% + 37px)}
}

@media all and (max-width:1060px){
    .rowgroup4 .wrap:after{top: -232px; left: 52px}
    .tel_group{margin: 0 auto; text-align: center}
    .link_wrap{margin-left:48px}
    .tel_wrap .tell_list{max-width: 390px}
    .tel_wrap .tell_list li{width: 113px; margin-bottom:35px}
    .tel_wrap .tell_list li:nth-child(2n){margin-right:0}
    .tel_wrap .tell_list li:nth-child(2n):after{display:none}
}

@media all and (max-width:1000px){
    .rowgroup4 .wrap{width:94%}
    .rowgroup4 .wrap:after{left: 30px; width:100%; height: 638px; border-radius:0 29px 29px 197px}
    .tel_wrap{margin-left: 30px}
    .tel_wrap .tell_list{display:block; margin-right:0}
    .tel_wrap .tel_link .tell_list{font-size:30px}
    .tel_wrap .tell_list li{margin-right: 63px}
    .tel_wrap .tell_list li:after{margin-left: calc(100% + 30px)}

}
@media all and (max-width:800px){
    .rowgroup4 .wrap:after{top: -62px; left: 41px; border-top: none}
    .tel_group{margin: 0}
    .link_wrap{display:block; margin-left: 0}
    .tel_wrap{display:block; margin-left:0}
    .tel_wrap .tell_list{max-width: 400px; margin: 0 auto 15px}
    .tel_wrap .tell_list li{width: 150px}
    .tel_wrap .tell_list li .tel_link{display:block; margin-right:0; margin-bottom:15px; padding-left: 23px}
    .tel_wrap .tell_list li .tel_link span{display:inline-block}
    .tel_wrap .tel_link:after{}
    .tel_wrap .tel_link .tel_num{padding-right:8px; font-size:28px}
    .tel_wrap .tell_list .tel_link:after{left:0; margin-left: unset}
    .tel_wrap .tell_list li:first-child .tel_link:after{left:0; margin-left: unset}
    .tel_wrap .tell_list li:first-child .tel_link:last-child:after{display:block}
    .tel_wrap .tell_list li:last-child .tel_link:last-child:after{display:block}
    .link_wrap .go_link{margin-top: 40px; margin-right: 30px}
}
@media all and (max-width:640px){
    .rowgroup4 .wrap:after{left: 74px; height:487px; border-top:0}
    .tel_group{margin-top: 20px}
    .link_wrap .go_link{margin-top: 21px}
    .tel_wrap{margin-top: 38px; margin-left: 140px}
    .tel_wrap .tell_list{margin-bottom: 0}
    .tel_wrap .tell_list li{display:block; width: unset; margin:10px 0 0; text-align: left}
    .tel_wrap .tell_list li .tel_link{display:block; margin-right:0; margin-bottom:0; padding-left: 23px; font-size: 0; line-height: 0;}

    .tel_wrap .tel_link:after{top: 42%}
    .tel_wrap .tel_link .tel_num{display:inline-block; margin-bottom: 0; padding-right: 9px; font-size:20px; line-height: 28px;}
    .tel_wrap .tel_link .welfare_institution{display:inline-block; line-height:19px}
    .tel_wrap .tel_link .tel_num.n1{padding-right:19px;}
    .tel_wrap .tell_list li:after{top: 34%; margin-left: 5px}
    .tel_wrap .tell_list li:last-child:after{display:block}
    .tel_wrap .tell_list li:nth-child(2n):after{display:block}
}

@media all and (max-width:580px){
    .rowgroup4 .wrap:after{left: 40px; border-radius: 0 20px 20px 130px}
    .link_wrap .go_link {width: 100px; height: 100px; margin-top: 23px; margin-right: 10px; padding: 17px; border-radius: 15px 15px 50px 15px; object-fit: cover;}
    .tel_wrap .tell_list li{ margin: 20px auto 15px}

    .rowgroup3 .board_list .notice_more{top: 272px; left: 210px}
}

@media all and (max-width:440px){
    .rowgroup4 .wrap:after{left: 30px}
    .tel_wrap{margin-left: 0; padding-left:100px}
    .rowgroup3 .board_list .notice_more{left: 190px}

}
@media all and (max-width:390px){
    .rowgroup4 .wrap:after{left: 30px}
    .tel_wrap{margin-left: 0; padding-left:80px}

}